@model AdminDashboardViewModel
@using OrchardCore.ContentManagement;
@using OrchardCore.ContentManagement.Metadata.Settings;
@inject IAuthorizationService AuthorizationService
@inject IContentManager ContentManager
@inject OrchardCore.ContentManagement.Metadata.IContentDefinitionManager ContentDefinitionManager
@inject OrchardCore.ContentManagement.Display.IContentItemDisplayManager ContentItemDisplayManager

@{
    var hasManageDashboardPermission = await AuthorizationService.AuthorizeAsync(User, Permissions.ManageAdminDashboard);
}
<style asp-src="~/OrchardCore.AdminDashboard/Styles/dashboard.min.css" debug-src="~/OrchardCore.AdminDashboard/Styles/dashboard.css" at="Head"></style>

@if (hasManageDashboardPermission)
{
    <div class="btn-group float-right mb-3">
        <a class="btn btn-primary btn-sm" asp-action="Manage">
            @T["Manage Dashboard"]
        </a>
    </div>
}

<zone Name="Title"><h1 class="float-left">@RenderTitleSegments(T["Dashboard"])</h1></zone>
<div class="clearfix"></div>

<div class="dashboard-container">
    @foreach (var dashboard in Model.Dashboards)
    {
        @await DisplayAsync(dashboard);
    }
</div>
