<div class="post-preview">
    <a display-for="@Model.ContentItem">
        <h2 class="post-title">
            @Model.ContentItem.Content.TitlePart.Title
        </h2>
        @if (Model.ContentItem.Content.BlogPost.Subtitle != null)
        {
        <h3 class="post-subtitle">
            @Model.ContentItem.Content.BlogPost.Subtitle.Text
        </h3>
        }
    </a>
    <p class="post-meta">
        @T["Posted by {0} on {1}",
            Html.Raw($"<a href=\"#\">{Model.ContentItem.Owner}</a>"),
            (object)(await DisplayAsync(New.DateTime(Utc: Model.ContentItem.CreatedUtc, Format: T["MMMM dd, yyyy"].Value)))]
    </p>

    @*@Html.Raw(Model.ContentItem.Content.BodyPart.Body)*@
</div>
<hr>
