<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="post-preview">
        <a href="post.html">
            <h2 class="post-title">
                <a display-for="@Model.ContentItem">@Model.Title</a>
            </h2>
            <h3 class="post-subtitle">
                Problems look mighty small from 150 miles up
            </h3>
        </a>
        <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
    </div>
    <hr>
</div>