@inject Orchard.Settings.ISiteService SiteService
@{
    var site = await SiteService.GetSiteSettingsAsync();
}
<!DOCTYPE html>
<html>
<head>
    <title>@RenderTitleSegments(T[site.SiteName], "before")</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="image/x-icon" rel="shortcut icon" href="TheBlogTheme/favicon.ico" />

    <script asp-name="bootstrap" use-cdn="true" at="Foot"></script>
    <script asp-src="/TheBlogTheme/Scripts/clean-blog.min.js" debug-src="/TheBlogTheme/Scripts/clean-blog.js" at="Foot"></script>

    <link rel="stylesheet" href="/TheBlogTheme/Styles/blog.min.css">

    <!-- Custom Fonts -->
    <link href="/TheBlogTheme/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <resources type="Meta" />
    <resources type="HeadLink" />
    <resources type="Stylesheet" />
    <resources type="HeadScript" />
</head>
<body >
    <nav class="navbar navbar-default  navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">@T["Toggle navigation"]</span>
                    @T["Menu"] <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="~/">@site.SiteName</a>
            </div>

            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">

                @*@await DisplayAsync(New.Menu(ContentItemId: "main-menu"))*@
                <menu alias="alias:main-menu" cache-id="main-menu" cache-duration="00:05:00" />

            </div><!--/.nav-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @await RenderSectionAsync("Header", required: false)

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                @await RenderBodyAsync()
            </div>
        </div>
    </div><!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                
                @await RenderSectionAsync("Footer", required: false)

                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright © Your Website 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <resources type="FootScript" />
</body>
</html>