<article class="@String.Join(" ", Model.Classes.ToArray())">
    <img class="img-responsive" src="@Model.ContentItem.Content.Image.Image.Text" alt="@Model.ContentItem.Content.Image.Caption.Text">
    <span class="caption text-muted">@Model.ContentItem.Content.Image.Caption.Text</span>
</article>