mkdocs>=1.6.1
mkdocs-material>=9.6.14
mkdocs-git-authors-plugin>=0.10.0
mkdocs-git-revision-date-localized-plugin>=1.4.7
pymdown-extensions>=10.16.0
mkdocs-exclude>=1.0.2
mkdocs-redirects>=1.2.1
mdx_truly_sane_lists>=1.2