mkdocs>=1.6.1
mkdocs-material>=9.5.41
mkdocs-git-authors-plugin>=0.9.0
mkdocs-git-revision-date-localized-plugin>=1.2.9
pymdown-extensions>=10.11.2
mkdocs-exclude>=1.0.2
mkdocs-redirects>=1.2.1
mdx_truly_sane_lists>=1.2