<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${currentdir}/App_Data/logs/internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="OrchardCore.Logging.NLog"/>
    </extensions>

    <targets>
        <!-- file target -->
        <target xsi:type="File" name="file"
                fileName="${var:configDir}/logs/orchard-log-${shortdate}.log"
                layout="${longdate}|${orchard-tenant-name}|${aspnet-traceidentifier}|${event-properties:item=EventId}|${logger}|${uppercase:${level}}|${message} ${exception:format=ToString,StackTrace}"
        />

        <!-- console target -->
        <target xsi:type="Console" name="console" />

    </targets>

    <variable name="defaultLevel" value="${configsetting:item=Logging.LogLevel.Default:whenEmpty=Warning}" />
    <variable name="hostingLifetimeLevel" value="${configsetting:item=Logging.LogLevel.Microsoft\\.Hosting\\.Lifetime:whenEmpty=Information}" />
    <variable name="yessqlLevel" value="${configsetting:item=Logging.LogLevel.YesSql:whenEmpty=Information}" />

    <rules>
        <!-- The YesSql events go to the file targets -->
        <logger name="YesSql" minlevel="${var:yessqlLevel}" writeTo="file" finalMinLevel="Off"  />

        <!-- The hosting lifetime events go to the console and file targets -->
        <logger name="Microsoft.Hosting.Lifetime" minlevel="${var:hostingLifetimeLevel}" writeTo="file, console" finalMinLevel="Off" />

        <!-- All default and above go to the file target -->
        <logger name="*" minlevel="${var:defaultLevel}" writeTo="file" />
    </rules>

</nlog>
