@model ProfileIndexViewModel

<style>
    #mainNav {
        background-color: #212529 !important;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #main {
        margin-top: 85px;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <h1>@RenderTitleSegments(T["Profile"])</h1>
    </div>
    <div class="col-md-6" style="padding-top: 15px;">
        <form asp-route-area="OrchardCore.Users" asp-controller="Account" asp-action="LogOff" method="post" class="form-inline" style="float:right;">
            <button type="submit" class="btn btn-link nav-link" role="button" style="padding: 0px;"><i class="fa fa-sign-out" aria-hidden="true"></i> @T["Log off"]</button>
        </form>
        <label style="float:right;">Logged In User - <strong>@User.Identity.Name</strong></label>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
</div>




@await DisplayAsync(Model.Shape)
