@model IDictionary<string, object>

    @if (Model.Any())
    {
        @*<h4>@T("Global Settings")</h4>*@
        <dl class="settings">
            @foreach (var setting in Model)
        {
            <dt>@setting.Key</dt>
            <dd>@setting.Value</dd>}
    </dl>}