#menu {
  list-style: none;
  padding-left: 0;
}

#menu li {
  list-style: none;
  cursor: move;
  border: none;
  padding: 0;
}

#menu ol.menu-item-links:empty {
  margin: 0;
  padding: 0;
  min-height: 0;
}