@using Microsoft.AspNetCore.Mvc.Localization
@using OrchardCore.Email.Azure.ViewModels

@model AzureEmailSettingsViewModel

<div id="Azure_Provider_Settings">

    <div class="mb-3" asp-validation-class-for="DefaultSender">
        <label asp-for="DefaultSender" class="form-label">@T["Sender email address"]</label>
        <input asp-for="DefaultSender" class="form-control" type="text" />
        <span asp-validation-for="DefaultSender"></span>
        <span class="hint">@T["The default email address to use as a sender, unless the email sender is set."]</span>
    </div>

    <div class="mb-3" asp-validation-class-for="ConnectionString">
        <label asp-for="ConnectionString" class="form-label">@T["Connection String"]</label>
        <input type="text" asp-for="ConnectionString" class="form-control" placeholder="@(Model.HasConnectionString ? T["Connection string is securely stored. Leave blank for current connection string or enter a new one"] : T["Azure connection string"])" />
        <span asp-validation-for="ConnectionString"></span>
    </div>

</div>
