@model dynamic

<div class="card h-100">
    <div class="card-body">
        @await DisplayAsync(Model.Content)
    </div>
    <div class="card-footer text-muted text-sm-end">
        <a class="btn btn-primary btn-sm" asp-route-action="Create" asp-route-controller="Step" asp-route-id="@Model.DeploymentPlan.Id" asp-route-type="@Model.Type">@T["Add"]</a>
    </div>
</div>
