@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer T
@{
    // The Setup Layout is a standard MVC layout do that it doesn't use Shapes.
    Layout = "../_Layout.cshtml";
}
<h1>@T["Validation error"]</h1>
<p>@T["The provided token is not valid"]</p>