@model Orchard.ContentTypes.ViewModels.EditPartFieldViewModel
    <fieldset class="manage-field">
        <h4>@Model.Name <span>(@Model.FieldDefinition.Name)</span></h4>@if (Model.Templates.Any()) {
        <div class="settings">@{Html.RenderTemplates(Model.Templates);}
        </div>}
        @Html.HiddenFor(m => m.Name)@Html.HiddenFor(m => m.FieldDefinition.Name)@Html.HiddenFor(m => m.Index)
    </fieldset>