@model ErrorViewModel
@using OrchardCore.OpenId.ViewModels

@{
    ViewLayout = "Layout__Login";
}

<div class="jumbotron">
    <h2>@T["Ooooops, something went really bad! :("]</h2>
    <p class="lead text-start">
        @if (!string.IsNullOrEmpty(Model.Error))
        {
            <strong>@Model.Error</strong>
        }

        @if (!string.IsNullOrEmpty(Model.ErrorDescription))
        {
            <small>@Model.ErrorDescription</small>
        }
    </p>
</div>
