@using Microsoft.Extensions.Primitives
@using OrchardCore.OpenId.ViewModels
@model LogoutViewModel

@{
    ViewLayout = "Layout__Login";
}

<div class="jumbotron">
    <h1>@T["Log out"]</h1>

    <p class="lead text-left">@T["Are you sure you want to log out?"]</p>

    <form asp-controller="Access" asp-action="Logout" method="post" class="no-multisubmit">
        @* Flow the request parameters so they can be received by the Accept/Reject actions: *@
        @foreach (var parameter in Context.Request.HasFormContentType ?
          (IEnumerable<KeyValuePair<string, StringValues>>) Context.Request.Form : Context.Request.Query)
        {
            <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
        }

        <input class="btn btn-lg btn-success" name="submit.Accept" type="submit" value="Yes" />
        <input class="btn btn-lg btn-danger" name="submit.Deny" type="submit" value="No" />
    </form>
</div>
