@model Orchard.ContentTypes.ViewModels.EditPartViewModel
<div class="pull-xs-right">
    <a class="btn btn-primary btn-sm" asp-route-action="EditPart" asp-route-id="@Model.Name">@T["Edit"]</a>
</div>
<div>@Model.DisplayName</div>
@if(!string.IsNullOrWhiteSpace(Model.Description))
{
    <span class="hint">@Model.Description</span>
}
