@model AllTemplatesDeploymentStepViewModel

<h5>@T["All Templates"]</h5>

<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="ExportAsFiles" />
        <label class="custom-control-label" asp-for="ExportAsFiles">@T["Export templates as files"]</label>
        <span class="hint">@T["Check if the templates should be exported as files instead of inline."]</span>
    </div>
</div>
