.workflow-container .workflow-canvas-container {
  border: 1px solid #e4e5e6;
  border-radius: 0.25em;
  padding: 15px;
}

.modal-activities h4.card-title .fa {
  margin-right: 0.5em;
}

.workflow-canvas {
  overflow: auto !important;
  position: relative;
  touch-action: none;
  min-height: 400px;
}
.workflow-canvas .activity {
  display: none;
  border: 1px solid #346789;
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 9px #aaa;
  -webkit-box-shadow: 2px 2px 9px #aaa;
  -moz-box-shadow: 2px 2px 9px #aaa;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  opacity: 0.8;
  min-width: 80px;
  min-height: 80px;
  text-align: left;
  z-index: 20;
  position: absolute;
  background-color: #eeeeef;
  color: #000000;
  font-family: helvetica, sans-serif;
  padding: 1em;
  font-size: 0.7em;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in;
  -moz-transition: -moz-box-shadow 0.15s ease-in;
  -o-transition: -o-box-shadow 0.15s ease-in;
  transition: box-shadow 0.15s ease-in;
}
.workflow-canvas .activity.activity-task {
  border: 1px solid #7ab02c;
}
.workflow-canvas .activity.activity-event {
  border: 1px solid #3a8acd;
}
.workflow-canvas .activity.activity-start, .workflow-canvas .activity.activity-blocking {
  background-color: #7ab02c;
  color: #ffffff;
  border: 1px solid #507b11;
}
.workflow-canvas .activity header h4 {
  font-size: 1.4em;
}
.workflow-canvas .activity header h4 .fa {
  margin-right: 0.5em;
}
.workflow-canvas .jtk-connector {
  z-index: 4;
}
.workflow-canvas .jtk-endpoint, .workflow-canvas .endpointTargetLabel, .workflow-canvas .endpointSourceLabel {
  z-index: 21;
  cursor: pointer;
}
.workflow-canvas .endpointTargetLabel, .workflow-canvas .endpointSourceLabel {
  font-size: 8px;
}
.workflow-canvas .jtk-overlay {
  background-color: transparent;
}
.workflow-canvas .connection-label {
  z-index: 31;
  border: 1px solid #cccccc;
  padding: 0 0.5em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: white;
}

:root[data-theme=darkmode] .workflow-canvas {
  color: #000000;
}

.workflow-details label {
  font-weight: bold;
  display: block;
}
.workflow-details span {
  display: block;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndvcmtmbG93LWNhbnZhcy5zY3NzIiwid29ya2Zsb3ctdmlld2VyLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQ0k7RUFDSTtFQUNBO0VBQ0E7OztBQU1BO0VBQ0k7OztBQUtaO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7O0FBRUE7RUFDSTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0VBQ0k7O0FBR0o7RUFDSTs7QUFHSjtFQUNJO0VBQ0E7RUFDQTs7QUFJQTtFQUNJOztBQUVBO0VBQ0k7O0FBTWhCO0VBQ0k7O0FBR0o7RUFDSTtFQUNBOztBQUdKO0VBQ0k7O0FBR0o7RUFDSTs7QUFHSjtFQUNJO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOzs7QUFLSjtFQUNJOzs7QUNuR0o7RUFDSTtFQUNBOztBQUdKO0VBQ0kiLCJmaWxlIjoib3JjaGFyZC53b3JrZmxvd3Mtdmlld2VyLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi53b3JrZmxvdy1jb250YWluZXIge1xyXG4gICAgLndvcmtmbG93LWNhbnZhcy1jb250YWluZXIge1xyXG4gICAgICAgIGJvcmRlcjogMXB4IHNvbGlkICNlNGU1ZTY7XHJcbiAgICAgICAgYm9yZGVyLXJhZGl1czogMC4yNWVtO1xyXG4gICAgICAgIHBhZGRpbmc6IDE1cHg7XHJcbiAgICB9XHJcbn1cclxuXHJcbi5tb2RhbC1hY3Rpdml0aWVzIHtcclxuICAgIGg0LmNhcmQtdGl0bGUge1xyXG4gICAgICAgIC5mYSB7XHJcbiAgICAgICAgICAgIG1hcmdpbi1yaWdodDogMC41ZW07XHJcbiAgICAgICAgfVxyXG4gICAgfVxyXG59XHJcblxyXG4ud29ya2Zsb3ctY2FudmFzIHtcclxuICAgIG92ZXJmbG93OiBhdXRvICFpbXBvcnRhbnQ7XHJcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XHJcbiAgICB0b3VjaC1hY3Rpb246IG5vbmU7XHJcbiAgICBtaW4taGVpZ2h0OiA0MDBweDtcclxuXHJcbiAgICAuYWN0aXZpdHkge1xyXG4gICAgICAgIGRpc3BsYXk6IG5vbmU7XHJcbiAgICAgICAgYm9yZGVyOiAxcHggc29saWQgIzM0Njc4OTtcclxuICAgICAgICBib3gtc2hhZG93OiAycHggMnB4IDE5cHggI2FhYTtcclxuICAgICAgICAtby1ib3gtc2hhZG93OiAycHggMnB4IDlweCAjYWFhO1xyXG4gICAgICAgIC13ZWJraXQtYm94LXNoYWRvdzogMnB4IDJweCA5cHggI2FhYTtcclxuICAgICAgICAtbW96LWJveC1zaGFkb3c6IDJweCAycHggOXB4ICNhYWE7XHJcbiAgICAgICAgLW1vei1ib3JkZXItcmFkaXVzOiAwLjVlbTtcclxuICAgICAgICBib3JkZXItcmFkaXVzOiAwLjVlbTtcclxuICAgICAgICBvcGFjaXR5OiAwLjg7XHJcbiAgICAgICAgbWluLXdpZHRoOiA4MHB4O1xyXG4gICAgICAgIG1pbi1oZWlnaHQ6IDgwcHg7XHJcbiAgICAgICAgdGV4dC1hbGlnbjogbGVmdDtcclxuICAgICAgICB6LWluZGV4OiAyMDtcclxuICAgICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogI2VlZWVlZjtcclxuICAgICAgICBjb2xvcjogIzAwMDAwMDtcclxuICAgICAgICBmb250LWZhbWlseTogaGVsdmV0aWNhLCBzYW5zLXNlcmlmO1xyXG4gICAgICAgIHBhZGRpbmc6IDFlbTtcclxuICAgICAgICBmb250LXNpemU6IDAuN2VtO1xyXG4gICAgICAgIC13ZWJraXQtdHJhbnNpdGlvbjogLXdlYmtpdC1ib3gtc2hhZG93IDAuMTVzIGVhc2UtaW47XHJcbiAgICAgICAgLW1vei10cmFuc2l0aW9uOiAtbW96LWJveC1zaGFkb3cgMC4xNXMgZWFzZS1pbjtcclxuICAgICAgICAtby10cmFuc2l0aW9uOiAtby1ib3gtc2hhZG93IDAuMTVzIGVhc2UtaW47XHJcbiAgICAgICAgdHJhbnNpdGlvbjogYm94LXNoYWRvdyAwLjE1cyBlYXNlLWluO1xyXG5cclxuICAgICAgICAmLmFjdGl2aXR5LXRhc2sge1xyXG4gICAgICAgICAgICBib3JkZXI6IDFweCBzb2xpZCAjN2FiMDJjO1xyXG4gICAgICAgIH1cclxuXHJcbiAgICAgICAgJi5hY3Rpdml0eS1ldmVudCB7XHJcbiAgICAgICAgICAgIGJvcmRlcjogMXB4IHNvbGlkICMzYThhY2Q7XHJcbiAgICAgICAgfVxyXG5cclxuICAgICAgICAmLmFjdGl2aXR5LXN0YXJ0LCAmLmFjdGl2aXR5LWJsb2NraW5nIHtcclxuICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogIzdhYjAyYztcclxuICAgICAgICAgICAgY29sb3I6ICNmZmZmZmY7XHJcbiAgICAgICAgICAgIGJvcmRlcjogMXB4IHNvbGlkICM1MDdiMTE7XHJcbiAgICAgICAgfVxyXG5cclxuICAgICAgICBoZWFkZXIge1xyXG4gICAgICAgICAgICBoNCB7XHJcbiAgICAgICAgICAgICAgICBmb250LXNpemU6IDEuNGVtO1xyXG5cclxuICAgICAgICAgICAgICAgIC5mYSB7XHJcbiAgICAgICAgICAgICAgICAgICAgbWFyZ2luLXJpZ2h0OiAwLjVlbTtcclxuICAgICAgICAgICAgICAgIH1cclxuICAgICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuICAgIH1cclxuXHJcbiAgICAuanRrLWNvbm5lY3RvciB7XHJcbiAgICAgICAgei1pbmRleDogNDtcclxuICAgIH1cclxuXHJcbiAgICAuanRrLWVuZHBvaW50LCAuZW5kcG9pbnRUYXJnZXRMYWJlbCwgLmVuZHBvaW50U291cmNlTGFiZWwge1xyXG4gICAgICAgIHotaW5kZXg6IDIxO1xyXG4gICAgICAgIGN1cnNvcjogcG9pbnRlcjtcclxuICAgIH1cclxuXHJcbiAgICAuZW5kcG9pbnRUYXJnZXRMYWJlbCwgLmVuZHBvaW50U291cmNlTGFiZWwge1xyXG4gICAgICAgIGZvbnQtc2l6ZTogOHB4O1xyXG4gICAgfVxyXG5cclxuICAgIC5qdGstb3ZlcmxheSB7XHJcbiAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogdHJhbnNwYXJlbnQ7XHJcbiAgICB9XHJcblxyXG4gICAgLmNvbm5lY3Rpb24tbGFiZWwge1xyXG4gICAgICAgIHotaW5kZXg6IDMxO1xyXG4gICAgICAgIGJvcmRlcjogMXB4IHNvbGlkICNjY2NjY2M7XHJcbiAgICAgICAgcGFkZGluZzogMCAwLjVlbTtcclxuICAgICAgICAtbW96LWJvcmRlci1yYWRpdXM6IDJweDtcclxuICAgICAgICAtd2Via2l0LWJvcmRlci1yYWRpdXM6IDJweDtcclxuICAgICAgICBib3JkZXItcmFkaXVzOiAycHg7XHJcbiAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogd2hpdGU7XHJcbiAgICB9XHJcbn1cclxuXHJcbjpyb290W2RhdGEtdGhlbWU9J2Rhcmttb2RlJ10ge1xyXG4gICAgLndvcmtmbG93LWNhbnZhcyB7XHJcbiAgICAgICAgY29sb3I6ICMwMDAwMDA7XHJcbiAgICB9XHJcbn0iLCJAaW1wb3J0ICcuL3dvcmtmbG93LWNhbnZhcy5zY3NzJztcclxuXHJcbi53b3JrZmxvdy1kZXRhaWxzIHtcclxuICAgIGxhYmVsIHtcclxuICAgICAgICBmb250LXdlaWdodDogYm9sZDtcclxuICAgICAgICBkaXNwbGF5OiBibG9jaztcclxuICAgIH1cclxuXHJcbiAgICBzcGFuIHtcclxuICAgICAgICBkaXNwbGF5OiBibG9jaztcclxuICAgIH1cclxufVxyXG4iXX0= */
