@model OrchardCore.Media.ViewModels.MediaFieldAttachedEditorSettingsViewModel

<div class="field-editor field-editor-attached">
    <div class="ocat-wrapper">
        <label asp-for="Folder" class="ocat-label">@T["Upload folder"]</label>
        <div class="ocat-end">
            <input asp-for="Folder" type="text" class="form-control" />
            <span asp-validation-for="Folder"></span>
            <span class="hint">@T["Optional. When set, uploaded files are stored in this folder instead of the default per-content-item path. Use this with the Secure Media feature to restrict access per folder."]</span>
        </div>
    </div>
</div>
