@model IdentityPartViewModel

@{
    var canChangeIdentity =
        Model.IdentityPartSettings.AllowCustomIdentity &&
        (String.IsNullOrEmpty(Model.Identity) || Model.IdentityPartSettings.AllowChangeIdentity);
}

@if (Model.IdentityPartSettings.ShowNameEditor)
{
<fieldset class="form-group" asp-validation-class-for="Name">
    <label asp-for="Name">@T["Name"] <span asp-validation-for="Name"></span></label>
    <input asp-for="Name" class="form-control" />
    <span class="hint">@T["The name of the content item."]</span>
</fieldset>
}

@if (Model.IdentityPartSettings.ShowIdentityEditor)
{
<fieldset class="form-group" asp-validation-class-for="Identity">
    <label asp-for="Identity">@T["Identity"] <span asp-validation-for="Identity"></span></label>
    @if (canChangeIdentity)
    {
        <input asp-for="Identity" class="form-control" />
    }
    else
    {
        <input asp-for="Identity" class="form-control" disabled="disabled"/>
    }
    <span class="hint">@T["The identity of the content item."]</span>
</fieldset>
}
