:root {
  --oc-media-border-content: var(--bs-border-width, 1px) solid var(--bs-border-color, #ccc);
  --oc-media-selected-background-color: var(--bs-primary);
  --oc-media-color: var(--bs-body-color);
}

#mediaApp {
  position: absolute;
  top: var(--oc-top-nav-height, 52);
  bottom: 0;
  right: 0;
  left: var(--oc-start-navigation-width, 260);
  transition: left 0.2s ease-in-out, width 0.2s ease-in-out;
  background-color: var(--bs-body);
}
#mediaApp ::-webkit-scrollbar {
  width: 4px;
}
#mediaApp ::-webkit-scrollbar-thumb {
  background-color: #495057;
}
#mediaApp #mediaContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
}
#mediaApp #mediaContainer #navigationApp {
  border-right: var(--oc-media-border-content);
  border-top: var(--oc-media-border-content);
  flex-shrink: 0;
}
#mediaApp #mediaContainer #mediaContainerMain {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#mediaApp #mediaContainer #mediaContainerMain .media-container-middle {
  flex-grow: 1;
  flex-shrink: 0;
  overflow: auto;
}
#mediaApp #mediaContainer #mediaContainerMain .media-container-footer {
  border-top: var(--oc-media-border-content);
}
@media only screen and (min-width: 923px) {
  #mediaApp #mediaContainer {
    flex-direction: row;
  }
  #mediaApp #mediaContainer #mediaContainerMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #mediaApp #mediaContainer #mediaContainerMain .media-container-middle {
    flex-shrink: 1;
  }
  #mediaApp #navigationApp {
    height: 100%;
    width: 240px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #495057 #EAEAEA;
  }
}
#mediaApp .alert-info {
  font-size: 0.875rem;
}
#mediaApp .message-warning {
  padding: 20px;
  margin-bottom: 8px;
}
#mediaApp a.disabled {
  cursor: default;
}

.left-sidebar-compact #mediaApp {
  left: var(--oc-start-navigation-width-when-compact, 48);
}

.upload {
  background-color: var(--bs-body-bg, #ccc);
  border-radius: 2px;
  border: 1px solid #ccc;
  height: 60px;
  font-size: 0.875rem;
  user-select: none;
  min-width: 300px;
  flex-grow: 1;
}
@media only screen and (min-width: 768px) {
  .upload {
    width: 300px;
  }
}
.upload .close-warning {
  display: block;
  float: right;
  margin-top: -8px;
  margin-right: -8px;
  cursor: pointer;
  padding: 2px 8px;
}
.upload .upload-name {
  padding-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 50px;
}
.upload .progress-bar {
  display: block;
  margin-top: 15px;
  height: 3px;
  background-color: var(--bs-progress-bar-bg, #007bff);
}
.upload .error-message {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 50px;
}

.upload-warning {
  color: var(--bs-warning-text-emphasis);
  background-color: var(--bs-warning-bg-subtle);
  border-color: var(--bs-warning-border-subtle);
}

.upload-list {
  margin-bottom: 8px;
}
.upload-list .header {
  height: 40px;
  padding: 6px 20px;
  background-color: var(--bs-body-bg, #e9ecef);
  border: var(--bs-border-width, 1px) solid var(--bs-border-color, #e9ecef);
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.875rem;
  color: var(--bs-body-color, #666);
}
.upload-list .toggle-button {
  padding: 5px 8px;
  margin-top: -3px;
  float: right;
}

ol.media-items-grid {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
ol.media-items-grid.row {
  margin-left: 0;
  margin-right: 0;
}
ol.media-items-grid li {
  margin-bottom: 16px;
  cursor: pointer;
  margin-left: 0;
  margin-right: 1.9em;
  border-radius: 0;
}
ol.media-items-grid li .inline-media-button {
  color: var(--oc-media-color);
  opacity: 0;
  padding-top: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0px;
  margin-top: -32px;
  transition: all 0.2s;
}
ol.media-items-grid li .inline-media-button.delete-button {
  margin-right: 2rem;
}
ol.media-items-grid li .inline-media-button.edit-button {
  margin-right: 3.8rem;
}
ol.media-items-grid li.selected {
  border: 1px solid var(--bs-primary, blue);
}
ol.media-items-grid li.selected .inline-media-button, ol.media-items-grid li:hover .inline-media-button {
  opacity: 1;
  margin-top: 0px;
  transition: all 0.2s;
}
ol.media-items-grid .thumb-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bs-body-bg, white);
}
ol.media-items-grid .thumb-container img {
  background: repeating-conic-gradient(var(--bs-gray-200, #ccc) 0% 25%, transparent 0% 50%) 50%/10px 10px;
}
ol.media-items-grid {
  list-style: none;
  padding-left: 0;
}

.media-items-table {
  padding: 20px;
  font-size: 0.875rem;
}
.media-items-table .header-row th {
  border-top: none !important;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--oc-media-color);
  font-size: 0.8125rem;
  user-select: none;
}
.media-items-table .header-row th .thumbnail-column {
  padding-left: 16px;
}
.media-items-table tr.media-item {
  height: 75px;
}
.media-items-table tr.media-item td {
  border-top: var(--oc-media-border-content);
  padding: 0.25rem !important;
}
.media-items-table tr.media-item.selected {
  background-color: var(--oc-media-selected-background-color);
  border-left: solid 2px var(--bs-primary);
}
.media-items-table .thumbnail-column {
  text-align: center;
  width: 75px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
}
.media-items-table .thumbnail-column .img-wrapper {
  background: white;
}
.media-items-table .thumbnail-column .img-wrapper img {
  max-width: 75px;
  max-height: 75px;
  background: repeating-conic-gradient(var(--bs-gray-200, #ccc) 0% 25%, transparent 0% 50%) 50%/10px 10px;
}
.media-items-table td {
  vertical-align: middle;
}
.media-items-table .text-col {
  margin-top: 16px;
}
.media-items-table tr:hover {
  cursor: pointer;
}
.media-items-table .media-name-cell {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}
.media-items-table .media-name-cell .media-filename {
  flex-grow: 1;
}
.media-items-table .media-name-cell .buttons-container {
  opacity: 0;
  transition: all 0.2s;
}
.media-items-table tr:hover .buttons-container, .media-items-table tr.selected .buttons-container {
  opacity: 1;
  transition: all 0.2s;
}
.media-items-table .btn-link {
  color: var(--gray-600);
  padding-left: 0;
}
.media-items-table .sort-indicator {
  display: inline-block;
}

.media-field-gallery ol.media-field-gallery-cards {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, 242px);
}
.media-field-gallery ol.media-field-gallery-cards li.sortable-selected .card {
  border-color: rgba(var(--bs-primary-rgb), 0.4);
  box-shadow: 0 0 4px var(--bs-primary, blue);
  cursor: grabbing;
}
.media-field-gallery ol.media-field-gallery-cards .media-field-gallery-choose-btn {
  cursor: pointer;
  border: dashed 1px var(--bs-border-color) !important;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.media-field-gallery ol.media-field-gallery-cards .media-filename {
  text-align: center;
}
.media-field-gallery ol.media-field-gallery-cards .update-media {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  font-size: 0.875em;
  color: var(--bs-secondary);
  background: rgba(var(--bs-light-rgb), 0.9);
}
.media-field-gallery ol.media-field-gallery-cards .update-media:hover {
  opacity: 1;
}
.media-field-gallery ol.media-field-gallery-cards .media-preview {
  position: relative;
}
.media-field-gallery ol.media-field-gallery-cards .media-preview img {
  max-height: 198px;
  overflow: hidden;
  background: repeating-conic-gradient(#fff 0 25%, rgba(0, 0, 0, 0.05) 0 50%) 50%/15px 15px;
}
.media-field-gallery ol.media-field-gallery-cards .media-field-gallery-card-actions {
  padding: 5px;
  background: #f8f9fa;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  border-top: solid 1px var(--bs-border-color);
}
.media-field-gallery ol.media-field-gallery-cards.size-sm {
  grid-template-columns: repeat(auto-fill, 150px);
}
.media-field-gallery ol.media-field-gallery-cards.size-sm .media-field-gallery-card-actions {
  padding: 2px;
}
.media-field-gallery ol.media-field-gallery-cards.size-sm .file-icon [class*=fa-] {
  font-size: 2em !important;
}
.media-field-gallery ol.media-field-gallery-cards.size-sm .media-preview img {
  max-height: 112px;
}
.media-field-gallery ol.media-field-gallery-cards.size-sm .media-filename {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.media-field-gallery ol.media-field-gallery-cards.size-sm .not-found [class*=fa-] {
  display: none;
}
.media-field-gallery .media-field-gallery-list .media-preview {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  overflow: hidden;
}
.media-field-gallery .media-field-gallery-list .media-preview [class*=fa-] {
  font-size: 1.25em !important;
}
.media-field-gallery .media-field-gallery-list .media-field-gallery-choose-btn {
  cursor: pointer;
  border: dashed 1px var(--bs-border-color) !important;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.media-field-gallery .media-field-gallery-list li.sortable-selected {
  background: rgba(var(--bs-primary-rgb), 0.2);
  border-color: rgba(var(--bs-primary-rgb), 0.4);
  cursor: grabbing;
}
.media-field-gallery .media-field-gallery-list .media-field-gallery-list-actions {
  padding: 0 5px;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  gap: 0;
}
.media-field-gallery .media-field-gallery-list .media-field-gallery-list-actions .btn-light {
  background: transparent;
  border-color: transparent;
}
.media-field-gallery .media-field-gallery-list .media-field-gallery-list-actions .btn-light:hover {
  background: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.media-field-gallery .media-filename {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  width: 100%;
  font-size: 0.775em;
  padding: 0 0.5rem;
}

#media-pager .page-number {
  min-width: 34px;
  text-align: center;
}
#media-pager .page-size-info, #media-pager .page-info, #media-pager .total-info {
  white-space: nowrap;
  user-select: none;
}
#media-pager .page-size-info span:hover, #media-pager .page-info span:hover, #media-pager .total-info span:hover {
  background-color: inherit;
}

@media only screen and (max-width: 576px) {
  #media-pager .media-last-button, #media-pager .media-first-button, #media-pager .total-info, #media-pager .page-size-label {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  #media-pager .page-number {
    display: none;
  }
}
.action-bar {
  border-bottom: var(--oc-media-border-content);
}
.action-bar .media-filter {
  margin-top: 3px;
}
.action-bar .media-filter .input-filter {
  border-color: var(--bs-border-color, #ccc);
  border-right: none;
  max-width: 80px;
  padding-left: 32px;
}
.action-bar .media-filter .input-filter:focus, .action-bar .media-filter .input-filter:focus + .input-group-append > button {
  border-color: var(--bs-border-color);
}
.action-bar .media-filter .input-group-append button {
  border-color: var(--bs-border-color, #ccc);
  opacity: 1;
  border-left: none;
}
.action-bar .media-filter .input-group-append button[disabled] {
  color: transparent;
}
.action-bar .media-filter .icon-inside-input {
  position: absolute;
  top: 8px;
  left: 10px;
  z-index: var(--bs-zindex-fixed, 1030);
  pointer-events: none;
  color: var(--bs-gray-600, #ddd);
}
.action-bar {
  /* Upload button */
}
.action-bar .fileinput-button {
  cursor: pointer;
  margin: 0;
  padding: 4px 12px 4px 8px;
  border: 0;
}
.action-bar .fileinput-button svg {
  margin-right: 6px;
}
.action-bar .fileinput-button input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.action-bar input[type=text] {
  outline: none;
  box-shadow: none !important;
}

#breadcrumb {
  background-color: transparent;
  border-bottom: var(--oc-media-border-content);
  border-radius: 0px;
  min-height: 50px;
  font-size: 0.875rem;
}
#breadcrumb .breadcrumb-path {
  flex-grow: 1;
}
#breadcrumb .breadcrumb-path .breadcrumb-item {
  display: inline-block;
}
#breadcrumb .breadcrumb-path .breadcrumb-item a {
  color: var(--oc-media-color);
}
#breadcrumb .breadcrumb-buttons {
  justify-content: flex-start;
  flex-grow: 1;
  margin-top: -5px;
}
#breadcrumb .breadcrumb-buttons a {
  border-radius: 0px !important;
  color: var(--oc-media-color);
}

.visibility-buttons {
  justify-content: flex-end;
  flex-grow: 0;
  margin-top: -5px;
}
.visibility-buttons button {
  border-radius: 0px !important;
  color: var(--oc-media-color);
}
.visibility-buttons .selected {
  color: var(--bs-primary, blue);
}

:root {
  --oc-media-border-content: var(--bs-border-width, 1px) solid var(--bs-border-color, #ccc);
  --oc-media-selected-background-color: var(--bs-primary);
  --oc-media-color: var(--bs-body-color);
}

#folder-tree {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
}
#folder-tree .treeroot {
  font-weight: 600;
  height: 40px;
  border-bottom: var(--oc-media-border-content);
}
#folder-tree .treeroot a {
  font-size: 1rem;
}
#folder-tree .treeroot a .folder-actions .btn.btn-sm {
  font-size: 0.875rem;
}
#folder-tree .treeroot .expand {
  font-size: 0.875rem;
  padding: 0;
}
#folder-tree .treeroot + ol {
  overflow-x: auto;
}
#folder-tree li.selected > div:not(.treeroot) {
  font-weight: bold;
  background-color: var(--oc-media-selected-background-color);
}
#folder-tree li div:not(.treeroot) a:hover, #folder-tree .folderhovered {
  background-color: var(--bs-list-group-action-hover-bg, var(--bs-secondary-bg, lightgray));
}
#folder-tree li div {
  min-height: 40px;
  padding: 0;
  font-size: 0.875rem;
}
#folder-tree li div a {
  display: block;
  height: 100%;
}
#folder-tree div a {
  color: var(--oc-media-color);
  text-decoration: none;
}
#folder-tree ol {
  padding-left: 0;
}
#folder-tree .folder {
  color: lightgray;
}
#folder-tree li {
  list-style: none;
}
#folder-tree .expand {
  /* make both icons be in the center as their widths are different */
  text-align: center;
  width: 16px;
  cursor: pointer;
  font-size: 0.625rem;
  display: inline-block;
  padding: 12px 12px 12px 6px;
}
#folder-tree .empty {
  transform: none;
  visibility: hidden;
}
#folder-tree .folder-menu-item {
  display: flex;
  align-items: center;
}
#folder-tree .folder-menu-item .folder-name {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
#folder-tree .folder-menu-item .folder-actions {
  align-self: stretch;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}
#folder-tree .folder-menu-item .folder-actions a.btn {
  display: flex;
  align-items: center;
  background-color: var(--oc-media-selected-background-color);
  color: var(--bs-white, #fff);
}

/* rtl:ignore */
#folder-tree .opened svg {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

#customdropzone {
  align-items: center;
  background: rgba(95, 175, 139, 0.8);
  color: var(--bs-white, #FFFFFF);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 0px;
  justify-content: center;
  left: 0;
  top: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 50;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

#customdropzone.in {
  opacity: 1;
  height: 100%;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

:root {
  --oc-media-border-content: var(--bs-border-width, 1px) solid var(--bs-border-color, #ccc);
  --oc-media-selected-background-color: var(--bs-primary);
  --oc-media-color: var(--bs-body-color);
}

.media-field-toolbar {
  display: flex;
}
.media-field-toolbar .selected-media-name {
  margin: 0;
}
.media-field-toolbar code {
  flex-grow: 1;
  padding: 4px;
  white-space: nowrap;
}
.media-field-toolbar .fileinput-button {
  cursor: pointer;
  margin: 0;
  padding: 4px 8px;
  border: var(--bs-border-width, 1px) solid var(--bs-border-color, #ccc);
}
.media-field-toolbar .fileinput-button input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

@media (min-width: 992px) {
  .media-anchor-modal .modal-lg {
    max-width: 1200px;
  }
}
.media-anchor-modal .img-modal {
  max-height: 70vh;
}

.icon-media-anchor {
  position: absolute;
  line-height: 0px;
  color: var(--bs-white);
  font-size: 1.875rem;
}
.icon-media-anchor path {
  stroke: var(--bs-black);
  stroke-width: 10;
}

.sortable-ghost {
  opacity: 0.5;
  background-color: #f0f0f0;
  border: 2px dashed #ccc;
}

.sortable-selected,
.media-thumb-item-active {
  border: 2px solid #2196f3;
  box-shadow: 0 0 8px rgba(33, 150, 243, 0.5);
}

.media-thumb-item.selected.sortable-selected {
  border: 2px solid purple;
  box-shadow: 0 0 8px rgba(128, 0, 128, 0.7);
}

.media-thumb-item {
  cursor: grab;
}

.media-thumb-item.sortable-selected {
  cursor: grabbing;
}

:root {
  --oc-media-border-content: var(--bs-border-width, 1px) solid var(--bs-border-color, #ccc);
  --oc-media-selected-background-color: var(--bs-primary);
  --oc-media-color: var(--bs-body-color);
}

.media-modal.modal-dialog,
.media-modal .modal-content {
  height: 95%;
}

.modal-content .modal-body #mediaApp {
  position: static;
  height: 100%;
}

.media-modal .modal-body {
  height: 100%;
  overflow-y: auto;
  padding: 0;
}
.media-modal .modal-body #mediaContainer #navigationApp {
  border-right: none !important;
}
.media-modal .modal-body #mediaContainer #mediaContainerMain {
  border-left: var(--oc-media-border-content);
  margin-left: 0 !important;
}
.media-modal .modal-body #mediaContainer #folder-tree a,
.media-modal .modal-body #mediaContainer .breadcrumb-item a {
  font-size: 0.9rem;
}

@media only screen and (min-width: 576px) {
  .modal-dialog.media-modal {
    max-width: 992px;
    padding-left: 17px;
  }
}
#createFolderModal, #renameMediaModal {
  z-index: 100000;
}

.modal-body #media-pager .page-number, .modal-body #media-pager .media-first-button, .modal-body #media-pager .media-last-button {
  display: none;
}

.media-container-main-item-title {
  border-top: var(--bs-border-width, 1px) solid var(--bs-border-color, #ccc);
  padding-top: 15px;
  position: relative;
  overflow: hidden;
}
.media-container-main-item-title .media-filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.break-word {
  word-break: break-all;
  word-wrap: break-word;
}

[v-cloak] {
  display: none !important;
}