<div class="@string.Join(" ", Model.Classes.ToArray())">
    @if (Model.Header is not null || Model.Meta is not null)
    {
        <div class="widget-header">
            @await DisplayAsync(Model.Header)
            @if (Model.Meta is not null)
            {
                <div class="widget-metadata">
                    @await DisplayAsync(Model.Meta)
                </div>
            }
        </div>
    }
    <div class="widget-body">
        @await DisplayAsync(Model.Content)
    </div>
    @if (Model.Footer is not null)
    {
        <div class="widget-footer">
            @await DisplayAsync(Model.Footer)
        </div>
    }
</div>
