@model OrchardCore.Widgets.Settings.WidgetsListPartSettingsViewModel

<div class="mb-3" asp-validation-class-for="Zones">
    <label asp-for="Zones">@T["Available widgets zones"]</label>
    <input asp-for="Zones" class="form-control" type="text" />
    <span asp-validation-for="Zones"></span>
    <span class="hint">@T["A comma separated list of values, representing the available zones for widgets."]</span>
</div>
