@{
    TagBuilder tag = Tag(Model, "ul");


    foreach (var item in Model.Items)
    {
        tag.InnerHtml.AppendHtml(Display(item));
    }
}

<nav>
    @tag
</nav>
<!-- Menu rendered on @DateTime.UtcNow.ToString("r") -->