// 
// Forms
// 

// Override variables for the Bootstrap floating forms component

$form-floating-height: 4.5rem;
$form-floating-padding-x: 0;
$form-floating-padding-y: 1.25rem;
$form-floating-input-padding-t: 2.125rem;
$form-floating-input-padding-b: .625rem;
$form-floating-label-transform: scale(.65) translateY(-.5rem) translateX(0rem);