// Font Awesome icons (free version)
script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

// Google fonts
link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')

// Core theme CSS (includes Bootstrap)
link(href='css/styles.css', rel='stylesheet')