@using OrchardCore
@using OrchardCore.Forms.Workflows.ViewModels
@model AddModelValidationErrorTaskViewModel

<div class="ocat-wrapper" asp-validation-class-for="Key">
    <label asp-for="Key" class="ocat-label">@T["Key"]</label>
    <div class="ocat-end">
        <input type="text" asp-for="Key" class="form-control" />
        <span asp-validation-for="Key"></span>
        <span class="hint">@T["The name of the form field that has an invalid value."]</span>
    </div>
</div>

<div class="ocat-wrapper" asp-validation-class-for="ErrorMessage">
    <label asp-for="ErrorMessage" class="ocat-label">@T["Error Message"]</label>
    <div class="ocat-end">
        <input type="text" asp-for="ErrorMessage" class="form-control" />
        <span asp-validation-for="ErrorMessage"></span>
        <span class="hint">@T["The validation error message to display."]</span>
    </div>
</div>
