@using OrchardCore.Forms.Models
@model ShapeViewModel<ButtonPart>
@{
    var formElementPart = Model.Value.ContentItem.As<FormElementPart>();
    var formInputElementPart = Model.Value.ContentItem.As<FormInputElementPart>();
    var elementId = formElementPart.Id;
    var elementName = formInputElementPart.Name;
    var id = !string.IsNullOrEmpty(elementId) ? elementId : !string.IsNullOrEmpty(elementName) ? Html.GenerateIdFromName(elementName) : default(string);
}
<button id="@elementId" name="@elementName" type="@Model.Value.Type" class="btn btn-primary">@Model.Value.Text</button>
