@using OrchardCore
@using OrchardCore.Forms.ViewModels
@model FormElementPartEditViewModel

<div class="ocat-wrapper">
    <label asp-for="Id" class="ocat-label">@T["ID"]</label>
    <div class="ocat-end">
        <input asp-for="Id" type="text" class="form-control content-preview-text" />
        <span class="hint">@T["The ID to render on this form element."]</span>
    </div>
</div>
