@using OrchardCore.Forms.ViewModels;
@model FormPartEditViewModel
@*TODO Form Workflow Selector*@

Coming Soon : Select Workflow to run when Form is submitted

@* <div class="form-group">
        <label asp-for="WorkflowTypeId">@T["Workflow Type"]</label>
        <input type="text" asp-for="WorkflowTypeId" class="form-control content-preview-text" />
        <span class="hint">@T["Optionally select a workflow to invoke when the form is submitted."]</span>
    </div> *@
