@using OrchardCore.Forms.ViewModels;
@model FormInputElementPartEditViewModel

<div class="mb-3">
    <label asp-for="Name">@T["Name"]</label>
    <input asp-for="Name" type="text" class="form-control content-preview-text content-caption-text" />
    <span class="hint">@T["The name to render on this form element."]</span>
</div>
