@using OrchardCore.Forms.ViewModels;
@model FormElementPartEditViewModel

<div class="mb-3">
    <label asp-for="Id">@T["ID"]</label>
    <input asp-for="Id" type="text" class="form-control content-preview-text" />
    <span class="hint">@T["The ID to render on this form element."]</span>
</div>
