@using OrchardCore.Forms.Activities.ViewModels

@model HttpRedirectToFormLocationTaskViewModel

<div class="mb-3" asp-validation-class-for="FormLocationKey">
    <label asp-for="FormLocationKey">@T["Form Location Key"]</label>
    <input type="text" asp-for="FormLocationKey" class="form-control code" />
    <span asp-validation-for="FormLocationKey"></span>
    <span class="hint">@T["This value needs to correspond with the Form Location Key value utilized in the form settings. With Liquid support."]</span>
</div>
