@using OrchardCore.Forms.Models
@model ShapeViewModel<LabelPart>

@{
    var contentItem = Model.Value.ContentItem;
    var formElementPart = contentItem.As<FormElementPart>();
}
<label id="@formElementPart.Id" for="@Model.Value.For" class="form-label">@contentItem.DisplayText</label>
