@using OrchardCore.Forms.ViewModels;
@model LabelPartEditViewModel

<div class="mb-3">
    <label asp-for="For">@T["For"]</label>
    <input asp-for="For" type="text" class="form-control content-preview-text" />
    <span class="hint">@T["The ID of the form element to associate with this label."]</span>
</div>
