@using OrchardCore.Forms.Models
@model ShapeViewModel<LabelPart>

@{
    var contentItem = Model.Value.ContentItem;
    if (!contentItem.TryGet<FormElementPart>(out var formElementPart))
    {
        return;
    }
}
<label id="@formElementPart.Id" for="@Model.Value.For" class="form-label">@contentItem.DisplayText</label>
