@using OrchardCore.Forms.ViewModels;
@model TextAreaPartEditViewModel

<div class="mb-3">
    <label asp-for="Placeholder">@T["Placeholder Text"]</label>
    <input asp-for="Placeholder" type="text" class="form-control content-preview-text" />
    <span class="hint">@T["The text to display when the textarea has no value."]</span>
</div>

<div class="mb-3">
    <label asp-for="DefaultValue">@T["Default Value"]</label>
    <input asp-for="DefaultValue" type="text" class="form-control content-preview-text" />
    <span class="hint">@T["The default value for this textarea."]</span>
</div>
