@using OrchardCore.Forms.ViewModels;
@model ValidationPartEditViewModel

<div class="mb-3">
    <label asp-for="For">@T["For"]</label>
    <input asp-for="For" type="text" class="form-control content-preview-text" />
    <span class="hint">@T["The field name that this validation is for."]</span>
</div>
