@model ActivityViewModel<ValidateAntiforgeryTokenTask>

<header>
    <h4><i class="fa-solid fa-shield-alt" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["Validate Antiforgery Token"])</h4>
</header>
