.workflow-editor-canvas {

    .window {
        border: 1px solid #346789;
        box-shadow: 2px 2px 19px #aaa;
        -o-box-shadow: 2px 2px 19px #aaa;
        -webkit-box-shadow: 2px 2px 19px #aaa;
        -moz-box-shadow: 2px 2px 19px #aaa;
        -moz-border-radius: 0.5em;
        border-radius: 0.5em;
        opacity: 0.8;
        width: 80px;
        height: 80px;
        line-height: 80px;
        cursor: pointer;
        text-align: center;
        z-index: 20;
        position: absolute;
        background-color: #eeeeef;
        color: black;
        font-family: helvetica, sans-serif;
        padding: 0.5em;
        font-size: 0.9em;
        -webkit-transition: -webkit-box-shadow 0.15s ease-in;
        -moz-transition: -moz-box-shadow 0.15s ease-in;
        -o-transition: -o-box-shadow 0.15s ease-in;
        transition: box-shadow 0.15s ease-in;

        &:hover {
            box-shadow: 2px 2px 19px #444;
            -o-box-shadow: 2px 2px 19px #444;
            -webkit-box-shadow: 2px 2px 19px #444;
            -moz-box-shadow: 2px 2px 19px #444;
            opacity: 0.6;
        }
    }

    .active {
        border: 1px dotted green;
    }

    .hover {
        border: 1px dotted red;
    }

    .jtk-connector {
        z-index: 4;
    }

    .jtk-endpoint, .endpointTargetLabel, .endpointSourceLabel {
        z-index: 21;
        cursor: pointer;
    }

    .aLabel {
        background-color: white;
        padding: 0.4em;
        font: 12px sans-serif;
        color: #444;
        z-index: 21;
        border: 1px dotted gray;
        opacity: 0.8;
        cursor: pointer;
    }

    .aLabel.jtk-hover {
        background-color: #5C96BC;
        color: white;
        border: 1px solid white;
    }

    .window.jtk-connected {
        border: 1px solid green;
    }

    .jtk-drag {
        outline: 4px solid pink !important;
    }

    path, .jtk-endpoint {
        cursor: pointer;
    }

    .jtk-overlay {
        background-color: transparent;
    }
}

#flowchartWindow1 {
    top: 34em;
    left: 5em;
}

#flowchartWindow2 {
    top: 7em;
    left: 36em;
}

#flowchartWindow3 {
    top: 27em;
    left: 48em;
}

#flowchartWindow4 {
    top: 23em;
    left: 22em;
}
