.workflow-editor-container {
    .workflow-editor-canvas-container {
        border: 1px solid #e4e5e6;
        border-radius: 0.25em;
        padding: 15px;
    }
}

.modal-activities {
    h4.card-title {
        .fa {
            margin-right: 0.5em;
        }
    }
}
