@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "workflow-canvas";

.modal-activities {
    h4.card-title {
        .svg-inline--fa {
            margin-right: 0.5em;
        }
    }
}

.workflow-canvas {

    .activity {
        max-width:280px;
        cursor: move;

        &:hover {
            box-shadow: 2px 2px 19px #444;
            -o-box-shadow: 2px 2px 19px #444;
            -webkit-box-shadow: 2px 2px 19px #444;
            -moz-box-shadow: 2px 2px 19px #444;
            opacity: 0.6;
        }

        .activity-commands {
            display: none;
        }

        header {
            h4 {
                .svg-inline--fa {
                    margin-right: 0.5em;
                }
            }
        }
        
        span, em {
            /* Add an ellipsis on the workflow activity boxes. This makes the activities much easier to move when they have long text */
            white-space:nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            display: inline-block;
        }
    }

    .jtk-drag {
    }

    .jtk-drag-select {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    path, .jtk-endpoint {
        cursor: pointer;
    }
}

@include media-breakpoint-up(lg) {
    .modal-activities {
        .modal-lg {
            max-width: 1200px;
        }
    }
}
