.workflow-container {
    .workflow-canvas-container {
        border: 1px solid #e4e5e6;
        border-radius: 0.25em;
        padding: 15px;
    }
}

.modal-activities {
    h4.card-title {
        .fa {
            margin-right: 0.5em;
        }
    }
}

.workflow-canvas {
    overflow: auto !important;
    position: relative;
    touch-action: none;
    min-height: 400px;

    .activity {
        display: none;
        border: 1px solid #346789;
        box-shadow: 2px 2px 19px #aaa;
        -o-box-shadow: 2px 2px 9px #aaa;
        -webkit-box-shadow: 2px 2px 9px #aaa;
        -moz-box-shadow: 2px 2px 9px #aaa;
        -moz-border-radius: 0.5em;
        border-radius: 0.5em;
        opacity: 0.8;
        min-width: 80px;
        min-height: 80px;
        text-align: left;
        z-index: 20;
        position: absolute;
        background-color: #eeeeef;
        color: #000000;
        font-family: helvetica, sans-serif;
        padding: 1em;
        font-size: 0.7em;
        -webkit-transition: -webkit-box-shadow 0.15s ease-in;
        -moz-transition: -moz-box-shadow 0.15s ease-in;
        -o-transition: -o-box-shadow 0.15s ease-in;
        transition: box-shadow 0.15s ease-in;

        &.activity-task {
            border: 1px solid #7ab02c;
        }

        &.activity-event {
            border: 1px solid #3a8acd;
        }

        &.activity-start, &.activity-blocking {
            background-color: #7ab02c;
            color: #ffffff;
            border: 1px solid #507b11;
        }

        header {
            h4 {
                font-size: 1.4em;

                .fa {
                    margin-right: 0.5em;
                }
            }
        }
    }

    .jtk-connector {
        z-index: 4;
    }

    .jtk-endpoint, .endpointTargetLabel, .endpointSourceLabel {
        z-index: 21;
        cursor: pointer;
    }

    .endpointTargetLabel, .endpointSourceLabel {
        font-size: 8px;
    }

    .jtk-overlay {
        background-color: transparent;
    }

    .connection-label {
        z-index: 31;
        border: 1px solid #cccccc;
        padding: 0 0.5em;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background-color: white;
    }
}

:root[data-theme='darkmode'] {
    .workflow-canvas {
        color: #000000;
    }
}