@model ActivityViewModel<ValidateReCaptchaTask>

<header>
    <h4><i class="fa-solid fa-shield-alt" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["Validate ReCaptcha"])</h4>
</header>
