<h4 class="card-title"><i class="fa-solid fa-shield-alt" aria-hidden="true"></i>@T["Validate ReCaptcha"]</h4>
<p>@T["Validates the recaptcha token for the current HTTP context in which the workflow executes."]</p>
