.CodeMirror {
    height: auto;
    border: 1px solid #ddd;
}
/*
.CodeMirror-scroll {
    max-height: 200px;
}
*/
.CodeMirror-fullscreen {
    z-index: 1000;
}

.CodeMirror pre {
    padding-left: 7px;
    line-height: 1.25;
}
