// Custom variables

// Because !default means that a variable is not assigned if it already contains a value,
// we alter the variable before importing boostrap as _variables.scss will use !default

@import "src/OrchardCore.Modules/OrchardCore.Resources/Assets/Bootstrap/scss/bootstrap.scss";

$top-nav-height: 59px;
$left-navigation-width: 260px;
$border-content: 1px solid rgba(0, 0, 0, 0.05);
$link-padding-left: 16px !default;

@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

// Layout
// -----------------------------

.ta-wrapper {

    .ta-navbar-top {
        @extend .navbar, .navbar-expand-md, .navbar-light, .bg-light, .fixed-top;
        min-height: $top-nav-height;
        border-bottom: $border-content;
        z-index: 8;
    }

    .ta-navbar-brand {
        @extend .navbar-brand;
        margin-left: 4px;
    }
    // Menu toggling button
    #navbar-toggler {
        @extend .navbar-toggler;
    }
    // Icons in the main nav bar
    /*#navbar-content {
        @extend .hidden-xs-down;
    }*/
    // The menu is hidden for sm
    #ta-left-sidebar {
        @extend .bg-light;
        width: $left-navigation-width;
        height: 100%;
        z-index: 7;
        position: fixed;
        top: 0;
        bottom: 0;
        color: $gray-800;
        border-right: $border-content;
        left: 0px;
        transition: left 0.5s ease-in-out;

        #left-nav {
            position: relative;
            margin-top: $top-nav-height;
            height: calc(100% - #{$top-nav-height});
        }
        // Remove padding/margin from all uls
        ul {
            margin: 0;
            padding: 0;
        }
        // Rotate the chevron's icon when the menu is active
        label[aria-expanded="true"] {
            .chevron {
                transform: rotate(90deg);
                transition-duration: 0.2s;
            }
        }

        label[aria-expanded="false"] {
            .chevron {
                transition-duration: 0.2s;
            }
        }

        .collapse {
            display: none;
        }

        .collapse.show {
            display: block;
        }
        // Make each line a block
        label, a {
            position: relative;
            display: block;
            margin: 0;
        }

        #left-nav ul {
            margin: 0;
            padding: 0;
            white-space: nowrap;

            li {
                position: relative;
                margin: 0;
                padding: 0;
                display: list-item;
                list-style: none;
                line-height: 2.5em;

                label {
                    cursor: pointer;
                }
            }
        }

        #left-nav ul.menu-admin {
            margin-bottom: 100px;
        }

        .chevron {
            position: absolute;
            top: 33%;
            left: 100%;
            margin-left: -25px;
        }

        .icon {
            padding-right: 10px;

            .fa {
                min-width: 16px;
            }
        }

        li label,
        li a,
        li a:hover,
        li a:active,
        li a:visited {
            color: $gray-700;
            text-decoration: none;
            padding-left: $link-padding-left - 4px;
        }
        // Hovering the navigation items
        li a:hover, li label:hover {
            background-color: $gray-700;
            color: $gray-100;
        }
        // Current page
        li.active > a {
            background-color: $gray-600;
            border-left: 4px solid $gray-800;
            color: $gray-100 !important;
            padding-left: (2 * $link-padding-left) + 2 !important;
        }

        li.active > label {
            background-color: #b4bdc4;
            color: $gray-100 !important;
        }

        li ul > li > a,
        li ul > li > label {
            background-color: $gray-200;
            color: $gray-700 !important;
            padding-left: (2 * $link-padding-left) + 6 !important;
        }

        li ul > li > a:hover,
        li ul > li > label:hover {
            color: $gray-100 !important;
        }

        li ul > li ul > li > a {
            padding-left: 3 * $link-padding-left !important;
        }

        li ul > li ul > .active > a {
            padding-left: (3 * $link-padding-left - 4) !important;
        }
    }

    .ta-content {
        padding: ($grid-gutter-width / 2);
        margin-top: ($top-nav-height);
    }
    // When the screen is bigger than md, add a margin of the size of the menu
    @include media-breakpoint-up(sm) {
        .ta-content {
            margin-left: $left-navigation-width;
            transition: margin-left 0.5s ease-in-out;
        }
    }

    @include media-breakpoint-down(sm) {
        #ta-left-sidebar {
            left: -$left-navigation-width;
            transition: left 0.5s ease-in-out;
        }

        .ta-content {
            margin-left: 0;
            transition: margin-left 0.5s ease-in-out;
        }
    }
}

// Forms
// -----------------------------

.hint {
    @extend .small, .text-muted;
    @include word-wrap;
}

.validation-summary-errors {
    @extend .alert, .alert-danger;
    padding-bottom: 0;
}

.field-validation-error {
    @extend small, .invalid-feedback;
}

.input-validation-error {
    @extend .is-invalid;
}

.has-validation-error {
    @extend .is-invalid;
}

.inline-form {
    display: inline;
}

.code, .form-control.code {
    font-family: $font-family-monospace;
    font-size: $code-font-size;
    padding: $kbd-padding-y $kbd-padding-x;
    color: $pre-color;
    @include border-radius($border-radius);
}

// When the validation message in inside the label, add a separator
label .field-validation-error::before {
    content: "- ";
}

.button {
    @extend .btn, .btn-primary;
}

.field-validation-valid {
    display: none;
}

select[multiple] {
    min-height: 300px;
}

// Toolbar
// ------------------------------
.admin-toolbar {
    @extend .navbar, .navbar-expand-md, .navbar-light, .bg-light;
    margin-bottom: 1em;
}

// Messages
// ------------------------------

.message {
    @extend .alert;
}

.message-success {
    @extend .alert-success;
}

.message-information {
    @extend .alert-info;
}

.message-warning {
    @extend .alert-warning;
}

.message-error {
    @extend .alert-danger;
}


// Pager
// ------------------------------

ul.pager {
    @extend .pagination;
}

ul.pager li {
    @extend .page-item;
}

ul.pager li a {
    @extend .page-link;
}

// Sortable
// ------------------------------

.ui-sortable-handle {
    cursor: move;
}

.ui-sortable {
    min-height: $font-size-base;
}

.properties {
    @extend .w-100;
}

.related {
    @extend .float-right;
}

// Responsive sizes
// Creates mixins to target all breakpoints
// ------------------------------
.col-xs {
    @extend .col-8, .col-sm-4, .col-md-3, .col-lg-2, .col-xl-1;
}

.col-sm {
    @extend .col-12, .col-sm-9, .col-md-6, .col-lg-3, .col-xl-3;
}

.col-md {
    @extend .col-12, .col-sm-12, .col-md-10, .col-lg-8, .col-xl-6;
}

.col-lg {
    @extend .col-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-9;
}

.col-xl {
    @extend .col-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12;
}
