@model OrchardCore.Email.SmtpSettingsViewModel

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "ISite";

    var groupid = "SmtpSettings";
}

<h1>@RenderTitleSegments(T["Settings"])</h1>

<form asp-action="Index" asp-controller="Admin" asp-area="OrchardCore.Settings" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post" enctype="multipart/form-data">
    <input type="hidden" name="GroupId" value="@groupid" />
    @Html.ValidationSummary()

    @await Html.PartialAsync("../SmtpSettings.Edit.cshtml", Model)

    <div class="edit-item-secondary group">
        <div class="edit-item-actions form-group">
            <button class="primaryAction btn btn-primary" type="submit">Save</button>
        </div>
    </div>
</form>