<div class="card theme-card w-100">

    @if (Model.Thumbnail is not null)
    {
        @await DisplayAsync(Model.Thumbnail)
    }

    <div class="card-body">

        @if (Model.Header is not null)
        {
            @await DisplayAsync(Model.Header)
        }

        @if (Model.Content is not null || Model.Attributes is not null)
        {
            @if (Model.Content is not null)
            {
                @await DisplayAsync(Model.Content)
            }

            @if (Model.Tags is not null)
            {
                <ul class="list-group list-group-flush">
                    @await DisplayAsync(Model.Tags)
                </ul>
            }
        }

    </div>

    @if (Model.FooterStart is not null || Model.FooterEnd is not null || Model.FooterBelow is not null)
    {
        <div class="card-footer">

            @if (Model.FooterStart is not null || Model.FooterEnd is not null)
            {
                <div class="d-flex justify-content-between">

                    <div class="d-inline-flex">
                        @if (Model.FooterStart is not null)
                        {
                            @await DisplayAsync(Model.FooterStart)
                        }
                    </div>
                    <div class="d-inline-flex">
                        @if (Model.FooterEnd is not null)
                        {
                            @await DisplayAsync(Model.FooterEnd)
                        }
                    </div>
                </div>
            }

            @if (Model.FooterBelow is not null)
            {
                @await DisplayAsync(Model.FooterBelow)
            }
        </div>
    }

</div>
