@model dynamic
@inject Orchard.ContentManagement.MetaData.IContentDefinitionManager ContentDefinitionManager

@{ 
    var contentTypes = (string[])Model.ContentTypes;
}

<h5>@T["Content Types"]</h5>
@if (contentTypes != null && contentTypes.Length > 0)
{
    @foreach (var contentTypeDefinition in ContentDefinitionManager.ListTypeDefinitions())
    {
        if (contentTypes.Contains(contentTypeDefinition.Name))
        {
            <span class="badge badge-default">@contentTypeDefinition.DisplayName</span>
        }
    }
}
else
{
    <span class="badge badge-warning">@T["Nothing here!"]</span>
}
