@using OrchardCore.DisplayManagement.Views

@model ShapeViewModel<AzureAISearchIndexSettings>

<span class="badge ta-badge bg-warning-subtle font-weight-normal" data-bs-toggle="tooltip" title="@T["Source"]">
    <i class="text-secondary me-1" aria-hidden="true"></i>@Model.Value.Source
</span>
