@using Microsoft.Extensions.DependencyInjection
@using Microsoft.Extensions.Options

@inject IOptions<AzureAISearchOptions> Options
@{
    string source = Model.Source;

    if (!Options.Value.IndexSources.TryGetValue(source, out var indexSource))
    {
        return;
    }
}

<div class="col">
    <div class="card h-100">
        <div class="card-body">
            <h4>@(indexSource.DisplayName)</h4>
            <p class="hint">@(indexSource.Description)</p>

        </div>

        <div class="card-footer text-muted text-sm-end">
            <a class="btn btn-primary btn-sm"
               asp-route-action="Create"
               asp-route-controller="Admin"
               asp-route-source="@source">@T["Add"]</a>
        </div>
    </div>
</div>
