@model AzureAISettingsIndexEntityViewModel

<div class="mb-3" asp-validation-class-for="AnalyzerName">
    <label asp-for="AnalyzerName" class="form-label">@T["Analyzer"]</label>
    <select asp-for="AnalyzerName" asp-items="Model.Analyzers" class="form-select"></select>
    <span asp-validation-for="AnalyzerName" class="text-danger"></span>
</div>

