@model OrchardCore.Media.ViewModels.MediaCacheViewModel
<h1>@RenderTitleSegments(T["Media Cache"])</h1>

<form>
    @* the form is necessary to generate and antiforgery token for the purge action *@

    <ul class="list-group">
        <li class="list-group-item">
            @{
                foreach (var item in Model.Items)
                {
                    @await DisplayAsync(item);
                }
            }
        </li>
    </ul>
</form>
