@inject IOptions<AdminOptions> AdminOptions
<link asp-src="~/OrchardCore.Admin/favicon.ico" type="image/x-icon" rel="shortcut icon" />

<a class="ta-navbar-brand" href="@Url.Content("~/" + AdminOptions.Value.AdminUrlPrefix)">
    <div class="d-flex align-items-center">
        <img src="@Url.Content("~/OrchardCore.Admin/logo.png")" alt="@Site.SiteName" />
        <span>@Site.SiteName</span>
    </div>
</a>
