<h1>Dashboard (@Site.SiteName)</h1>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">@T["Welcome to Orchard"]</h5>
        <p class="card-text">@T["Check out the menu on the left and discover all of its possibilities."]</p>
    </div>
</div>