@using OrchardCore.DisplayManagement
@inject IDisplayManager<AdminDashboardItem> DisplayManager
@{
    var shape = await DisplayManager.BuildDisplayAsync(new AdminDashboardItem(), null, "SummaryAdmin");
}

<div class="alert alert-success">
    <h1>@T["Welcome to Orchard"]</h2>
    <p class="lead">@T["Feel free to browse the menu and discover all its possibilities."]</p>
</div>

@await DisplayAsync(shape)
