@using OrchardCore.DisplayManagement
@inject IDisplayManager<AdminDashboardItem> DisplayManager
@{
    var shape = await DisplayManager.BuildDisplayAsync(new AdminDashboardItem(), null, "SummaryAdmin");
}

<div class="jumbotron">
    <h2 class="display-4">@T["Welcome to your site"]</h2>
    <p class="lead">@T["Feel free to browse the menu and discover all its possibilities."]</p>
</div>

@await DisplayAsync(shape)

