<zone Name="Title"><h1>@T["Dashboard"]</h1></zone>

<div class="jumbotron">
    <h2 class="display-4">@T["Welcome to your site"]</h2>
    <p class="lead">@T["Feel free to browse the menu and discover all its possibilities."]</p>
</div>
