<li class="nav-item">
    <a href="@Url.Content("~/")" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="@T["Visit Site"]" role="button">
        <i class="fa-solid fa-fw fa-external-link" aria-hidden="true"></i>
    </a>
</li>
