<a id="addToDeploymentPlanBulkActions" class="dropdown-item" data-title="@T["Bulk Action"]" data-message="@T["Are you sure you want to add these items to a deployment plan?"]">@T["Add to deployment plan"]</a>
<script asp-src="~/OrchardCore.Contents/Scripts/deployment-modals/add-to-deployment-plan-bulk-button.min.js" debug-src="~/OrchardCore.Contents/Scripts/deployment-modals/add-to-deployment-plan-bulk-button.js" at="Foot" type="module"></script>
