@model AllContentDeploymentStepViewModel

<h5>@T["All Content"]</h5>

<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="ExportDatesAndIds" />
        <label class="custom-control-label" asp-for="ExportDatesAndIds">@T["Export Dates and Ids"]</label>
        <span class="hint">@T["Check if dates (CreatedUtc, ModifiedUtc, PublishedUtc) and the ids (ContentId, ContentVersionId) have to be exported."]</span>
    </div>
</div>
