@model AllContentDeploymentStepViewModel

<h5>@T["All Content"]</h5>

<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="ExportAsSetupRecipe" />
        <label class="custom-control-label" asp-for="ExportAsSetupRecipe">@T["Export As Setup recipe"]</label>
        <span class="hint">@T["Check if you want to export the contents for a setup recipe."]</span>
    </div>
</div>
