@model ClickToDeploySettingsViewModel
@using OrchardCore.Contents.Deployment.ClickToDeploy
@using OrchardCore.Deployment.Services
@inject IDeploymentPlanService DeploymentPlanService

@{
    var deploymentPlans = await DeploymentPlanService.GetAllDeploymentPlansAsync();
    var clickToDeployPlans = deploymentPlans.Where(x => x.DeploymentSteps.Any(x => x.Name == nameof(ClickToDeployContentDeploymentStep)));
}

@if (!clickToDeployPlans.Any())
{
    <p class="alert alert-warning">@T["No click to deploy plans found. Create a deployment plan and add a Click to deploy step to it."]</p>
}
else
{
    <div class="row">
        <div class="form-group col-sm-6">
            <label asp-for="ClickToDeployPlanId">@T["Deployment Plan"]</label>
            <select asp-for="ClickToDeployPlanId" class="form-control">
                @foreach (var clickToDeployPlan in clickToDeployPlans)
                {
                    <option value="@clickToDeployPlan.Id">@clickToDeployPlan.Name</option>
                }
            </select>
        </div>
    </div>
}


