@using Microsoft.Extensions.DependencyInjection
@using OrchardCore.Contents.Deployment.ClickToDeploy
<a id="clickToDeployAction" class="dropdown-item" data-title="@T["Bulk Action"]" data-message="@T["Are you sure you want to deploy this/these item(s)?"]">@T["Deploy"]</a>
