@model ShapeViewModel<ContentOptionsViewModel>
@{
    var term = Model.Value.FilterResult.FirstOrDefault(x => x.TermName == "text");
}

<div class="ocat-wrapper">
    <h4 class="card-title ocat-label">@T["Display Text"]</h4>
    <div class="ocat-end">
        <pre>@(term?.ToString() ?? "text:...")</pre>
    </div>
</div>
<p>@T["Filters on the Display Text of a content item."]</p>
<div class="d-block text-end">
    <span>
        <i class="fa-solid fa-sm fa-check text-primary" aria-hidden="true"></i>
    </span>
    <span>
        <i class="fa-solid fa-sm fa-bars text-primary" aria-hidden="true"></i>
    </span>
</div>
