@model ContentItemDeploymentStepViewModel
<div class="ocat-wrapper" asp-validation-class-for="ContentItemId">
    <label asp-for="ContentItemId" class="ocat-label">@T["Content Item Id"]</label>
    <div class="ocat-end">
        <input type="text" asp-for="ContentItemId" class="form-control" />
        <span asp-validation-for="ContentItemId"></span>
        <span class="hint">@T["Provide a content item id."]</span>
    </div>
</div>
