@model OrchardCore.Workflows.ViewModels.ActivityViewModel<ContentForEachTask>

<header>
    <h4><i class="fa fa-circle-o-notch"></i>@Model.Activity.GetTitleOrDefault(() => T["Content For Each"])</h4>
</header>
<em>@Model.Activity.ContentType</em>
