@using OrchardCore.Contents.Workflows.ViewModels
@model ContentVersionedEventViewModel

<div class="ocat-wrapper" asp-validation-class-for="SelectedContentTypeNames">
    <label asp-for="SelectedContentTypeNames" class="ocat-label">@T["Content Types"]</label>
    <div class="ocat-end">
        @await Component.InvokeAsync("SelectContentTypes", new { selectedContentTypes = Model.SelectedContentTypeNames, htmlName = Html.NameFor(m => m.SelectedContentTypeNames) })
        <span asp-validation-for="SelectedContentTypeNames"></span>
        <span class="hint">@T["Select any content types to filter on."]</span>
    </div>
</div>
