@model ShapeViewModel<ContentDeploymentStep>
@using OrchardCore.Localization.Data
@inject OrchardCore.ContentManagement.Metadata.IContentDefinitionManager ContentDefinitionManager
@inject IDataLocalizer D

@{
    var contentTypes = Model.Value.ContentTypes;
}

<h5>@T["Content"]</h5>
@if (contentTypes != null && contentTypes.Length > 0)
{
    @foreach (var contentTypeDefinition in await ContentDefinitionManager.ListTypeDefinitionsAsync())
    {
        if (contentTypes.Contains(contentTypeDefinition.Name))
        {
            <span class="badge ta-badge">@D[contentTypeDefinition.DisplayName, "Content Types"]</span>
        }
    }
}
else
{
    <span class="badge text-bg-warning">@T["Nothing here!"]</span>
}
