@model ContentForEachTaskViewModel

<div class="form-group" asp-validation-class-for="ContentType">
    <label asp-for="ContentType">@T["Content Type"]</label>
    <input type="text" asp-for="ContentType" class="form-control" />
    <span asp-validation-for="ContentType"></span>
    <span class="hint">@T["The Content Type to loop over"]</span>
</div>