@using OrchardCore.Contents.Workflows.Activities
@{
    var activity = (CreateContentTask)Model.Activity;
}
<header>
    <h4><i class="fa fa-file-text-o"></i>@T["Create Content"]</h4>
</header>
<span>@T["<em>{0}</em>", activity.ContentType]</span>