@model ContentTaskViewModel<CreateContentTask>

<header>
    <h4><i class="fa-regular fa-file-lines" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["Create Content"])</h4>
</header>

<em>@Model.Activity.ContentType</em>
