@using OrchardCore.Contents.Workflows.Activities
@{
    var activity = (DeleteContentTask)Model.Activity;
}
<header>
    <h4><i class="fa fa-trash"></i>@T["Delete Content"]</h4>
</header>
<span>@T["Delete content using expression: <em>{0}</em>", activity.Expression]</span>