@model ContentTaskViewModel<DeleteContentTask>

<header>
    <h4><i class="fa-solid fa-trash" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["Delete Content"])</h4>
</header>
@if (string.IsNullOrWhiteSpace(Model.Activity.Content?.Expression))
{
    <span>@T["Delete content provided via the <em>ContentItem</em> input argument"]</span>
}
else
{
    <span>@T["Delete content using expression: <em>{0}</em>", Model.Activity.Content.Expression]</span>
}
