@model ShapeViewModel<ExportContentToDeploymentTargetDeploymentStep>

<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        <h5>@T["Export Content To Deployment Target"]</h5>
    </div>
</div>
