@model ShapeViewModel<ExportContentToDeploymentTargetDeploymentStep>

<h5>@T["Export Content To Deployment Target"]</h5>

<span class="hint">@T["Allows the export content to deployment target feature to add content items to the plan."]</span>
