<a id="exportContentToDeploymentTargetBulkActions" class="dropdown-item" data-title="@T["Bulk Action"]" data-message="@T["Are you sure you want to export these items?"]">@T["Export to deployment target"]</a>

<script asp-src="~/OrchardCore.Contents/Scripts/deployment-modals/export-to-deployment-target-bulk-button.min.js" debug-src="~/OrchardCore.Contents/Scripts/deployment-modals/export-to-deployment-target-bulk-button.js" at="Foot" type="module"></script>
