@model ShapeViewModel<ExportContentToDeploymentTargetDeploymentStep>

<h4 class="card-title">@T["Export Content To Deployment Target"]</h4>
<p>@T["Allows the export content to deployment target feature to add content items to the plan."]</p>
