@model ContentTaskViewModel<UnpublishContentTask>

<header>
    <h4><i class="fa-solid fa-cloud-download" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["Unpublish Content"])</h4>
</header>

@if (string.IsNullOrWhiteSpace(Model.Activity.Content?.Expression))
{
    <span>@T["Unpublish content provided via the <em>ContentItem</em> input argument"]</span>
}
else
{
    <span>@T["Unpublish content using expression: <em>{0}</em>", Model.Activity.Content.Expression]</span>
}
