# ignore all
**

# Except src for building
!./src/*
# TODO : Remove this line when Docker Buildkit works in Windows
!/.build/release/*

# Ignore any App_Data folder
**/App_Data/

# Ignore all prebuild
**/[b|B]in/
**/[O|o]bj/
