root = true

[*]
end_of_line = crlf
charset = utf-8
indent_style = space
indent_size = 4

[*.{json,yml,csproj,props,targets}]
indent_size = 2

[*.cs]
# Prefer "var" everywhere
csharp_style_var_for_built_in_types                        = true : suggestion
csharp_style_var_when_type_is_apparent                     = true : suggestion
csharp_style_var_elsewhere                                 = true : suggestion

# Newline settings
csharp_new_line_before_open_brace                          = all
csharp_new_line_before_else                                = true
csharp_new_line_before_catch                               = true
csharp_new_line_before_finally                             = true
csharp_new_line_before_members_in_object_initializers      = true
csharp_new_line_before_members_in_anonymous_types          = true

dotnet_diagnostic.IDE0290.severity                         = none
dotnet_diagnostic.IDE0305.severity                         = none

# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first                        = true

# Code-block preferences
csharp_prefer_braces = true
csharp_prefer_simple_using_statement                       = true
csharp_style_namespace_declarations                        = file_scoped:suggestion

# Range operator
csharp_style_prefer_range_operator                         = false:warning
csharp_style_prefer_index_operator                         = false:warning
dotnet_diagnostic.IDE0057.severity                         = warning
dotnet_diagnostic.IDE0056.severity                         = warning

# Avoid "this." if not necessary 
dotnet_style_qualification_for_field                       = false : suggestion
dotnet_style_qualification_for_property                    = false : suggestion
dotnet_style_qualification_for_method                      = false : suggestion
dotnet_style_qualification_for_event                       = false : suggestion

# Use language keywords instead of framework type names for type references
dotnet_style_predefined_type_for_locals_parameters_members = true : suggestion
dotnet_style_predefined_type_for_member_access             = true : suggestion

# Suggest more modern language features when available
csharp_style_pattern_matching_over_is_with_cast_check      = true : none
csharp_style_pattern_matching_over_as_with_null_check      = true : none
csharp_style_inlined_variable_declaration                  = true : none
csharp_style_throw_expression                              = true : none
csharp_style_conditional_delegate_call                     = true : none

dotnet_style_object_initializer                            = true : suggestion
dotnet_style_collection_initializer                        = true : suggestion
dotnet_style_coalesce_expression                           = true : suggestion
dotnet_style_null_propagation                              = true : suggestion
dotnet_style_explicit_tuple_names                          = true : suggestion

trim_trailing_whitespace = true
insert_final_newline = true

# Suggest to use "_" instead of "this." when creating new private fields.
dotnet_naming_style.camel_case_leading_underscore.capitalization = camel_case
dotnet_naming_style.camel_case_leading_underscore.required_prefix = _

# Define the 'private_fields' symbol group.
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

# Define the 'private_fields_should_be_camel_case_leading_underscore' naming rule.
dotnet_naming_rule.private_fields_should_be_camel_case_leading_underscore.severity = suggestion
dotnet_naming_rule.private_fields_should_be_camel_case_leading_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_should_be_camel_case_leading_underscore.style = camel_case_leading_underscore

# Define the 'private_const_fields' symbol group.
dotnet_naming_symbols.private_const_fields.applicable_kinds = field
dotnet_naming_symbols.private_const_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_const_fields.required_modifiers = const

# Define the 'private_const_fields_ignore_camel_case_leading_underscore' naming rule.
dotnet_naming_rule.private_const_fields_ignore_camel_case_leading_underscore.severity = none
dotnet_naming_rule.private_const_fields_ignore_camel_case_leading_underscore.symbols = private_const_fields
dotnet_naming_rule.private_const_fields_ignore_camel_case_leading_underscore.style = camel_case_leading_underscore

# ANALYZER RULES
[*.cs]

# DotNetAnalyzers.DocumentationAnalyzers rules
dotnet_diagnostic.DOC100.severity = warning
dotnet_diagnostic.DOC101.severity = warning
dotnet_diagnostic.DOC102.severity = warning
dotnet_diagnostic.DOC103.severity = warning
dotnet_diagnostic.DOC104.severity = warning
dotnet_diagnostic.DOC105.severity = warning
dotnet_diagnostic.DOC106.severity = warning
dotnet_diagnostic.DOC107.severity = warning
dotnet_diagnostic.DOC108.severity = warning
dotnet_diagnostic.DOC200.severity = warning
dotnet_diagnostic.DOC201.severity = warning
dotnet_diagnostic.DOC202.severity = warning
dotnet_diagnostic.DOC203.severity = warning
dotnet_diagnostic.DOC204.severity = warning

# Microsoft.CodeAnalysis.CSharp rules
dotnet_diagnostic.CS1573.severity = none
# We don't want to decorate every public member with XML comments, only public APIs - so turn CS1591 off.
# CS1591 Missing XML Comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# Microsoft.CodeAnalysis.NetAnalyzers rules
dotnet_diagnostic.CA1000.severity = warning
dotnet_diagnostic.CA1001.severity = warning
dotnet_diagnostic.CA1002.severity = silent
dotnet_diagnostic.CA1008.severity = warning
dotnet_diagnostic.CA1010.severity = warning
dotnet_diagnostic.CA1012.severity = warning
dotnet_diagnostic.CA1014.severity = none
dotnet_diagnostic.CA1016.severity = warning
dotnet_diagnostic.CA1018.severity = warning
dotnet_diagnostic.CA1019.severity = silent
dotnet_diagnostic.CA1024.severity = warning
dotnet_diagnostic.CA1027.severity = warning
dotnet_diagnostic.CA1028.severity = warning
dotnet_diagnostic.CA1030.severity = warning
# Disabling "catch a more specific exception type" suggestion which is overwhelmingly a false positive.
dotnet_diagnostic.CA1031.severity = silent
dotnet_diagnostic.CA1032.severity = warning
dotnet_diagnostic.CA1033.severity = warning
# Disabling "do not nest type" suggestion.
dotnet_diagnostic.CA1034.severity = silent
dotnet_diagnostic.CA1036.severity = warning
dotnet_diagnostic.CA1041.severity = warning
dotnet_diagnostic.CA1043.severity = silent
dotnet_diagnostic.CA1044.severity = warning
dotnet_diagnostic.CA1050.severity = warning
dotnet_diagnostic.CA1051.severity = silent
dotnet_diagnostic.CA1052.severity = warning
dotnet_diagnostic.CA1054.severity = silent
dotnet_diagnostic.CA1055.severity = warning
dotnet_diagnostic.CA1056.severity = silent
dotnet_diagnostic.CA1058.severity = warning
dotnet_diagnostic.CA1061.severity = warning
dotnet_diagnostic.CA1062.severity = silent
dotnet_diagnostic.CA1063.severity = warning
dotnet_diagnostic.CA1064.severity = warning
dotnet_diagnostic.CA1065.severity = warning
dotnet_diagnostic.CA1066.severity = warning
dotnet_diagnostic.CA1067.severity = warning
dotnet_diagnostic.CA1068.severity = warning
dotnet_diagnostic.CA1069.severity = warning
dotnet_diagnostic.CA1070.severity = warning
dotnet_diagnostic.CA1200.severity = warning
dotnet_diagnostic.CA1304.severity = warning
dotnet_diagnostic.CA1305.severity = warning
dotnet_diagnostic.CA1307.severity = silent
dotnet_diagnostic.CA1308.severity = warning
dotnet_diagnostic.CA1309.severity = warning
dotnet_diagnostic.CA1310.severity = warning
dotnet_diagnostic.CA1401.severity = warning
dotnet_diagnostic.CA1507.severity = warning
dotnet_diagnostic.CA1508.severity = silent
dotnet_diagnostic.CA1710.severity = silent
dotnet_diagnostic.CA1711.severity = silent
dotnet_diagnostic.CA1712.severity = warning
dotnet_diagnostic.CA1713.severity = warning
dotnet_diagnostic.CA1715.severity = warning
dotnet_diagnostic.CA1716.severity = silent
dotnet_diagnostic.CA1720.severity = warning
dotnet_diagnostic.CA1721.severity = warning
dotnet_diagnostic.CA1724.severity = silent
dotnet_diagnostic.CA1801.severity = warning
dotnet_diagnostic.CA1802.severity = warning
dotnet_diagnostic.CA1805.severity = warning
dotnet_diagnostic.CA1806.severity = warning
# Disabling "CA1810: Initialize reference type static fields inline" as RSPEC-3963 is used instead.
dotnet_diagnostic.CA1810.severity = none
dotnet_diagnostic.CA1812.severity = silent
dotnet_diagnostic.CA1813.severity = warning
dotnet_diagnostic.CA1814.severity = warning
dotnet_diagnostic.CA1815.severity = warning
dotnet_diagnostic.CA1816.severity = warning
dotnet_diagnostic.CA1820.severity = warning
dotnet_diagnostic.CA1821.severity = warning
dotnet_diagnostic.CA1822.severity = warning
dotnet_diagnostic.CA1823.severity = warning
dotnet_diagnostic.CA1824.severity = warning
dotnet_diagnostic.CA1825.severity = warning
dotnet_diagnostic.CA1826.severity = none
dotnet_diagnostic.CA1827.severity = none
dotnet_diagnostic.CA1828.severity = warning
dotnet_diagnostic.CA1829.severity = warning
dotnet_diagnostic.CA1830.severity = warning
dotnet_diagnostic.CA1832.severity = warning
dotnet_diagnostic.CA1833.severity = warning
dotnet_diagnostic.CA1834.severity = warning
dotnet_diagnostic.CA1835.severity = warning
dotnet_diagnostic.CA1836.severity = warning
dotnet_diagnostic.CA1837.severity = warning
dotnet_diagnostic.CA1838.severity = warning
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1851.severity = warning
dotnet_diagnostic.CA2000.severity = warning
dotnet_diagnostic.CA2002.severity = warning
dotnet_diagnostic.CA2007.severity = silent
dotnet_diagnostic.CA2008.severity = warning
dotnet_diagnostic.CA2009.severity = warning
dotnet_diagnostic.CA2011.severity = warning
dotnet_diagnostic.CA2012.severity = warning
dotnet_diagnostic.CA2016.severity = none
dotnet_diagnostic.CA2100.severity = warning
dotnet_diagnostic.CA2101.severity = warning
dotnet_diagnostic.CA2119.severity = warning
dotnet_diagnostic.CA2153.severity = warning
dotnet_diagnostic.CA2201.severity = warning
dotnet_diagnostic.CA2207.severity = warning
dotnet_diagnostic.CA2208.severity = warning
dotnet_diagnostic.CA2211.severity = warning
dotnet_diagnostic.CA2213.severity = warning
dotnet_diagnostic.CA2214.severity = warning
dotnet_diagnostic.CA2215.severity = warning
dotnet_diagnostic.CA2216.severity = warning
dotnet_diagnostic.CA2217.severity = warning
dotnet_diagnostic.CA2219.severity = warning
dotnet_diagnostic.CA2225.severity = silent
dotnet_diagnostic.CA2226.severity = warning
dotnet_diagnostic.CA2227.severity = warning
dotnet_diagnostic.CA2229.severity = warning
dotnet_diagnostic.CA2231.severity = warning
dotnet_diagnostic.CA2234.severity = silent
dotnet_diagnostic.CA2235.severity = warning
dotnet_diagnostic.CA2237.severity = warning
dotnet_diagnostic.CA2241.severity = warning
dotnet_diagnostic.CA2242.severity = warning
dotnet_diagnostic.CA2243.severity = warning
dotnet_diagnostic.CA2244.severity = warning
dotnet_diagnostic.CA2245.severity = warning
dotnet_diagnostic.CA2246.severity = warning
dotnet_diagnostic.CA2248.severity = warning
dotnet_diagnostic.CA2249.severity = warning
dotnet_diagnostic.CA2300.severity = warning
dotnet_diagnostic.CA2301.severity = warning
dotnet_diagnostic.CA2302.severity = warning
dotnet_diagnostic.CA2305.severity = warning
dotnet_diagnostic.CA2310.severity = warning
dotnet_diagnostic.CA2311.severity = warning
dotnet_diagnostic.CA2312.severity = warning
dotnet_diagnostic.CA2315.severity = warning
dotnet_diagnostic.CA2321.severity = warning
dotnet_diagnostic.CA2322.severity = warning
dotnet_diagnostic.CA2326.severity = warning
dotnet_diagnostic.CA2327.severity = warning
dotnet_diagnostic.CA2328.severity = warning
dotnet_diagnostic.CA2329.severity = warning
dotnet_diagnostic.CA2330.severity = warning
dotnet_diagnostic.CA2350.severity = warning
dotnet_diagnostic.CA2351.severity = warning
dotnet_diagnostic.CA2352.severity = warning
dotnet_diagnostic.CA2353.severity = warning
dotnet_diagnostic.CA2354.severity = warning
dotnet_diagnostic.CA2355.severity = warning
dotnet_diagnostic.CA2356.severity = warning
dotnet_diagnostic.CA2361.severity = warning
dotnet_diagnostic.CA2362.severity = warning
dotnet_diagnostic.CA3001.severity = warning
dotnet_diagnostic.CA3002.severity = warning
dotnet_diagnostic.CA3003.severity = warning
dotnet_diagnostic.CA3004.severity = warning
dotnet_diagnostic.CA3005.severity = warning
dotnet_diagnostic.CA3006.severity = warning
dotnet_diagnostic.CA3007.severity = warning
dotnet_diagnostic.CA3008.severity = warning
dotnet_diagnostic.CA3009.severity = warning
dotnet_diagnostic.CA3010.severity = warning
dotnet_diagnostic.CA3011.severity = warning
dotnet_diagnostic.CA3012.severity = warning
dotnet_diagnostic.CA3061.severity = warning
dotnet_diagnostic.CA3075.severity = warning
dotnet_diagnostic.CA3076.severity = warning
dotnet_diagnostic.CA3077.severity = warning
dotnet_diagnostic.CA3147.severity = warning
dotnet_diagnostic.CA5350.severity = warning
dotnet_diagnostic.CA5351.severity = warning
dotnet_diagnostic.CA5358.severity = warning
dotnet_diagnostic.CA5359.severity = warning
dotnet_diagnostic.CA5360.severity = warning
dotnet_diagnostic.CA5361.severity = warning
dotnet_diagnostic.CA5362.severity = warning
dotnet_diagnostic.CA5363.severity = warning
dotnet_diagnostic.CA5364.severity = warning
dotnet_diagnostic.CA5365.severity = warning
dotnet_diagnostic.CA5366.severity = warning
dotnet_diagnostic.CA5367.severity = warning
dotnet_diagnostic.CA5368.severity = warning
dotnet_diagnostic.CA5369.severity = warning
dotnet_diagnostic.CA5370.severity = warning
dotnet_diagnostic.CA5371.severity = warning
dotnet_diagnostic.CA5372.severity = warning
dotnet_diagnostic.CA5373.severity = warning
dotnet_diagnostic.CA5374.severity = warning
dotnet_diagnostic.CA5375.severity = warning
dotnet_diagnostic.CA5376.severity = warning
dotnet_diagnostic.CA5377.severity = warning
dotnet_diagnostic.CA5378.severity = warning
dotnet_diagnostic.CA5379.severity = warning
dotnet_diagnostic.CA5380.severity = warning
dotnet_diagnostic.CA5381.severity = warning
dotnet_diagnostic.CA5382.severity = warning
dotnet_diagnostic.CA5383.severity = warning
dotnet_diagnostic.CA5384.severity = warning
dotnet_diagnostic.CA5385.severity = warning
dotnet_diagnostic.CA5386.severity = warning
dotnet_diagnostic.CA5387.severity = warning
dotnet_diagnostic.CA5388.severity = warning
dotnet_diagnostic.CA5389.severity = warning
dotnet_diagnostic.CA5390.severity = warning
dotnet_diagnostic.CA5391.severity = silent
dotnet_diagnostic.CA5392.severity = warning
dotnet_diagnostic.CA5393.severity = warning
dotnet_diagnostic.CA5394.severity = warning
dotnet_diagnostic.CA5395.severity = silent
dotnet_diagnostic.CA5396.severity = warning
dotnet_diagnostic.CA5397.severity = warning
dotnet_diagnostic.CA5398.severity = warning
dotnet_diagnostic.CA5399.severity = warning
dotnet_diagnostic.CA5400.severity = warning
dotnet_diagnostic.CA5401.severity = warning
dotnet_diagnostic.CA5402.severity = warning
dotnet_diagnostic.CA5403.severity = warning

# Microsoft.VisualStudio.Threading.Analyzers rules
dotnet_diagnostic.VSTHRD002.severity = none
dotnet_diagnostic.VSTHRD102.severity = warning
dotnet_diagnostic.VSTHRD104.severity = warning
dotnet_diagnostic.VSTHRD109.severity = warning
dotnet_diagnostic.VSTHRD111.severity = none
dotnet_diagnostic.VSTHRD112.severity = warning
dotnet_diagnostic.VSTHRD113.severity = warning
dotnet_diagnostic.VSTHRD200.severity = none

# Meziantou.Analyzer rules
dotnet_diagnostic.MA0001.severity = none
dotnet_diagnostic.MA0002.severity = none
dotnet_diagnostic.MA0003.severity = warning
dotnet_diagnostic.MA0004.severity = none
dotnet_diagnostic.MA0005.severity = none
dotnet_diagnostic.MA0006.severity = none
dotnet_diagnostic.MA0007.severity = none
dotnet_diagnostic.MA0011.severity = none
dotnet_diagnostic.MA0012.severity = none
dotnet_diagnostic.MA0013.severity = none
dotnet_diagnostic.MA0015.severity = none
dotnet_diagnostic.MA0018.severity = none
dotnet_diagnostic.MA0020.severity = none
dotnet_diagnostic.MA0027.severity = none
dotnet_diagnostic.MA0028.severity = none
dotnet_diagnostic.MA0029.severity = none
dotnet_diagnostic.MA0031.severity = none
dotnet_diagnostic.MA0036.severity = none
dotnet_diagnostic.MA0037.severity = none
dotnet_diagnostic.MA0038.severity = none
dotnet_diagnostic.MA0039.severity = none
dotnet_diagnostic.MA0040.severity = warning
dotnet_diagnostic.MA0041.severity = none
dotnet_diagnostic.MA0042.severity = none
dotnet_diagnostic.MA0043.severity = none
dotnet_diagnostic.MA0044.severity = none
dotnet_diagnostic.MA0047.severity = none
dotnet_diagnostic.MA0048.severity = none
dotnet_diagnostic.MA0049.severity = none
dotnet_diagnostic.MA0050.severity = warning
dotnet_diagnostic.MA0051.severity = none
dotnet_diagnostic.MA0052.severity = none
dotnet_diagnostic.MA0053.severity = none
dotnet_diagnostic.MA0056.severity = none
dotnet_diagnostic.MA0057.severity = none
dotnet_diagnostic.MA0058.severity = none
dotnet_diagnostic.MA0059.severity = none
dotnet_diagnostic.MA0062.severity = none
dotnet_diagnostic.MA0063.severity = warning
dotnet_diagnostic.MA0065.severity = none
dotnet_diagnostic.MA0066.severity = none
dotnet_diagnostic.MA0067.severity = warning
dotnet_diagnostic.MA0069.severity = none
dotnet_diagnostic.MA0071.severity = warning
dotnet_diagnostic.MA0072.severity = none
dotnet_diagnostic.MA0073.severity = none
dotnet_diagnostic.MA0074.severity = none
dotnet_diagnostic.MA0075.severity = warning
dotnet_diagnostic.MA0076.severity = warning
dotnet_diagnostic.MA0078.severity = warning
dotnet_diagnostic.MA0079.severity = warning
dotnet_diagnostic.MA0082.severity = none
dotnet_diagnostic.MA0086.severity = none
dotnet_diagnostic.MA0089.severity = warning
dotnet_diagnostic.MA0090.severity = none
dotnet_diagnostic.MA0095.severity = none
dotnet_diagnostic.MA0097.severity = none
dotnet_diagnostic.MA0098.severity = none
dotnet_diagnostic.MA0101.severity = none
dotnet_diagnostic.MA0102.severity = none
dotnet_diagnostic.MA0105.severity = warning
dotnet_diagnostic.MA0106.severity = none
dotnet_diagnostic.MA0110.severity = warning
dotnet_diagnostic.MA0111.severity = none
dotnet_diagnostic.MA0120.severity = warning
dotnet_diagnostic.MA0121.severity = warning
dotnet_diagnostic.MA0122.severity = warning

# SonarAnalyzer.CSharp rules
dotnet_diagnostic.S100.severity = warning
dotnet_diagnostic.S103.severity = warning
dotnet_diagnostic.S104.severity = warning
dotnet_diagnostic.S105.severity = warning
dotnet_diagnostic.S106.severity = warning
dotnet_diagnostic.S107.severity = warning
dotnet_diagnostic.S1075.severity = none
dotnet_diagnostic.S1109.severity = warning
# Covered by SA1518.
dotnet_diagnostic.S113.severity = none
dotnet_diagnostic.S1133.severity = none
dotnet_diagnostic.S1144.severity = warning
dotnet_diagnostic.S1145.severity = warning
dotnet_diagnostic.S1147.severity = warning
dotnet_diagnostic.S1151.severity = warning
dotnet_diagnostic.S1192.severity = warning
dotnet_diagnostic.S1226.severity = warning
dotnet_diagnostic.S1227.severity = warning
dotnet_diagnostic.S1244.severity = warning
dotnet_diagnostic.S127.severity = warning
dotnet_diagnostic.S1301.severity = warning
dotnet_diagnostic.S131.severity = warning
dotnet_diagnostic.S134.severity = warning
dotnet_diagnostic.S1696.severity = warning
dotnet_diagnostic.S1698.severity = warning
dotnet_diagnostic.S1858.severity = warning
dotnet_diagnostic.S2094.severity = none
dotnet_diagnostic.S2148.severity = warning
dotnet_diagnostic.S2197.severity = warning
dotnet_diagnostic.S2278.severity = warning
dotnet_diagnostic.S2302.severity = warning
dotnet_diagnostic.S2330.severity = warning
dotnet_diagnostic.S2333.severity = warning
dotnet_diagnostic.S2342.severity = warning
# Covered by CA1711.
dotnet_diagnostic.S2344.severity = none
dotnet_diagnostic.S2357.severity = warning
dotnet_diagnostic.S2387.severity = warning
dotnet_diagnostic.S2437.severity = warning
dotnet_diagnostic.S2699.severity = none
dotnet_diagnostic.S2701.severity = warning
dotnet_diagnostic.S2760.severity = warning
dotnet_diagnostic.S2952.severity = warning
dotnet_diagnostic.S2955.severity = warning
dotnet_diagnostic.S3052.severity = warning
dotnet_diagnostic.S3215.severity = warning
dotnet_diagnostic.S3234.severity = warning
dotnet_diagnostic.S3235.severity = warning
dotnet_diagnostic.S3240.severity = warning
dotnet_diagnostic.S3253.severity = warning
dotnet_diagnostic.S3254.severity = warning
dotnet_diagnostic.S3257.severity = warning
dotnet_diagnostic.S3353.severity = warning
dotnet_diagnostic.S3366.severity = warning
dotnet_diagnostic.S3376.severity = none
dotnet_diagnostic.S3441.severity = warning
dotnet_diagnostic.S3458.severity = none
dotnet_diagnostic.S3532.severity = warning
dotnet_diagnostic.S3604.severity = warning
dotnet_diagnostic.S3626.severity = none
dotnet_diagnostic.S3693.severity = warning
dotnet_diagnostic.S3717.severity = warning
dotnet_diagnostic.S3776.severity = warning
dotnet_diagnostic.S3872.severity = warning
dotnet_diagnostic.S3880.severity = warning
dotnet_diagnostic.S3898.severity = warning
dotnet_diagnostic.S3902.severity = warning
dotnet_diagnostic.S3903.severity = none
dotnet_diagnostic.S3906.severity = warning
dotnet_diagnostic.S3908.severity = warning
dotnet_diagnostic.S3937.severity = warning
dotnet_diagnostic.S3949.severity = warning
dotnet_diagnostic.S3962.severity = warning
dotnet_diagnostic.S3963.severity = none
dotnet_diagnostic.S4002.severity = warning
dotnet_diagnostic.S4025.severity = warning
dotnet_diagnostic.S4041.severity = warning
dotnet_diagnostic.S4047.severity = warning
dotnet_diagnostic.S4052.severity = warning
dotnet_diagnostic.S4212.severity = warning
dotnet_diagnostic.S4225.severity = warning
dotnet_diagnostic.S4226.severity = warning
dotnet_diagnostic.S4261.severity = warning
dotnet_diagnostic.S4432.severity = warning
dotnet_diagnostic.S4487.severity = warning
dotnet_diagnostic.S4564.severity = warning
dotnet_diagnostic.S881.severity = warning

# StyleCop.Analyzers rules
dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA1009.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1111.severity = none
dotnet_diagnostic.SA1118.severity = none
dotnet_diagnostic.SA1124.severity = none
dotnet_diagnostic.SA1133.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1204.severity = none
dotnet_diagnostic.SA1208.severity = none
dotnet_diagnostic.SA1306.severity = none
dotnet_diagnostic.SA1309.severity = none
dotnet_diagnostic.SA1401.severity = none
dotnet_diagnostic.SA1402.severity = none
dotnet_diagnostic.SA1501.severity = none
dotnet_diagnostic.SA1502.severity = none
dotnet_diagnostic.SA1503.severity = none
dotnet_diagnostic.SA1512.severity = none
dotnet_diagnostic.SA1515.severity = none
dotnet_diagnostic.SA1516.severity = none
dotnet_diagnostic.SA1519.severity = none
dotnet_diagnostic.SA1601.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.SA1611.severity = none
dotnet_diagnostic.SA1612.severity = none
dotnet_diagnostic.SA1615.severity = none
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1649.severity = none
dotnet_diagnostic.SX1101.severity = warning
dotnet_diagnostic.SX1309S.severity = warning
