* text=auto
*.map text eol=lf
**/wwwroot/Scripts/* linguist-vendored
# Force LF line endings for all built/vendored files under wwwroot
**/wwwroot/**/*.js text eol=lf
**/wwwroot/**/*.css text eol=lf
**/wwwroot/**/*.json text eol=lf
**/wwwroot/**/*.ts text eol=lf
**/wwwroot/**/*.svg text eol=lf
