version: '3.3'
services:
    web:
        build: 
            context: .
            dockerfile: Dockerfile-compose
        ports:
            - "5009:80"
        depends_on:
            - mysql
    mysql:
        image: mysql:5.7
        restart: always
        environment:
            MYSQL_DATABASE: 'db'
            # So you don't have to use root, but you can if you like
            MYSQL_USER: 'user'
            # You can use whatever password you like
            MYSQL_PASSWORD: 'password'
            # Password for root access
            MYSQL_ROOT_PASSWORD: 'password'
        ports:
            # <Port exposed> : < MySQL Port running inside container>
            - '3306:3306'
        expose:
            # Opens port 3306 on the container
            - '3306'
            # Where our data will be persisted
        volumes:
            - mysql:/var/lib/mysql
# Names our volume
volumes:
  mysql: