<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <!-- 
        This feed is intended for development purposes only and should not be used when publishing to NuGet. 
        It is meant to be utilized exclusively in the dev branch while certain dependencies are unavailable on NuGet.org.
        
        As multiple sources are being used, be sure to uncomment the 'packageSourceMapping' section below.
        -->
        <!-- add key="OrchardCore" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" /-->
    </packageSources>

    <!--
        <packageSourceMapping>
            <packageSource key="OrchardCore">
                <package pattern="OrchardCore.*" />
            </packageSource>
            <packageSource key="NuGet">
                <package pattern="*" />
            </packageSource>
        </packageSourceMapping>
    -->

    <disabledPackageSources />
</configuration>
