<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- only use the feeds below -->
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Orchard2" value="https://www.myget.org/F/orchard2/api/v3/index.json" />
    <add key="icunet" value="https://www.myget.org/F/icu-dotnet/api/v3/index.json" />
    <add key="irony" value="https://www.myget.org/F/daxnet-utils/api/v3/index.json" />
    <add key="aspnet-contrib" value="https://www.myget.org/F/aspnet-contrib/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources />
</configuration>
