<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ASP.NET vNext" value="https://www.myget.org/F/aspnetvnext/" />
    <add key="Roslyn" value="https://www.myget.org/F/roslyn-nightly/" />
    <add key=".NET CoreFX" value="https://www.myget.org/F/dotnet-corefx/" />
    <add key="xUnit" value="https://www.myget.org/F/xunit/" />
    <add key="NuGet" value="https://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>
