@model dynamic
    
<fieldset class="form-group">
    <label id="name">@T["Text"]</label>
    <input type="text" value="@Model.Text" name="Text" class="form-control" />
    <span class="hint">@T["The text of the field."]</span>
</fieldset>