@using OrchardCore.Queries.Deployment
@using OrchardCore.DisplayManagement.Views
@model ShapeViewModel<QueryBasedContentDeploymentStep>

<h4 class="card-title">@T["Queried Content Items"]</h4>
<p>@T["Exports all content items fetched by a Query."]</p>
