{% assign name = Model.PartFieldDefinition.PartDefinition.Name | append: '-' | append: Model.PartFieldDefinition.Name | html_class %}

<div class="d-inline term-badge field field-type-taxonomyfield field-name-{{ name }}">
    {% assign tagTerms = Model.Field | taxonomy_terms %}
    {% for tagTerm in tagTerms %}
        {% a display_for: tagTerm %}
            <span class="badge bg-secondary">
                <i class="fas fa-tag fa-xs fa-rotate-90 align-middle" aria-hidden="true"></i>
                <span class="align-middle"> {{ tagTerm }} </span> 
            </span>
        {% enda %}
    {% endfor %}
</div>
