<zone name="Header">
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('@OrDefault(Model.ContentItem.Content[Model.ContentItem.ContentType].HeaderImageUrl?.Text, "https://raw.githubusercontent.com/BlackrockDigital/startbootstrap-clean-blog/master/img/post-bg.jpg")')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>@Model.ContentItem.Content.TitlePart.Title</h1>
                        <hr class="small">
                        <span class="subheading">@Model.ContentItem.Content[Model.ContentItem.ContentType]?.Subtitle?.Text</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</zone>
@await DisplayAsync(Model.Content.Named("Contents_Metadata"))
@await DisplayAsync(New.BodyAspect(ContentItem: Model.ContentItem))
