{% zone "Header" %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="masthead" style="background-image: url('{{ "~/TheBlogTheme/img/home-bg.jpg" | href }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{ Model.ContentItem.Content.TitlePart.Title }}</h1>
                    <span class="subheading">{{ Model.Content.BodyPart | shape_render }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endzone %}

{% shape_remove_item Model.Content "BodyPart" %}


{% cache "a" %}
{% cache "a1", tags: "a1", contexts: "user", sliding_duration: "1:0:5" %}
A1
{% endcache %}
{% cache "a2", tags: "a2", contexts: "user", sliding_duration: "1:0:5" %}
A2
{% endcache %}
{% endcache %}

{% cache "blog" %}
{{ Model.Content | shape_render }}
{% endcache %}

{% cache "nochildren" %}
This cache block should have no contexts or tags
{% endcache %}