{% zone "Header" %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ "~/TheBlogTheme/img/about-bg.jpg" | href }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>{{ Model.ContentItem.Content.TitlePart.Title }}</h1>
                    <hr class="small">
                </div>
            </div>
        </div>
    </div>
    </header>
{% endzone %}

{% shape_display Model.Content.ContentsMetadata %}
{% shape_display Model.Content.BodyPart %}
