@{
    string mediaPath = Model.Fallback;
    if (Model.Image.Paths == null && Model.Image.Paths.Length > 0)
    {
        mediaPath = @Orchard.AssetUrl((string)Model.Image.Paths?[0]?.ToString());
    }
}

<zone name="Header">
    <header class="masthead" style="background-image: url('@mediaPath')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>
                            @if (Model.Title != null)
                            {
                                @Html.Raw(Model.Title) @* required raw so we can pass attributes *@
                            }
                        </h1>
                        @if (Model.Subheading != null)
                        {
                            @await DisplayAsync(Model.Subheading)
                        }
                        @if (Model.Meta != null)
                        {
                            @await DisplayAsync(Model.Meta)
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>
</zone>
