<span class="meta">
    @T["Posted by"] <a href="#">@Model.ContentItem.Owner</a> on <shape type="DateTime" prop-utc="Model.ContentItem.CreatedUtc" prop-format="@(T["MMMM dd, yyyy"].Value)"></shape>
</span>