@inject Orchard.Settings.ISiteService SiteService
@{
    var site = await SiteService.GetSiteSettingsAsync();
}
<!DOCTYPE html>
<html>
<head>
    <title>@RenderTitleSegments(T[site.SiteName], "before")</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="image/x-icon" rel="shortcut icon" href="TheBlogTheme/favicon.ico" />

    <script asp-name="bootstrap" use-cdn="true" at="Foot"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script asp-src="/TheBlogTheme/Scripts/clean-blog.min.js" debug-src="/TheBlogTheme/Scripts/clean-blog.js" at="Foot"></script>

    <link rel="stylesheet" href="/TheBlogTheme/Styles/blog.min.css">

    <!-- Custom Fonts -->
    <style asp-name="font-awesome" use-cdn="true"></style>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <resources type="Meta" />
    <resources type="HeadLink" />
    <resources type="Stylesheet" />
    <resources type="HeadScript" />
</head>
<body>
    <nav class="navbar navbar-default  navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">@T["Toggle navigation"]</span>
                    @T["Menu"] <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="~/">@site.SiteName</a>
            </div>

            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">

                @*@await DisplayAsync(New.Menu(ContentItemId: "main-menu"))*@
                <menu alias="alias:main-menu" cache-id="main-menu" cache-duration="00:05:00" cache-tag="alias:main-menu" />

            </div><!--/.nav-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @await RenderSectionAsync("Header", required: false)

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                @await RenderBodyAsync()
            </div>
        </div>
    </div><!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                @await RenderSectionAsync("Footer", required: false)
            </div>
        </div>
    </footer>

    <resources type="FootScript" />
</body>
</html>