{% ClearAlternates Model %}
{% SetMetadata Model type: "MenuItemLink" %}

<li {% if Model.HasItems == true %}class="dropdown"{% endif %}>
    {% Display Model %}
    {% if Model.HasItems == true %}
        <ul class="dropdown-menu">
            {% for item in Model.Items %}
                {% Display item %}
            {% endfor %}
        </ul>
    {% endif %}
</li>