<li {% if Model.HasItems %}class="dropdown"{% endif %}>
    {% clear_alternates Model %}
    {% shape_type Model "MenuItemLink" %}
    {% display Model %}
    {% if Model.HasItems %}
        <ul class="dropdown-menu">
            {% for item in Model.Items %}
                {% display item %}
            {% endfor %}
        </ul>
    {% endif %}
</li>