<form action="{{ "~/search" | href }}" method="get">
    <div class="input-group mb-3 mt-5">
        <input name="Terms" type="text" class="form-control form-control-lg" value="{{ Model.Terms }}" placeholder="{{ "Enter your search term(s)" | t }}" autofocus />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary btn-sm">{{ "Search" | t }}</button>
        </div>
    </div>
</form>
