<div class="post-preview">
    {% a display_for:Model.TermContentItem %}
        <h1>
            <span class="align-middle">{{ Model.TermContentItem.DisplayText }}</span>
        </h1>
    {% enda %}
</div>