.bg-theme {
    background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity, 1)) !important;
}

.text-theme {
    color: var(--bs-body-color) !important;
}

.text-bg-theme {
    color: var(--bs-body-color) !important;
    background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity, 1)) !important;
}

.btn-theme {
    color: var(--bs-white);
    background-color: var(--bs-gray-900);
    border-color: var(--bs-gray-900);
}

.btn-theme:hover {
    color: var(--bs-white);
    background-color: #1c1f23;
    border-color: #1a1e21;
}

.btn-check:focus + .btn-theme, .btn-theme:focus {
    color: var(--bs-white);
    background-color: #1c1f23;
    border-color: #1a1e21;
    box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}

.btn-check:checked + .btn-theme, .btn-check:active + .btn-theme, .btn-theme:active, .btn-theme.active, .show > .btn-theme.dropdown-toggle {
    color: var(--bs-white);
    background-color: #1a1e21;
    border-color: #191c1f;
}

.btn-check:checked + .btn-theme:focus, .btn-check:active + .btn-theme:focus, .btn-theme:active:focus, .btn-theme.active:focus, .show > .btn-theme.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}

.btn-theme:disabled, .btn-theme.disabled {
    color: var(--bs-white);
    background-color: var(--bs-gray-900);
    border-color: var(--bs-gray-900);
}
