<zone Name="Title"><h1>@RenderTitleSegments(T["Edit Azure AI Search Index"])</h1></zone>

<div asp-validation-summary="ModelOnly"></div>

<form asp-action="Edit" method="post" asp-route-id="@ViewContext.HttpContext.Request.RouteValues["id"]">
    @if (Model.Content is not null)
    {
        @await DisplayAsync(Model.Content)
    }

    <div class="mb-3">
        <button class="btn btn-primary save" type="submit">@T["Save"]</button>
        <a class="btn btn-secondary cancel" role="button" asp-route-action="Index">@T["Cancel"]</a>
    </div>
</form>
