.action-bar {
    top: 3.3rem;
    z-index: var(--oc-action-bar-zindex);
}

.second-action-bar {
    z-index: var(--oc-second-action-bar-zindex);
}

.action-bar-mobile {
    position: fixed;
    left: var(--oc-start-navigation-width);
    right: 0;
    bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: var(--oc-action-bar-zindex);

    .card {
        border-radius: 0 !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: none !important;
        margin-left: calc(var(--bs-border-width) * -1);
        margin-right: calc(var(--bs-border-width) * -1);
    }
}

.action-bar-mobile .btn {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
}

@include media-breakpoint-down(md) {
    .action-bar-mobile {
        left: var(--oc-start-navigation-width-when-compact, 48);
    }

    .action-bar-mobile-content {
        margin-bottom: 0.5rem;
        padding-bottom: var(--oc-action-bar-mobile-height);
    }
}
