.CodeMirror {
    height: auto;
    border: var(--bs-border-width, 1px) var(--bs-border-style, solid) var(--bs-border-color, #ccc);
}

.CodeMirror-fullscreen {
    background: var(--bs-body-bg, #fff);
    position: fixed !important;
    top: var(--oc-top-nav-height, 50px) !important;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    z-index: var(--bs-modal-zindex, 1150);
    border-right: none !important;
    border-bottom-right-radius: 0 !important;
}

.CodeMirror pre {
    padding-left: 7px;
    line-height: 1.25;
    margin-bottom: 0;
    overflow: unset;
}

.CodeMirror-activeline-background {
    background: transparent !important;
}

.CodeMirror-focused .CodeMirror-activeline-background {
    background: rgba(100, 100, 100, 0.1) !important;
}
