.with-checkbox .list-group-item {
    padding: 0.75rem 0.5rem;
}

.list-group .first-child-visible {
    border-top: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-top-left-radius: var(--bs-border-radius) !important;
    border-top-right-radius: var(--bs-border-radius) !important;
}

.list-group .last-child-visible {
    border-bottom: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-bottom-left-radius: var(--bs-border-radius) !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
}
