@model ModulesIndexViewModel

<h1>@RenderTitleSegments(T["Modules"])</h1>

@if (Model.Modules.Any())
{
    <div class="content-items">
        <ul class="content-items no-selection">
            @foreach (ModuleEntry module in Model.Modules.OrderBy(m => m.Descriptor.Name))
            {
                <li>
                    @Html.DisplayFor(m => module)
                </li>
            }
        </ul>
    </div>
}
else
{
    <p>@T["No modules available"]</p>
}