/* Flow uses common Widget CSS from Widget Module  - Define any additional Flow or Bag specific CSS here*/
.widget-editor-body > div > .edit-container {

    div.form-group {
        margin-bottom: 0px !important;
    }

    div.form-group:only-of-type > label {
        display: none;
    }

    div.form-group:only-of-type > .trumbowyg-box:not(.trumbowyg-fullscreen) {
        margin-top: -12px !important;
        width: calc(100% + 33px );
        margin-left: -17px !important;
        border-top: none;
        border-right: none;
    }

    div.form-group:only-of-type > .CodeMirror {
        margin-top: -12px !important;
        width: calc(100% + 33px );
        margin-left: -17px !important;
        border-top: none;
        border-right: none;
    }
}

.widget-editor.card:focus-within {
    border-color: #007bff;
    border-style: dotted;
}

.btn-widget-metadata {
    margin: 0 auto;
    left: 0;
    top: -6px;
    position: absolute;
    visibility: collapse;
    height: 1px;
    white-space: nowrap;
    text-align: center;
    transition: 0.3s visibility;

    > .btn-group {
        top: -20px;

        > .btn-group {
            > button {
                > span {
                    display: none;
                }
            }
        }
    }
}

.widget-editor-header {
    &.card-header {
        &:hover {
            > .btn-widget-metadata {
                visibility: visible;
            }
        }
    }
}
