
<zone Name="Title"><h1>@RenderTitleSegments(T["Disable two-factor authentication (2FA)"])</h1></zone>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@T["This action only disables 2FA."]</strong>
    </p>
    <p>
        @T["Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key used in an authenticator app you should <a href=\"{0}\">reset your authenticator keys.</a>", Url.Action("ResetAuthenticator")]
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@T["Disable Two Factor Authentication"]</button>
    </form>
</div>
