@model OrchardCore.Layers.ViewModels.WidgetWrapper
@using OrchardCore.Layers.Models

@{
    var layerMetadata = Model.Widget.As<LayerMetadata>();
}

<div class="widget-container">
    @if (layerMetadata.RenderTitle)
    {
    <div class="widget-container-title">
        <h2>@Model.Widget.DisplayText</h2>
    </div>
    }

    @await DisplayAsync(Model.Content)
</div>
