@model OrchardCore.Search.Elastic.Settings.ElasticContentIndexSettingsViewModel

<h4>Elastic Search</h4>

<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="ElasticContentIndexSettings.Included" checked="@Model.ElasticContentIndexSettings.Included" />
        <label class="custom-control-label" asp-for="ElasticContentIndexSettings.Included">@T["Include this element in the index"]</label>
        <span class="hint dashed">@T["Check to include the value of this element in the index."]</span>
    </div>
</div>

