@using OrchardCore.ContentManagement
@model SearchResultsViewModel
@inject IContentItemDisplayManager DisplayManager
@inject IContentManager ContentManager

@if (Model.ContentItems != null && Model.ContentItems.Any())
{
    <ul class="list-group">
        @foreach (var contentItem in Model.ContentItems)
        {
            var metadata = await ContentManager.PopulateAspectAsync<ContentItemMetadata>(contentItem);

            <li class="list-group-item">
                @if (Model.Highlights is not null && Model.Highlights.TryGetValue(contentItem.ContentItemId, out var highlights))
                {
                    <h2><a href="@Url.Action(null, metadata.DisplayRouteValues)">@contentItem.DisplayText</a></h2>

                    @Html.Raw(string.Join(string.Empty, highlights.SelectMany(x => x.Value)))
                }
                else
                {
                    @await DisplayAsync(await DisplayManager.BuildDisplayAsync(contentItem, null, "Summary"))
                }
            </li>
        }
    </ul>
}
else
{
    <p class="alert alert-warning">@T["There are no such results."]</p>
}
