@using OrchardCore.ContentManagement
@using OrchardCore.ContentManagement.Utilities

@model SearchResultsViewModel

@inject IContentItemDisplayManager DisplayManager
@inject IContentManager ContentManager

@if (Model.ContentItems != null && Model.ContentItems.Any())
{
    <ul class="list-group">
        @foreach (var contentItem in Model.ContentItems)
        {
            var metadata = await ContentManager.PopulateAspectAsync<ContentItemMetadata>(contentItem);

            <li class="list-group-item">
                @if (Model.Highlights is not null && Model.Highlights.TryGetValue(contentItem.ContentItemId, out var highlights))
                {
                    <h2>
                        <a href="@Url.Action(null, metadata.DisplayRouteValues)">@contentItem.DisplayText</a>
                    </h2>

                    @foreach (var fragments in highlights.Values)
                    {
                        foreach (var fragment in fragments)
                        {
                            var preparedFragment = fragment;

                            for (int i = 0; i < Model.HighlightPreTags.Count; i++)
                            {
                                preparedFragment = preparedFragment.Replace(Model.HighlightPreTags[i], $"{{{{HIGHLIGHT_PRE_TAG_{i}}}}}");
                            }

                            for (int i = 0; i < Model.HighlightPostTags.Count; i++)
                            {
                                preparedFragment = preparedFragment.Replace(Model.HighlightPostTags[i], $"{{{{HIGHLIGHT_POST_TAG_{i}}}}}");
                            }

                            preparedFragment = Html.Encode(preparedFragment.RemoveTags());

                            for (int i = 0; i < Model.HighlightPreTags.Count; i++)
                            {
                                preparedFragment = preparedFragment.Replace($"{{{{HIGHLIGHT_PRE_TAG_{i}}}}}", Model.HighlightPreTags[i]);
                            }

                            for (int i = 0; i < Model.HighlightPostTags.Count; i++)
                            {
                                preparedFragment = preparedFragment.Replace($"{{{{HIGHLIGHT_POST_TAG_{i}}}}}", Model.HighlightPostTags[i]);
                            }

                            @Html.Raw(preparedFragment)
                        }
                    }
                }
                else
                {
                    @await DisplayAsync(await DisplayManager.BuildDisplayAsync(contentItem, null, "Summary"))
                }
            </li>
        }
    </ul>
}
else
{
    <p class="alert alert-warning">@T["There are no such results."]</p>
}
