<a class="dropdown-item" asp-action="Publish" asp-controller="Admin" asp-route-area="OrchardCore.Contents"
   asp-route-contentItemId="@Model.ContentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath"
   data-url-af="UnsafeUrl">@T["Publish Draft"]</a>
