@model TaxonomyPartViewModel
@inject OrchardCore.ContentManagement.Display.IContentItemDisplayManager ContentItemDisplayManager

<section class="taxonomy">
    @await DisplayAsync(await New.Term(Model))
</section>