@if (!Model.ContentItem.Published)
{
    <span class="badge badge-primary" title="@T["Draft Version - will appear at this position after publishing"]">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </span>
}
