@model dynamic
@{
    // Morphing the shape to keep Model untouched
    Model.Metadata.Alternates.Clear();
    Model.Metadata.Type = "TermContentItem";
}
<li>
    @await DisplayAsync(Model)
    @if ((bool)Model.HasItems)
    {
        <ul>
            @foreach (var item in Model.Items)
            {
                @await DisplayAsync(item)
            }
        </ul>
    }
</li>
