<script 
        asp-src="/OrchardCore.Apis.GraphQL/Scripts/bundle.js" 
        debug-src="/OrchardCore.Apis.GraphQL/Scripts/bundle.js" 
        at="Foot">
</script>

<style 
       asp-src="/OrchardCore.Apis.GraphQL/Styles/graphiql.min.css" 
       debug-src="/OrchardCore.Apis.GraphQL/Styles/graphiql.css">
</style>

<h1>GraphQL Schema</h1>

<div id="graphiql" style="height:800px;">Loading ...</div>