<script 
        asp-src="/OrchardCore.Apis.GraphQL/Scripts/bundle.js" 
        debug-src="/OrchardCore.Apis.GraphQL/Scripts/bundle.js" 
        at="Foot">
</script>

<style 
       asp-src="/OrchardCore.Apis.GraphQL/Styles/graphiql.min.css" 
       debug-src="/OrchardCore.Apis.GraphQL/Styles/graphiql.css">
</style>

<div id="graphiql">Loading ...</div>

@*<script type="text/javascript" at="Foot">
    import React from 'react';
    import ReactDOM from 'react-dom';
    import GraphiQL from 'graphiql';
    import axios from 'axios';

    function graphQLFetcher(graphQLParams) {
      return axios({
        method: 'POST',
        url: window.location.origin + '/api/graphql',
        data: graphQLParams
      }).then(resp => resp.data);
    }

    ReactDOM.render(<GraphiQL fetcher={graphQLFetcher}/>, document.getElementById('graphiql'));
</script>*@