@model EditDeploymentPlanStepViewModel

<h1>@RenderTitleSegments(T["Create Step"])</h1>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Create" method="post">
    @await DisplayAsync(Model.Editor)

    <input type="hidden" asp-for="DeploymentPlanId" />
    <input type="hidden" asp-for="DeploymentStepId" />
    <input type="hidden" asp-for="DeploymentStepType" />

    <div class="form-group">
        <button class="btn btn-primary" type="submit">@T["Create"]</button>
        <a class="btn btn-secondary" asp-route-action="Display" asp-route-controller="DeploymentPlan" asp-route-id="@Model.DeploymentPlanId">@T["Cancel"]</a>
    </div>
</form>
