@model EditDeploymentPlanStepViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Create Step"])</h1></zone>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Create" method="post" class="no-multisubmit">
    @await DisplayAsync(Model.Editor)

    <input type="hidden" asp-for="DeploymentPlanId" />
    <input type="hidden" asp-for="DeploymentStepId" />
    <input type="hidden" asp-for="DeploymentStepType" />

    <div class="form-group">
        <button class="btn btn-primary create" type="submit">@T["Create"]</button>
        <a class="btn btn-secondary cancel" role="button" asp-route-action="Display" asp-route-controller="DeploymentPlan" asp-route-id="@Model.DeploymentPlanId">@T["Cancel"]</a>
    </div>
</form>
