@using Orchard.ContentManagement
@using Orchard.ContentManagement.MetaData
@using Microsoft.AspNetCore.Mvc.Modules.Utilities

@inject IContentDefinitionManager ContentDefinitionManager

@{
    ContentItem contentItem = Model.ContentItem;
    var contentTypeDefinition = ContentDefinitionManager.GetTypeDefinition(contentItem.ContentType);
    var typeDisplayName = contentTypeDefinition?.DisplayName ?? contentItem.ContentType.CamelFriendly();
}

<h1>@RenderTitleSegments(T["New {0}", Html.Raw(typeDisplayName)])</h1>
<form asp-action="Create" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary()
    @await DisplayAsync(Model)
</form>