@model dynamic
@using OrchardCore.ContentManagement;

@{
    ContentItem contentItem = Model.ContentItem;
}

<titleZone><h1>@RenderTitleSegments(contentItem.DisplayText)</h1></titleZone>
@await DisplayAsync(Model)
