@model dynamic
@using OrchardCore.ContentManagement

@{
    ContentItem contentItem = Model.ContentItem;
}

<zone Name="Title"><h1>@RenderTitleSegments(contentItem.DisplayText)</h1></zone>
@await DisplayAsync(Model)
