@model Orchard.ContentFields.ViewModels.DisplayLinkFieldViewModel
@using Orchard.ContentManagement.Metadata.Models
@using Orchard.ContentFields.Settings;

@{
    var settings = Model.PartFieldDefinition.Settings.ToObject<LinkFieldSettings>();
    string name = settings.Label;
    string text = Model.Field.Text;
    switch (settings.LinkTextMode)
    {
        case LinkTextMode.Static:
            text = settings.StaticText;
            break;
        case LinkTextMode.Url:
            text = Model.Field.Value;
            break;
        case LinkTextMode.Optional:
            if (String.IsNullOrWhiteSpace(text))
            {
                text = Model.Field.Value;
            }
            break;
    }
}
<p class="link-field">
    <span class="name">@Model.PartFieldDefinition.DisplayName():</span>
    <span class="value"><a href="@Model.Field.Value" @if (!string.IsNullOrWhiteSpace(Model.Field.Target)) { <text> target="@Model.Field.Target" </text>  }>@text</a></span>
</p>