// Global variables to override Bootstrap variables.
// Because !default means that a variable is not assigned if it already contains a value,
// we alter the variable before importing boostrap as _variables.scss will use !default

$zindex-sticky: 1020;
$zindex-modal: 1155; /* modal's z-index should be heigher than the z-index for the top-navbar (i.e, $zindex-sticky + 100) and the side menu (i.e, $zindex-sticky + 50) */
$zindex-popover: 1170 !default;
$zindex-tooltip: 1180 !default;
$zindex-toast: 1190 !default;
