// You can override any bootstrap or module variables here.

$top-nav-height: 52px;
$footer-height: 40px;
$left-navigation-width: 260px;
$left-navigation-width-when-compact: 48px;
$border-content: 1px solid rgb(57, 62, 64);
$link-padding-left: 16px !default;
$zindex-sticky: 1000;
$admin-menu-bg-color: rgb(36, 39, 40);
$admin-menu-font-color: rgb(181, 175, 166);
$admin-menu-font-color-hover: rgb(181, 175, 166);
$admin-menu-item-bg-color: rgb(27, 30, 31);
$admin-menu-item-font-color: rgb(189, 183, 175);
$admin-menu-item-font-color-active: rgba(232, 230, 227, 0.9);
$li-hover-bg-color: rgb(27, 30, 31);
$scrollbar-color: #495057;
