// Darkly 4.3.1
// Bootswatch

// Variables ===================================================================
@import "_admin-variables.scss";
@import "../../admin/_root.scss";
// Navbar ======================================================================
@import "../../admin/_navbar.scss";

.ta-navbar-top {
    @extend .navbar-dark !optional;
    color: $gray-300;

    a {
        color: $gray-300;
        text-decoration: none !important;
    }
}

.ta-badge {
    @extend .bg-dark;
    background-color: darken(#181a1b, 5%) !important;
}

.ta-navbar-brand {
    span:last-child {
        font-weight: bold;
        color: $gray-300;
    }
}

@import "../../admin/_list.scss";
@import "../../admin/_sidebar-menu.scss";
// Layout ======================================================================
@import "../../_layout.scss";

.bg-primary {
    background-color: rgb(27, 30, 31) !important;
}

#mediaApp {
    background-color: $body-bg;
}

// Buttons =====================================================================

// Typography ==================================================================

.blockquote {
    &-footer {
        color: $gray-600;
    }
}

.trumbowyg-fullscreen .trumbowyg-editor {
    color: black;
}

// Tables ======================================================================

.table {
    &-primary {
        &,
        > th,
        > td {
            background-color: $primary;
        }
    }

    &-secondary {
        &,
        > th,
        > td {
            background-color: $secondary;
        }
    }

    &-light {
        &,
        > th,
        > td {
            background-color: $light;
        }
    }

    &-dark {
        &,
        > th,
        > td {
            background-color: $dark;
        }
    }

    &-success {
        &,
        > th,
        > td {
            background-color: $success;
        }
    }

    &-info {
        &,
        > th,
        > td {
            background-color: $info;
        }
    }

    &-danger {
        &,
        > th,
        > td {
            background-color: $danger;
        }
    }

    &-warning {
        &,
        > th,
        > td {
            background-color: $warning;
        }
    }

    &-active {
        &,
        > th,
        > td {
            background-color: $table-active-bg;
        }
    }

    &-hover {
        .table-primary:hover {
            &,
            > th,
            > td {
                background-color: darken($primary, 5%);
            }
        }

        .table-secondary:hover {
            &,
            > th,
            > td {
                background-color: darken($secondary, 5%);
            }
        }

        .table-light:hover {
            &,
            > th,
            > td {
                background-color: darken($light, 5%);
            }
        }

        .table-dark:hover {
            &,
            > th,
            > td {
                background-color: darken($dark, 5%);
            }
        }

        .table-success:hover {
            &,
            > th,
            > td {
                background-color: darken($success, 5%);
            }
        }

        .table-info:hover {
            &,
            > th,
            > td {
                background-color: darken($info, 5%);
            }
        }

        .table-danger:hover {
            &,
            > th,
            > td {
                background-color: darken($danger, 5%);
            }
        }

        .table-warning:hover {
            &,
            > th,
            > td {
                background-color: darken($warning, 5%);
            }
        }

        .table-active:hover {
            &,
            > th,
            > td {
                background-color: $table-active-bg;
            }
        }
    }
}

// Forms =======================================================================
@import "modules/admin/_forms.scss";

.input-group-addon {
    color: $white;
}

.form-floating > label {
    color: $gray-700;
}

// Navs

.breadcrumb a {
    color: $white;
}

.pagination {
    a:hover {
        text-decoration: none;
    }
}

// Indicators

.alert {
    border: none;
    color: $white;

    a,
    .alert-link {
        color: $white;
        text-decoration: underline;
    }

    @each $color, $value in $theme-colors {
        &-#{$color} {
            @if $enable-gradients {
                background: $value linear-gradient(180deg, mix($white, $value, 15%), $value) repeat-x;
            } @else {
                background-color: $value;
            }
        }
    }
}

// Progress bars ===============================================================

// Containers ==================================================================



// Cards

.card-header {
    background-color: #1b1e1f;
}

// Buttons

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        color: #FFF;
    }

    .btn-#{$color}:hover, .btn-#{$color}:focus {
        color: #FFF;
    }
}

.bootstrap-select {
    .popover-header {
        .close {
            color: white;
        }
    }
}

.modal-header .btn-close {
    background: white url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/0.6em auto no-repeat;
}