
.has-filter .btn:not(.show) {
    border-color: #3C4144 !important;
}

.has-filter .form-control-feedback, .has-search .form-control-feedback {
    color: #aaa;
}

.has-filter .form-control, .has-search .form-control {
    color: #aaa;
}
