
// Dark links against a light background
.navbar-dark {
    .navbar-brand {
        color: $navbar-light-brand-color;

        &:hover,
        &:focus {
            color: $navbar-light-brand-hover-color;
        }
    }

    .navbar-nav {
        .nav-link {
            color: $navbar-light-color;

            &:hover,
            &:focus {
                color: $navbar-light-hover-color;
            }

            &.disabled {
                color: $navbar-light-disabled-color;
            }
        }

        .show > .nav-link,
        .nav-link.active {
            color: $navbar-light-active-color;
        }
    }

    .navbar-toggler {
        color: $navbar-light-color;
        border-color: $navbar-light-toggler-border-color;
    }

    .navbar-toggler-icon {
        background-image: escape-svg($navbar-light-toggler-icon-bg);
    }

    .navbar-text {
        color: $navbar-light-color;

        a,
        a:hover,
        a:focus {
            color: $navbar-light-active-color;
        }
    }
}

// White links against a dark background
.navbar-light {
    .navbar-brand {
        color: $navbar-dark-brand-color;

        &:hover,
        &:focus {
            color: $navbar-dark-brand-hover-color;
        }
    }

    .navbar-nav {
        .nav-link {
            color: $navbar-dark-color;

            &:hover,
            &:focus {
                color: $navbar-dark-hover-color;
            }

            &.disabled {
                color: $navbar-dark-disabled-color;
            }
        }

        .show > .nav-link,
        .nav-link.active {
            color: $navbar-dark-active-color;
        }
    }

    .navbar-toggler {
        color: $navbar-dark-color;
        border-color: $navbar-dark-toggler-border-color;
    }

    .navbar-toggler-icon {
        background-image: escape-svg($navbar-dark-toggler-icon-bg);
    }

    .navbar-text {
        color: $navbar-dark-color;

        a,
        a:hover,
        a:focus {
            color: $navbar-dark-active-color;
        }
    }
}
