@using OrchardCore.Mvc.Utilities
@{    
    var tabsGrouping = (IList<IGrouping<string, object>>)Model.Tabs;
    var tabs = tabsGrouping.Select(x => x.Key).ToArray(); 
}
@if (tabs.Any())
{
    var tabIndex = 0;
    <ul class="nav nav-tabs flex-column flex-md-row" role="tablist">
        @foreach (var tab in tabs)
        {
            var tabId = $"tab-{tab}-{Model.Identifier}".HtmlClassify();
            var tabClasses = tabIndex == 0 ? "nav-item nav-link active" : "nav-item nav-link";
            var itemClasses = tabIndex == tabs.Length -1 ? "nav-item" : "nav-item pr-md-2";
            <li class="@itemClasses">
                <a class="@tabClasses" href="#@tabId" data-toggle="tab" role="tab" aria-controls="@tabId" aria-selected="false">@tab</a>
            </li>
            tabIndex++;
        }
    </ul>
}
