@model AuditTrailPartViewModel
@using OrchardCore.Contents.AuditTrail.ViewModels

<div class="form-group">
    <label asp-for="Comment">@T["Comment"]</label>
    <textarea asp-for="Comment" rows="5" class="form-control"></textarea>
    <span class="hint">@T["Optionally provide a comment about this change for the audit trail."]</span>
</div>
