@model dynamic
@using OrchardCore.Mvc.Utilities
@{
    var cardId = $"card-{Model.ContentItem.ContentItemId}-{Model.Card.Key}".HtmlClassify();
    var columnGrouping = await New.ColumnGrouping(Grouping: Model.Card, ContentItem: Model.ContentItem);
}
<div class="card">
    <div class="card-header" id="heading-@cardId">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-@cardId" aria-expanded="true" aria-controls="collapse-@cardId">
          @Model.Card.Key
        </button>        
        
    </div>
    <div class="collapse show" id="collapse-@cardId" aria-labelledby="heading-@cardId">
        <div class="card-body ">
            @await DisplayAsync(columnGrouping)
        </div>
    </div>
</div>