@model GroupingViewModel
@using OrchardCore.Mvc.Utilities
@{
    TagBuilder tag = Tag(Model, "div");
    tag.AddCssClass("card-body");

    // Morphing this shape to a grouping shape to keep Model untouched
    Model.Metadata.Alternates.Clear();
    Model.Metadata.Type = "ColumnGrouping";

    tag.InnerHtml.AppendHtml(await DisplayAsync(Model));

    var cardIdPrefix = $"card-{Model.Identifier}-{Model.Grouping.Key}".HtmlClassify();
}
<div class="accordion-item">
    <div class="accordion-header" id="heading-@cardIdPrefix">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@cardIdPrefix" aria-expanded="true" aria-controls="collapse-@cardIdPrefix">
                @Model.Grouping.Key
            </button>
        </h2>
    </div>
    <div class="collapse show" id="collapse-@cardIdPrefix" aria-labelledby="heading-@cardIdPrefix">
        <div class="accordion-body">
            @tag
        </div>
    </div>
</div>
