@model dynamic
@using OrchardCore.Mvc.Utilities

<div class="mb-3">
    @foreach(var card in Model.Cards)
    {
        @await DisplayAsync(await New.Card(Card: card, ContentItem: Model.ContentItem))
    }
</div>
