@model GroupingViewModel
@using OrchardCore.Mvc.Utilities
@{
    TagBuilder tag = Tag(Model, "div");
    tag.AddCssClass("card-body");

    // Morphing this shape to a grouping shape to keep Model untouched
    Model.Metadata.Alternates.Clear();
    Model.Metadata.Type = "ColumnGrouping";

    tag.InnerHtml.AppendHtml(await DisplayAsync(Model));

    var cardIdPrefix = $"card-{Model.Identifier}-{Model.Grouping.Key}".HtmlClassify();
}
<div class="card">
    <div class="card-header" id="heading-@cardIdPrefix">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-@cardIdPrefix" aria-expanded="true" aria-controls="collapse-@cardIdPrefix">
          @Model.Grouping.Key
        </button>        
        
    </div>
    <div class="collapse show" id="collapse-@cardIdPrefix" aria-labelledby="heading-@cardIdPrefix">
        @tag
    </div>
</div>
