@model dynamic
@using OrchardCore.Mvc.Utilities
@* TODO move this to a style sheet and use a mixin to override each col that has been wrapper*@
        <style at="Head">
            .ta-row-container .col-md-6 {
                flex: 0 0 100% !important;
                max-width: 100% !important;
            }  
            .ta-row-container .col-sm-3 {
                flex: 0 0 100% !important;
                max-width: 100% !important;
            }           
        </style>


<div class="row ta-row-container">
    @foreach(var column in Model.Columns)
    {
        var columnShape = await New.Column(Column: column);
        columnShape.Classes.Add("column-" + ((string)column.Key).HtmlClassify());
        
        var columnClass = "col";
        @* To provider a modifier to a column name all columns in the group with a '-' modifier, i.e. SeoColumn-6*@

        foreach(var item in column)
        {
            if (item.Metadata.Column is string columnName && !String.IsNullOrEmpty(columnName))
            {
                var columnModifierIndex = columnName.IndexOf('-');
                if (columnModifierIndex != -1)
                {
                    var positionModifierIndex = columnName.IndexOf(';');
                    // Column-9;56
                    if (positionModifierIndex > columnModifierIndex)
                    {
                        var length = positionModifierIndex - columnModifierIndex;
                        columnClass = "col-" + columnName.Substring(columnModifierIndex + 1, length - 1);  
                    }
                    else // Column;56-9 
                    {
                        columnClass = "col-" + columnName.Substring(columnModifierIndex + 1);                               
                    }
                    break;
                }                
            }            
        }

        columnShape.Classes.Add(columnClass);

        @await DisplayAsync(columnShape)
    }
</div>
