@using OrchardCore.Contents.ViewModels
@using OrchardCore
@model OwnerEditorViewModel

<div class="ocat-wrapper" asp-validation-class-for="OwnerName">
    <label asp-for="OwnerName" class="ocat-label">@T["Owner"]</label>
    <div class="ocat-end">
        <input asp-for="OwnerName" class="form-control" />
        <span asp-validation-for="OwnerName"></span>
        <span class="hint">@T["The owner's username of this content item."]</span>
    </div>
</div>
