@using OrchardCore.Contents.ViewModels
@using OrchardCore
@model OwnerEditorViewModel

<div class="row mb-3" asp-validation-class-for="OwnerName">
    <label asp-for="OwnerName" class="@Orchard.GetLabelCssClasses()">@T["Owner Name"]</label>
    <div class="@Orchard.GetEndCssClasses()">
        <input asp-for="OwnerName" class="form-control" />
        <span asp-validation-for="OwnerName"></span>
        <span class="hint">@T["The name of the owner of the content item."]</span>
    </div>
</div>
