@using OrchardCore.Contents.ViewModels;
@model DateEditorViewModel

<fieldset class="form-group" asp-validation-class-for="LocalDateTime">
    <div class="row col-md-6 col-lg-3">
        <label asp-for="LocalDateTime">@T["Created"] <span asp-validation-for="LocalDateTime"></span></label>
        <input asp-for="LocalDateTime" class="form-control" type="datetime-local" />
    </div>
    <span class="hint">@T["The date when the content item was created or first published."]</span>
</fieldset>
