@using OrchardCore.Contents.ViewModels;
@model OwnerEditorViewModel

<div class="mb-3" asp-validation-class-for="OwnerName">
    <label asp-for="OwnerName">@T["Owner Name"]</label>
    <input asp-for="OwnerName" class="form-control" />
    <span asp-validation-for="OwnerName"></span>
    <span class="hint">@T["The name of the owner of the content item."]</span>
</div>
