@using OrchardCore.Contents.ViewModels;
@model OwnerEditorViewModel

<div class="form-group" asp-validation-class-for="Owner">
    <label asp-for="Owner">@T["Owner"]</label>
    <input asp-for="Owner" class="form-control" />
    <span asp-validation-for="Owner"></span>
    <span class="hint">@T["The owner of the content item."]</span>
</div>
