@using OrchardCore.Contents.ViewModels
@using OrchardCore
@model DateEditorViewModel

<div class="ocat-wrapper" asp-validation-class-for="LocalDateTime">
    <label asp-for="LocalDateTime" class="ocat-label">@T["Created"]</label>
    <div class="ocat-end">
        <div class="ocat-limited-wrapper">
            <div class="ocat-limited">
                <input asp-for="LocalDateTime" asp-format="{0:yyyy-MM-ddTHH:mm}" class="form-control" type="datetime-local" />
                <span asp-validation-for="LocalDateTime"></span>
            </div>
        </div>
        <span class="hint">@T["The date when the content item was created or first published."]</span>
    </div>
</div>
