@using OrchardCore.Mvc.Utilities

@{
    string name = Model.Metadata.Name;
}

@if (Model.Content is not null)
{
    <div class="contentpart contentpart-@name.HtmlClassify()">
        @await DisplayAsync(Model.Content)
    </div>
}
