@using OrchardCore.ContentManagement
@using System.Globalization
@{
    ContentItem contentItem = Model.ContentItem;
    var modifiedUtc = contentItem.ModifiedUtc?.ToString("yyyy-MM-ddTHH:mm:sszzz", CultureInfo.InvariantCulture);
}

@if (contentItem.ModifiedUtc.HasValue)
{
    <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@await DisplayAsync(await New.DateTime(Utc: contentItem.ModifiedUtc, Format: "g"))">
        <i class="fa fa-calendar text-secondary" aria-hidden="true"></i> <time datetime="@modifiedUtc">@await DisplayAsync(await New.Timespan(Utc: contentItem.ModifiedUtc))</time>
    </span>
}
@if (!String.IsNullOrEmpty(contentItem.Author))
{
    <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@T["Author"]">
        <i class="fa fa-user text-secondary me-1" aria-hidden="true"></i>@contentItem.Author
    </span>
}
