@using OrchardCore.ContentManagement.Utilities;

@{
    string name = Model.Metadata.Name;
}

@if (Model.Content != null)
{
    <div class="contentpart contentpart-@name.HtmlClassify()">
        @await DisplayAsync(Model.Content)
    </div>
}
