@using OrchardCore.ContentManagement
@inject IContentManager ContentManager

@{
    ContentItem contentItem = Model.ContentItem;
    var hasPublished = await ContentManager.HasPublishedVersionAsync(contentItem);
    var hasDraft = contentItem.HasDraft();
}
@if (hasPublished)
{
    <span class="text-success" title="@T["Published"]">
        <i class="fa fa-xs fa-circle" aria-hidden="true" title="@T["Published"]"></i>
    </span>
}

@if (hasDraft)
{
    <span class="text-primary" title="@T["Draft"]">
        <i class="fa fa-xs fa-circle" aria-hidden="true" title="@T["Draft"]"></i> 
    </span>
}
