@model OrchardCore.ContentManagement.Display.ViewModels.ContentItemViewModel

<div class="form-check">
    <input type="checkbox" class="form-check-input" value="@Model.ContentItem.Id" name="itemIds" id="itemIds-@Model.ContentItem.Id">
    <label class="form-check-label" for="itemIds-@Model.ContentItem.Id"></label>
</div>
