@{
    var returnUrl = Context.Request.Query["returnUrl"];
}

@if (String.IsNullOrWhiteSpace(returnUrl))
{
    <button type="submit" name="submit.Publish" class="btn btn-success publish" value="submit.Publish">@T["Publish"]</button>
}
else
{
    <div class="btn-group">
        <button class="btn btn-success publish" type="submit" name="submit.Publish" value="submit.Publish">@T["Publish"]</button>
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-reference="parent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">@T["Toggle Dropdown"]</span>
        </button>
        <div class="dropdown-menu">
            <button class="dropdown-item publish-continue" type="submit" name="submit.Publish" value="submit.PublishAndContinue">@T["and continue"]</button>
        </div>
    </div>
}

<script at="Foot">
    $(function () {
        const keys = {
            Alt: 18,
            S: 83,
            C: 67
        };
        var keysMap = {};

        $(document).keydown(function (e) {
            keysMap[e.keyCode] = true;

            if (keysMap[keys.Alt] && keysMap[keys.S] && keysMap[keys.C]) {
                $(":button[value='submit.PublishAndContinue']").click();
            }
            else if (keysMap[keys.Alt] && keysMap[keys.S]) {
                $(":button[value='submit.Publish']").click();
            }

        }).keyup(function (e) {
            keysMap[e.keyCode] = false;
        })
    });
</script>
