@using OrchardCore.ContentManagement

@{
    ContentItem contentItem = Model.ContentItem;
}

<div class="row">
    <div class="col-xl-6 col-sm-12 title">
        @if (Model.Selectors != null)
        {
            <div class="selectors d-inline cursor-pointer">
                @await DisplayAsync(Model.Selectors)
            </div>
        }
        <div class="custom-control custom-checkbox d-inline">
            <input type="checkbox" class="custom-control-input" value="@contentItem.Id" name="itemIds" id="itemIds-@contentItem.Id">
            <label class="custom-control-label" for="itemIds-@contentItem.Id"></label>
        </div>
        <a admin-for="@contentItem" asp-route-returnUrl="@FullRequestPath" /> - <small class="text-muted">@contentItem.ContentType</small>
        @if (Model.Tags != null)
        {
            @await DisplayAsync(Model.Tags)
        }
        @if (Model.Header != null)
        {
            <div class="header">@await DisplayAsync(Model.Header)</div>
        }

        @if (Model.Meta != null)
        {
            <div class="metadata">@await DisplayAsync(Model.Meta)</div>
        }
    </div>

    @if (Model.Actions != null)
    {
        <div class="col-xl-6 col-sm-12 related">
            <div class="float-right">
                @await DisplayAsync(Model.Actions)
            </div>
        </div>
    }
</div>

@if (Model.Content != null)
{
    <div class="col primary">@await DisplayAsync(Model.Content)</div>
}
