@model OrchardCore.Contents.ViewModels.FullTextPartSettingsViewModel

<div class="form-group">
    <div class="switch">
        <input asp-for="IndexFullOrFullText" type="checkbox" class="switch switch-sm content-preview-select" checked="@Model.IndexFullOrFullText" />
        <label asp-for="IndexFullOrFullText">@T["Disable content item indexing"]</label>
        <span class="hint">— @T["Check to disable content item indexing (checked) or full-text index only (unchecked)."]</span>
    </div>
</div>
