@using OrchardCore.Contents.ViewModels;
@model FullTextEditorViewModel

<div class="form-group custom-control custom-checkbox" asp-validation-class-for="IsIndexed">
    <input asp-for="IsIndexed" class="custom-control-input" tabindex="3">
    <label asp-for="IsIndexed" class="custom-control-label">@T["Index"]</label>
    <span class="hint">— @T["Wether the content item will be indexed"]</span>
    <span asp-validation-for="IsIndexed"></span>
</div>

