@model dynamic
@using System.Linq
@using OrchardCore.Mvc.Utilities
@{
    var tabId = $"tab-{Model.Tab.Key}-{Model.ContentItem.ContentItemId}".HtmlClassify();
    Model.Classes.Add("tab-pane fade");
    @if (Model.TabIndex == 0)
    {
        Model.Classes.Add("show active");
    }
}
<div id="@tabId" class="@String.Join(" ", Model.Classes.ToArray())">
    @await DisplayAsync(await New.CardGrouping(Grouping: Model.Tab, ContentItem: Model.ContentItem))
</div>