@model dynamic
@using System.Linq
@using OrchardCore.Mvc.Utilities
@{
    var tabName = String.IsNullOrWhiteSpace(Model.Tab.Key) ? "Content" : Model.Tab.Key;
    var tabId = $"tab-{Model.TabId}-{tabName}".HtmlClassify();
    
    var tabItemClasses = Model.TabIndex == 0 ? "tab-pane fade show active" : "tab-pane fade";
    
    var cardGrouping = await New.CardGrouping(Grouping: Model.Tab);
}
<div id="@tabId" class="@tabItemClasses">
    @await DisplayAsync(cardGrouping)
</div>