@model dynamic
@{
    var tabIndex = 0;
}
@await DisplayAsync(await New.LocalNavigation(ContentItem: Model.ContentItem, Tabs: Model.Grouping))

<div class="tab-content">
    @foreach(var tab in Model.Items)
    {           
        tab.TabIndex = tabIndex;   
        @await DisplayAsync(tab)
        tabIndex++;
    }
</div>
