@model dynamic
@{
    var tabIndex = 0;
}

@await DisplayAsync(await New.LocalNavigation(ContentItem: Model.ContentItem, Tabs: Model.Tabs))

<div class="tab-content">
    @foreach(var tab in Model.Tabs)
    {              
        @await DisplayAsync(await New.Tab(Tab: tab, TabIndex: tabIndex, ContentItem: Model.ContentItem))
        tabIndex++;
    }
</div>
