@model GroupingsViewModel
@{
    var first = true;
}
@await DisplayAsync(await New.LocalNavigation(Identifier: Model.Identifier, Tabs: Model.Groupings))

<div class="tab-content">
    @foreach(var item in Model.Items)
    {           
        if (first)
        {
            item.Classes.Add("show active");
            first = false;
        }
        @await DisplayAsync(item)
    }
</div>
