@model dynamic
@{
    var tabIndex = 0;
}
@await DisplayAsync(await New.LocalNavigation(ContentItem: Model.ContentItem, Tabs: Model.Grouping))

<div class="tab-content">
    @foreach(var item in Model.Items)
    {           
        item.TabIndex = tabIndex;   
        @await DisplayAsync(item)
        tabIndex++;
    }
</div>
