@model dynamic
@{
    var tabIndex = 0;
    var tabId = Model.ContentItem != null ? (string)Model.ContentItem.ContentItemId : "";
    var tabsGrouping = (IList<IGrouping<string, dynamic>>)Model.Tabs;
    var tabs = tabsGrouping.Select(x => x.Key); 
}

@await DisplayAsync(await New.LocalNavigation(ContentItem: Model.ContentItem, Tabs: tabs))

<div class="tab-content">
    @foreach(var tab in Model.Tabs)
    {              
        @await DisplayAsync(await New.Tab(Tab: tab, TabIndex: tabIndex, TabId: tabId, ContentItem: Model.ContentItem))
        tabIndex++;
    }
</div>
