@model Orchard.ContentFields.ViewModels.DisplayEnumerationFieldViewModel
@using Orchard.ContentManagement.Metadata.Models

<div>
    @Model.PartFieldDefinition.DisplayName(): @Model.Field.Value
</div>