@model OrchardCore.ContentFields.ViewModels.EditHtmlFieldViewModel
@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.ContentFields.Settings;

@{
    var settings = Model.PartFieldDefinition.Settings.ToObject<HtmlFieldSettings>();
}

<fieldset class="form-group">
    <label asp-for="Html">@Model.PartFieldDefinition.DisplayName()</label>
    <textarea asp-for="Html" rows="5" class="form-control content-preview-text"></textarea>
    @if (!String.IsNullOrEmpty(settings.Hint))
    {
        <span class="hint">@settings.Hint</span>
    }
</fieldset>