@model Orchard.ContentFields.ViewModels.DisplayHtmlFieldViewModel
@using Orchard.Mvc.Utilities;

@{ 
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.PartDefinition.Name).HtmlClassify();
}

<div class="field field-type-htmlfield field-name-@name">
    @Html.Raw(Model.Field.Html)
</div>