@model Orchard.ContentFields.ViewModels.DisplayNumericFieldViewModel
@using Orchard.Mvc.Utilities

@{
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.PartDefinition.Name).HtmlClassify();
}

<div class="field field-type-htmlfield field-name-@name">
    @Model.Field.Value
</div>
