@model OrchardCore.DisplayManagement.Views.ShapeViewModel<OrchardCore.Settings.Deployment.GenericSiteSettingsDeploymentStep>

<h4 class="card-title">@Model.Value.Title</h4>
<p>@Model.Value.Description</p>
