@model OrchardCore.DisplayManagement.Views.ShapeViewModel<OrchardCore.Settings.Deployment.SiteSettingsDeploymentStep>

@{
    var settings = Model.Value.Settings;
}

<h5>@T["Site Settings"]</h5>

@if (settings != null && settings.Length > 0)
{
    @foreach (var setting in settings)
    {
        <span class="badge ta-badge">@setting</span>
    }
}
else
{
    <span class="badge bg-warning">@T["No settings selected."]</span>
}
