@model SiteSettingsPropertyDeploymentStepViewModel
<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        <h5>@Model.Title</h5>
        <span class="hint">@Model.Description</span>
    </div>
</div>
