@model dynamic
@{
    var thumbnails = (Dictionary<string, dynamic>)Model.Thumbnails;
}

<div class="modal fade" id="modalConditions" tabindex="-1" role="dialog" aria-labelledby="available-rules-title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="available-rules-title">@T["Available Rules"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input class="form-control" id="search-box" type="search" placeholder="@T["Filter"]" aria-label="@T["Filter"]" autofocus />
                </div>
                <div id="cards" class="row">
                    <div class="row row-cols-1 row-cols-md-2 g-2">
                        @foreach (var thumbnail in thumbnails.OrderBy(t => t.Key))
                        {
                            <div class="col item">
                                @await DisplayAsync(thumbnail.Value)
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@T["Cancel"]</button>
            </div>
        </div>
    </div>
</div>

<script asp-src="~/OrchardCore.Rules/Scripts/conditions-modal/conditions-modal.min.js" debug-src="~/OrchardCore.Rules/Scripts/conditions-modal/conditions-modal.js" at="Foot" type="module"></script>
