@model dynamic

<div class="card w-100 mb-3">
    <div class="card-body">
        @await DisplayAsync(Model.Content)
    </div>
    <div class="card-footer text-muted text-xs-right">
        <a class="btn btn-primary btn-sm" href="@Model.Link">@T["Add"]</a>
    </div>
</div>
