@model dynamic

<div class="properties">
    <div class="related">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalConditions" data-condition-group-id="@Model.ConditionId">
            @T["Add"]
        </button>            
    </div>
    
    @await DisplayAsync(Model.Content)
</div>