@model Orchard.Workflows.ViewModels.AdminEditViewModel

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Create" method="post">
    <fieldset class="form-group" asp-validation-class-for="Name">
        <label asp-for="Rule">@T["Name"] <span asp-validation-for="Name"></span></label>
        <input asp-for="Name" class="form-control" type="text" />
    </fieldset>

    <fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">@T["Save"]</button>
        </div>
    </fieldset>
</form>