@page "{Id}"
@model EditModel
@using OrchardCore.Demo.Pages
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Mvc.RazorPages
@using OrchardCore.ContentManagement
@using OrchardCore.ContentManagement.Display
@using OrchardCore.DisplayManagement.ModelBinding
@using YesSql


@await Html.PartialAsync("Header", Model)

<h2>Hello from @ViewContext.RouteData.Values["page"]</h2>

<form asp-route-id="@Model.Id" method="post" class="no-multisubmit">
    <button asp-page-handler="Delete" class="btn btn-sm btn-danger float-end mx-1">Delete</button>
    <input asp-for="Text" />
    <button asp-page-handler="Update" class="btn btn-sm btn-warning float-end mx-1">Update</button>
</form>
