@model OrchardCore.Templates.Cms.Module.Settings.MyTestPartSettingsViewModel

<div class="form-group">
    <div class="row col-lg">
        <label asp-for="MySetting">@T["Setting"]</label>
        <input asp-for="MySetting" class="form-control" />
        <span class="hint">@T["The setting."]</span>
    </div>
</div>
