@model MyTestPartViewModel

<div class="mb-3">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="Show" />
        <label class="form-check-label" asp-for="Show">@T["Show"]</label>
    </div>
</div>
