@model Orchard.ContentTypes.ViewModels.ListContentTypesViewModel

<h1>@RenderTitleSegments(T["Content Types"])</h1>

<nav class="admin-toolbar">
    <div class="nav navbar-nav">

        <a asp-route-action="Create" class="btn btn-primary" role="button">@T["Create new type"]</a>
        <div class="pull-xs-right">
            <input id="search-box" class="form-control" type="text" placeholder="@T["Filter"]" autofocus="autofocus">
        </div>
    </div>
</nav>

<ul class="list-group">
    @foreach (var type in Model.Types)
    {
        <li class="list-group-item">
            @Html.DisplayFor(m => type)
        </li>
    }
</ul>