@using OrchardCore.Flows.ViewModels

@model BagPartViewModel
@inject OrchardCore.ContentManagement.Display.IContentItemDisplayManager ContentItemDisplayManager

<section class="flow">

    @{
        var itemShapes = await Task.WhenAll(Model.BagPart.ContentItems.Select(bagItem => ContentItemDisplayManager.BuildDisplayAsync(bagItem, Model.BuildPartDisplayContext.Updater, Model.Settings.DisplayType ?? "Summary", Model.BuildPartDisplayContext.GroupId)));

        foreach (dynamic itemContent in itemShapes)
        {
            @await DisplayAsync(itemContent)
        }
    }

</section>