@model OrchardCore.Flows.ViewModels.BagPartSettingsViewModel

<div class="mb-3">
    <label asp-for="ContainedContentTypes">@T["Contained Content Types"]</label>
    <span class="hint">@T["The content types that this bag can contain, e.g. Slide for a Slide Show."]</span>
    @await Component.InvokeAsync("SelectContentTypes", new { selectedContentTypes = Model.ContainedContentTypes, htmlName = Html.NameFor(m => m.ContainedContentTypes) })
</div>

<div class="mb-3">
    <div class="w-sm-50">
        <label asp-for="DisplayType">@T["Display Type"]</label>
        <input asp-for="DisplayType" placeholder="Summary" class="form-control medium" />
    </div>
    <span class="hint">@T["The display type to use when rendering the content items. Default is Summary."]</span>
</div>
