@using OrchardCore.Workflows.Activities
@{
    var activity = (BranchTask)Model.Activity;
}
<header>
    <h4><i class="fa fa-pagelines"></i>@T["Branch"]</h4>
</header>
@if (activity.Branches.Any())
{
    <span>@T["Split execution into <em>{0}</em>", string.Join(", ", activity.Branches)]</span>
}
else
{
    <span>@T["No branches"]</span>
}