@model ActivityViewModel<CommitTransactionTask>

@{
    string className = "info-circle";
}
<header>
    <h4><i class="fa-solid fa-@className" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["Commit Transaction"])</h4>
</header>
