@using OrchardCore.Workflows.Activities
@{
    var activity = (CorrelateTask)Model.Activity;
}
<header>
    <h4><i class="fa fa-link"></i>@T["Correlate"]</h4>
</header>
<span>@T["<em>{0}</em>", activity.Value]</span>