@using OrchardCore.Workflows.Activities
@{
    var activity = (DecisionTask)Model.Activity;
}
<header>
    <h4><i class="fa fa-diamond"></i>@T["Decision"]</h4>
</header>
<span>@T["Evaluate <em>{0}</em>", activity.ConditionExpression]</span>