@using OrchardCore.Workflows.ViewModels;
@model DecisionTaskViewModel

<fieldset class="form-group" asp-validation-class-for="ConditionExpression">
    <label asp-for="ConditionExpression">@T["Condition Expression"] <span asp-validation-for="ConditionExpression"></span></label>
    <input asp-for="ConditionExpression" class="form-control workflow-expression" />
    <span class="hint">@T["An expression that evaluates to true or false."]</span>
</fieldset>