@using OrchardCore.Workflows.Activities
@{
    var activity = (DecisionTask)Model.Activity;
}
<header>
    <h4><i class="fa fa-diamond"></i>@T["Decision"]</h4>
</header>
@if (!String.IsNullOrWhiteSpace(activity.Title))
{
    <span>@activity.Title</span>
}