@model ActivityViewModel<EmailTask>
@using OrchardCore.Workflows.Email.Activities

<header>
    <h4><i class="fa fa-envelope"></i>@T["Send Email"]</h4>
</header>
<em>&quot;@Model.Activity.Subject&quot;</em>