@model ActivityViewModel<ForkTask>

<header>
    <h4><i class="fa-solid fa-code-fork" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["Fork"])</h4>
</header>

@if (Model.Activity.Forks.Any())
{
    <span>@T["Fork execution into <em>{0}</em>", string.Join(", ", Model.Activity.Forks)]</span>
}
else
{
    <span>@T["No forks"]</span>
}
