@using OrchardCore.Workflows.ViewModels
@model ForkTaskViewModel

<div class="mb-3" asp-validation-class-for="Forks">
    <label asp-for="Forks">@T["Forks"]</label>
    <input asp-for="Forks" class="form-control" />
    <span asp-validation-for="Forks"></span>
    <span class="hint">@T["Enter one or more comma-separated fork names."]</span>
</div>
