@model ActivityViewModel<ForLoopTask>

<header>
    <h4><i class="fa-solid fa-circle-o-notch" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["For Loop"])</h4>
</header>
<span>@T["Iterate <em>{0}</em> from <em>{1}</em> to <em>{2}</em>", Model.Activity.LoopVariableName, Model.Activity.From, Model.Activity.To]</span>
