@using OrchardCore.Workflows.Activities
@{
    var activity = (ForLoopTask)Model.Activity;
}
<header>
    <h4><i class="fa fa-circle-o-notch"></i>@T["For Loop"]</h4>
</header>
<span>@T["Loop <em>{0}</em> times", activity.CountExpression]</span>