@using OrchardCore.Workflows.Http.ViewModels;
@model HttpRedirectTaskViewModel

<div class="mb-3" asp-validation-class-for="Location">
    <label asp-for="Location">@T["Location"]</label>
    <input type="text" asp-for="Location" class="form-control code" />
    <span asp-validation-for="Location"></span>
    <span class="hint">@T["The URL to redirect to. With Liquid support."]</span>
</div>

<div class="mb-3" asp-validation-class-for="Permanent">
    <label asp-for="Permanent">
        <input type="checkbox" asp-for="Permanent" />
        @T["Permanent"]
    </label>
    <span class="hint">@T["Check if the redirect should be permanent (301). Leave unchecked for a temporary redirect (302)."]</span>
</div>
