@model ActivityViewModel<HttpResponseTask>
@using OrchardCore.Workflows.Http.Activities
<header>
    <h4><i class="fa-solid fa-globe" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["HTTP Response"])</h4>
</header>
<span><em>@Model.Activity.HttpStatusCode</em></span>
