@using OrchardCore.Workflows.Activities
@{
    var activity = (HttpRedirectTask)Model.Activity;
}
<header>
    <h4><i class="fa fa-globe"></i>@T["HTTP Redirect"]</h4>
</header>
<span>@T["<em>{0}</em>", activity.Location]</span>