@using OrchardCore.Workflows.Http.ViewModels
@using OrchardCore.Workflows.Models
@model HttpRequestEventSecretViewModel

<div class="mb-3">
    <label asp-for="WorkflowTypeId">@T["Workflow Type"]</label>
    <select asp-for="WorkflowTypeId" asp-items="Model.WorkflowTypes" class="form-control" asp-validation-class-for="WorkflowTypeId">
    </select>
    <span asp-validation-for="WorkflowTypeId"></span>
    <span class="hint">@T["The workflow containing an http request event starting activity."]</span>
</div>

<span class="hint mb-3 d-block"><i class="fa fa-exclamation-triangle"></i>@T["The url for this secret will be generated dynamically."]
</span>
