@using OrchardCore.Workflows.Http.Models
@model ShapeViewModel<HttpRequestEventSecret>

<h4 class="card-title">@T["Http Request Event Secret"]</h4>
<p>@T["A secret used to manage a secure access token for an http request event."]</p>
