@using OrchardCore.Workflows.Activities
@{
    var activity = (HttpRequestFilterEvent)Model.Activity;
}
<header>
    <h4><i class="fa fa-bolt"></i>@T["Filter Incoming HTTP Request"]</h4>
</header>
<span>@T["<em>{0}</em>", activity.HttpMethod]</span>
<ul>
    @foreach (var routeValue in activity.RouteValues)
    {
        <li>@T["{0} = {1}", routeValue.Key, routeValue.Value]</li>
    }
</ul>