@model ActivityViewModel<HttpRedirectTask>
@using OrchardCore.Workflows.Http.Activities
y
<header>
    <h4><i class="fa fa-globe"></i>@T["HTTP Redirect"]</h4>
</header>
<span>@T["<em>{0}</em>", Model.Activity.Location]</span>