<h4 class="card-title"><i class="fa-solid fa-bolt" aria-hidden="true"></i>@T["Filter Incoming HTTP Request"]</h4>
<p>@T["Executes when the specified HTTP request comes in. Similar to an MVC Action Filter."]</p>
