@model ActivityViewModel<IfElseTask>

<header>
    <h4><i class="fa-solid fa-diamond" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["If/Else"])</h4>
</header>
<span>@T["Evaluate <em>{0}</em>", Model.Activity.Condition]</span>
