@using OrchardCore.Workflows.Activities
@{
    var activity = (IfElseTask)Model.Activity;
}
<header>
    <h4><i class="fa fa-diamond"></i>@T["If/Else"]</h4>
</header>
<span>@T["Evaluate <em>{0}</em>", activity.Condition]</span>