<h4 class="card-title"><i class="fa-solid fa-diamond" aria-hidden="true"></i>@T["If/Else"]</h4>
<p>@T["Evaluate a JavaScript or Liquid boolean condition and continue execution based on the outcome."]</p>
