@using OrchardCore.Workflows.ViewModels;
@model IfElseTaskViewModel

<fieldset class="form-group" asp-validation-class-for="ConditionExpression">
    <label asp-for="ConditionExpression">@T["Condition Expression"] <span asp-validation-for="ConditionExpression"></span></label>
    <input type="text" asp-for="ConditionExpression" class="form-control code" />
    <span class="hint">@T["A JavaScript expression that evaluates to true or false."]</span>
</fieldset>