@using OrchardCore.Workflows.ViewModels;
@model IfElseTaskViewModel

<div class="mb-3" asp-validation-class-for="ConditionExpression">
    <label asp-for="ConditionExpression">@T["Condition Expression"]</label>
    <input type="text" asp-for="ConditionExpression" class="form-control code" />
    <span asp-validation-for="ConditionExpression"></span>
    <span class="hint">@T["A JavaScript expression that evaluates to true or false."]</span>
</div>
