@model ActivityViewModel<JoinTask>

<header>
    <h4><i class="fa-solid fa-code-fork" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["Join"])</h4>
</header>
@if (Model.Activity.Mode == JoinTask.JoinMode.WaitAll)
{
    <span>@T["Await <strong>all</strong> inbound activities before joining execution into a single path."]</span>
}
else if (Model.Activity.Mode == JoinTask.JoinMode.WaitAny)
{
    <span>@T["Awaits <strong>any</strong> inbound activities before joining execution into a single path."]</span>
}
