@using Microsoft.Extensions.Logging
@using OrchardCore.Workflows.ViewModels
@model LogTaskViewModel

<fieldset class="form-group" asp-validation-class-for="LogLevel">
    <label asp-for="LogLevel">@T["Log Level"] <span asp-validation-for="LogLevel"></span></label>
    <select asp-for="LogLevel" class="form-control" asp-items="Html.GetEnumSelectList<LogLevel>()"></select>
    <span class="hint">@T["The log level."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Text">
    <label asp-for="Text">@T["Text"] <span asp-validation-for="Text"></span></label>
    <input type="text" asp-for="Text" class="form-control code" />
    <span class="hint">@T["The text to log. With Liquid support."]</span>
</fieldset>