@using Microsoft.Extensions.Logging
@using OrchardCore.Workflows.Activities
@{
    var activity = (LogTask)Model.Activity;
    string className = "info-circle";

    switch (activity.LogLevel)
    {
        case LogLevel.Error:
        case LogLevel.Critical:
            className = "exclamation-circle";
            break;
        case LogLevel.Warning:
            className = "exclamation-triangle";
            break;
        case LogLevel.Debug:
            className = "bug";
            break;
        case LogLevel.Trace:
            className = "info";
            break;
    }
}
<header>
    <h4><i class="fa fa-@className"></i>@T["Log"]</h4>
</header>
<span>@activity.LogLevel</span> <em>&quot;@activity.Text&quot;</em>