@using Microsoft.Extensions.Logging
@using OrchardCore.Workflows.ViewModels
@model LogTaskViewModel

<div class="ocat-wrapper" asp-validation-class-for="LogLevel">
    <label asp-for="LogLevel" class="ocat-label">@T["Log Level"]</label>
    <div class="ocat-end">
        <select asp-for="LogLevel" class="form-select" asp-items="Html.GetEnumSelectList<LogLevel>()"></select>
        <span asp-validation-for="LogLevel"></span>
        <span class="hint">@T["The log level."]</span>
    </div>
</div>

<div class="ocat-wrapper" asp-validation-class-for="Text">
    <label asp-for="Text" class="ocat-label">@T["Text"]</label>
    <div class="ocat-end">
        <input type="text" asp-for="Text" class="form-control code" />
        <span asp-validation-for="Text"></span>
        <span class="hint">@T["The text to log. With Liquid support."]</span>
    </div>
</div>
