@using OrchardCore.Workflows.Activities
@{
    var activity = (MergeTask)Model.Activity;
}
<header>
    <h4><i class="fa fa-pagelines"></i>@T["Merge"]</h4>
</header>
<span>@T["Merge inbound transitions into a single branch."]</span>