@model ActivityViewModel<MissingActivity>

<header>
    <h4><i class="fa-solid fa-exclamation-circle" aria-hidden="true"></i>@T["Missing Activity"]</h4>
</header>
<span>@T["<em>{0}</em> is no longer available.", Model.Activity.MissingActivityRecord.Name]</span>
