<h4 class="card-title"><i class="fa fa-floppy-o"></i>@T["Save form attachments"]</h4>
<p>@T["Stores attachments from POST request into file system or predefined media file storage. Request has to be of multipart/form-data enctype. Attachments can be consumed by Send Email Task."]</p>