@model ActivityViewModel<ScriptTask>

<header>
    <h4><i class="fa fa-cog"></i>@T["Script"]</h4>
</header>
@if (!String.IsNullOrWhiteSpace(Model.Activity.Title))
{
    <span>@Model.Activity.Title</span>
}