@using OrchardCore.Workflows.Activities
@{
    var activity = (SetOutputTask)Model.Activity;
}
<header>
    <h4><i class="fa fa-plug"></i>@T["Output via {0}", activity.OutputName]</h4>
</header>
<span>@T["<em>{0}</em> = <em>{1}</em>", activity.OutputName, activity.ScriptExpression]</span>