@model ActivityViewModel<SetPropertyTask>

<header>
    <h4><i class="fa fa-pencil"></i>@Model.Activity.GetTitleOrDefault(() => T["Set {0} Property", Model.Activity.PropertyName])</h4>
</header>
<span>@T["<em>{0}</em>", Model.Activity.Value]</span>