@using OrchardCore.Workflows.ViewModels;
@model SetVariableTaskViewModel

<fieldset class="form-group" asp-validation-class-for="VariableName">
    <label asp-for="VariableName">@T["Name"] <span asp-validation-for="VariableName"></span></label>
    <input asp-for="VariableName" class="form-control" autofocus="autofocus" />
    <span class="hint">@T["The variable to set."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Expression">
    <label asp-for="Expression">@T["Expression"] <span asp-validation-for="Expression"></span></label>
    <input asp-for="Expression" class="form-control workflow-expression" />
    <span class="hint">@T["The expression to evaluate. The result will be assigned to the specified variable."]</span>
</fieldset>