@using OrchardCore.Workflows.ViewModels;
@model SignalEventViewModel

<fieldset class="form-group" asp-validation-class-for="SignalNameExpression">
    <label asp-for="SignalNameExpression">@T["Name"] <span asp-validation-for="SignalNameExpression"></span></label>
    <input type="expression" asp-for="SignalNameExpression" syntax="Liquid" autofocus />
    <span class="hint">@T["The signal name."]</span>
</fieldset>