@using OrchardCore.Workflows.ViewModels;
@model SignalEventViewModel

<div class="mb-3" asp-validation-class-for="SignalNameExpression">
    <label asp-for="SignalNameExpression">@T["Name"]</label>
    <input type="text" asp-for="SignalNameExpression" class="form-control code" autofocus />
    <span asp-validation-for="SignalNameExpression"></span>
    <span class="hint">@T["The signal name. With Liquid support."]</span>
</div>
