@using OrchardCore.Workflows.Activities
@{
    var activity = (ThrowTask)Model.Activity;
}
<header>
    <h4><i class="fa fa-exclamation-circle"></i>@T["Throw"]</h4>
</header>
<em>@activity.ExceptionType</em>