@model ActivityViewModel<TimerEvent>
@using OrchardCore.Workflows.Timers

<header>
    <h4><i class="fa-solid fa-clock-o" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["Timer"])</h4>
</header>
<span>@T["<em>{0}</em>", Model.Activity.CronExpression]</span>
