@model ActivityViewModel<WhileLoopTask>

<header>
    <h4><i class="fa-solid fa-circle-o-notch" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["While Loop"])</h4>
</header>
<span>@T["Loop while <em>{0}</em> is true", Model.Activity.Condition]</span>
