@model CreateDeploymentPlanViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Create Deployment Plan"])</h1></zone>

<div asp-validation-summary="All"></div>
<form asp-action="Create" method="post" class="no-multisubmit">
    <div class="form-group" asp-validation-class-for="Name">
        <label asp-for="Name">@T["Name"]</label>
        <input asp-for="Name" class="form-control" autofocus />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <button class="btn btn-primary create" type="submit">@T["Create"]</button>
        <a class="btn btn-secondary cancel" role="button" asp-route-action="Index">@T["Cancel"]</a>
    </div>
</form>
