.CodeMirror {
    height: auto;
    border: 1px solid #ddd;
}

.CodeMirror-fullscreen {
    z-index: 1000;
    top: 0px !important;
}

.CodeMirror pre {
    padding-left: 7px;
    line-height: 1.25;
    margin-bottom: 0;
    overflow: unset;
}

.CodeMirror-activeline-background {
    background: transparent !important;
}

.CodeMirror-focused .CodeMirror-activeline-background {
    background: rgba(100, 100, 100, 0.1) !important;
}
