.ta-navbar-top {
    @extend .navbar, .navbar-expand-md, .fixed-top;
    border-bottom: $border-content;
    z-index: calc(#{$zindex-sticky} + 100); // The left menu z-index is calc(#{$zindex-sticky} + 50). Here we ensure that the navbar top is always visible.
    height: #{$top-nav-height};
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    padding-top: 0;
    padding-bottom: 0;

    h1 {
        font-size: 24px;
        font-weight: bold;
        position: absolute;
        top: 10px;
    }

    @include media-breakpoint-down(sm) {

        h1 {
            max-width: 180px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 32px;
        }
    }

    .breadcrumb {
        background-color: transparent;
        margin-top: 1rem;
    }

    .btn.nav-link {
        display: inline-block;
    }

    @include media-breakpoint-up(sm) {
        h1 {
            left: 275px; // $left-navigation-width + 10px
        }
    }

    @include media-breakpoint-down(sm) {
        .navbar-collapse {
            li:first-child .nav-link {
                padding-top: 15px;
            }

            li:last-child .nav-link {
                padding-bottom: 0px;
            }
        }
    }
}

body:not(.left-sidebar-compact) {
    @include media-breakpoint-down(sm) {
        .ta-navbar-top {
            h1 {
                display: none;
            }
        }
    }
}

.ta-navbar-brand {
    @extend .navbar-brand;
    padding: 0 5px;
    white-space: nowrap;
    transition: width 0.2s ease-in-out;

    span {
        font-size: 14px;
    }

    span:first-child {
        padding-left: 5px;
    }

    span:last-child {
        font-weight: bold;
        color: $white;
    }
}

.ta-navbar-brand img {
    padding-right: 11px;
    padding-left: 5px;
    height: 32px;
}

// When left-sidebar is compact nav brand is compacted too.
// It displays logo only, not text.
.left-sidebar-compact .ta-navbar-brand {
    span {
        display: none;
    }
}

.left-sidebar-compact .ta-navbar-top {
    h1 {
        left: 63px; // $left-navigation-width-when-compact + 15px
    }
}

.action-bar {
    top: 3.3rem;
    z-index: 1050;
}

.user-top-navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.user-top-navbar .nav-item .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
