@model dynamic

<h1>@RenderTitleSegments(T["Configure OpenID server settings"])</h1>

<form asp-action="Index" method="post">
    @Html.ValidationSummary()
    @await DisplayAsync(Model.Content)

    <div class="form-group">
        <button class="btn btn-primary" type="submit">@T["Update the server settings and reload the tenant"]</button>
    </div>
</form>
