@model AuditTrailFilterViewModel
@using OrchardCore.AuditTrail.ViewModels

@{
    var fromDate = Model.FromDate;
}

<div class="form-group">
    <label asp-for="@fromDate">@T["From:"]</label>
    <input asp-for="@fromDate" type="date" class="form-control" />
</div>
