@model AuditTrailFilterViewModel
@using Microsoft.Extensions.Localization
@using OrchardCore.AuditTrail.ViewModels

@inject IStringLocalizer<ViewContext> S;

@{
    var categoryName = Model.Category;
    var categories = Model.Categories;

    var listItems = categories.GroupBy(category => category.Name)
        .Select(descriptor => descriptor.First()).Select(category =>
            new SelectListItem
            {
                Selected = category.Name == categoryName,
                Text = category.LocalizedName.Value,
                Value = category.Name
            })
        .ToList();

    listItems.Insert(0, new SelectListItem { Text = S["All categories"], Value = "" });
}

<div class="form-group mr-2">
    <select asp-for="@categoryName" asp-items="listItems" class="form-control"></select>
</div>
