@model AuditTrailFilterViewModel
@using Microsoft.Extensions.Localization
@using OrchardCore.AuditTrail.ViewModels

@inject IStringLocalizer<ViewContext> S;

@{
    var category = Model.Category;
    var categories = Model.Categories;

    var listItems = categories.GroupBy(descriptor => descriptor.Category)
        .Select(descriptor => descriptor.First()).Select(descriptor =>
            new SelectListItem
            {
                Text = descriptor.LocalizedName.Value,
                Value = descriptor.Category,
                Selected = descriptor.Category == category
            })
        .ToList();

    listItems.Insert(0, new SelectListItem { Text = S["All categories"], Value = "" });
}

<div class="form-group mr-2">
    <select asp-for="@category" asp-items="listItems" class="form-control"></select>
</div>
