@model AuditTrailFilterViewModel
@using Microsoft.Extensions.Localization
@using OrchardCore.AuditTrail.ViewModels

@inject IStringLocalizer<ViewContext> S;

@{
    var category = Model.Category;
    var categories = Model.Categories;

    var listItems = categories
        .GroupBy(category => category.Name)
        .Select(categories => categories.First())
        .Select(category =>
            new SelectListItem
            {
                Selected = category.Name == Model.Category,
                Text = category.LocalizedName.Value,
                Value = category.Name
            })
        .ToList();

    listItems.Insert(0, new SelectListItem { Text = S["All categories"], Value = "" });
}

<div class="form-group mr-2">
    <select asp-for="@category" asp-items="listItems" class="form-control"></select>
</div>
