@model AuditTrailFilterViewModel
@using OrchardCore.AuditTrail.ViewModels

<div class="form-group d-flex">
    <label class="form-control border-0 pr-2" asp-for="@Model.FromDate">@T["From"]</label>
    <input class="form-control" asp-for="@Model.FromDate" type="date" />
</div>
