@model AuditTrailFilterViewModel
@using OrchardCore.AuditTrail.ViewModels

@{
    var toDate = Model.ToDate;
}

<div class="form-group">
    <label asp-for="@toDate">@T["To:"]</label>
    <input asp-for="@toDate" type="date" class="form-control" />
</div>
