@model AuditTrailEventViewModel

<span class="badge ta-badge font-weight-normal">
    <i class="fas fa-history text-secondary"></i>
    <a href="?q=category:@Model.Descriptor.Category" data-toggle="tooltip"
        title="@T["Category"]">@Model.Descriptor.LocalizedCategory(Context.RequestServices)</a></span>
</span>

<span class="badge ta-badge font-weight-normal">
    <i class="fas fa-bolt text-secondary"></i>
    <a href="?q=event:@Model.Descriptor.Name" data-toggle="tooltip"
        title="@T["Event Name"]">@Model.Descriptor.LocalizedName(Context.RequestServices)</a></span>
</span>
