@model AuditTrailFilterViewModel
@using OrchardCore.AuditTrail.ViewModels

<div class="form-group mr-2">
    <input placeholder="User" asp-for="@Model.UserName" type="text" class="form-control" />
</div>
