.timer {
    width: 36px;
    height: 36px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAUNJREFUSEu1VsGRhCAQJCeffnz5Nw5DMAJjMAIzMAIj8O3XCPxoWXOMggfY4Fh111W9tYvN9DAMuIqIkhyGgbIsg+z7XkvwPEs4eByHapoGBkWs65q2bYOxHgPTNMEgEo7jqEP48bwfqXJIGZbt/hLLPM9zmudZS3wsy0JlWcI57krOj5jYCJNAiTlJXQZd18UEJ/Z9p6qqqCgKWtfVjP4CJdi2LT9SMPsw8zcDRrgSm+RjY03LmWkXJAa6tSlsbd7wR3lQ3SUGjHAVXCbvQMU6RmoQlpuroXiiHYgFkBpYnRvvk4HVuXTnQIMvJbI6l64BLJFkk6WAmyxpUwmibSo5aBJED5p+9npVvCFxVVwGSMD8s8uOiYSB2EMsKaZJ7Ix7GzD/9YVjGVuJhE5J73hecEvUcil+eukHJMHfFgaaq0nqBz88GIi8S10IAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center;
}

.toolbox-timer {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAUNJREFUSEu1VsGRhCAQJCeffnz5Nw5DMAJjMAIzMAIj8O3XCPxoWXOMggfY4Fh111W9tYvN9DAMuIqIkhyGgbIsg+z7XkvwPEs4eByHapoGBkWs65q2bYOxHgPTNMEgEo7jqEP48bwfqXJIGZbt/hLLPM9zmudZS3wsy0JlWcI57krOj5jYCJNAiTlJXQZd18UEJ/Z9p6qqqCgKWtfVjP4CJdi2LT9SMPsw8zcDRrgSm+RjY03LmWkXJAa6tSlsbd7wR3lQ3SUGjHAVXCbvQMU6RmoQlpuroXiiHYgFkBpYnRvvk4HVuXTnQIMvJbI6l64BLJFkk6WAmyxpUwmibSo5aBJED5p+9npVvCFxVVwGSMD8s8uOiYSB2EMsKaZJ7Ix7GzD/9YVjGVuJhE5J73hecEvUcil+eukHJMHfFgaaq0nqBz88GIi8S10IAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.toolbox-timer div {
    margin-left: 36px;
}