.fade-in-pager {
  opacity: 0.001;
  transition: opacity 0.2s 0.2s;
  -moz-transition: opacity 0.2s 0.2s;
  -webkit-transition: opacity 0.2s 0.2s;
  -o-transition: opacity 0.2s 0.2s;
  -ms-transition: opacity 0.2s 0.2s;
  -khtml-transition: opacity 0.2s 0.2s;
}

.disabled-tree {
  background-color: #f5f5f5;
}
.disabled-tree .tree-name-link {
  color: #808080;
}

.disabled-tree, .disabled-admin-node {
  background-color: #f5f5f5;
  color: #808080;
}

#menu {
  list-style: none;
  padding-left: 0;
}

#menu li {
  list-style: none;
  cursor: move;
  border: none;
  padding: 0;
}

.card-columns {
  column-count: 1;
}
.card-columns .card.admin-node-thumbnail .card-body {
  height: 160px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
  .card-columns .card.admin-node-thumbnail .card-body {
    height: 200px;
  }
}
