@model ShapeViewModel<AuditTrailIndexOptions>
@{
    var term = Model.Value.FilterResult.FirstOrDefault(x => x.TermName == "username");
}

<h4 class="card-title">@T["User Name"]</h4>
<pre class="mb-3">@(term?.ToString() ?? "username:...")</pre>
<p>@T["Filters by the name of a user."]</p>
<div class="d-block text-end">
    <span>
        <i class="fa-solid fa-sm fa-check text-primary" aria-hidden="true"></i>
    </span>
    <span>
        <i class="fa-solid fa-sm fa-bars text-primary" aria-hidden="true"></i>
    </span>
</div>
