@model ContentTypeViewModel


<fieldset class="form-group row">
    <div class="col-sm">
        <label asp-for="DisplayName">@T["Display Name"]</label>
        <input asp-for="DisplayName" class="form-control" />
        <span class="hint">@T["Name of the type as it will be displayed in screens."]</span>
    </div>
</fieldset>
