@using OrchardCore.DisplayManagement.Views
@using OrchardCore.Themes.Models

@model ShapeViewModel<ThemeEntry>

<span class="theme-entry-description">
    @Model.Value.Extension.Manifest.Description
</span>
