@using OrchardCore.DisplayManagement.Views
@using OrchardCore.Themes.Models

@model ShapeViewModel<ThemeEntry>

<div class="card-theme-thumbnail" style="background-image: url('@Url.Content($"~/{Model.Value.Extension.Id}/Theme.png")');"></div>
