@using OrchardCore.Users.Workflows.Activities
@using OrchardCore.Workflows.ViewModels
@model ActivityViewModel<AssignUserRoleTask>
<header>
    <h4><i class="fa-solid fa-user" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["Assign user to role"])</h4>
</header>
<em>@T["{0} to role {1}", Model.Activity.UserName, Model.Activity.RoleName]</em>
