@model AuditTrailEventViewModel
@using OrchardCore.AuditTrail.ViewModels
@using OrchardCore.ContentManagement
@using OrchardCore.Entities
@using OrchardCore.Users.AuditTrail.Models

@{
    var userEvent = Model.AuditTrailEvent.As<AuditTrailUserEvent>();
}

<div class="form-group border rounded pl-2 pt-2 pr-2">
    <table class="table table-sm table-hover">
        <tbody>
            <tr>
                <th class="border-top-0 w-25">@T["User ID"]</th>
                <td class="border-top-0">@userEvent.UserId</td>
            </tr>
            <tr>
                <th>@T["User name"]</th>
                <td>@userEvent.UserName</td>
            </tr>
        </tbody>
    </table>
</div>
