@using OrchardCore.DisplayManagement.Notify
@using OrchardCore.Users.Workflows.ViewModels;

@model RegisterUserTaskViewModel

<fieldset class="form-group form-check" asp-validation-class-for="SendConfirmationEmail">
    <input type="checkbox" asp-for="SendConfirmationEmail" class="form-check-input" />
    <label asp-for="SendConfirmationEmail" class="form-check-label">@T["Send confirmation email"] <span asp-validation-for="SendConfirmationEmail"></span></label>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="ConfirmationEmailTemplate">
    <label asp-for="ConfirmationEmailTemplate">@T["Template for confirmation email"] <span asp-validation-for="ConfirmationEmailTemplate"></span></label>
    <input type="text" asp-for="ConfirmationEmailTemplate" class="form-control code" />
    <span class="hint">@T["The message to send. Access email confirmation url with Workflow.Properties.EmailConfirmationUrl liquid property."]</span>
</fieldset>