@using OrchardCore.DisplayManagement.Notify
@using OrchardCore.Users.Workflows.ViewModels;

@model RegisterUserTaskViewModel

<fieldset class="form-group" asp-validation-class-for="ConfirmUser">
    <label asp-for="ConfirmUser">@T["Confirm User"] <span asp-validation-for="ConfirmUser"></span></label>
    <input type="checkbox" asp-for="ConfirmUser" class="form-control code" />
    <span class="hint">@T["The registered user should be confirmed."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="ConfirmationEmailTemplate">
    <label asp-for="ConfirmationEmailTemplate">@T["Template for confirmation email"] <span asp-validation-for="ConfirmationEmailTemplate"></span></label>
    <input type="text" asp-for="ConfirmationEmailTemplate" class="form-control code" />
    <span class="hint">@T["The message to send. With Liquid support."]</span>
</fieldset>