@using OrchardCore.Workflows.Helpers
@using OrchardCore.Workflows.ViewModels
@using OrchardCore.Users.Workflows.Activities

@model ActivityViewModel<RegisterUserTask>

<header>
    @{
        var icon = Model.Activity.SendConfirmationEmail ? "fa-user-shield" : "fa-user";
    }
    <h4><i class="fa-solid @icon" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["Register User"])</h4>
</header>
