@using OrchardCore.Workflows.Helpers;
@using OrchardCore.Workflows.ViewModels;
@using OrchardCore.Users.Workflows.Activities;

@model ActivityViewModel<RegisterUserTask>

<header>
    <h4><i class="fa fa-user"></i>@Model.Activity.GetTitleOrDefault(() => T["Register User"])</h4>
</header>