@model ShapeViewModel<UserIndexOptions>
@{
    var term = Model.Value.FilterResult.FirstOrDefault(x => x.TermName == "sort");
}

<h4 class="card-title">Sort</h4>
<pre class="mb-3">@(@term != null ? @term.ToString() : "sort:...")</pre>
<p>@T["Orders by a user value."]</p>
<div class="d-block text-right">
    <span>
        <i class="fas fa-sm fa-minus text-primary" aria-hidden="true"></i>
    </span>
</div>
