<!DOCTYPE html>
<html lang="{{ Culture.Name }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% page_title Site.SiteName, position: "before", separator: " - " %}</title>
    <link rel="icon" type="image/png" href="{{ Site.BaseUrl | append: "media/" | append: Site.SiteName | remove: " " | append: ".png" }}">
    {% resources type: "Meta" %}
    {% style name:"font-awesome", version:"6", at:"Head" %}
    {% style name:"bootstrap", version:"5", at:"Head" %}
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% resources type: "HeadScript" %}
    {% render_section "Head", required: false %}
</head>
<body dir="{{ Culture.Dir }}">
    {% render_section "Header", required: false %}
    {% render_section "Messages", required: false %}
    {% render_section "Before", required: false %}
    {% render_section "Content" %}
    {% render_section "Side", required: false %}
    {% render_section "After", required: false %}
    <footer>
    {% render_section "Footer", required: false %}
    </footer>
    
    {% script name:"jquery", use_cdn:"true", at:"Foot" %}
    {% script name:"bootstrap", version:"5", use_cdn:"true", at:"Foot" %}
    {% resources type: "FootScript" %}
    {% render_section "Foot", required: false %}
</body>
</html>