<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/TheAdmin/Styles/TheAdmin.min.css">
    
    @await RenderSectionAsync("Header", required: false)
</head>
<body>
    <div class="container-fluid">
    <div class="row">
        <div class="hidden-sm-down col-md-2">
            @await RenderSectionAsync("Navigation", required: false)
        </div>

        <div class="col-sm-12 col-md-10">
            @RenderBody()
        </div>
    </div>
        
    </div><!-- /.container -->

    @await RenderSectionAsync("Footer", required: false)
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="~/TheAdmin/Scripts/TheAdmin.min.js"></script>
</body>
</html>