.widget-container {
    @extend .container;
}

.widget-image-widget img {
    width: 100%;
}

.widget-align-left {
    text-align: left;
}

.widget-align-center {
    text-align: center;
}

.widget-align-right {
    text-align: right;
}

.widget-align-justify {
    text-align: justify;
}

.widget-size-25 {
    @extend .col-sm-3;
}

.widget-size-33 {
    @extend .col-sm-4;
}

.widget-size-50 {
    @extend .col-sm-6;
}

.widget-size-66 {
    @extend .col-sm-8;
}

.widget-size-75 {
    @extend .col-sm-9;
}

.widget-size-100 {
    @extend .col-sm-12;
}

.widget {
    .widget-size-25 {
        @extend .col-md-3;
        @extend .col-12;
    }

    .widget-size-33 {
        @extend .col-md-4;
        @extend .col-12;
    }

    .widget-size-50 {
        @extend .col-md-6;
        @extend .col-12;
    }

    .widget-size-66 {
        @extend .col-md-8;
        @extend .col-12;
    }

    .widget-size-75 {
        @extend .col-md-9;
        @extend .col-12;
    }

    .widget-size-100 {
        @extend .col-md-12;
        @extend .col-12;
    }
}