@{
    IEnumerable<dynamic> contentItems = Model.ContentItems;
}

@if (contentItems.Any())
{
<ul class="list-group">
    @foreach (var contentItemSummary in contentItems)
    {
        <li class="list-group-item">
            @Display(contentItemSummary)
        </li>
    }
</ul>
}
else
{
    <p class="alert alert-warning">@T["The list is empty"]</p>
}