@model EditQueryViewModel

<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        <button type="submit" class="btn btn-primary save">@T["Save"]</button>

        <a class="btn btn-secondary cancel"
           role="button"
           asp-route-action="Index"
           asp-route-controller="Admin"
           asp-route-area="OrchardCore.Queries">@T["Cancel"]</a>
    </div>
</div>
