@model dynamic

<div class="col">
    <div class="card h-100">
        <div class="card-body">
            <h4>@T["SQL"]</h4>
            <p class="hint">@T["Queries the SQL database."]</p>
        </div>
        <div class="card-footer text-muted text-sm-end">
            <a class="btn btn-primary btn-sm" asp-route-action="Create" asp-route-controller="Admin" asp-route-id="@Model.Name" asp-area="OrchardCore.Queries">@T["Add"]</a>
        </div>
    </div>
</div>
