@model EditQueryViewModel

<div class="form-group">
    <button type="submit" class="publish-button btn btn-success">@T["Save"]</button>

    <a class="btn btn-secondary"
       asp-route-action="Index"
       asp-route-controller="Admin"
       asp-route-area="OrchardCore.Queries">@T["Cancel"]</a>
</div>
