@model dynamic

@{
    var base64Query = Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes((string)Model.Query.Template ?? ""));
}

<a asp-action="Query"
   asp-controller="Admin"
   asp-area="OrchardCore.Queries"
   asp-route-query="@base64Query"
   class="btn btn-success btn-sm">@T["Run"]</a>
