@using OrchardCore.DisplayManagement.Views
@using OrchardCore.Security.Core

@model ShapeViewModel<Credential>

<a asp-action="Edit"
   asp-route-id="@Model.Value.ItemId"
   class="btn btn-primary btn-sm">@T["Edit"]</a>

<a asp-action="Delete"
   asp-route-id="@Model.Value.ItemId"
   class="btn btn-danger btn-sm"
   data-url-af="RemoveUrl UnsafeUrl">@T["Delete"]</a>
