@using OrchardCore.DisplayManagement.Views
@using OrchardCore.Security.Core

@model ShapeViewModel<Credential>

<span class="badge ta-badge bg-warning-subtle font-weight-normal" data-bs-toggle="tooltip" title="@T["Provider"]">
    <i class="text-secondary" aria-hidden="true"></i>@Model.Value.Source
</span>
