@model OrchardCore.ContentFields.ViewModels.EditBooleanFieldViewModel
@using OrchardCore.ContentFields.Settings;
@using OrchardCore.ContentManagement.Metadata.Models
@{
    var settings = Model.PartFieldDefinition.Settings.ToObject<BooleanFieldSettings>();
}

<fieldset class="form-group form-check">
    <label class="form-check-label" asp-for="Value">
        <input asp-for="Value" type="checkbox" class="form-check-input content-preview-select" checked="@Model.Value" /> 
        @(string.IsNullOrEmpty(settings.Label) ? Model.PartFieldDefinition.DisplayName() : settings.Label)
        @if (!String.IsNullOrEmpty(settings.Hint))
        {
            <span class="hint">@T["— {0}", settings.Hint]</span>
        }
    </label>
</fieldset>
