@model OrchardCore.ContentFields.ViewModels.DisplayDateFieldViewModel
@using OrchardCore.Mvc.Utilities;
@using OrchardCore.ContentManagement.Metadata.Models

@{
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
}

@if (Model.Value.HasValue)
{
    <div class="field field-type-datefield field-name-@name">
        <span class="name">@Model.PartFieldDefinition.DisplayName()@T[":"]</span>
        <span class="value">@Model.Value.Value.ToShortDateString()</span>
    </div>
}
