@model OrchardCore.ContentFields.ViewModels.DisplayDateFieldViewModel
@using OrchardCore.Mvc.Utilities

@{
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
}

@if (Model.Value.HasValue)
{
    <div class="field field-type-datefield field-name-@name">
        @Model.Value.Value.ToShortDateString()
    </div>
}
