@model OrchardCore.ContentFields.ViewModels.DisplayDateTimeFieldViewModel
@using OrchardCore.Mvc.Utilities

@{
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
}

<div class="field field-type-datetimefield field-name-@name">
    @Model.LocalDateTime
</div>
