@model OrchardCore.ContentFields.ViewModels.EditDateTimeFieldViewModel

@{
    var settings = Model.PartFieldDefinition.GetSettings<DateTimeFieldSettings>();
}

<div class="form-group">
    <div class="row col-sm-12 col-md-6 col-lg-3">
        <label asp-for="LocalDateTime">@Model.PartFieldDefinition.DisplayName()</label>
        <input asp-for="LocalDateTime" type="datetime-local" class="form-control content-preview-select" required="@settings.Required" />
        <span class="hint">@settings.Hint</span>
    </div>
</div>
