@model OrchardCore.ContentFields.ViewModels.EditDateFieldViewModel

@{
    var settings = Model.PartFieldDefinition.GetSettings<DateFieldSettings>();
}

<div class="form-group">
    <div class="row col-md-6 col-lg-4">
        <label asp-for="Value">@Model.PartFieldDefinition.DisplayName()</label>
        <input asp-for="Value" type="date" class="form-control content-preview-select" required="@settings.Required" />
        <span class="hint">@settings.Hint</span>
    </div>
</div>
