@model OrchardCore.ContentFields.ViewModels.EditEnumerationFieldViewModel
@using OrchardCore.ContentFields.Settings;
@{
    var settings = Model.PartFieldDefinition.Settings.ToObject<EnumerationFieldSettings>();
    string required = settings.Required ? "required" : "";
}

<div class="row">
    <fieldset class="form-group form-check">
        <label class="form-check-label">

            <select class="form-control" asp-for="Values" asp-items="@(new SelectList(Model.Options,"Value","Value", Model.Values))"></select>

            @if (!String.IsNullOrEmpty(settings.Hint))
            {
                <span class="hint">@T["— {0}", settings.Hint]</span>
            }
        </label>
    </fieldset>
</div>