@model OrchardCore.ContentFields.ViewModels.DisplayEnumerationFieldViewModel
@using OrchardCore.ContentFields.Settings;
@using OrchardCore.Mvc.Utilities;
@{
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
    var editorType = Model.PartFieldDefinition.Settings.ToObject<EnumerationFieldSettings>().Editor.Split('|').First();
}

<div class="field field-type-enumerationfield field-name-@name">
    @if (editorType == "single")
    {
        @Model.Field.Value
    }
    else if(editorType == "multi")
    {
        @Model.Field.SelectedValues
    }
</div>