@model OrchardCore.ContentFields.ViewModels.EditHtmlFieldViewModel
@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.ContentFields.Settings;

@{
    var settings = Model.PartFieldDefinition.Settings.ToObject<HtmlFieldSettings>();
    var trumbowygSettings = Model.PartFieldDefinition.GetSettings<HtmlFieldTrumbowygEditorSettings>();
}

<script asp-name="trumbowyg" depends-on="admin" asp-src="~/OrchardCore.Resources/Scripts/trumbowyg.min.js" debug-src="/OrchardCore.Resources/Scripts/trumbowyg.js" at="Foot"></script>
<style asp-src="~/OrchardCore.Resources/Styles/trumbowyg.min.css" debug-src="~/OrchardCore.Resources/Styles/trumbowyg.css"></style>
<script asp-name="trumbowyg-plugins" depends-on="admin" asp-src="~/OrchardCore.Resources/Scripts/trumbowyg-plugins.min.js" debug-src="~/OrchardCore.Resources/Scripts/trumbowyg-plugins.js" at="Foot"></script>
<style asp-src="~/OrchardCore.Resources/Styles/trumbowyg-plugins.min.css" debug-src="~/OrchardCore.Resources/Styles/trumbowyg-plugins.css"></style>

<div class="form-group">
    <label asp-for="Html">@Model.PartFieldDefinition.DisplayName()</label>
    <textarea asp-for="Html" class="form-control"></textarea>
    @if (!String.IsNullOrEmpty(settings.Hint))
    {
        <span class="hint">@settings.Hint</span>
    }
</div>

<script at="Foot">
    $(function () {
        $('#@Html.IdFor(m => m.Html)').trumbowyg(@Html.Raw(trumbowygSettings.Options)).on('tbwchange', function () {
            $(document).trigger('contentpreview:render');
        });
    });
</script>