@model OrchardCore.ContentFields.ViewModels.TrumbowygSettingsViewModel

<div id="@Html.IdFor(m => m)" class="field-editor field-editor-trumbowyg">
    <div class="row">
        <div class="form-group col-sm-6">
            <label asp-for="Options">@T["Specifiy the trumbowyg editor options"]</label>
            <textarea asp-for="Options" class="form-control" rows="30"></textarea>
        </div>
        <div class="form-group col-sm-6">
            <label>@T["Example"]
               <a href="https://alex-d.github.io/Trumbowyg/documentation/#button-pane" target="_blank">Documentation for Trumbowyg buttons</a></label>
            <p>
{<br />
    autogrow: true,<br />
	btns: [<br />
		['viewHTML'],<br />
		['undo', 'redo'],<br />
		['formatting'],<br />
		['strong', 'em', 'del'],<br />
		['foreColor', 'backColor'],<br />
		['superscript', 'subscript'],<br />
		['link'],<br />
		['image'],<br />
		['align'],<br />
		['unorderedList', 'orderedList'],<br />
		['horizontalRule'],<br />
		['removeformat'],<br />
		['preformatted'],<br />
		['table'],<br />
		['fullscreen']<br />
	],<br /> 
	btnsDef: {<br />
		align: {<br />
			dropdown: ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],<br />
			ico: 'justifyLeft'<br />
		},<br />
		image: {<br />
			dropdown: ['insertImage', 'base64', 'noembed'],<br />
			ico: 'insertImage'<br />
		}<br />
	}<br />
}<br />
            </p>
        </div>
    </div>
</div>
