@model OrchardCore.ContentFields.ViewModels.EditHtmlFieldViewModel

@{
    var settings = Model.PartFieldDefinition.GetSettings<HtmlFieldSettings>();
    var culture = await Orchard.GetContentCultureAsync(Model.Field.ContentItem);
}

@await DisplayAsync(await New.ShortcodeModal())

<div class="mb-3">
    <label asp-for="Html">@Model.PartFieldDefinition.DisplayName()</label>
    <textarea asp-for="Html" rows="5" class="form-control content-preview-text shortcode-modal-input" dir="@culture.GetLanguageDirection()"></textarea>
    @if (!String.IsNullOrEmpty(settings.Hint))
    {
        <span class="hint">@settings.Hint</span>
    }
</div>
