@model OrchardCore.ContentFields.ViewModels.DisplayLinkFieldViewModel
@using OrchardCore.ContentFields.Settings;
@using OrchardCore.Mvc.Utilities

@{
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
}

@{
    var settings = Model.PartFieldDefinition.GetSettings<LinkFieldSettings>();
    string text = Model.Text;
    switch (settings.LinkTextMode)
    {
        case LinkTextMode.Static:
            if (!String.IsNullOrWhiteSpace(settings.DefaultText))
            {
                text = settings.DefaultText;
            }
            else
            {
                text = Model.Url;
            }
            break;
        case LinkTextMode.Url:
            text = Model.Url;
            break;
        case LinkTextMode.Optional:
            if (String.IsNullOrWhiteSpace(text))
            {
                text = Model.Url;
            }
            break;
    }
}
<div class="field field-type-linkfield field-name-@name">
    <a href="@Model.Url">@text</a>
</div>
