@model OrchardCore.ContentFields.ViewModels.DisplayMultiSelectFieldViewModel
@using Newtonsoft.Json
@using OrchardCore.Mvc.Utilities
@using OrchardCore.ContentManagement.Metadata.Models

@{
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
    var settings = Model.PartFieldDefinition.GetSettings<MultiSelectFieldSettings>();
    var listOptions = string.IsNullOrWhiteSpace(settings.Options) ? new MultiSelectListValueOption[0] : JsonConvert.DeserializeObject<MultiSelectListValueOption[]>(settings.Options);
    var values = listOptions.Where(o => Model.Values.Contains(o.Value)).Select(o => T[o.Name].Value).ToArray();
}

@if (values.Any())
{
<div class="field field-type-multiselectfield field-name-@name">
    <span class="name">@Model.PartFieldDefinition.DisplayName()@T[":"]</span>
    @foreach (var value in values)
    {
        <span class="value">@value</span>if (value != values.Last()){@T[", "]}
    }
</div>
}
