@model OrchardCore.ContentFields.ViewModels.EditMultiTextFieldViewModel
@using OrchardCore.Mvc.Utilities

@{
    var settings = Model.PartFieldDefinition.GetSettings<MultiTextFieldSettings>();
    var options = new List<SelectListItem>();

    foreach (var option in settings.Options)
    {
        bool isSelected = Model.Values.Contains(option.Value) ? true : false;

        options.Add(new SelectListItem { Text = option.Name, Value = option.Value, Selected = isSelected });
    }
}
<div class="mb-3">
    <label asp-for="Values">@Model.PartFieldDefinition.DisplayName()</label>
    <div class="row col-md-6 col-lg-4">
        <select class="form-select content-preview-select" asp-for="Values" asp-items="options" multiple
            style="min-height: 200px"></select>
    </div>
    @if (!String.IsNullOrEmpty(settings.Hint))
    {
        <span class="hint">@settings.Hint</span>
    }
</div>
