@model OrchardCore.ContentFields.ViewModels.DisplayMultiTextFieldViewModel
@using OrchardCore.Mvc.Utilities
@using OrchardCore.ContentManagement.Metadata.Models

@{
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
}

@if (Model.Values.Any())
{
<div class="field field-type-multitextfield field-name-@name">
    <span class="name">@Model.PartFieldDefinition.DisplayName()</span>
    @foreach (var value in Model.Values)
    {
        <span class="value">@value</span>if (value != Model.Values.Last()){@T[", "]}
    }
</div>
}
