@model OrchardCore.ContentFields.ViewModels.DisplayTextFieldViewModel
@using OrchardCore.Mvc.Utilities

@{
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
}

@if (!string.IsNullOrEmpty(Model.Text))
{
    <div class="form-group row field-type-textfield field-name-@name">
        <label class="col-xl-2">@Model.PartFieldDefinition.DisplayName()</label>
        <div class="col-xl-10">
            @Model.Text
        </div>
    </div>
}
