@model OrchardCore.ContentFields.ViewModels.EditTextFieldViewModel

@{
    var settings = Model.PartFieldDefinition.GetSettings<TextFieldSettings>();
}

<div class="mb-3">
    <label asp-for="Text">@Model.PartFieldDefinition.DisplayName()</label>
    <div class="input-group mb-2">
        <span class="input-group-text">@@</span>
        <input asp-for="Text" class="form-control content-preview-text" type="email" />
    </div>
    @if (!String.IsNullOrEmpty(settings.Hint))
    {
        <span class="hint">@settings.Hint</span>
    }
</div>
