@model OrchardCore.ContentFields.Settings.TextFieldTextAreaEditorSettings

<div class="field-editor field-editor-textarea">
    <fieldset class="form-group">
        <div class="row col-sm-6">
            <label asp-for="Color">@T["Color"]</label>
            <input asp-for="Color" class="form-control" />
            <span class="hint">@T["The color of the textarea."]</span>
        </div>
    </fieldset>
</div>