@model OrchardCore.ContentFields.Settings.TextFieldTextArea2EditorSettingsViewModel

<div class="field-editor field-editor-textarea2">
    <fieldset class="form-group">
        <div class="row col-sm-6">
            <label asp-for="TextFieldTextArea2EditorSettings.Color">@T["Color"]</label>
            <input asp-for="TextFieldTextArea2EditorSettings.Color" class="form-control" />
            <span class="hint">@T["The color of the textarea2."]</span>
        </div>
    </fieldset>
</div>