@model OrchardCore.ContentFields.ViewModels.DisplayTimeFieldViewModel
@using OrchardCore.Mvc.Utilities
@using OrchardCore.ContentManagement.Metadata.Models

@{
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
}

@if (Model.Value.HasValue)
{
    <div class="field field-type-timefield field-name-@name">
        <span class="name">@Model.PartFieldDefinition.DisplayName()</span>
        <span class="value">@Model.Value</span>
    </div>
}
