@model OrchardCore.ContentFields.ViewModels.EditTimeFieldViewModel

@{
    var settings = Model.PartFieldDefinition.GetSettings<TimeFieldSettings>();
}

<div class="mb-3">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <label asp-for="Value">@Model.PartFieldDefinition.DisplayName()</label>
            <input asp-for="Value" type="time" class="form-control content-preview-select" step="@settings.Step" required="@settings.Required" />
        </div>
    </div>
    @if (!String.IsNullOrEmpty(settings.Hint))
    {
        <span class="hint">@settings.Hint</span>
    }
</div>
