@model OrchardCore.ContentFields.ViewModels.DisplayUserPickerFieldViewModel
@using OrchardCore.Mvc.Utilities

@{
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
    var users = await @Orchard.GetUsersByIdsAsync(Model.UserIds);
}

@if (users.Any())
{
    <div class="form-group row field-type-contentpickerfield field-name-@name">
        <label class="col-xl-2">@Model.PartFieldDefinition.DisplayName()</label>
        <div class="col-xl-10">
            @foreach (var user in users)
            {
                @user.UserName
                if (user != users.Last())
                {
                    @T[", "]
                }
            }
        </div>
    </div>
}
