@model OrchardCore.ContentFields.ViewModels.EditVideoFieldViewModel;
@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.ContentFields.Settings;

@{
    var settings = Model.PartFieldDefinition.Settings.ToObject<VideoFieldSettings>();
}

<fieldset class="form-group">
    <label asp-for="Address">@Model.PartFieldDefinition.DisplayName()</label>
    <input asp-for="Address" class="form-control content-preview-text" />
    @if (!String.IsNullOrEmpty(settings.Hint))
    {
        <span class="hint">@settings.Hint</span>
    }
    @if (settings.StreamingType == VideoStreamingType.Youtube)
    {
        <div>
            <span class="hint">@T["For Youtube videos, in the page of the video in Youtube website, click on the Share button, then select 'Embed', then copy the src value and paste it into the above Textbox"]</span>
        </div>

    }
</fieldset>
