:root[data-theme=default] pre, .audittrail-comment {
  font-family: var(--bs-font-sans-serif);
  white-space: pre-wrap;
  word-break: normal;
}[dir]:root[data-theme=default] pre, [dir] .audittrail-comment {
  margin-bottom: 0;
}

:root[data-theme=darkmode] pre, .audittrail-comment {
  font-family: var(--bs-font-sans-serif);
  white-space: pre-wrap;
  word-break: normal;
}

[dir]:root[data-theme=darkmode] pre, [dir] .audittrail-comment {
  margin-bottom: 0;
}
