@using OrchardCore.Google.AdSense.ViewModels;
@model GoogleAdSenseSettingsViewModel;

<h3>@T["Google AdSense Settings"]</h3>

<div class="form-group row" asp-validation-class-for="PublisherID">
    <div class="col-lg">
        <label asp-for="PublisherID">@T["Publisher ID"]</label>
        <input asp-for="PublisherID" class="form-control" autocomplete="off" />
        <span asp-validation-for="PublisherID"></span>
        <span class="hint">@T["The publisher ID is defined in your Google AdSense account."]</span>
    </div>
</div>