@model AuthorizationSecretViewModel
<div class="form-group" asp-validation-class-for="AuthenticationString">
    <label asp-for="AuthenticationString">@T["Authentication String"]</label>
    <div class="input-group mb-2 mb-sm-0">
        @if(Model.Context.IsNew)
        {
            <input asp-for="AuthenticationString" class="form-control pwd" type="password" required/>
        }
        else 
        {
            <input asp-for="AuthenticationString" class="form-control pwd" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"/>
        }
        <div class="input-group-append reveal" title="@T["Show/hide authentication string"]">
            <button type="button" class="btn btn-secondary" tabindex="-1" aria-hidden="true"><i class="fa fa-eye-slash"></i></button>
        </div>
    </div>    
    <span asp-validation-for="AuthenticationString"></span>
    <span class="hint">@T["The password or key for the authentication secret."]</span>
</div>

<script at="Foot">
    $(".reveal").on('click',function() {
        var $pwd = $(".pwd");
        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
            $(this).find('button > i').toggleClass('fa-eye-slash fa-eye');
            $pwd.focus();
        } else {
            $pwd.attr('type', 'password');
            $(this).find('button > i').toggleClass('fa-eye fa-eye-slash');
            $pwd.focus();
        }
    });    
</script>