@model OrchardCore.Secrets.RsaKeySecret

<p class="mb-0">
    <span class="badge text-bg-warning">@T["RSA Key"]</span>
    @if (Model.IncludesPrivateKey)
    {
        <span class="text-muted">@T["Public/Private key pair"]</span>
    }
    else
    {
        <span class="text-muted">@T["Public key only"]</span>
    }
</p>
