@model dynamic

<p class="m-0">
    @T["Adds all secrets to the deployment plan."]
    @if (!string.IsNullOrEmpty((string)Model.EncryptionKeyName))
    {
        <br />
        <span class="badge text-bg-success">@T["Encrypted"]</span>
        <small class="text-muted">@T["using key: {0}", Model.EncryptionKeyName]</small>
    }
    else
    {
        <br />
        <span class="badge text-bg-secondary">@T["Metadata only"]</span>
    }
</p>
