@using OrchardCore.DisplayManagement.Views
@model ShapeViewModel<OrchardCore.Secrets.Deployment.SecretsDeploymentStep>

<h5 class="modal-title">@T["Secrets"]</h5>
<span class="hint">@T["Exports all secrets metadata."]</span>
