@model OrchardCore.Secrets.ViewModels.TextSecretViewModel

<div class="mb-3">
    <label asp-for="Text" class="form-label">@T["Secret Value"]</label>
    <input asp-for="Text" type="password" class="form-control" autocomplete="new-password" placeholder="@(Model.IsNew ? T["Enter secret value"] : T["Enter new value to change, or leave empty to keep current"])" />
    @if (!Model.IsNew)
    {
        <span class="hint">@T["Leave empty to keep the current value."]</span>
    }
</div>
