@model OrchardCore.Secrets.TextSecret

<p class="mb-0">
    <span class="badge text-bg-info">@T["Text Secret"]</span>
    <span class="text-muted">@T["Value is encrypted and stored securely."]</span>
</p>
