@model CreateContentTypeViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["New Content Type"])</h1></zone>

<form asp-action="Create">
    @Html.ValidationSummary()
    <input type="hidden" asp-for="Suggestion" />

    @await DisplayAsync(Model.Editor)

    <div class="mb-3">
        <button class="btn btn-primary create" type="submit">@T["Create"]</button>
    </div>
</form>
