@model Orchard.Markdown.Settings.MarkdownPartSettingsViewModel

@inject Orchard.DisplayManagement.Theming.IThemeManager ThemeManager
@inject Orchard.DisplayManagement.Descriptors.IShapeTableManager ShapeTableManager

@{ 
    var theme = await ThemeManager.GetThemeAsync();
    var shapeTable = ShapeTableManager.GetShapeTable(theme?.Id);
    var markdownEditorShapes = shapeTable.ShapeBindings.Keys.Where(x => x.StartsWith("Markdown_Option__", StringComparison.OrdinalIgnoreCase));
}

<fieldset class="form-check">
    <label class="form-check-label">
        <input asp-for="RenderTokens" type="checkbox" class="form-check-input" checked="@Model.RenderTokens" /> @T["Render tokens"]
        <span class="hint">@T["Check to render the tokens present in the markdown text."]</span>
    </label>
</fieldset>

<div class="row">
    <fieldset class="form-group col-sm-6">
        <label asp-for="Editor">@T["What type of editor should be used?"]</label>
        <select asp-for="Editor" class="form-control">
            @foreach (var markdownEditorShape in markdownEditorShapes)
            {
                dynamic shape = Factory.Create(markdownEditorShape);
                shape.Editor = Model.Editor;
                @await DisplayAsync(shape)
            }
        </select>
    </fieldset>
</div>