@model Orchard.ContentFields.ViewModels.EditMarkdownFieldViewModel
@using Orchard.ContentManagement.Metadata.Models
@using Orchard.ContentFields.Settings;

@{
    var settings = Model.PartFieldDefinition.Settings.ToObject<MarkdownFieldSettings>();
}

<fieldset class="form-group">
    <label asp-for="Markdown">@Model.PartFieldDefinition.DisplayName()</label>
    <input asp-for="Markdown" class="form-control" />
    @if (!String.IsNullOrEmpty(settings.Hint))
    {
        <span class="hint">@settings.Hint</span>
    }
</fieldset>

<script at="Foot">
    $(function () {
        $('#@Html.IdFor(m => m.Markdown)')
        .on('input', function () {
            $(document).trigger('contentpreview:render');
        })
        .on('keyup', function (event) {
            // handle backspace
            if (event.keyCode == 46) {
                $(document).trigger('contentpreview:render');
            }
        });
    });
</script>