<button class="primaryAction btn btn-primary save" type="submit">@T["Save"]</button>

@{
    var returnUrl = Context.Request.Query["returnUrl"];
}

@if (!String.IsNullOrWhiteSpace(returnUrl) && Url.IsLocalUrl(returnUrl))
{
    <a href="@returnUrl" class="btn btn-secondary cancel" role="button">@T["Cancel"]</a>
}
