@using Orchard.Body.ViewModels;
@model BodyPartViewModel

<fieldset class="form-group">
    <label asp-for="Body">@T["Body"]</label>
    <textarea asp-for="Body" rows="10" class="form-control"></textarea>
    <span class="hint">@T["The body of the content item."]</span>
</fieldset>