@model dynamic

<zone Name="Title"><h1>@RenderTitleSegments(T["Create User"])</h1></zone>

<form asp-action="Create" method="post" enctype="multipart/form-data" class="no-multisubmit">
    @Html.ValidationSummary()
    @await DisplayAsync(Model)
</form>
