@model dynamic

<titleZone><h1>@RenderTitleSegments(T["Create User"])</h1></titleZone>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary()
    @await DisplayAsync(Model)
</form>
