@model dynamic

<zone Name="Title"><h1>@RenderTitleSegments(T["Edit User"])</h1></zone>

<form asp-action="Edit" method="post" asp-route-returnUrl="@ViewData["returnUrl"]" enctype="multipart/form-data" class="no-multisubmit">
    @Html.ValidationSummary()
    @await DisplayAsync(Model)
</form>
