@model UsersIndexViewModel

<div class="row">
    <div class="form-group col-xl-6 mb-xl-n1">
        <h1>@RenderTitleSegments(T["Users"])</h1>
    </div>
    <div class="form-group col-xl-6 mb-xl-n1">
        <div class="dropdown float-right order-md-1">
            <a asp-route-action="Create" class="btn btn-primary float-right" role="button">@T["Add User"]</a>
        </div>
    </div>
</div>

<form asp-action="Index" method="get">
    <fieldset class="filter-options">
        <div class="card mb-3">
            <div class="card-body bg-light p-3">
                <div class="row">
                    <div class="form-group col-xl-6 mb-xl-n1">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-secondary text-light">@T["Filter"]</span>
                            </div>
                            <input id="search-box" asp-for="Options.Search" class="form-control" autofocus="autofocus" />
                        </div>
                    </div>
                    <div class="form-group col-xl-3 mb-xl-n1">
                        <div class="input-group input-group-sm">
                            <button type="submit" class="btn btn-sm btn-secondary">@T["Search"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<ul class="list-group">
    @foreach (var entry in Model.Users)
    {
        <li class="list-group-item">
            @await DisplayAsync(entry.Shape)
        </li>
    }
</ul>

@await DisplayAsync(Model.Pager)
