@using OrchardCore.Workflows.ViewModels
@using OrchardCore.Sms.Activities
@using OrchardCore.Workflows.Helpers

@model ActivityViewModel<SmsTask>

<header>
    <h4>
        <i class="fa-solid fa-comment-sms" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["Send SMS"])
    </h4>
</header>
<em>@Model.Activity.Body</em>
