// Global styles
body {
    overflow-x: hidden;
}

p {
    line-height: 1.75;
}

a {
    color: $primary;
    &:hover {
        color: darken($primary, 10%);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
}

section {
    padding: 4rem 0;
}

.section-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: $font-family-sans-serif;
    margin-bottom: 3rem;
    color: $secondary;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    &:hover {
        background-color: darken($primary, 10%);
        border-color: darken($primary, 10%);
    }
}
