<zone name="Header">
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('@Href("~/Orchard.Demo/img/about-bg.jpg")')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>From Module: @T[(string)Model.Title]</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
</zone>
