#mediaApp {
    position: absolute;
    top: 128px;
    bottom: 0;
    right: 0;
    left: 260px;
    transition: left 0.2s ease-in-out, width 0.2s ease-in-out;

    #mediaContainer {
        display: flex;
        flex-direction: column; // on small screen #navigationApp and #mediaContainerstacked
        height: 100%;
        align-items: stretch;
    }
    // on large screen they are side by side
    @media only screen and ( min-width: 768px ) {
        #mediaContainer {
            flex-direction: row;
        }
        // we don't want left navigation 100% tall when on stacked over the thumbs list
        #navigationApp {
            height: 100%;
        }
    }

    .alert-info {
        font-size: 0.875rem;
    }


    #navigationApp {
        border-right: $media-border-content;
        border-top: $media-border-content;
        min-width: 260px;
    }

    .message-warning {
        padding: 20px;
        margin-bottom: 8px;
    }

    a.disabled {
        cursor: default;
    }
}

.modal-content .modal-body #mediaApp {
    position: static;
    margin: 0px -15px 0px -15px;
    margin-top: 0;
    height: 100%;
}

.left-sidebar-compact #mediaApp {
    left: 48px;
}