h1, h2, h3, h4, h5 {
    color: $gray-700;
}
h1 {
    font-size: 1.5rem;
    font-weight:normal;
    height: 42px;
}

h4 {

}
.media-container-navigation h5 {
    padding-top: 10px;
    /*margin-bottom: 38px;*/
    font-size: 1.25rem;
    font-weight: normal;
}

.message-warning {
    padding: 20px;
    margin-bottom: 8px;
}