#mediaApp {
    margin: 0px -15px 0px -15px;
    margin-top: 0;
    height: 100%;

    #mediaContainer {
        display: flex;
        flex-direction: column; // on small screen #navigationApp and #mediaContainerstacked
        height: 100%;
        align-items: stretch;
    }

    // on large screen they are side by side
    @media only screen and ( min-width: 768px ) {
        #mediaContainer {
            flex-direction: row;
        }
        // we don't want left navigation 100% tall when on stacked over the thumbs list
        #navigationApp {
            height: 100%;
        }
    }

    .alert-info {
        font-size: 0.875rem;
    }


    #navigationApp {
        border-right: $media-border-content;
        border-top: $media-border-content;
        min-width: 260px;
    }

    .message-warning {
        padding: 20px;
        margin-bottom: 8px;
    }

    a.disabled {
        cursor: default;
    }
}

h1 {
    font-size: 1.8rem;
    font-weight: normal;
    height: 42px;
}

/*#mediaApp {
    height: 100%;
}*/


