@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";

.media-field-toolbar {
    display: flex;

    .selected-media-name {
    }

    code {
        flex-grow: 1;
        padding: 4px;
        white-space: nowrap;
    }

    .fileinput-button {
        cursor: pointer;
        margin: 0;
        padding: 4px 8px;
        border: 1px solid $secondary;

        input {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
    }
}

@include media-breakpoint-up(lg) {
    .media-crop-modal {
        .modal-lg {
            max-width: 1200px;
        }
    }
}

.media-crop-modal {
    .icon-media-crop {
        position: absolute;
        line-height: 0px;
        color: $pink;
    }
}
