.action-bar {
    border-bottom: $media-border-content;

    .media-filter {
        margin-top: 3px;

        .input-filter {
            border-color: $gray-400;
            border-right: none;
            max-width: 240px;
            padding-left: 32px;

            &:focus, &:focus + .input-group-append > button {
                border-color: $gray-700;
            }
        }

        .input-group-append button {
            border-color: $gray-400;
            opacity: 1;
            border-left: none;
        }

        .input-group-append button[disabled] {
            color: transparent;
        }

        .icon-inside-input {
            position: absolute;
            top: 8px;
            left: 10px;
            z-index: 1070; // when integrated with bootstrap variables you replace this value by $zindex-tooltip.
            pointer-events: none;
            color: $gray-600;
        }
    }

    .nav-bar-divider {
        background-color: $gray-600;
        margin: 2px 4px 0 4px;
        width: 1px;
        min-width: 1px;
        height: 22px;
        align-self: center;
    }

    .nav-item {
        margin-top: 2px !important; // fixing a gap at the bottom of each nav-item
        .badge-light {
            font-size: 0.875rem;
            background-color: $gray-200;
            color: $gray-700;
        }
    }

    .selected-count {
        min-width: 25px;
        display: inline-block;
    }
    /* Upload button */
    .fileinput-button {
        cursor: pointer;
        margin: 0;
        padding: 5px 16px 0px 16px;
        border: 0;
        border-radius: 0px !important;

        svg {
            margin-right: 6px;
        }

        input {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
    }
    // hide glow on filter input
    input[type="text"] {
        outline: none;
        box-shadow: none !important;
        /*border: 1px solid red !important;*/
    }
}

#breadcrumb {
    background-color: transparent;
    border-bottom: $media-border-content;
    border-radius: 0px;
    height: 50px;
    padding-bottom: 8px;
    font-size: 0.875rem;

    .breadcrumb-path {
        margin-bottom: 4px;
        margin-right: 8px;

        .breadcrumb-item a {
            color: $gray-700;
        }
    }


    .breadcrumb-buttons {
        justify-content: flex-start;
        flex-grow: 1;
        margin-top: -5px;

        a {
            border-radius: 0px !important;
            color: $gray-700;
        }
    }

    .visibility-buttons {
        justify-content: flex-end;
        flex-grow: 0;
        margin-top: -5px;

        button {
            border-radius: 0px !important;
            color: $gray-700;
        }

        .selected {
            color: $primary;
        }
    }
}