.action-bar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 40px;

    .media-filter {
        .input-filter {
            max-width: 240px;
        }
    }

    .selected-count {
        min-width: 25px;
        display: inline-block;
    }
}

#breadcrumb {
    background-color: transparent;
    border-bottom: $media-border-content;
    border-radius: 0px;
    height: 50px;
    padding-bottom: 8px;
    font-size: 0.875rem;

    .breadcrumb-path {
        margin-bottom: 4px;
        margin-right: 8px;

        .breadcrumb-item a {
            color: $gray-600;
        }
    }


    .breadcrumb-buttons {
        justify-content: flex-start;
        flex-grow: 1;
        margin-top: -5px;

        a {
            border-radius: 0px !important;
            color: $gray-600;
        }
    }

    .visibility-buttons {
        justify-content: flex-end;
        flex-grow: 0;
        margin-top: -5px;

        button {
            border-radius: 0px !important;
            color: $gray-600;
        }

        .selected {
            color: $primary;
        }
    }
}

/* Upload button */
.upload-btn-group {
    max-width: 300px;
    width: 100%;
}

.upload-button {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0px !important;
}

.fileinput-button {
    cursor: pointer;

    input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
}


// hide glow on inputs
input[type="text"], textarea {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

