// duplicates of bootstrap.
$gray-base: #000 !default;
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
 
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$blue: #007bff !default;

$primary: $blue;
$secondary: $gray-600;

$zindex-fixed: 1030 !default;

// media-specific
$media-border-content: 1px solid rgba(0, 0, 0, 0.1);
$selected-background-color: lighten($primary, 45%);

