@import '../../../OrchardCore.Resources/Assets/Bootstrap/scss/bootstrap.scss';

$gray-base: #000 !default;
$gray-nr: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555

.media-container {

    .media-container-navigation {
        @extend .col-md-3
    }

    .media-container-main {
        @extend .col-md-9
    }

    @extend .row
}

/* navbar */

.upload-button {
    label {
        margin-bottom: 0; // there is a margin below the label that makes the navbar fattier
    }
}

/* Navigation */
#media-container-navigation-menu {
    list-style: none;
    padding-left: 0;

    li.selected > div {
        font-weight: bold;
    }

    li.selected > div > a > i.folder:before {
        content: "\f07c";
        color: $gray;
    }

    div {
        padding: 0.2rem 0.2rem;

        a {
            color: $gray-dark;
            text-decoration: none;


        }
    }

    ol {
        padding-left: 1rem;
        margin-left: 0px;
    }

    .folder {
        color: lightgray;
    }

    li {
        list-style: none;
    }

    .expand {
        /* make both icons be in the center as their widths are different */
        text-align: center;
        width: 10px;
        cursor: pointer;
    }

    .opened {
        svg{
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
        }
    }

    .empty {
        transform: none;
        visibility: hidden;
    }

    .closed {
    }
}

[v-cloak] {
    display: none
}

/* Upload button */
.fileinput-button {
    cursor: pointer;
}

.fileinput-button input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* File view */
.media-container-main {

    ol {
        display: flex;
        flex-direction: row;
        align-items: stretch;

        li {
            @extend .card;
            margin-bottom: 16px;
            cursor: pointer;
            max-width: 6cm;
            margin-left: 0.7em;
            margin-right: 0.7em;
            width: 240px;

            .delete-media-button {
                opacity: 0;
                padding-top: 0px;
            }

            &.selected {
                @extend .border-primary;
            }

            &.selected .delete-media-button, &:hover .delete-media-button {
                opacity: 1;
            }
        }

        .thumb-container {
            width: 100%;
            height: 240px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        list-style: none;
        padding-left: 0;
    }
}

.media-container-main-item-title {
    @extend .card-body;
    border-top: solid 1px $gray-300;

    .media-filename {
        @extend .card-text;
        @extend .small;
    }
}

// Not necessary anymore. Just keeping it for reference.
// Specific styles when the media application is in a modal dialog
// .modal-lg {
    /*.media-container-main-list-item {
        @extend .col-md-4;
        padding:0;
    }*/
    /*.media-container-main-item-title {
        // Hide the filename in modals
        @extend .d-none; 
        @extend .d-xl-block;
    }*/
// }

/* Toolbar */
.breadcrumb {
    button {
        cursor: pointer;
    }
}

.breadcrumb-item.active {
    margin-right: 1rem;
}

.media-field-toolbar {
    display:flex;
}

.selected-media-tasks, .selected-media-label {
    justify-content: flex-end;
    flex-grow: 1;
    text-align:right;

    small {
        padding: 8px;
    }
}