@model TenantTaskViewModel<CreateTenantTask>

<header>
    <h4><i class="fa-regular fa-file-lines" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["Create Tenant"])</h4>
</header>

<em>@Model.Activity.Name</em>
