@model TenantTaskViewModel<DisableTenantTask>

<header>
    <h4><i class="fa-solid fa-trash" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["Disable Tenant"])</h4>
</header>

<em>@Model.Activity.TenantName</em>
