@using OrchardCore.Tenants.Workflows.ViewModels
@model EnableTenantTaskViewModel

<div class="ocat-wrapper" asp-validation-class-for="TenantNameExpression">
    <label asp-for="TenantNameExpression" class="ocat-label">@T["Tenant name"]</label>
    <div class="ocat-end">
        <input type="text" asp-for="TenantNameExpression" class="form-control code" autofocus />
        <span asp-validation-for="TenantNameExpression"></span>
        <span class="hint">@T["Select the name of the tenant to enable."]</span>
    </div>
</div>
