@model TenantTaskViewModel<SetupTenantTask>

<header>
    <h4><i class="fa-regular fa-file-lines" aria-hidden="true"></i>@Model.Activity.GetTitleOrDefault(() => T["Setup Tenant"])</h4>
</header>

<em>@Model.Activity.Name</em>
