@model FileDownloadDeploymentTargetSettingsViewModel

<div class="form-group" asp-validation-class-for="RsaSecret">
    <div class="w-100 w-md-50">
        <label asp-for="RsaSecret">@T["Rsa secret"]</label>
        @await Component.InvokeAsync("SelectSecret", new { secretType = "RsaSecret", selectedSecret = Model.RsaSecret, htmlName = Html.NameFor(m => m.RsaSecret), required = true })
        <span asp-validation-for="RsaSecret"></span>
    </div>
    <span class="hint">@T["The name of the secret to use when a deployment step encrypts data to a file exports."]</span>
</div>
