@model ShapeViewModel<UnknownDeploymentStep>

<div class="card h-100 mb-3">
    <div class="card-body">
        <h4 class="card-title">@T["Unknown Step"]</h4>
        <p>@T["This deployment step type is not available."]</p>
    </div>
</div>
