@model Orchard.Themes.Models.SelectThemesViewModel

<div class="alert alert-warning">
    <h4>Changing default themes</h4>
    <p>This page lets you change the site's themes. Try <code>SafeMode</code> and <code>TheTheme</code> for the front-end or <code>TheAdmin</code> for the admin</p>
</div>

<form asp-action="Index" method="post">

    <fieldset class="form-group">
        <label asp-for="SiteThemeName">Site theme name</label>
        <input asp-for="SiteThemeName" class="form-control"/>
        <span class="hint">The name of the theme for the front-end.</span>
    </fieldset>

    <fieldset class="form-group">
        <label asp-for="AdminThemeName">Admin theme name</label>
        <input asp-for="AdminThemeName" class="form-control"/>
        <span class="hint">The name of the theme for the admin.</span>
    </fieldset>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>