@model dynamic

<zone Name="Title"><h1>@RenderTitleSegments(T["New Rule"])</h1></zone>

<form asp-action="CreateRule" id="EditRule_Form" method="post" enctype="multipart/form-data" class="no-multisubmit">
    @Html.ValidationSummary()
    @await DisplayAsync(Model)
</form>
