@page "/article-{id}/{title}"

@{ 
    var contentItem = await Orchard.GetContentItemByIdAsync(Id);
}

<h1>@contentItem.DisplayText</h1>

@Html.Raw(contentItem.Content.HtmlBodyPart.Html)

@functions 
{
    [FromRoute]
    public string Id { get; set; }
}
