@page

<p>Application Bar Page 123456</p>

<div class="item active">
    <img src="/OrchardCore.Cms.Web/theme.png" alt="ASP.NET" class="img-responsive" />
    <!--<img src="/theme.png" alt="ASP.NET" class="img-responsive" />-->
</div>

<div>
    <a asp-page="/Foo" class="navbar-brand">FooPage</a>
    <a asp-page="Foo" class="navbar-brand">FooPage</a>
</div>
