@model OrchardCore.Users.ViewModels.ForgotPasswordViewModel

@{ 
    ThemeLayout.Metadata.Alternates.Add("Layout__Login");
}

<h2>@T["Forgot password?"]</h2>
<h4>@T["Please check your email or user name to reset your password."]</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-controller="ResetPassword" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserIdentifier" class="col-md-3 control-label">@T["Email or user name"]</label>
                <div class="col-md-9">
                    <input asp-for="UserIdentifier" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-default">@T["Submit"]</button>
                </div>
            </div>
        </form>
    </div>
</div> 