@{
    ViewLayout = "Layout__Login";
}

<h1>@T["Reset Password"]</h1>
<p>
    @T["Your password has been reset."]
    @T["Please "]<a asp-route-area="OrchardCore.Users" asp-controller="Account" asp-action="Login">@T["Click here to log in"]</a>
</p>
