@import '../_variables';
@import '../../../node_modules/bootstrap/scss/mixins/_breakpoints';

$width-sizes: (25, 50, 75);

@each $breakpoint in map-keys($grid-breakpoints) {
    @each $width-size in $width-sizes {

        @include media-breakpoint-up($breakpoint) {
            $selctor: '.w-#{$breakpoint}-#{$width-size}';

            #{$selctor} {
                width: $width-size * 1% !important;
            }
        }
    }
}

.unset {
    all: unset;
}
