<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Title.GenerateTitle()</title>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link type="image/x-icon" rel="shortcut icon" href="~/TheAdmin/Content/favicon.ico" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/TheAdmin/Styles/TheAdmin.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script asp-src="~/TheAdmin/Scripts/TheAdmin.js" at="Foot"></script>

    <resources type="Header" />

    @await RenderSectionAsync("Header", required: false)
</head>
<body>
    <div class="ta-wrapper">

        <div class="ta-navbar-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Orchard</a>
            </div>


            <div class="navbar-content">
                @await RenderSectionAsync("NavbarTop", required: false)

                <!-- Example of pulled navbar -->
                <ul class="nav navbar-nav navbar-ri pull-xs-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="ta-left-sidebar">
            @await RenderSectionAsync("Navigation", required: false)
        </div>

        <div class="ta-content">
            @await RenderSectionAsync("Messages", required: false)

            @RenderBody()
        </div>

    </div><!-- /.ta-wrapper -->

    @await RenderSectionAsync("Footer", required: false)

    <div id="confirmRemoveMessage" data-value="@T["Are you sure you want to remove this element?"]"/>

    <resources type="Footer" />
</body>
</html>
