View: @DateTime.Now.ToString("hh:MM:ss")
<br />

<shape typeof="outerdoll" cache-id="outerdoll" cache-fixed-duration="00:00:5" />
<br />
<shape typeof="outerdoll" cache-id="outerdoll" />

<div class="row">

    <div class="col-md-3">
        <shape typeof="demowidget" title="Widget1" cache-id="widget1" cache-context="user" cache-tag="widget" />
    </div>

    <div class="col-md-3 float-md-end">
        <shape typeof="demowidget" title="Widget2" cache-id="widget2" cache-context="query:foo" cache-tag="widget widget2" />
    </div>
</div>
