@using Microsoft.Extensions.DependencyInjection;

@* Adding meta tags *@
<meta asp-name="foo" content="bar" />
<meta asp-name="foo" content="baz" />
<meta asp-property="foo" content="bar" />

@* Inline definition of resources and dependencies *@
<script asp-name="blitz" asp-src="blitz.min.js" debug-src="blitz.js" asp-append-version="true"></script>
<script asp-name="baz" asp-src="baz.min.js" debug-src="baz.js" version="1.0" asp-append-version="true"></script>
<script asp-name="baz" asp-src="baz.min.js" debug-src="baz.js" version="2.0" asp-append-version="true"></script>
<script asp-name="foo" asp-src="foo.min.js" debug-src="foo.js" depends-on="baz:1.0" version="1.0" asp-append-version="true"></script>
<script asp-name="foo" asp-src="foo.min.js" debug-src="foo.js" depends-on="baz, blitz" version="2.0" asp-append-version="true"></script>
<script asp-name="foo" asp-src="foo.min.js" debug-src="foo.js" depends-on="baz" version="3.0" asp-append-version="true"></script>

@* Injecting named resources *@
<script asp-name="foo" version="2.0" at="Head" asp-append-version="true"></script>

@* Injecting custom scripts urls *@
<script asp-src="bar.min.js" debug-src="bar.js" at="Head" data-foo="bar" asp-append-version="true"></script>
<script asp-src="bottom.min.js" debug-src="bottom.js" debug="false" at="Foot" condition="!IE" asp-append-version="true"></script>

@* Injecting custom stylesheets *@
<style asp-src="bar.min.css" debug-src="bar.css" asp-append-version="true"></style>

@* Adding custom links *@
<link asp-src="http://example.com/feed" rel="alternate" type="application/rss+xml" />

@* Adding custom script *@
<script at="Foot">document.write('<!-- some script -->');</script>

<div class="jumbotron">
    <p>This page lets you create a new content item. Type any text, you will be redirected to a view displaying the newly created content item.</p>
</div>

<form asp-action="Index">
    <input name="text" />
    <button type="submit">GO!!!</button>
</form>

<zone name="Footer">A</zone>
<zone name="Footer" position=""><b>B</b></zone>
<zone name="Footer" position="before">C</zone>

<div>
    Logged user: @User?.Identity?.Name
</div>
<div>
    Tenant: @(Context.RequestServices.GetService<OrchardCore.Environment.Shell.ShellSettings>().Name)
</div>