@using OrchardCore
@using OrchardCore.AdminMenu.Services
@using OrchardCore.Localization.Data
@model ShapeViewModel<PlaceholderAdminNode>
@inject IDataLocalizer D
@{
    var context = string.Concat(OrchardCoreConstants.DataLocalizationContext.AdminMenu, Constants.ContextSeparator, Model.Value.MenuName);
    string localizedAdminMenuItemLinkText = D[Model.Value.LinkText, context];
}
<div class="@(Model.Value.Enabled ? "" : "disabled")">
    <span>@localizedAdminMenuItemLinkText <span class="text-muted dashed">@T["Placeholder"]</span></span>
</div>
