@model dynamic
@addTagHelper "*, Orchard.Resources"
@addTagHelper "*, Orchard.Demo"

@Model.Line

@*
    The way it is done from a View is to use a DisplayHelper which is created for
    each view. It return an IHtmlString
*@
@await DisplayAsync(Model)

@*
    We can still call the DisplHelper with methods
*@

<div>@Display(New.Bar())</div>

@*
    Or attribute shapes
*@

<div>@Display(New.Baz(Text: "Foo"))</div>
<div><shape type="Baz" text="Hello" count="3" /></div>
<div><baz text="Bertrand" count="4" /></div>
