// Styling for pager
ul.pager {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  > li {
    > a {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: #343a40;
      background-color: #fff;
      border: 1px solid #dee2e6;
    }
    > a:hover {
      z-index: 2;
      color: #0056b3;
      text-decoration: none;
      background-color: #e9ecef;
      border-color: #dee2e6;
    }
    > a:focus {
      z-index: 2;
      outline: 0;
      box-shadow: 0 0 0 .2rem rgba(0,123,255,.25)
    }
    > a:not(:disabled):not(.disabled) {
      cursor: pointer
    }
  }
  > li:first-child {
    > a {
      margin-left: 0;
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
    }
  } 

  > li:last-child { 
    > a {
      border-top-right-radius: .25rem;
      border-bottom-right-radius: .25rem;
    }
  }

  > li.active {
    > a {
      z-index: 1;
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
    }
  } 

  > li.disabled {
    > a {
      color: #6c757d;
      pointer-events: none;
      cursor: auto;
      background-color: #fff;
      border-color: #dee2e6;
    }
  } 
}