<zone name="Header">
    <!-- Page Header -->
    <header class="intro-header" style="background-color: dimgray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>@Model.Title</h1>
                        <h2>Header coming from the module shared views</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
</zone>
