@using OrchardCore.Indexing.Deployments.ViewModels

@model IndexEntityDeploymentStepViewModel

<h5 class="mb-3">@T["Indexes"]</h5>

<div class="mb-3">
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IncludeAll" data-bs-toggle="collapse" role="button" data-bs-target="#data-source-list" aria-expanded="false" aria-controls="data-source-list" />
            @T["Include all data sources"]
        </label>
    </div>
</div>

<div id="data-source-list" class="collapse@(Model.IncludeAll ? string.Empty : " show")">
    <div class="hint mb-1">@T["The indexes to export as part of the plan."]</div>

    <div class="mb-3">
        @for (var i = 0; i < Model.Indexes.Length; i++)
        {
            <div class="form-check">
                <input type="hidden" asp-for="Indexes[i].IndexName" />
                <input asp-for="Indexes[i].IsSelected" type="checkbox" class="form-check-input">
                <label class="form-check-label" asp-for="Indexes[i].IsSelected">@Model.Indexes[i].DisplayText</label>
            </div>
        }
    </div>
</div>
