@using Microsoft.AspNetCore.Mvc.Localization
@using OrchardCore.DisplayManagement.Views
@using OrchardCore.Indexing.Core.Deployments
@using OrchardCore.Indexing.Deployments

@model ShapeViewModel<IndexProfileDeploymentStep>

<h5>@T["Index Profiles"]</h5>

@if (Model.Value.IncludeAll)
{
    <span class="badge text-bg-success">@T["All index profiles"]</span>
}
else if (Model.Value.IndexNames?.Length > 0)
{
    foreach (var indexName in Model.Value.IndexNames)
    {
        <span class="badge ta-badge">@indexName</span>
    }
}
else
{
    <span class="badge text-bg-warning">@T["No selected index profiles."]</span>
}
