@using Microsoft.AspNetCore.Mvc.Localization
@using OrchardCore.DisplayManagement.Views
@using OrchardCore.Indexing.Core.Deployments
@using OrchardCore.Indexing.Deployments

@model ShapeViewModel<IndexProfileDeploymentStep>

<h5>@T["Indexes"]</h5>

@if (Model.Value.IncludeAll)
{
    <span class="badge text-bg-success">@T["All Indexes"]</span>
}
else if (Model.Value.IndexIds?.Length > 0)
{
    <span class="badge text-bg-warning">@T.Plural(Model.Value.IndexIds.Length, "1 selected index.", "{0} selected indexes.", Model.Value.IndexIds.Length)</span>
}
else
{
    <span class="badge text-bg-warning">@T["No selected indexes."]</span>
}
