<!DOCTYPE html>
<html lang="{{ Culture.Name }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ "PageTitle" | shape_new | shape_stringify }}</title> 
    {% resources type: "Meta" %}
    {% link type:"image/x-icon", rel:"shortcut icon", href:"~/TheComingSoonTheme/favicon.ico" %}
    <!-- Font Awesome icons (free version)-->
    {% style name:"font-awesome", version:"5" %}
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    {% style name:"coming-soon", version:"6" %}  
    {% style name:"thecomingsoontheme-bootstrap-oc", version:"1" %}
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% resources type: "HeadScript" %}
    {% render_section "HeadMeta", required:false %}
  </head>
  <body dir="{{ Culture.Dir }}">
    <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{{ "~/TheComingSoonTheme/assets/mp4/bg.mp4" | href }}" type="video/mp4">
    </video>
    {% render_section "Header", required: false %}
    {% render_section "Content" %}
    {% render_section "Footer", required: false %}
    <!-- Bootstrap core JS-->        
    {% script name:"thecomingsoontheme-bootstrap-bundle", at:"Foot" %}
    <!-- Core theme JS -->
    {% script name:"coming-soon", at:"Foot" %}  
    {% resources type: "FootScript" %}
  </body>
</html>
