@using System.Collections.Generic
@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.ContentManagement.Metadata.Settings
@using OrchardCore.ContentManagement
@using OrchardCore
@using OrchardCore.Title.Models

@{
    ContentTypePartDefinition typePartDefinition = Model.ContentTypePartDefinition;
    var settings = typePartDefinition.GetSettings<TitlePartSettings>();
    var shapes = new List<object>();

    foreach (var shape in Model)
    {
        shapes.Add(shape);
    }

    if (settings.Options == TitlePartOptions.GeneratedHidden || shapes.Count == 0)
    {
        return;
    }
}

<div class="@Orchard.GetPartWrapperClasses(typePartDefinition)">
    @foreach (var shape in shapes)
    {
        @await DisplayAsync(shape)
    }
</div>
