@using System.Collections.Generic
@using OrchardCore
@using OrchardCore.ContentManagement
@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.ContentManagement.Metadata.Settings
@using OrchardCore.DisplayManagement
@using OrchardCore.Title.Models

@{
    var shapes = Model as IEnumerable<IShape>;

    if (shapes is null || !shapes.Any())
    {
        return;
    }

    ContentTypePartDefinition typePartDefinition = Model.ContentTypePartDefinition;
    var settings = typePartDefinition.GetSettings<TitlePartSettings>();

    if (settings.Options == TitlePartOptions.GeneratedHidden)
    {
        return;
    }
}

<div class="@Orchard.GetPartWrapperClasses(typePartDefinition)">
    @foreach (var shape in shapes)
    {
        @await DisplayAsync(shape)
    }
</div>
