@using OrchardCore.Title.ViewModels;
@model TitlePartViewModel

<fieldset class="form-group" asp-validation-class-for="Title">
    <label asp-for="Title">@T["Title"]</label>
    <input asp-for="Title" class="form-control content-preview-text content-caption-text" autofocus="autofocus" />
    <span asp-validation-for="Title"></span>
    <span class="hint">@T["The title of the content item."]</span>
</fieldset>
