@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

pre, .audittrail-comment {
    font-family: $font-family-base;
    white-space: pre-wrap;
    word-break: normal;
    margin-bottom: 0;
}
