@model dynamic
@using Orchard.ContentManagement;
@inject IContentManager ContentManager;

@{
    ContentItem contentItem = Model.ContentItem;
    var displayText = ContentManager.GetItemMetadata(contentItem).DisplayText;
}

<h1>@RenderTitleSegments(displayText)</h1>
@Display(Model)
