@model dynamic
@using Orchard.ContentManagement;
@inject IContentManager ContentManager;

@{
    ContentItem contentItem = Model.ContentItem;
    var displayText = ContentManager.PopulateAspect<ContentItemMetadata>(contentItem).DisplayText;
}

<h1>@RenderTitleSegments(Html.Raw(Html.Encode(displayText)))</h1>
@await DisplayAsync(Model)
