@{
    string type = Model.Type.ToString().ToLowerInvariant();
}
<div class="alert alert-dismissible fade show message-@type" role="alert">
    @Model.Message
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
