<div class="alert alert-warning alert-dismissible fade show" role="alert">
    @Model.Message
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
