@using OrchardCore.Localization
@{
    // Morphing the shape to keep Model untouched
    Model.Metadata.Alternates.Clear();
    Model.Metadata.Type = "NavigationItemText";
    Model.Metadata.Alternates.Add("NavigationItemText_Id__" + Model.Id);

    TagBuilder tag = Tag(Model, "a");
    tag.Attributes["id"] = null;
    tag.Attributes["href"] = Model.Href;

    if (Model.Href.ToString() == "#")
    {
        tag.Attributes["href"] = "#m" + Model.GetHashCode().ToString();
    }

    var prefix = "icon-class-";

    // Extract classes that are not icons from Model.Classes
    var notIconClasses = ((IEnumerable<string>)Model.Classes)
                    .ToList()
                    .Where(c => !c.StartsWith(prefix, StringComparison.OrdinalIgnoreCase));

    if (notIconClasses.Count() > 0)
    {
        tag.Attributes["class"] = string.Join(" ", notIconClasses);
    }

    tag.AddCssClass("item-label d-flex");

    if (Model.HasItems)
    {
        tag.Attributes["data-bs-toggle"] = "collapse";
        tag.Attributes["aria-expanded"] = "false";
        tag.Attributes["aria-controls"] = "m" + Model.GetHashCode().ToString();
        tag.TagRenderMode = TagRenderMode.Normal;

        if ((bool)Model.Selected)
        {
            tag.Attributes["aria-expanded"] = "true";
        }
        else
        {
            tag.Attributes["aria-expanded"] = "false";
        }
    }

    tag.InnerHtml.AppendHtml(await DisplayAsync(Model));

    if (Model.HasItems)
    {
        tag.InnerHtml.AppendHtml(Html.Raw("<div class=\"btn-nostyle\"><span class=\"collapse-icon\"><i class=\"fas fa-chevron-" + (Orchard.CultureDir() == LanguageDirection.LTR ? "right" : "left") + " fa-xs chevron\"></i></span></div>"));
    }
}

@tag
