@{
    TagBuilder tag = Tag(Model, "ul");


    foreach (var item in Model)
    {
        tag.InnerHtml.AppendHtml(await DisplayAsync(item));
    }
}

<div id="left-nav">
    @tag
</div>
<!-- Menu rendered on @DateTime.UtcNow.ToString("r") -->