@{
    // Morphing the shape to keep Model untouched
    Model.Metadata.Alternates.Clear();
    Model.Metadata.Type = "NavigationItemText";
    Model.Metadata.Alternates.Add("NavigationItemText_Id__" + Model.Id);
    
    TagBuilder tag = Tag(Model, "a");
    tag.Attributes["id"] = null;
    tag.AddCssClass("item-label d-flex");
    tag.Attributes["href"] = Model.Href ?? "#";

    if(Model.HasItems)
    {
        tag.Attributes["data-toggle"] = "collapse";
        tag.Attributes["data-target"] = "#m" + Model.GetHashCode().ToString();
        tag.Attributes["aria-expanded"] = "false";
        tag.Attributes["aria-controls"] = "m" + Model.GetHashCode().ToString();
        tag.TagRenderMode = TagRenderMode.Normal;

        if ((bool)Model.Selected)
        {
            tag.Attributes["aria-expanded"] = "true";
        }
        else
        {
            tag.Attributes["aria-expanded"] = "false";
        }
    }

    tag.InnerHtml.AppendHtml(await DisplayAsync(Model));
    
    if(Model.HasItems)
    {
        tag.InnerHtml.AppendHtml(Html.Raw("<div class=\"btn-nostyle\"><span class=\"collapse-icon\"><i class=\"fas fa-chevron-right fa-xs chevron\"></i></span></div>"));
    }
}

@tag
