@inject OrchardCore.Settings.ISiteService siteService
@using OrchardCore.Entities
@using OrchardCore.Admin.Models
@using OrchardCore.Navigation
@{
    var adminSettings = (await siteService.GetSiteSettingsAsync()).GetOrCreate<AdminSettings>();
    TagBuilder tag = Tag(Model, "ul");
    tag.Attributes["Id"] = NavigationConstants.AdminMenuId;

    foreach (var item in Model)
    {
        tag.InnerHtml.AppendHtml(await DisplayAsync(item));
    }
}
@if (adminSettings.DisplayMenuFilter)
{
    <input id="filter" class="form-control" placeholder="@T["Filter"]" type="search" data-bs-toggle="tooltip" data-bs-placement="right" data-html="true" title="Ctrl+Shift+F" />
}
<nav id="left-nav">
    @tag
</nav>
@if (adminSettings.DisplayMenuFilter)
{
    <script asp-src="~/TheAdmin/js/navigation-admin/NavigationAdmin.min.js" debug-src="~/TheAdmin/js/navigation-admin/NavigationAdmin.js" at="Foot" type="module"></script>
}
<!-- Menu rendered on @DateTime.UtcNow.ToString("r") -->
