<form asp-route-area="OrchardCore.Users" asp-controller="Account" asp-action="LogOff" method="post" class="form-inline">
    <ul class="nav navbar-nav text-right w-100">
        <li class="nav-item">
            <a class="nav-link"><span>@User.Identity.Name</span>&nbsp;<span><i class="fa fa-user" aria-hidden="true"></i></span></a>
        </li>
        <li class="nav-item">
            <button type="submit" class="btn nav-link d-inline text-left border-0" role="button"><span> @T["Log off"]</span>&nbsp;<span><i class="fa fa-sign-out-alt" aria-hidden="true"></i></span></button>
        </li>
    </ul>
</form>