@model dynamic

<fieldset class="form-group">
    <label id="name">@T["Body"]</label>
    <textarea name="Body" rows="10" class="form-control">@Model.Body</textarea>
    <span class="hint">@T["The body of the content item"]</span>
</fieldset>