<div id="contentPreviewContainer">
    <nav id="contentPreviewNavigation" class="navbar navbar-light bg-faded">
        <a class="btn btn-secondary btn-sm" href="#" onclick="$(document).trigger('contentpreview:toggle')">@T["Close"]</a>
        <a class="btn btn-primary btn-sm" href="#" onclick="$(document).trigger('contentpreview:render')">@T["Refresh"]</a>
        @* We check the opposite state as the event is triggered before the value is changed *@
        <a class="btn btn-info btn-sm"  href="#" onclick="$(document).trigger('contentpreview:auto', $(this).attr('aria-pressed') === 'false')" data-toggle="button" aria-pressed="false" autocomplete="off">
            @T["Auto refresh"]
        </a>
    </nav>
    <div id="contentPreviewContent"></div>
</div>
