@*@if (Authorizer.Authorize(Permissions.PublishContent, (IContent)Model.ContentItem)) {*@
<button class="primaryAction btn btn-primary" type="submit" name="submit.Update" value="submit.Update">@T["Update"]</button>
@* } *@
