<ul>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="oc-culture-picker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Model.CurrentCulture.DisplayName</a>
        <div class="dropdown-menu" aria-labelledby="oc-culture-picker">
            @{
                var routeData = new Dictionary<string, string>(StringComparer.OrdinalIgnoreCase);

                foreach (var culture in Model.SupportedCultures)
                {
                    if (culture.Name != Model.CurrentCulture.Name)
                    {
                        routeData.Clear();
                        routeData.Add("area", "OrchardCore.ContentLocalization");
                        routeData.Add("targetCulture", culture.Name);
                        routeData.Add("contentItemUrl", Context.Request.Path.Value);

                        foreach (var kv in Context.Request.Query)
                        {
                            routeData.TryAdd(kv.Key, kv.Value.ToString());
                        }

                        <a asp-route="RedirectToLocalizedContent" asp-all-route-data=@routeData class="dropdown-item">@culture.DisplayName</a>
                    }
                }
            }
        </div>
    </li>
</ul>
