@model OrchardCore.ContentLocalization.Models.ContentRequestCultureProviderSettings

<div class="form-group" asp-validation-class-for="SetCookie">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="SetCookie" />
        <span asp-validation-for="SetCookie"></span>
        <label class="custom-control-label" asp-for="SetCookie">@T["Set Cookie"]</label>
        <span class="hint dashed">@T["Sets the localization cookie based on the LocalizationPart culture when accessing a page in the frontend."]</span>
    </div>
</div>
