@model OrchardCore.ContentLocalization.Models.ContentRequestCultureProviderSettings

<div class="mb-3" asp-validation-class-for="SetCookie">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="SetCookie" />
        <span asp-validation-for="SetCookie"></span>
        <label class="form-check-label" asp-for="SetCookie">@T["Set Cookie"]</label>
        <span class="hint dashed">@T["Sets the localization cookie based on the LocalizationPart culture when accessing a page in the frontend."]</span>
    </div>
</div>
