@using System.Globalization
@using Microsoft.AspNetCore.Localization
@inject OrchardCore.Localization.ILocalizationService localizationService

@{
    var currentCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture;
    var supportedCultures = (await localizationService.GetSupportedCulturesAsync()).Select(c => CultureInfo.GetCultureInfo(c));
}

<ul>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="oc-culture-picker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@currentCulture.DisplayName</a>
        <div class="dropdown-menu" aria-labelledby="oc-culture-picker">
            @foreach (var culture in supportedCultures.Where(c => c.LCID != currentCulture.LCID))
            {
                <a asp-action="RedirectToLocalizedContent"
                   asp-controller="ContentCulturePicker"
                   asp-route-area="OrchardCore.ContentLocalization"
                   asp-route-contentItemUrl="@Context.Request.Path"
                   asp-route-targetCulture="@culture.Name"
                   class="dropdown-item">@culture.DisplayName</a>
            }
        </div>
    </li>
</ul>
