@model LocalizationPartViewModel

@{
    IEnumerable<LocalizationLinksViewModel> cultures = null;
    if(!string.IsNullOrEmpty(Model.LocalizationSet))
    {
        cultures = Model.ContentItemCultures?.Where(c => string.IsNullOrEmpty(c.ContentItemId));
    }
}
@if (cultures?.Count() > 0)
{
    <div class="btn-group">
        <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @T["Localize"]
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            @foreach (var culture in cultures)
            {
                <a class="dropdown-item btn-sm" itemprop="UnsafeUrl" asp-action="Localize" asp-controller="Admin" asp-route-area="OrchardCore.ContentLocalization" asp-route-contentItemId="@Model.LocalizationPart.ContentItem.ContentItemId" asp-route-targetCulture="@culture.Culture.Name">@culture.Culture.DisplayName</a>
            }
        </div>
    </div>
}