@model LocalizationPartViewModel

@if (Model.LocalizationPart.Culture != null)
{
    <span class="badge ta-badge fw-normal" data-bs-toggle="tooltip" title="@T["Culture"]"><i class="fa-solid fa-globe text-info" aria-hidden="true"></i> @Model.LocalizationPart.Culture</span>
}
