@using System.Globalization
@model LocalizationPartViewModel

@if (Model.LocalizationPart.Culture != null)
{
    <span class="badge badge-info" title="@(new CultureInfo(Model.LocalizationPart.Culture).DisplayName)"><i class="fa fa-globe"></i> @Model.LocalizationPart.Culture</span>
}