@using Orchard.Setup.Controllers
@model Orchard.Setup.ViewModels.SetupViewModel
<html>
<head>
    <title>Get Started</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        Model.DatabaseProvider = "SqlConnection";

        <h2>Please answer a few questions to configure your site.</h2>
        <fieldset class="site">
            <div>
                <label for="SiteName">What is the name of your site?</label>
                @Html.TextBoxFor(svm => svm.SiteName, new { autofocus = "autofocus" })
            </div>
            <div>
                <label for="DatabaseProvider">What type of database to use?</label>
                @Html.TextBoxFor(svm => svm.DatabaseProvider)
            </div>
            <div>
                <label for="ConnectionString">Connection string</label>
                @Html.TextBoxFor(svm => svm.ConnectionString)
            </div>
            <div>
                <label for="TablePrefix">Table Prefix</label>
                @Html.TextBoxFor(svm => svm.TablePrefix)
            </div>
        </fieldset>

        <fieldset>
            <button class="primaryAction setupButton" type="submit">Finish Setup</button>
        </fieldset>
    }
</body>
</html>