#graphiql {
    position: absolute;
    top: 59px; /* top bar height */
    bottom: 0;
    right: 0;
    left: 260px; /* left bar width */
}

    #graphiql .editorWrap {
        overflow-x: unset;
    }

.loader {
    position: absolute;
    left: 46%;
    top: 46%;
    z-index: 1;
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
