@using OrchardCore.Forms.Models
@model ShapeViewModel<ButtonPart>
@{
    var formElementPart = Model.Value.ContentItem.As<FormElementPart>();
    var elementId = formElementPart.Id;
    var elementName = formElementPart.Name;
    var id = !string.IsNullOrWhiteSpace(elementId) ? elementId : !string.IsNullOrWhiteSpace(elementName) ? Html.GenerateIdFromName(elementName) : default(string);
}
<button id="@elementId" name="@elementName" type="@Model.Value.Type" class="btn btn-default">@Model.Value.Text</button>