@using OrchardCore.Mvc.Utilities;

@using OrchardCore.ContentManagement.Metadata.Settings;
@inject OrchardCore.ContentManagement.Metadata.IContentDefinitionManager ContentDefinitionManager

@{
    var contentItem = (IContent)Model.ContentItem;
    var contentTypeDisplayText = ContentDefinitionManager.GetTypeDefinition((string)Model.ContentItem.ContentType).DisplayName;
    var forText = ((ContentItem)Model.ContentItem).As<OrchardCore.Forms.Models.LabelPart>().For;
    string contentType = Model.ContentItem.ContentType;
}


<div class="w-auto">
    <span class="badge badge-secondary" data-card-bind="For">@forText</span>
    <span class="badge badge-light">@contentTypeDisplayText</span>
</div>

<div class="inline-card-item">
    <span data-card-bind="Title">@(Model.ContentItem.ContentItem.DisplayText ?? contentTypeDisplayText)</span>
</div>
