@using OrchardCore.Mvc.Utilities;

@using OrchardCore.ContentManagement.Metadata.Settings;
@inject OrchardCore.ContentManagement.Metadata.IContentDefinitionManager ContentDefinitionManager

@{
    var contentItem = (IContent)Model.ContentItem;
    var contentTypeDisplayText = ContentDefinitionManager.GetTypeDefinition((string)Model.ContentItem.ContentType).DisplayName;
    var contentItemDisplayText = contentItem.ContentItem.DisplayText;

    var textAreaPart = ((ContentItem)Model.ContentItem).As<OrchardCore.Forms.Models.TextAreaPart>();
}

<div class="w-auto">
    <span class="badge badge-info" data-card-bind="Title">@contentItemDisplayText</span>
    <span class="badge badge-light">@contentTypeDisplayText</span>
</div>

<div class="inline-card-item">
    <div class="inline-textarea" data-card-bind="DefaultValue">@textAreaPart.DefaultValue</div>
</div>
