@using OrchardCore
@using System.Text.Json
@using OrchardCore.Forms.ViewModels

@model FormInputElementVisibilityDisplayViewModel

<script asp-name="form-visibility-rules" asp-src="~/OrchardCore.Forms/Scripts/form-visibility-rules.min.js" debug-src="~/OrchardCore.Forms/Scripts/form-visibility-rules.js" at="Foot"></script>

<div class="form-visibility-config d-none" data-model="@JsonSerializer.Serialize(Model, JOptions.CamelCase)"></div>

<script at="Foot" depends-on="form-visibility-rules">
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".form-visibility-config")
            .forEach(function(element) {
                var json = element.getAttribute("data-model");
                var config = JSON.parse(json);
                window.formVisibilityGroupRules.initialize(config);
            });
    });
</script>
