@using OrchardCore
@using System.Text.Json
@using OrchardCore.Forms.ViewModels

@model FormInputElementVisibilityDisplayViewModel

<script asp-name="form-visibility-rules" asp-src="~/OrchardCore.Forms/Scripts/form-visibility-rules.min.js" debug-src="~/OrchardCore.Forms/Scripts/form-visibility-rules.js" at="Foot"></script>

<div class="form-visibility-config d-none" data-model="@JsonSerializer.Serialize(Model, JOptions.CamelCase)"></div>

<script asp-src="~/OrchardCore.Forms/Scripts/form-input-element-visibility-part-visibility/form-input-element-visibility-part-visibility.min.js" debug-src="~/OrchardCore.Forms/Scripts/form-input-element-visibility-part-visibility/form-input-element-visibility-part-visibility.js" depends-on="form-visibility-rules" at="Foot" type="module"></script>
