@model OrchardCore.Lucene.Settings.ContentPickerFieldLuceneEditorSettings

<div class="field-editor field-editor-lucene">
    <fieldset class="form-group">
        <div class="row col-sm-6">
            <label asp-for="Index">@T["Index"]</label>
            <select asp-for="Index" class="form-control">
                @foreach (var index in Model.Indices)
                {
                    <option value="@index">@index</option>
                }
            </select>
            <span class="hint">@T["The Lucene index to query for content items"]</span>
        </div>
    </fieldset>
</div>