@model ListContentPartsViewModel

<h1>@RenderTitleSegments(T["Content Parts"])</h1>

<nav class="admin-toolbar">

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a asp-route-action="CreatePart" class="btn btn-primary" role="button">@T["Create new part"]</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input id="search-box" class="form-control" type="text" placeholder="@T["Filter"]" autofocus="autofocus">
    </form>
</nav>

<ul class="list-group">
    @foreach (var type in Model.Parts)
    {
        <li class="list-group-item">
            @Html.DisplayFor(m => type)
        </li>
    }
</ul>
