<div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="masthead-content text-white py-5 py-md-0">
                    <h1 class="mb-3">{{ Model.ContentItem }}</h1>
                    {% for item in Model.ContentItem.Content.FlowPart.Widgets %}
                    {{ item | shape_build_display | shape_render }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
        {% for socialicon in Model.ContentItem.Content.SocialIcons.ContentItems %}
        <li class="list-unstyled-item">
            <a href="{{ socialicon.SocialIcon.Url.Text }}">
                <i class="{{ socialicon.SocialIcon.IconClass.Text }}"></i>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
