.preload * { 
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

body {
    margin-bottom: $footer-height;
    cursor: default;
}

@include cursor-class(move);
@include cursor-class(pointer);

/* rtl:ignore */
[dir="rtl"] .dropdown-menu {
    left: auto !important;
    right: 0px !important;
    transform: translate3d(0px, 38px, 0px) !important;
}

.dropdown-menu.scrollable {
    overflow-y: auto;
    max-height: 250px;
}

// Layout
// -----------------------------

.ta-content {
    padding: 15px;
    margin-left: $left-navigation-width;
    margin-top: $top-nav-height;
    margin-bottom: $footer-height;
    transition: margin-left 0.2s ease-in-out;

    h1 {
        line-height: 40px;
        font-size: 28px;
        letter-spacing: -0.04em;
        font-weight: bold;
    }
}

.left-sidebar-compact .ta-content {
    margin-left: $left-navigation-width-when-compact;
}

@include media-breakpoint-down(sm) {
    .ta-content {
        margin-left: $left-navigation-width-when-compact;
        transition: margin-left 0.5s ease-in-out;
    }
}

.auth-wrapper {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

// END OF LAYOUT

// Sortable
// ------------------------------
.ui-sortable {
    min-height: $font-size-base;
}

.with-checkbox .list-group-item {
    padding: 0.75rem 0.5rem;
}

.properties {
    @extend .w-100;
}

.related {
    @extend .float-right;
}

// No transitions on load
// Prevents Firefox and Edge transitions on load.
// This class is added by default and removed trought Javascript
// after a few milliseconds.
// https://css-tricks.com/transitions-only-after-page-load/
// ------------------------------
.disable.custom-control-input:checked ~ .custom-control-label::before {
    border-color: red;
    background-color: red;
}

.action-bar {
    top: 3.3rem;
    z-index: $zindex-sticky;
}
