@model OrchardCore.ContentPreview.ViewModels.PreviewPartSettingsViewModel

<style asp-name="codemirror"></style>
<script asp-name="codemirror" at="Foot"></script>
<script asp-name="codemirror-mode-javascript" at="Foot"></script>
<script asp-name="codemirror-addon-display-autorefresh" at="Foot"></script>
<script asp-name="codemirror-addon-mode-simple" at="Foot"></script>
<script asp-name="codemirror-addon-mode-multiplex" at="Foot"></script>
<script asp-name="codemirror-mode-xml" at="Foot"></script>

<script asp-src="~/OrchardCore.Liquid/codemirror/liquid.js" at="Foot"></script>

<div class="ocat-limited-wrapper">
    <label asp-for="Pattern" class="ocat-label">@T["Pattern"]</label>
    <div class="ocat-limited">
        <textarea asp-for="Pattern" rows="5" class="form-control"></textarea>
        <span class="hint">@T["The pattern used to render the custom preview url of this content type."]</span>
    </div>
</div>

<script asp-src="~/OrchardCore.ContentPreview/Scripts/preview-part-settings/preview-part-settings.min.js" debug-src="~/OrchardCore.ContentPreview/Scripts/preview-part-settings/preview-part-settings.js" at="Foot" type="module"></script>
