// Custom variables

$font-family-sans-serif: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace: Consolas, Menlo, Monaco, "Courier New", monospace;

// Because !default means that a variable is not assigned if it already contains a value,
// we alter the variable before importing boostrap as _variables.scss will use !default

@import "src/Orchard.Web/Modules/Orchard.Resources/Assets/Bootstrap/scss/bootstrap.scss";


$top-nav-height: 55px;
$left-navigation-width: 5em;
$left-navigation-expand-width: 15em;

// Layout
// -----------------------------

.ta-wrapper {

    .ta-navbar-top {
        @extend .bg-faded;
        @extend .navbar, .navbar-fixed-top;
        min-height: $top-nav-height;
    }

    .ta-left-sidebar {
        @extend .bg-faded;
        @extend .hidden-sm-down;
        width: $left-navigation-width;
        height: 100%;
        z-index: 1;
        position: absolute;
    }

    .ta-content {
        @extend .container-fluid;
        margin-left: 0;
        margin-top: $top-nav-height;
        padding-top: 1em;
        border-left: 1px solid rgba(0, 0, 0, 0.05);
    }

    @include media-breakpoint-up(md) {
        .ta-content {
            margin-left: $left-navigation-width + $left-navigation-expand-width;
        }
    }
}

// Forms
// -----------------------------

.hint {
    @extend small, .text-muted;
}

.validation-summary-errors {
    @extend .alert, .alert-danger;
}

.field-validation-error {
    @extend small, .text-muted;
    color: $brand-danger;
}

// When the validation message in inside the label, add a separator
label .field-validation-error::before {
    content: "- ";
}


.button {
    @extend .btn, .btn-primary;
}

// Toolbar
// ------------------------------

.admin-toolbar {
    @extend .navbar, .navbar-light, .bg-faded;
    margin-bottom: 1em;
}


// Messages
// ------------------------------

.message {
    @extend .alert;
}

.message-success {
    @extend .alert-success;
}

.message-information {
    @extend .alert-info;
}

.message-warning {
    @extend .alert-warning;
}

.message-error {
    @extend .alert-danger;
}

// Navigation
// ------------------------------

.ta-left-sidebar nav {
    @extend .bg-faded;
    position: fixed;
    top: $top-nav-height;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 10;
    overflow: hidden;
    /*box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);*/

    .menu-admin {
        @extend .nav;

        li {
            @extend .nav-item;
        }
    }
    // When a root link is hovered, highlight it
    .menu-admin > li:hover > a {
        @extend .bg-inverse;
    }
    // Add a top border to the first root link
    .menu-admin > li:first-child > a {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
    }
    // Top menu links are just showing the icons, and are square
    .menu-admin > li > a {
        @extend .nav-link;
        text-indent: -500em;
        display: block;
        height: $left-navigation-width;
        width: $left-navigation-width;
        line-height: $left-navigation-width;
        text-align: center;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        transition: background 0.1s ease-in-out;
    }

    .menu-admin > li > a:before {
        font-family: FontAwesome;
        speak: none;
        text-indent: 0em;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 1.4em;
    }

    // Second level menu
    .menu-admin > li {
        ul {
            margin:0;
            padding-left:1em;
        }

        > ul {
            width: 0;
            overflow: hidden;
            z-index: 5;
            transition: all 0.1s ease-in-out;
            position: fixed;
            top: $top-nav-height;
            left: $left-navigation-width;
            height: 100%;

            li {
                list-style-type:none;
                // common style properties for all
                // second level menu links

                a {
                    @extend .nav-link;
                    display: block;
                    height: 2em;
                    text-indent: 0em;
                    line-height: 2em;
                    text-align: center;
                    position: relative;
                    transition: background 0.1s ease-in-out;
                    border: none;
                    font-size: 1rem;
                    font-weight: normal;
                    text-decoration: none;
                }

                :first-child {
                    // clears the border (inherited)
                    border-top: none;
                }

            }
        }
    }

    .menu-admin > li > ul.open {
        width: $left-navigation-expand-width;
        height: 100%;
        display: block;

        a {
            text-align: left;
        }
    }
}

.menu-admin > li.content > a:before {
    content: "\f187";
}

.menu-admin > li.new > a:before {
    content: "\f044";
}

.menu-admin > li.content-definition > a:before {
    content: "\f1b2";
}

.menu-admin > li.themes > a:before {
    content: "\f083";
}

.menu-admin > li.demo > a:before {
    content: "\f292";
}

// Sortable
// ------------------------------

.list-group.sortable li {
    cursor: move;
}

// Responsive sizes
// Creates mixins to target all breakpoints
// ------------------------------
.col-xs {
    @extend .col-xs-8, .col-sm-4, .col-md-3, .col-lg-2, .col-xl-1;
}

.col-sm {
    @extend .col-xs-12, .col-sm-9, .col-md-6, .col-lg-3, .col-xl-3;
}

.col-md {
    @extend .col-xs-12, .col-sm-12, .col-md-10, .col-lg-8, .col-xl-6;
}

.col-lg {
    @extend .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-9;
}

.col-xl {
    @extend .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-12;
}