@model dynamic

<div class="mb-3">
    <label for="Line">Value @Html.ValidationMessage("Line")</label>
    <input name="Line" id="Line" value="@Model.Line" class="form-control" />
    <span class="hint">The value of the property.</span>
</div>
