@model dynamic

<div class="ocat-wrapper">
    <label for="Line" class="ocat-label">Value @Html.ValidationMessage("Line")</label>
    <div class="ocat-end">
        <input name="Line" id="Line" value="@Model.Line" class="form-control" />
        <span class="hint">The value of the property.</span>
    </div>
</div>
