<td>

 {% a controller:"Todo", action:"Edit", route-id:Model.Id ,route-returnurl:Request.Path %}

 {{ Model.Text }}

 {%enda%}
 </td>
<td>{{ Model.DueDate}} </td>
<td>{{ Model.IsCompleted}}</td>
<td>
{%a action:"Delete" , class:"btn btn-danger", route-id:Model.Id %}
Delete
{%enda%}
</td>
