@model OrchardCore.Demo.ViewModels.EditUserProfileViewModel

<div class="form-group">
    <label asp-for="Name">@T["Name"]</label>
    <input asp-for="Name" type="text" class="form-control" placeholder="@T["Name"]" />
</div>

<div class="form-group">
    <label asp-for="Age">@T["Age"]</label>
    <input asp-for="Age" type="text" class="form-control" placeholder="@T["Age"]" />
</div>