{% zone "Header" %}
<header class="masthead" style="background-image: url('{{ "~/TheCommunityTheme/assets/img/hero/community-center.svg" | href }}')">
    <div class="container">
        <div class="masthead-heading">{{ Model.ContentItem | display_text }}</div>
    </div>
</header>
{% endzone %}

<section class="py-5">
    <div class="container">
        {{ Model.Content | shape_render }}
    </div>
</section>
