@*
    Main shape for Admin display types of MenuItem stereotype items, which is used to render
    a menu item in the hierarchy editor.
    It is recursive so that if the menu item has MenuItemsListPart the sub items will also
    be rendered.
*@

@using Orchard.ContentManagement;
@inject Orchard.ContentManagement.Display.IContentItemDisplayManager ContentItemDisplayManager
@inject Orchard.DisplayManagement.ModelBinding.IModelUpdaterAccessor ModelUpdaterAccessor

@if (Model.Content != null)
{
    <div class="alert alert-info">
        @Display(Model.Content)
        <div class="float-xs-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalMenuItems" data-menuitemid="@Model.ContentItem.ContentItemId">
                @T["Add Menu Item"]
            </button>
        </div>
    </div>
}

@{
    ContentItem contentItem = Model.ContentItem;
    var menuItems = contentItem.As<MenuItemsListPart>();

    if (menuItems != null)
    {
        var updater = ModelUpdaterAccessor.ModelUpdater;

        @foreach (var menuItem in menuItems.MenuItems)
        {
            var menuItemShape = await ContentItemDisplayManager.BuildDisplayAsync(menuItem, updater, "Admin");
            @Display(menuItemShape);
        }
    }
}