@charset "UTF-8";
:root[data-theme=default] .icon-shortcode, :root[data-theme=darkmode] .icon-shortcode {
  position: relative;
  top: 8px;
}
[dir]:root[data-theme=default] .icon-shortcode, [dir]:root[data-theme=darkmode] .icon-shortcode {
  margin-bottom: -5px !important;
}
:root[data-theme=default] .table, :root[data-theme=darkmode] .table {
  top: 8px;
}
:root[data-theme=default] .EasyMDEContainer, :root[data-theme=darkmode] .EasyMDEContainer {
  display: block;
  color: black;
}
:root[data-theme=default] .EasyMDEContainer.sided--no-fullscreen, :root[data-theme=darkmode] .EasyMDEContainer.sided--no-fullscreen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
:root[data-theme=default] .EasyMDEContainer .CodeMirror, :root[data-theme=darkmode] .EasyMDEContainer .CodeMirror {
  box-sizing: border-box;
  height: auto;
  font: inherit;
  z-index: 0;
  word-wrap: break-word;
}
[dir]:root[data-theme=default] .EasyMDEContainer .CodeMirror, [dir]:root[data-theme=darkmode] .EasyMDEContainer .CodeMirror {
  border: 1px solid #ddd;
  padding: 10px;
}
[dir=ltr]:root[data-theme=default] .EasyMDEContainer .CodeMirror, [dir=ltr]:root[data-theme=darkmode] .EasyMDEContainer .CodeMirror {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
[dir=rtl]:root[data-theme=default] .EasyMDEContainer .CodeMirror, [dir=rtl]:root[data-theme=darkmode] .EasyMDEContainer .CodeMirror {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
[dir]:root[data-theme=default] .EasyMDEContainer .CodeMirror-scroll, [dir]:root[data-theme=darkmode] .EasyMDEContainer .CodeMirror-scroll {
  cursor: text;
}
:root[data-theme=default] .EasyMDEContainer .CodeMirror-fullscreen, :root[data-theme=darkmode] .EasyMDEContainer .CodeMirror-fullscreen {
  position: fixed !important;
  top: 50px !important;
  bottom: 0;
  height: auto;
  z-index: 1031;
}
[dir]:root[data-theme=default] .EasyMDEContainer .CodeMirror-fullscreen, [dir]:root[data-theme=darkmode] .EasyMDEContainer .CodeMirror-fullscreen {
  background: #fff;
}
[dir=ltr]:root[data-theme=default] .EasyMDEContainer .CodeMirror-fullscreen, [dir=ltr]:root[data-theme=darkmode] .EasyMDEContainer .CodeMirror-fullscreen {
  left: 0;
  right: 0;
  border-right: none !important;
  border-bottom-right-radius: 0 !important;
}
[dir=rtl]:root[data-theme=default] .EasyMDEContainer .CodeMirror-fullscreen, [dir=rtl]:root[data-theme=darkmode] .EasyMDEContainer .CodeMirror-fullscreen {
  right: 0;
  left: 0;
  border-left: none !important;
  border-bottom-left-radius: 0 !important;
}
:root[data-theme=default] .EasyMDEContainer .CodeMirror-sided, :root[data-theme=darkmode] .EasyMDEContainer .CodeMirror-sided {
  width: 50% !important;
}
:root[data-theme=default] .EasyMDEContainer .CodeMirror-sided.sided--no-fullscreen, :root[data-theme=darkmode] .EasyMDEContainer .CodeMirror-sided.sided--no-fullscreen {
  position: relative;
  flex: 1 1 auto;
}
[dir=ltr]:root[data-theme=default] .EasyMDEContainer .CodeMirror-sided.sided--no-fullscreen, [dir=ltr]:root[data-theme=darkmode] .EasyMDEContainer .CodeMirror-sided.sided--no-fullscreen {
  border-right: none !important;
  border-bottom-right-radius: 0px;
}
[dir=rtl]:root[data-theme=default] .EasyMDEContainer .CodeMirror-sided.sided--no-fullscreen, [dir=rtl]:root[data-theme=darkmode] .EasyMDEContainer .CodeMirror-sided.sided--no-fullscreen {
  border-left: none !important;
  border-bottom-left-radius: 0px;
}
:root[data-theme=default] .EasyMDEContainer .CodeMirror-placeholder, :root[data-theme=darkmode] .EasyMDEContainer .CodeMirror-placeholder {
  opacity: 0.5;
}
[dir]:root[data-theme=default] .EasyMDEContainer .CodeMirror-focused .CodeMirror-selected, [dir]:root[data-theme=darkmode] .EasyMDEContainer .CodeMirror-focused .CodeMirror-selected {
  background: #d9d9d9;
}
:root[data-theme=default] .editor-toolbar, :root[data-theme=darkmode] .editor-toolbar {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
[dir]:root[data-theme=default] .editor-toolbar, [dir]:root[data-theme=darkmode] .editor-toolbar {
  padding: 0 10px;
  border-top: 1px solid #bbb;
  background-color: #fff;
}
[dir=ltr]:root[data-theme=default] .editor-toolbar, [dir=ltr]:root[data-theme=darkmode] .editor-toolbar {
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
[dir=rtl]:root[data-theme=default] .editor-toolbar, [dir=rtl]:root[data-theme=darkmode] .editor-toolbar {
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
:root[data-theme=default] .editor-toolbar svg, :root[data-theme=darkmode] .editor-toolbar svg {
  color: black;
}
:root[data-theme=default] .editor-toolbar:after,
:root[data-theme=default] .editor-toolbar:before, :root[data-theme=darkmode] .editor-toolbar:after,
:root[data-theme=darkmode] .editor-toolbar:before {
  display: block;
  content: " ";
  height: 1px;
}
[dir]:root[data-theme=default] .editor-toolbar:before, [dir]:root[data-theme=darkmode] .editor-toolbar:before {
  margin-bottom: 8px;
}
[dir]:root[data-theme=default] .editor-toolbar:after, [dir]:root[data-theme=darkmode] .editor-toolbar:after {
  margin-top: 8px;
}
:root[data-theme=default] .editor-toolbar.fullscreen, :root[data-theme=darkmode] .editor-toolbar.fullscreen {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  opacity: 1;
  z-index: 1031;
}
[dir]:root[data-theme=default] .editor-toolbar.fullscreen, [dir]:root[data-theme=darkmode] .editor-toolbar.fullscreen {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  border: 0;
}
[dir=ltr]:root[data-theme=default] .editor-toolbar.fullscreen, [dir=ltr]:root[data-theme=darkmode] .editor-toolbar.fullscreen {
  left: 0;
}
[dir=rtl]:root[data-theme=default] .editor-toolbar.fullscreen, [dir=rtl]:root[data-theme=darkmode] .editor-toolbar.fullscreen {
  right: 0;
}
:root[data-theme=default] .editor-toolbar.fullscreen::before, :root[data-theme=darkmode] .editor-toolbar.fullscreen::before {
  width: 20px;
  height: 50px;
  position: fixed;
  top: 0;
}
[dir]:root[data-theme=default] .editor-toolbar.fullscreen::before, [dir]:root[data-theme=darkmode] .editor-toolbar.fullscreen::before {
  margin: 0;
  padding: 0;
}
[dir=ltr]:root[data-theme=default] .editor-toolbar.fullscreen::before, [dir=ltr]:root[data-theme=darkmode] .editor-toolbar.fullscreen::before {
  background: -moz-linear-gradient(left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  left: 0;
}
[dir=rtl]:root[data-theme=default] .editor-toolbar.fullscreen::before, [dir=rtl]:root[data-theme=darkmode] .editor-toolbar.fullscreen::before {
  background: -moz-linear-gradient(right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, right top, left top, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  right: 0;
}
:root[data-theme=default] .editor-toolbar.fullscreen::after, :root[data-theme=darkmode] .editor-toolbar.fullscreen::after {
  width: 20px;
  height: 50px;
  position: fixed;
  top: 0;
}
[dir]:root[data-theme=default] .editor-toolbar.fullscreen::after, [dir]:root[data-theme=darkmode] .editor-toolbar.fullscreen::after {
  margin: 0;
  padding: 0;
}
[dir=ltr]:root[data-theme=default] .editor-toolbar.fullscreen::after, [dir=ltr]:root[data-theme=darkmode] .editor-toolbar.fullscreen::after {
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgb(255, 255, 255)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  right: 0;
}
[dir=rtl]:root[data-theme=default] .editor-toolbar.fullscreen::after, [dir=rtl]:root[data-theme=darkmode] .editor-toolbar.fullscreen::after {
  background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  background: -webkit-gradient(linear, right top, left top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgb(255, 255, 255)));
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  background: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  left: 0;
}
:root[data-theme=default] .editor-toolbar.sided--no-fullscreen, :root[data-theme=darkmode] .editor-toolbar.sided--no-fullscreen {
  width: 100%;
}
:root[data-theme=default] .editor-toolbar button, :root[data-theme=default] .editor-toolbar .easymde-dropdown, :root[data-theme=darkmode] .editor-toolbar button, :root[data-theme=darkmode] .editor-toolbar .easymde-dropdown {
  display: inline-block;
  text-decoration: none !important;
  height: 30px;
}
[dir]:root[data-theme=default] .editor-toolbar button, [dir]:root[data-theme=default] .editor-toolbar .easymde-dropdown, [dir]:root[data-theme=darkmode] .editor-toolbar button, [dir]:root[data-theme=darkmode] .editor-toolbar .easymde-dropdown {
  background: transparent;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
:root[data-theme=default] .editor-toolbar button, :root[data-theme=darkmode] .editor-toolbar button {
  width: 30px;
}
[dir]:root[data-theme=default] .editor-toolbar button.active, [dir]:root[data-theme=default] .editor-toolbar button:hover, [dir]:root[data-theme=darkmode] .editor-toolbar button.active, [dir]:root[data-theme=darkmode] .editor-toolbar button:hover {
  background: #fcfcfc;
  border-color: #95a5a6;
}
:root[data-theme=default] .editor-toolbar i.separator, :root[data-theme=darkmode] .editor-toolbar i.separator {
  display: inline-block;
  width: 0;
  color: transparent;
  text-indent: -10px;
}
[dir]:root[data-theme=default] .editor-toolbar i.separator, [dir]:root[data-theme=darkmode] .editor-toolbar i.separator {
  margin: 0 6px;
}
[dir=ltr]:root[data-theme=default] .editor-toolbar i.separator, [dir=ltr]:root[data-theme=darkmode] .editor-toolbar i.separator {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #fff;
}
[dir=rtl]:root[data-theme=default] .editor-toolbar i.separator, [dir=rtl]:root[data-theme=darkmode] .editor-toolbar i.separator {
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #fff;
}
:root[data-theme=default] .editor-toolbar button:after, :root[data-theme=darkmode] .editor-toolbar button:after {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 65%;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
}
:root[data-theme=default] .editor-toolbar button.heading-1:after, :root[data-theme=darkmode] .editor-toolbar button.heading-1:after {
  content: "1";
}
:root[data-theme=default] .editor-toolbar button.heading-2:after, :root[data-theme=darkmode] .editor-toolbar button.heading-2:after {
  content: "2";
}
:root[data-theme=default] .editor-toolbar button.heading-3:after, :root[data-theme=darkmode] .editor-toolbar button.heading-3:after {
  content: "3";
}
:root[data-theme=default] .editor-toolbar button.heading-bigger:after, :root[data-theme=darkmode] .editor-toolbar button.heading-bigger:after {
  content: "▲";
}
:root[data-theme=default] .editor-toolbar button.heading-smaller:after, :root[data-theme=darkmode] .editor-toolbar button.heading-smaller:after {
  content: "▼";
}
:root[data-theme=default] .editor-toolbar.disabled-for-preview button:not(.no-disable), :root[data-theme=darkmode] .editor-toolbar.disabled-for-preview button:not(.no-disable) {
  opacity: 0.6;
  pointer-events: none;
}
@media only screen and (max-width: 700px) {
  :root[data-theme=default] .editor-toolbar i.no-mobile, :root[data-theme=darkmode] .editor-toolbar i.no-mobile {
    display: none;
  }
}
:root[data-theme=default] .editor-statusbar, :root[data-theme=darkmode] .editor-statusbar {
  font-size: 12px;
  color: #959694;
}
[dir]:root[data-theme=default] .editor-statusbar, [dir]:root[data-theme=darkmode] .editor-statusbar {
  padding: 8px 10px;
}
[dir=ltr]:root[data-theme=default] .editor-statusbar, [dir=ltr]:root[data-theme=darkmode] .editor-statusbar {
  text-align: right;
}
[dir=rtl]:root[data-theme=default] .editor-statusbar, [dir=rtl]:root[data-theme=darkmode] .editor-statusbar {
  text-align: left;
}
:root[data-theme=default] .editor-statusbar.sided--no-fullscreen, :root[data-theme=darkmode] .editor-statusbar.sided--no-fullscreen {
  width: 100%;
}
:root[data-theme=default] .editor-statusbar span, :root[data-theme=darkmode] .editor-statusbar span {
  display: inline-block;
  min-width: 4em;
}
[dir=ltr]:root[data-theme=default] .editor-statusbar span, [dir=ltr]:root[data-theme=darkmode] .editor-statusbar span {
  margin-left: 1em;
}
[dir=rtl]:root[data-theme=default] .editor-statusbar span, [dir=rtl]:root[data-theme=darkmode] .editor-statusbar span {
  margin-right: 1em;
}
:root[data-theme=default] .editor-statusbar .lines:before, :root[data-theme=darkmode] .editor-statusbar .lines:before {
  content: "lines: ";
}
:root[data-theme=default] .editor-statusbar .words:before, :root[data-theme=darkmode] .editor-statusbar .words:before {
  content: "words: ";
}
:root[data-theme=default] .editor-statusbar .characters:before, :root[data-theme=darkmode] .editor-statusbar .characters:before {
  content: "characters: ";
}
:root[data-theme=default] .editor-preview-full, :root[data-theme=darkmode] .editor-preview-full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 7;
  overflow: auto;
  display: none;
  box-sizing: border-box;
}
[dir=ltr]:root[data-theme=default] .editor-preview-full, [dir=ltr]:root[data-theme=darkmode] .editor-preview-full {
  left: 0;
}
[dir=rtl]:root[data-theme=default] .editor-preview-full, [dir=rtl]:root[data-theme=darkmode] .editor-preview-full {
  right: 0;
}
:root[data-theme=default] .editor-preview-side, :root[data-theme=darkmode] .editor-preview-side {
  position: fixed;
  bottom: 0;
  width: 50%;
  top: 50px;
  z-index: 1031;
  overflow: auto;
  display: none;
  box-sizing: border-box;
  word-wrap: break-word;
}
[dir]:root[data-theme=default] .editor-preview-side, [dir]:root[data-theme=darkmode] .editor-preview-side {
  border: 1px solid #ddd;
}
[dir=ltr]:root[data-theme=default] .editor-preview-side, [dir=ltr]:root[data-theme=darkmode] .editor-preview-side {
  right: 0;
}
[dir=rtl]:root[data-theme=default] .editor-preview-side, [dir=rtl]:root[data-theme=darkmode] .editor-preview-side {
  left: 0;
}
:root[data-theme=default] .editor-preview-active-side, :root[data-theme=darkmode] .editor-preview-active-side {
  display: block;
}
:root[data-theme=default] .editor-preview-active-side.sided--no-fullscreen, :root[data-theme=darkmode] .editor-preview-active-side.sided--no-fullscreen {
  flex: 1 1 auto;
  height: auto;
  position: static;
}
:root[data-theme=default] .editor-preview-active, :root[data-theme=darkmode] .editor-preview-active {
  display: block;
}
[dir]:root[data-theme=default] .editor-preview, [dir]:root[data-theme=darkmode] .editor-preview {
  padding: 10px;
  background: #fafafa;
}
[dir]:root[data-theme=default] .editor-preview > p, [dir]:root[data-theme=darkmode] .editor-preview > p {
  margin-top: 0;
}
[dir]:root[data-theme=default] .editor-preview pre, [dir]:root[data-theme=darkmode] .editor-preview pre {
  background: #eee;
  margin-bottom: 10px;
}
[dir]:root[data-theme=default] .editor-preview table td, [dir]:root[data-theme=default] .editor-preview table th, [dir]:root[data-theme=darkmode] .editor-preview table td, [dir]:root[data-theme=darkmode] .editor-preview table th {
  border: 1px solid #ddd;
  padding: 5px;
}
:root[data-theme=default] .cm-s-easymde .cm-tag, :root[data-theme=darkmode] .cm-s-easymde .cm-tag {
  color: #63a35c;
}
:root[data-theme=default] .cm-s-easymde .cm-attribute, :root[data-theme=darkmode] .cm-s-easymde .cm-attribute {
  color: #795da3;
}
:root[data-theme=default] .cm-s-easymde .cm-string, :root[data-theme=darkmode] .cm-s-easymde .cm-string {
  color: #183691;
}
:root[data-theme=default] .cm-s-easymde .cm-header-1, :root[data-theme=darkmode] .cm-s-easymde .cm-header-1 {
  font-size: 200%;
  line-height: 200%;
}
:root[data-theme=default] .cm-s-easymde .cm-header-2, :root[data-theme=darkmode] .cm-s-easymde .cm-header-2 {
  font-size: 160%;
  line-height: 160%;
}
:root[data-theme=default] .cm-s-easymde .cm-header-3, :root[data-theme=darkmode] .cm-s-easymde .cm-header-3 {
  font-size: 125%;
  line-height: 125%;
}
:root[data-theme=default] .cm-s-easymde .cm-header-4, :root[data-theme=darkmode] .cm-s-easymde .cm-header-4 {
  font-size: 110%;
  line-height: 110%;
}
[dir]:root[data-theme=default] .cm-s-easymde .cm-comment, [dir]:root[data-theme=darkmode] .cm-s-easymde .cm-comment {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}
:root[data-theme=default] .cm-s-easymde .cm-link, :root[data-theme=darkmode] .cm-s-easymde .cm-link {
  color: #7f8c8d;
}
:root[data-theme=default] .cm-s-easymde .cm-url, :root[data-theme=darkmode] .cm-s-easymde .cm-url {
  color: #aab2b3;
}
:root[data-theme=default] .cm-s-easymde .cm-quote, :root[data-theme=darkmode] .cm-s-easymde .cm-quote {
  color: #7f8c8d;
  font-style: italic;
}
:root[data-theme=default] .editor-toolbar .easymde-dropdown, :root[data-theme=darkmode] .editor-toolbar .easymde-dropdown {
  position: relative;
}
[dir]:root[data-theme=default] .editor-toolbar .easymde-dropdown, [dir]:root[data-theme=darkmode] .editor-toolbar .easymde-dropdown {
  border-radius: 0;
  border: 1px solid #fff;
}
[dir=ltr]:root[data-theme=default] .editor-toolbar .easymde-dropdown, [dir=ltr]:root[data-theme=darkmode] .editor-toolbar .easymde-dropdown {
  background: linear-gradient(to bottom right, #fff 0%, #fff 84%, #333 50%, #333 100%);
}
[dir=rtl]:root[data-theme=default] .editor-toolbar .easymde-dropdown, [dir=rtl]:root[data-theme=darkmode] .editor-toolbar .easymde-dropdown {
  background: linear-gradient(to bottom left, #fff 0%, #fff 84%, #333 50%, #333 100%);
}
[dir=ltr]:root[data-theme=default] .editor-toolbar .easymde-dropdown:hover, [dir=ltr]:root[data-theme=darkmode] .editor-toolbar .easymde-dropdown:hover {
  background: linear-gradient(to bottom right, #fff 0%, #fff 84%, #333 50%, #333 100%);
}
[dir=rtl]:root[data-theme=default] .editor-toolbar .easymde-dropdown:hover, [dir=rtl]:root[data-theme=darkmode] .editor-toolbar .easymde-dropdown:hover {
  background: linear-gradient(to bottom left, #fff 0%, #fff 84%, #333 50%, #333 100%);
}
:root[data-theme=default] .easymde-dropdown-content, :root[data-theme=darkmode] .easymde-dropdown-content {
  display: none;
  position: absolute;
  z-index: 2;
  top: 30px;
}
[dir]:root[data-theme=default] .easymde-dropdown-content, [dir]:root[data-theme=darkmode] .easymde-dropdown-content {
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
}
:root[data-theme=default] .easymde-dropdown:active .easymde-dropdown-content,
:root[data-theme=default] .easymde-dropdown:focus .easymde-dropdown-content, :root[data-theme=darkmode] .easymde-dropdown:active .easymde-dropdown-content,
:root[data-theme=darkmode] .easymde-dropdown:focus .easymde-dropdown-content {
  display: block;
}
:root[data-theme=default] span[data-img-src]::before, :root[data-theme=darkmode] span[data-img-src]::before {
  content: "";
  display: block;
  max-height: 100%;
  max-width: 100%;
  height: 0;
  width: var(--width);
}
[dir]:root[data-theme=default] span[data-img-src]::before, [dir]:root[data-theme=darkmode] span[data-img-src]::before {
  background-image: var(--bg-image);
  background-size: contain;
  padding-top: var(--height);
  background-repeat: no-repeat;
}
