@model Orchard.Lists.ViewModels.ListPartSettingsViewModel

<fieldset class="form-group">
    <div class="row col-sm">
        <label asp-for="ContainedContentType">@T["Contained Content Type"]</label>
        <select asp-for="ContainedContentType" class="form-control">
            @foreach (var contentType in Model.ContentTypes.AllKeys)
            {
                <option value="@contentType">@Model.ContentTypes[contentType]</option>
            }
        </select>
        <span class="hint">@T["The content type that this list can contain, e.g. Blog Post for a Blog."]</span>
    </div>
</fieldset>