<link href="@Url.Content("~/OrchardCore.SuperEdit/Styles/app.css")" rel="stylesheet" type="text/css" />
<script asp-src="~/OrchardCore.SuperEdit/Scripts/main.js" at="Foot"></script>
<section style="margin-top:100px">
<h2>Hello world</h2>
<div id="root"></div>
</section>

