<!DOCTYPE html>
<html lang="{{ Site.Culture }}">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% page_title Site.SiteName %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/TheAgencyTheme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/TheAgencyTheme/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/TheAgencyTheme/css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    {% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_expires_after: "00:05:00", cache_tag: "alias:main-menu" %}

    {% render_section "Header" %}

    {% render_section "Content" %}

    {% render_section "Footer" %}

    <!-- Bootstrap core JavaScript -->
    <script src="/TheAgencyTheme/vendor/jquery/jquery.min.js"></script>
    <script src="/TheAgencyTheme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/TheAgencyTheme/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="/TheAgencyTheme/js/jqBootstrapValidation.js"></script>
    <script src="/TheAgencyTheme/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/TheAgencyTheme/js/agency.min.js"></script>

  </body>

</html>
