@model ShapeViewModel<ShellSettingsEntry>

<a asp-action="Features" asp-controller="TenantFeatures" asp-route-tenant="@Model.Value.Name" class="btn btn-primary btn-sm enable">@T["Manage Features"]</a>
