@page

<p>TheBlogTheme Index Page</p>

<div class="item active">
    <img src="~/TheBlogTheme/theme.png" alt="ASP.NET" class="img-responsive" />
    <!--<img src="/TheBlogTheme/theme.png" alt="ASP.NET" class="img-responsive" />-->
</div>

<div>
    <a asp-page="Foo1" class="navbar-brand">FooPage</a>
    <a asp-page="/Foo1" class="navbar-brand">FooPage</a>
</div>
