{% zone "Header" %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading"></div>
        <div class="masthead-heading text-uppercase"><h1>{{ "Page Not Found" | t }}</h1></div>
    </div>
</header>
{% endzone %}

<section>
  <div class="container">
      <h1>{{ "The page you requested could not be found." | t }}</h1>
  </div>
</section>