@using OrchardCore.ContentManagement
@using OrchardCore.DisplayManagement
@using OrchardCore.Flows.Models
@using OrchardCore.Flows.ViewModels
@using OrchardCore.Mvc.Utilities

@model BagPartViewModel
@inject Orchard.ContentManagement.Display.IContentItemDisplayManager ContentItemDisplayManager

<section class="flow">
    @foreach (var item in Model.BagPart.ContentItems)
    {
        var itemContent = await ContentItemDisplayManager.BuildDisplayAsync(item, Model.BuildPartDisplayContext.Updater, "Summary", Model.BuildPartDisplayContext.GroupId);

        @await DisplayAsync(itemContent)
    }
</section>