@model MyTestPartViewModel

<fieldset class="form-group">
    <div class="form-check">
        <label class="form-check-label" asp-for="Show">
            <input asp-for="Show" type="checkbox" class="form-check-input" />
            @T["Show"]
        </label>
    </div>
</fieldset>