@model AliasPartViewModel

<fieldset class="form-group" asp-validation-class-for="Alias">
    <label asp-for="Alias">@T["Alias"] <span asp-validation-for="Alias"></span></label>
    <input asp-for="Alias" class="form-control text-muted" />
    <span class="hint">
        @T["The alias of the content item."]
        @if (!String.IsNullOrWhiteSpace(Model.Settings.Pattern))
        {
            @T["Leave empty to re-generate it."]
        } 
    </span>       
</fieldset>
