@model NotifyUserTaskViewModel

<div class="mb-3" asp-validation-class-for="Usernames">
    <label asp-for="Usernames" class="form-label">@T["Usernames"]</label>
    <input type="text" asp-for="Usernames" class="form-control" />
    <span asp-validation-for="Usernames"></span>
    <span class="hint">@T["Please provide a comma separated list of usernames. You may use Liquid syntax."]</span>
</div>
