@model NotifyUserTaskActivityViewModel

<div class="mb-3" asp-validation-class-for="Summary">
    <label asp-for="Summary">@T["Summary"]</label>
    <input type="text" asp-for="Summary" class="form-control" />
    <span asp-validation-for="Summary"></span>
</div>

<div class="mb-3" asp-validation-class-for="Body">
    <label asp-for="Body">@T["Body"]</label>
    <textarea asp-for="Body" rows="10" class="form-control"></textarea>
</div>

<div class="mb-3">
    <div class="form-check">
        <input asp-for="IsHtmlBody" type="checkbox" class="form-check-input" />
        <label class="form-check-label" asp-for="IsHtmlBody">@T["The Body contains HTML"]</label>
    </div>
</div>
