@page
@model DemoModel
@using Microsoft.AspNetCore.Mvc.RazorPages

@functions
{
    public class DemoModel : PageModel
    {
        public string Title { get; set; }
        public string Message { get; private set; }

        public void OnGet()
        {
            Title = "This is a RazorPage coming from Orchard.Demo!";
            Message = "Date on the server: ";
        }
    }
}

@Html.Partial("Header", Model)

<p>
    @T[Model.Message] @await DisplayAsync(New.DateTime(Utc: null, Format: T["MMMM dd, yyyy"].Value))
</p>

<p>
    Hello from @ViewContext.RouteData.Values["page"]
</p>