@model ListContentTransferEntriesViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Bulk Transfers"])</h1></zone>

<form asp-action="List" asp-controller="Admin" method="post" id="items-form" autocomplete="off">
    @await DisplayAsync(Model)
</form>
