@using OrchardCore.Seo

@model SitemapsRobotsSettings

<div class="ocat-wrapper" asp-validation-class-for="IncludeSitemaps">
    <div class="ocat-end-offset">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" asp-for="IncludeSitemaps">
            <span asp-validation-for="IncludeSitemaps"></span>
            <label class="form-check-label" asp-for="IncludeSitemaps">@T["Include all sitemaps."]</label>
            <span class="hint dashed">@T["Check to let the system include all sitemaps."]</span>
        </div>
    </div>
</div>
