<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>@RenderTitleSegments(Site.SiteName, "before")</title>
  </head>
  <body dir="@Orchard.CultureDir()">
      @RenderBody()
  </body>
</html>
