@{
    Layout = null;
    Title.AddSegment(T["Template Preview"]);
}

<style asp-name="bootstrap" use-cdn="true"></style>
<script asp-name="bootstrap" use-cdn="true" at="Foot"></script>
<script asp-src="/OrchardCore.Templates/js.cookie.js" depends-on="jquery" at="Foot"></script>

<resources type="Header" />

<iframe id="iframe" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
    Your browser doesn't support iframes
</iframe>

<div id="notConnectedWarning" class="alert alert-info alert-dismissible fade show collapse" role="alert" style="position:fixed; height:60px; top:10px;right:40px; display:none; z-index:999999;">
    <button type="button" id="close-warning" class="close" aria-label="Close" style="position: relative; padding: 0 0 0 1rem; margin-top: -0.2rem;">
        <span aria-hidden="true">&times;</span>
    </button>
    <span>@T["Preview Disconnected"] </span>
</div>

<resources type="Footer" />

<div id="setTemplateUrl" style="display:none" data-value="@Url.Action("SetTemplate", "Preview", new { area = "OrchardCore.Templates" })"></div>
<div id="renderPreviewUrl" style="display:none" data-value="@Url.Content("~/")"></div>

<script type="text/javascript">
    var setTemplateUrl = $(document.getElementById('setTemplateUrl')).data('value');
    var renderPreviewUrl = $(document.getElementById('renderPreviewUrl')).data('value');
    var previewEventTimer = null;
    var previewRenderTimer = null;

    $(function () {
        $(window).on('storage', function (ev) {
            if (ev.key == 'OrchardCore.templates:not-connected') {
                $(notConnectedWarning).show();
            }
            else if (ev.key == 'OrchardCore.templates') {
                if (ev.originalEvent.newValue != null) {
                    clearTimeout(previewEventTimer);
                    previewEventTimer = setTimeout(function () { renderPreview(ev.originalEvent.newValue); }, 250);
                    $(notConnectedWarning).hide();
                }
            }
        });

        // override default behaviour of Bootstrap's. We only hide, not remove the alert.
        $('#close-warning').on('click', function () {
            $('#notConnectedWarning').hide();
        });

        var preview = localStorage.getItem('OrchardCore.templates');

        if (preview == null) {
            // notify the editor to render the preview
            localStorage.setItem('OrchardCore.templates:ready', '');
            localStorage.removeItem('OrchardCore.templates:ready');
        }
        else {
            renderPreview(preview);
        }
    });

    var iframe = document.getElementById('iframe');
    var notConnectedWarning = document.getElementById('notConnectedWarning');

    iframe.onload = function () {
        renderPreviewUrl = this.contentWindow.location;
        $(iframe.contentWindow).scrollTop(scrollTop);
        Cookies.remove("orchard:templates");
    }

    var scrollTop;
    var rendering;

    function renderPreview(value) {

        if (rendering) {
            clearTimeout(previewRenderTimer);
            previewRenderTimer = setTimeout(function () { renderPreview(value); }, 150);
        }

        rendering = true;
        clearTimeout(previewRenderTimer);

        try {
            var formData = JSON.parse(value);
            if (!formData) {
                rendering = false;
                return;
            }

            $.post(setTemplateUrl, formData)
                .done(function () {
                    try {
                        Cookies.set("orchard:templates", true);
                        iframe.contentWindow.location = renderPreviewUrl;
                        scrollTop = $(iframe.contentWindow).scrollTop();
                    }
                    catch (e) {
                        console.log('Error while previewing: ' + e);
                    }
                })
                .always(function () {
                    rendering = false;
                });
        }
        catch (e) {
            rendering = false;
            console.log('Error while previewing: ' + e);
        }
    }

</script>