@model WorkflowInstanceViewModel
@using OrchardCore.Workflows.ViewModels;

<h1>@RenderTitleSegments(T["{0} - {1}", Model.WorkflowDefinition.Name, Model.WorkflowInstance.Uid])</h1>

<fieldset class="form-group">
    <div class="workflow-container">
        <div class="workflow-canvas-container">
            <div class="workflow-canvas" data-workflow-definition="@Model.WorkflowDefinitionJson">
                @foreach (var activityShape in Model.ActivityDesignShapes)
                {
                    @await DisplayAsync(activityShape)
                }
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="form-group">
    <div class="form-group">
        <a class="btn btn-secondary" asp-route-action="Index">@T["Back"]</a>
    </div>
</fieldset>

<style asp-src="~/OrchardCore.Workflows/Styles/jsplumbtoolkit-defaults.min.css" debug-src="~/OrchardCore.Workflows/Styles/jsplumbtoolkit-defaults.css" cdn-src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.5.5/css/jsplumbtoolkit-defaults.min.css" debug-cdn-src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.5.5/css/jsplumbtoolkit-defaults.css" version="2.5.5"></style>
<style asp-src="~/OrchardCore.Workflows/Styles/orchard.workflows-viewer.min.css" debug-src="~/OrchardCore.Workflows/Styles/orchard.workflows-viewer.css"></style>
<script asp-name="bootstrap" version="4.0.0" at="Foot"></script>
<script asp-name="jsplumb" depends-on="jQuery" asp-src="~/OrchardCore.Workflows/Scripts/jsplumb.min.js" debug-src="~/OrchardCore.Workflows/Scripts/jsplumb.js" cdn-src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.5.5/jsplumb.min.js" debug-cdn-src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.2.9/jsplumb.js" type="text/javascript" version="2.5.5" at="Foot"></script>
<script depends-on="jsplumb" asp-src="~/OrchardCore.Workflows/Scripts/orchard.workflows-viewer.min.js" debug-src="~/OrchardCore.Workflows/Scripts/orchard.workflows-viewer.js" type="text/javascript" at="Foot"></script>