@import '../_variables';
@import '../mixins/_cursors';
@import '../../../node_modules/bootstrap/scss/mixins/_breakpoints';

body, html {
    height: 100%;
}

@include cursor-class(move);
@include cursor-class(pointer);

.ta-wrapper {
    height: 100%;
}

.ta-content {
    padding: 1rem;
    min-height: 100%;
    margin-left: var(--oc-start-navigation-width);
    padding-top: calc(var(--oc-top-nav-height, 0) + 1rem);
    transition: margin-left 0.2s ease-in-out;

    h1 {
        line-height: 40px;
        font-size: 28px;
        letter-spacing: -0.04em;
        font-weight: bold;
    }
}

@include media-breakpoint-down(sm) {
    .ta-content {
        margin-left: var(--oc-start-navigation-width-when-compact);
        transition: margin-left 0.5s ease-in-out;
    }
}

.left-sidebar-compact .ta-content {
    margin-left: var(--oc-start-navigation-width-when-compact);
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
}
