<div>
    <form class="form-inline" asp-action="DeleteCulture" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post" enctype="multipart/form-data">       
        @Model
        <button type="submit" class="btn btn-link" title="@T["Delete"]">
            @Html.Hidden("cultureName", (string)Model, new { id = "" })
            <i class="fas fa-times"></i>
        </button>
    </form>
</div>