@{
    const string documentationUrl = "https://docs.orchardcore.net/en/latest/reference/modules/Elasticsearch/#elasticsearch-configuration";
}

<h1>@T["Elasticsearch is not configured"]</h1>

<p>@T["Your configuration is invalid or not found. Please consult with <a href=\"{0}\">the documentation</a> to learn more.",documentationUrl ]</p>
