@model LayerRuleEditViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Edit Rule"])</h1></zone>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Edit" method="post" class="no-multisubmit">
    @await DisplayAsync(Model.Editor)

    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="ConditionId" />

    <div class="mb-3 mt-3">
        <button class="btn btn-primary save" type="submit">@T["Save"]</button>
    </div>
</form>
