<h5 id="{{ Model.ContentItem.Content.TitlePart.Title | slugify }}">{{ Model.ContentItem.Content.TitlePart.Title }}</h5>
<p class="mth-text-base">{{ Model.ContentItem.Content.HtmlBodyPart.Html | raw }}</p>