<h4 id="{{ Model.ContentItem.Content.TitlePart.Title | slugify }}">{{ Model.ContentItem.Content.TitlePart.Title }}</h4>
<p class="mth-text-base">{{ Model.ContentItem.Content.HtmlBodyPart.Html | raw }}</p>