<div class="text-center pt-5">
	<h2 id="{{ Model.ContentItem.Content.TitlePart.Title | slugify }}" class="mth-section-title">{{ Model.ContentItem.Content.TitlePart.Title }}</h2>
	<p class="mth-text-base">{{ Model.ContentItem.Content.HtmlBodyPart.Html | raw }}</p>
</div>
