{% zone "HeadMeta" %}
	<title>{{Site.SiteName}} - {{Model.ContentItem.Content.TitlePart.Title}}</title>
{% endzone %}

{% shape "menu", alias: "alias:site-menu", cache_id: "site-menu-sticky", cache_tag: "alias:site-menu", alternate: "Menu__Sticky" %}

<div class="main main-raised" id="main" style="margin-top: 90px;">
	<div class="container-fluid p-5">
	{{ Model.Content.BagPart | shape_render }}
	</div>
</div>