<div class="text-center pt-5">
	<h2 class="mth-section-title">{{ Model.ContentItem.Content.ContentHeader.Banner.Html }}</h2>
</div>
<div class="text-center">
	<h2 class="mth-section-title">{{ Model.ContentItem.Content.TitlePart.Title }}</h2>
</div>
<div class="w-90 mx-auto">
	<p class="mth-text-base">{{ Model.ContentItem.Content.ContentHeader.Description.Text }}</p>
</div>