// Custom variables

// Because !default means that a variable is not assigned if it already contains a value,
// we alter the variable before importing boostrap as _variables.scss will use !default

@import "src/Orchard.Cms.Web/Modules/Orchard.Resources/Assets/Bootstrap/scss/bootstrap.scss";


$top-nav-height: 55px;
$left-navigation-width: 5em;
$left-navigation-expand-width: 15em;

// Layout
// -----------------------------

.ta-wrapper {

    .ta-navbar-top {
        @extend .bg-faded;
        @extend .navbar, .navbar-fixed-top;
        min-height: $top-nav-height;
    }

    .ta-left-sidebar {
        @extend .bg-faded;
        @extend .hidden-sm-down;
        width: $left-navigation-width;
        height: 100%;
        z-index: 1;
        position: fixed;
        top: $top-nav-height;
    }

    .ta-content {
        @extend .container-fluid;
        margin-left: 0;
        margin-top: $top-nav-height;
        padding-top: 1em;
        border-left: 1px solid rgba(0, 0, 0, 0.05);
    }

    @include media-breakpoint-up(md) {
        .ta-content {
            margin-left: $left-navigation-width + $left-navigation-expand-width;
        }
    }
}

// Forms
// -----------------------------

.hint {
    @extend .small, .text-muted;
}

.validation-summary-errors {
    @extend .alert, .alert-danger;
    padding-bottom:0;
}

.field-validation-error {
    @extend small, .form-control-feedback;
}

.input-validation-error {
    @extend .form-control-danger;
}

.has-validation-error {
    @extend .has-danger;
}

// When the validation message in inside the label, add a separator
label .field-validation-error::before {
    content: "- ";
}

.button {
    @extend .btn, .btn-primary;
}

.field-validation-valid {
    display: none;
}

// Toolbar
// ------------------------------

.admin-toolbar {
    @extend .navbar, .navbar-light, .bg-faded;
    margin-bottom: 1em;
}


// Messages
// ------------------------------

.message {
    @extend .alert;
}

.message-success {
    @extend .alert-success;
}

.message-information {
    @extend .alert-info;
}

.message-warning {
    @extend .alert-warning;
}

.message-error {
    @extend .alert-danger;
}

// Navigation
// ------------------------------

.ta-left-sidebar .menu-admin {
    @extend .bg-faded;
    left:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 10;
    overflow: hidden;
}

.menu-admin input[type=checkbox],
.menu-admin input[type=radio] {
	/* hide native checkbox */
	position: absolute;
	opacity: 0;
}
.menu-admin ul label, .menu-admin ul a {
	position: relative;
	display: block;
    margin: 0;
}

.menu-admin > li > ul label,
.menu-admin > li > ul a {
	position: relative;
	display: block;
	padding: 0.5em;
    margin: 0;
	font-size: 1rem;
}

.menu-admin {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.menu-admin ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.menu-admin li {
    padding: 0;
    margin: 0;
    line-height: 1rem;
}

.menu-admin a:hover,
.menu-admin label:hover {
    cursor: pointer;
}

.menu-admin > li a,
.menu-admin > li a:hover,
.menu-admin > li a:active,
.menu-admin > li a:visited {
    color: $gray-dark;
    text-decoration: none;
}

.menu-admin > li > ul {
    position: fixed;
    top: $top-nav-height;
    left: $left-navigation-width;
    height: 100%;
    width: $left-navigation-expand-width;
}

.menu-admin > li > ul a.active,
.menu-admin > li > ul a:active,
.menu-admin > li > ul a:focus {
    @extend .bg-faded;
    color: $gray-dark;
}

.menu-admin > li > ul a:hover,
.menu-admin > li > ul label:hover {
    background-color: $tag-default-bg;
    color: $tag-link-hover-color;
}

.menu-admin ul label::before {
  /* arrow icon */
  content: "\f0da";
  font-family: "FontAwesome";
  padding-right: 0.5em;
}

.menu-admin ul input[type=checkbox]:checked + label::before {
  /* rotate icon */
  content: "\f0d7";
}

$navigation-gap: 1em;
.menu-admin ul > li {
    /*padding-left: $navigation-gap;*/
}

.menu-admin ul > li > ul > li > a  {
    padding-left: 2*$navigation-gap;
}

.menu-admin ul > li > ul > li > ul > li > a  {
    padding-left: 3*$navigation-gap;
}

.menu-admin ul > li > ul > li > ul > li > ul > li > a {
    padding-left: 4*$navigation-gap;
}

ul.menu-admin ul {
	/* by default hide all sub menus */
	display: none;
}

.menu-admin input[type=checkbox]:checked + label + ul,
.menu-admin input[type=checkbox]:checked + label:nth-of-type(n) + ul,
.menu-admin input[type=radio]:checked + label + ul,
.menu-admin input[type=radio]:checked + label:nth-of-type(n) + ul {
	/* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
	/* show children when item is checked */
	display: block;
}

.menu-admin > li > label > span {
    top: 2em;
    position: relative;
    text-align: center;
    display: block;
    padding-top: 1em;
    font-size: 0.8em;
}

.menu-admin > li > label {
    margin:0;
}

// Top menu links are just showing the icons, and are square
.menu-admin > li > label {
    display: block;
    height: $left-navigation-width;
    width: $left-navigation-width;
    position: relative;
    transition: background 0.1s ease-in-out;
}

// When a root link is hovered, highlight it
.menu-admin > li:hover {
    > label::before,
    > label > span {
    color: $brand-primary;
    }
}

.menu-admin > li > label::before {
    color: $gray-dark;
    font-size: 2em;
    font-family: "FontAwesome";
    display:block;
    position: relative;
    text-align: center;
    top: 0.7em;
    left:0;
    padding: 0;
    margin:0;
}

// Add a top border to the first root link
.menu-admin > li:first-child > label {
    /*border-top: 1px solid rgba(0, 0, 0, 0.05);*/
}

// Icons

.menu-admin > li.content > a::before,
.menu-admin > li.content > label::before {
    content: "\f187";
}

.menu-admin > li.new > a::before,
.menu-admin > li.new > label::before {
    content: "\f044";
}

.menu-admin > li.content-definition > a::before,
.menu-admin > li.content-definition > label::before {
    content: "\f1b2";
}

.menu-admin > li.themes > a::before,
.menu-admin > li.themes > label::before {
    content: "\f083";
}

.menu-admin > li.modules > a::before,
.menu-admin > li.modules > label::before {
    content: "\f12e";
}

.menu-admin > li.demo > a::before,
.menu-admin > li.demo > label::before {
    content: "\f292";
}

.menu-admin > li.menu-design > a::before,
.menu-admin > li.menu-design > label::before {
    content: "\f013";
}

// Pager
// ------------------------------

ul.pager {
    @extend .pagination;
}

ul.pager li {
    @extend .page-item;
}

ul.pager li a {
    @extend .page-link;
}

// Sortable
// ------------------------------

.list-group.sortable li {
    cursor: move;
}

// Responsive sizes
// Creates mixins to target all breakpoints
// ------------------------------
.col-xs {
    @extend .col-xs-8, .col-sm-4, .col-md-3, .col-lg-2, .col-xl-1;
}

.col-sm {
    @extend .col-xs-12, .col-sm-9, .col-md-6, .col-lg-3, .col-xl-3;
}

.col-md {
    @extend .col-xs-12, .col-sm-12, .col-md-10, .col-lg-8, .col-xl-6;
}

.col-lg {
    @extend .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-9;
}

.col-xl {
    @extend .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-12;
}