@model string
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<div class="jumbotron">
    <p>This page lets you change the site's theme. Try <code>SafeMode</code> and <code>TheTheme</code></p>
</div>


@using (Html.BeginForm())
{
    <input name="themeName" value="@Model"/>
    <button type="submit">Submit</button>
}
