@using OrchardCore.Spatial.ViewModels
@using OrchardCore.Spatial.Settings
@model EditGeoPointFieldViewModel
@{
    var settings = Model.PartFieldDefinition.Settings.ToObject<GeoPointFieldSettings>();
}

<div class="form-row">
    <div class="mb-3 col-md-4">
        <label asp-for="Latitude">Latitude</label>
        <input asp-for="Latitude" type="number" min="-90.000000" max="90.000000" step=".000001" placeholder="00.000000" class="form-control content-preview-text" required="@settings.Required" />
        @if (!string.IsNullOrEmpty(settings.Hint))
        {
            <span class="hint">@settings.Hint</span>
        }
    </div>
    <div class="mb-3 col-md-4">
        <label asp-for="Longitude">Longitude</label>
        <input asp-for="Longitude" type="number" min="-180.000000" max="180.000000" step=".000001" placeholder="00.000000" class="form-control content-preview-text" required="@settings.Required" />
        @if (!string.IsNullOrEmpty(settings.Hint))
        {
            <span class="hint">@settings.Hint</span>
        }
    </div>
</div>
