@using OrchardCore.Spatial.ViewModels
@model EditGeoPointFieldViewModel
@{
    var settings = Model.PartFieldDefinition.Settings.ToObject<GeoPointFieldSettingsViewModel>();
}

<div class="form-row">
    <div class="form-group col-md-4">
        <label asp-for="Latitude">Latitude</label>
        <input asp-for="Latitude" class="form-control content-preview-text" required="@settings.Required" />
        @if (!string.IsNullOrEmpty(settings.Hint))
        {
            <span class="hint">@settings.Hint</span>
        }
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Longitude">Longitude</label>
        <input asp-for="Longitude" class="form-control content-preview-text" required="@settings.Required" />
        @if (!string.IsNullOrEmpty(settings.Hint))
        {
            <span class="hint">@settings.Hint</span>
        }
    </div>
</div>
