@using OrchardCore.Spatial.ViewModels
@using OrchardCore.Spatial.Settings
@using System.Globalization
@model EditGeoPointFieldViewModel
@{
    var settings = Model.PartFieldDefinition.Settings.ToObject<GeoPointFieldSettings>();
}

<div class="form-row" id="GeoPointFields">
    <div class="mb-3 col-md-4 col-lg-3">
        <label asp-for="Latitude">Latitude</label>
        <input asp-for="Latitude" type="number" min="-90.000000" max="90.000000" step=".000001" placeholder="00.000000" class="form-control content-preview-text" required="@settings.Required" data-latitude />
        @if (!string.IsNullOrEmpty(settings.Hint))
        {
            <span class="hint">@settings.Hint</span>
        }
    </div>
    <div class="mb-3 col-md-4 col-lg-3">
        <label asp-for="Longitude">Longitude</label>
        <input asp-for="Longitude" type="number" min="-180.000000" max="180.000000" step=".000001" placeholder="00.000000" class="form-control content-preview-text" required="@settings.Required" data-longitude />
        @if (!string.IsNullOrEmpty(settings.Hint))
        {
            <span class="hint">@settings.Hint</span>
        }
    </div>
</div>
<div class="form-row">
    <div class="mb-3 col-md-8 col-lg-6">
        <div id="map" style="height : 200px"></div>
    </div>
</div>
<script asp-name="coordinate-leaflet-field" depends-on="leaflet,jQuery" asp-src="~/OrchardCore.Spatial/Scripts/coordinate-leaflet-field.min.js" debug-src="~/OrchardCore.Spatial/Scripts/coordinate-leaflet-field.js" at="Foot"></script>
<style asp-name="leaflet" version="1.7.1"></style>
