@model GeoPointPartViewModel

<fieldset class="form-group" asp-validation-class-for="Latitude">
    <label asp-for="Latitude">@T["Latitude"] <span asp-validation-for="Latitude"></span></label>
    <input asp-for="Latitude" class="form-control content-preview-text"/>
    <span class="hint">@T["The latitude of the content item."]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Longitude">
    <label asp-for="Longitude">@T["Longitude"] <span asp-validation-for="Longitude"></span></label>
    <input asp-for="Longitude" class="form-control content-preview-text"/>
    <span class="hint">@T["The Longitude of the content item."]</span>
</fieldset>