@using OrchardCore
@model OrchardCore.Spatial.Settings.GeoPointFieldSettings

<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        <div class="form-check">
            <input asp-for="Required" type="checkbox" class="form-check-input">
            <label class="form-check-label" asp-for="Required">@T["Required"]</label>
            <span class="hint dashed">@T["Whether a value is required."]</span>
        </div>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="Hint" class="ocat-label">@T["Hint"]</label>
    <div class="ocat-end w-md-75 w-xl-50 pe-md-3">
        <textarea asp-for="Hint" rows="2" class="form-control"></textarea>
        <span class="hint">@T["The hint text to display for this field on the editor."]</span>
    </div>
</div>
