@model AliasPartViewModel
@using OrchardCore.ContentLocalization
@using OrchardCore.Localization

@{
    var culture = await Orchard.GetContentCultureAsync(Model.AliasPart.ContentItem);
}

<div class="form-group" asp-validation-class-for="Alias">
    <label asp-for="Alias">@T["Alias"] </label>
    <input asp-for="Alias" class="form-control text-muted" disabled dir="@culture.GetLanguageDirection()" />
    <span asp-validation-for="Alias"></span>
    <span class="hint">
        @T["The alias of the content item."]
    </span>       
</div>
