@model dynamic

<zone Name="Title"><h1>@RenderTitleSegments(T["Configure OpenID Connect validation settings"])</h1></zone>

<form asp-action="Index" method="post" class="no-multisubmit">
    @Html.ValidationSummary()

    <p class="alert alert-warning" role="alert">
        @T["The website might be restarted upon saving the settings, potentially leading to temporary unresponsiveness during the process."]
    </p>

    @await DisplayAsync(Model.Content)

    <div class="ocat-wrapper">
        <div class="ocat-end-offset">
            <button class="btn btn-primary" type="submit">@T["Save"]</button>
        </div>
    </div>
</form>
