@using OrchardCore.OpenApi.Settings
@using OrchardCore.OpenApi.ViewModels
@model OpenApiSettingsViewModel

@* Hidden inputs for ASP.NET model binding - Vue syncs values to these. *@
<input asp-for="AllowAnonymousSchemaAccess" type="hidden" />
<input asp-for="AuthenticationType" type="hidden" />
<input asp-for="AuthorizationUrl" type="hidden" />
<input asp-for="TokenUrl" type="hidden" />
<input asp-for="OAuthClientId" type="hidden" />
<input asp-for="OAuthScopes" type="hidden" />

@{
    var jsLocalizations = Orchard.GetJSLocalizations("openapi-settings");
}

@* Vue app mount point *@
<div id="vue-openapi-settings">
    <openapi-settings
        settings-data='@Html.Raw(Json.Serialize(new
        {
            isSwaggerUIEnabled = Model.IsSwaggerUIEnabled,
            isReDocUIEnabled = Model.IsReDocUIEnabled,
            isScalarUIEnabled = Model.IsScalarUIEnabled,
            allowAnonymousSchemaAccess = Model.AllowAnonymousSchemaAccess,
            authenticationType = (int)Model.AuthenticationType,
            authorizationUrl = Model.AuthorizationUrl ?? "",
            tokenUrl = Model.TokenUrl ?? "",
            oAuthClientId = Model.OAuthClientId ?? "",
            oAuthScopes = Model.OAuthScopes ?? "",
            pathBase = Context.Request.PathBase.Value ?? "",
        }))'
        translations='@Html.Raw(Json.Serialize(jsLocalizations))'>
    </openapi-settings>
</div>

<script asp-src="~/OrchardCore.OpenApi/Scripts/openapi-settings/openapi-settings.js" at="Foot"></script>
