@model dynamic

<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        <h5>@T["All Rate Limit Policies"]</h5>
        <span class="hint">@T["Adds every tenant rate limit policy to the deployment plan."]</span>
    </div>
</div>
