@model SitemapCreateViewModel

<h1>@RenderTitleSegments(T["Create Sitemap"])</h1>

<div asp-validation-summary="All"></div>
<form asp-action="Create" method="post">
    @await DisplayAsync(Model.Editor.Content)

    <input type="hidden" asp-for="SitemapType" />

    <div class="form-group">
        <button class="btn btn-primary" type="submit">@T["Create"]</button>
        <a class="btn btn-secondary"
           asp-route-controller="Admin"
           asp-route-action="List">@T["Cancel"]</a>
    </div>
</form>
