@using System.Globalization
@using OrchardCore.DisplayManagement.Views
@using OrchardCore.UrlRewriting.Models

@model ShapeViewModel<RewriteRule>

@{
    var createdAt = Model.Value.CreatedUtc.ToString("yyyy-MM-ddTHH:mm:sszzz", CultureInfo.InvariantCulture);
}

<span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@await DisplayAsync(await New.DateTime(Utc: Model.Value.CreatedUtc, Format: "g"))">
    <i class="fa-solid fa-calendar text-secondary" aria-hidden="true"></i> <time datetime="@createdAt">@await DisplayAsync(await New.Timespan(Utc: Model.Value.CreatedUtc))</time>
</span>

@if (!string.IsNullOrEmpty(Model.Value.Author))
{
    <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@T["Author"]">
        <i class="fa-solid fa-user text-secondary me-1" aria-hidden="true"></i>@Model.Value.Author
    </span>
}
