@using OrchardCore.DisplayManagement.Views
@using OrchardCore.Search.Lucene.Deployment

@model ShapeViewModel<LuceneIndexDeploymentStep>

@{
    var includeAll = Model.Value.IncludeAll;
    var indexNames = Model.Value.IndexNames;
}

<h5>@T["Lucene Search Indexes"]</h5>

@if (includeAll)
{
    <span class="badge bg-success">@T["All"]</span>
}
else if (indexNames?.Length > 0)
{
    foreach (var indexName in indexNames)
    {
        <span class="badge ta-badge">@indexName</span>
    }
}
else
{
    <span class="badge bg-warning">@T["No index selected."]</span>
}
