@* TODO This is just here as an example"*@
@*<div class="form-group mb-n1 filter">
    <div class="btn-group mt-1">
        <a class="dropdown-item" href="?ListPart.ShowListContentTypes=true">@T["Show Lists (example)"]</a>
    </div>
</div>*@
