@model OrchardCore.Lists.ViewModels.ListPartViewModel

@inject OrchardCore.ContentManagement.Display.IContentItemDisplayManager ContentItemDisplayManager

@if (Model.ContentItems.Any())
{
<ul class="list-group">
    @foreach (var contentItem in Model.ContentItems)
    {
        var contentItemSummary = await ContentItemDisplayManager.BuildDisplayAsync(contentItem, Model.Context.Updater, "Summary", Model.Context.GroupId);

        <li class="list-group-item">
            @await DisplayAsync(contentItemSummary)
        </li>
    }
</ul>
}
else
{
    <p class="alert alert-warning">@T["The list is empty"]</p>
}

@await DisplayAsync(Model.Pager)
