@model OrchardCore.Lists.ViewModels.ProfileHeaderViewModel
@inject OrchardCore.ContentManagement.Display.IContentItemDisplayManager ContentItemDisplayManager
@inject OrchardCore.DisplayManagement.ModelBinding.IUpdateModelAccessor UpdateModelAccessor
@{
    var profileShape = await ContentItemDisplayManager.BuildDisplayAsync(Model.ContainerContentItem, UpdateModelAccessor.ModelUpdater, "Profile");
}
<div class="card bg-light mb-3">
    <div class="card-body">
        @await DisplayAsync(profileShape)
    </div>
</div>
