@using OrchardCore.Sms.ViewModels

@model SmsSettingsViewModel

<div class="ocat-wrapper" asp-validation-class-for="DefaultProvider">
    <label asp-for="DefaultProvider" class="ocat-label">@T["Default SMS provider"]</label>
    <div class="ocat-end">
        <select asp-for="DefaultProvider" class="form-select" asp-items="Model.Providers">
            <option value="">@T["Select a provider"]</option>
        </select>
        <span asp-validation-for="DefaultProvider"></span>
    </div>
</div>
