@using OrchardCore.Sms.ViewModels

@model SmsSettingsViewModel

<div class="mb-3" asp-validation-class-for="DefaultProvider">
    <label asp-for="DefaultProvider">@T["Default SMS provider"]</label>
    <select asp-for="DefaultProvider" class="form-select" asp-items="Model.Providers">
        <option value="">@T["Select a provider"]</option>
    </select>
    <span asp-validation-for="DefaultProvider"></span>
</div>

<script at="Foot">
    document.addEventListener('DOMContentLoaded', () => {

        let menu = document.getElementById('@Html.IdFor(m => m.DefaultProvider)');
        let settingContainers = document.getElementsByClassName('sms-settings-container');

        menu.addEventListener('change', (e) => {

            for (let i = 0; i < settingContainers.length; i++) {
                settingContainers[i].classList.add('d-none');
            }

            let wrapper = document.getElementById('SmsSettingsContainer' + e.target.value);

            if (wrapper) {
                wrapper.classList.remove('d-none');
            }
        });

        menu.dispatchEvent(new Event('change'));
    });
</script>