@using OrchardCore.Workflows.Models
@{
    var activityRecord = (ActivityRecord)Model.ActivityRecord;
}
<div class="activity" style="left:@(activityRecord.X)px; top:@(activityRecord.Y)px;" id="@($"activity-{Model.WorkflowDefinitionId}-{activityRecord.Id}")" data-activity-id="@activityRecord.Id">
    @await DisplayAsync(Model.Content)
</div>