<fieldset class="form-group">
    <label for="Notification">@T["Notification"]</label>
    <select for="Notification" class="form-control">
        @foreach (var notifyType in Enum.GetNames(typeof(Orchard.DisplayManagement.Notify.NotifyType)))
            {
            <option value="@notifyType">@notifyType</option>
        }
    </select>
    <div class="hint">@T["The event to notify on."]</div>
</fieldset>