@using OrchardCore.Workflows.ViewModels
@model ActivityMetadataEditViewModel

<div class="mb-3" asp-validation-class-for="Title">
    <label asp-for="Title">@T["Title"]</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title"></span>
    <span class="hint">@T["Optionally provide a custom title for this activity."]</span>
</div>
