@using OrchardCore.Workflows.UserTasks.ViewModels
@model UserTaskEventContentViewModel
@{
    var actions = Model.Actions;
}
@if (actions.Count <= 2)
{
    @foreach (var action in actions)
    {
        <button type="submit" name="submit.Save" class="btn btn-warning" value="user-task.@action">@T[action]</button>
    }
}
else
{
    <div class="btn-group" role="group">
        <button id="userActionsButtonGroup" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @T["User Actions"]
        </button>
        <div class="dropdown-menu" aria-labelledby="userActionsButtonGroup">
            @foreach (var action in actions)
            {
                <button type="submit" name="submit.Save" class="dropdown-item" value="user-task.@action">@T[action]</button>
            }
        </div>
    </div>
}
