<div class="workflow-editor-container">
    <div class="workflow-editor-canvas-container">
        <div class="workflow-editor-canvas" data-workflow-definition="@Model.WorkflowDefinitionData" data-workflow-definition-state-input-name="">
            @foreach (var activityModel in Model.WorkflowDefinition.Activities)
            {
                <div class="activity" style="left:@(activityModel.X)px; top:@(activityModel.Y)px;" id="@($"activity-{Model.WorkflowDefinition.Id}-{activityModel.Id}")" data-activity-id="@activityModel.Id"></div>
            }
        </div>
    </div>
</div>
<style asp-src="~/OrchardCore.Workflows/Styles/jsplumbtoolkit-defaults.min.css" debug-src="~/OrchardCore.Workflows/Styles/jsplumbtoolkit-defaults.css" cdn-src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.5.5/css/jsplumbtoolkit-defaults.min.css" debug-cdn-src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.5.5/css/jsplumbtoolkit-defaults.css" version="2.5.5"></style>
<style asp-src="~/OrchardCore.Workflows/Styles/orchard.workflows-workflow-editor.min.css" debug-src="~/OrchardCore.Workflows/Styles/orchard.workflows-workflow-editor.css"></style>
<script asp-name="jsplumb" depends-on="jQuery" asp-src="~/OrchardCore.Workflows/Scripts/jsplumb.min.js" debug-src="~/OrchardCore.Workflows/Scripts/jsplumb.js" cdn-src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.5.5/jsplumb.min.js" debug-cdn-src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.2.9/jsplumb.js" type="text/javascript" version="2.5.5" at="Foot"></script>
<script depends-on="jsplumb" asp-src="~/OrchardCore.Workflows/Scripts/orchard.workflows-workflow-editor.min.js" debug-src="~/OrchardCore.Workflows/Scripts/orchard.workflows-workflow-editor.js" type="text/javascript" at="Foot"></script>