<zone Name="Title"><h1>@RenderTitleSegments(T["Import Deployment Package"])</h1></zone>
<div class="card bg-primary mb-3">
    <div class="card-body">
        <form asp-action="Import" enctype="multipart/form-data" class="no-multisubmit">
            <div class="mb-3">
                <label for="file" class="form-label">@T["Select a file"]</label>
                <input id="file" type="file" name="importedPackage" class="form-control" accept=".zip,.json" />
            </div>

            <button class="btn btn-primary import" type="submit">@T["Import"]</button>

        </form>
    </div>
</div>
