<zone Name="Title"><h1>@RenderTitleSegments(T["Import Deployment Package"])</h1></zone>

<form asp-action="Import" enctype="multipart/form-data" class="no-multisubmit">
    <nav class="card">
        <ul class="navbar-nav card-body bg-primary">
            <li class="nav-item">
                <input type="file" name="importedPackage" accept=".zip,.json" />
                <button class="btn btn-primary import" type="submit">@T["Import"]</button>
            </li>
        </ul>
    </nav>
</form>
