<h1>@RenderTitleSegments(T["Import Deployment Package"])</h1>

<form asp-action="Import" enctype="multipart/form-data">
    <nav class="admin-toolbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <input type="file" name="importedPackage" accept=".zip,.json" />
                <button class="btn btn-primary" type="submit">@T["Import"]</button>
            </li>
        </ul>
    </nav>
</form>
