@model OrchardCore.Deployment.ViewModels.ImportJsonViewModel
<zone Name="Title"><h1>@RenderTitleSegments(T["JSON Import"])</h1></zone>

@Html.ValidationSummary()

<form asp-action="Json">
    <div class="form-group">
        <div class="form-control" data-monaco-oc="true" data-textarea-id="@Html.IdFor(x => x.Json)" data-language="json" data-max-height="0"></div>
        <textarea asp-for="Json" class="form-control"  hidden></textarea>
    </div>
    <button class="btn btn-primary import" type="submit">@T["Import"]</button>
</form>

<script asp-name="monaco-oc-editor" depends-on="admin" at="Foot"></script>
