@inject ContentPickerItemRoute ContentPickerItemRoute

@{
    ContentPickerMenuItemPart menuItemPart = Model.MenuItemPart;
    var linkUrl = Url.RouteUrl(ContentPickerItemRoute.GetContentPickerItemRouteValue(menuItemPart.ContentItemId));
}

<span>@menuItemPart.Name <code>@linkUrl</code><span class="text-muted">- ContentPickerLink</span></span>
