@inject IOptions<AutorouteOptions> AutorouteOptions
@{
    ContentPickerMenuItemPart menuItemPart = Model.MenuItemPart;
    var linkUrl = Url.RouteUrl(menuItemPart.GetContentPickerItemRouteValue(AutorouteOptions.Value));
}

<span>@menuItemPart.Name <code>@linkUrl</code><span class="text-muted">- ContentPickerLink</span></span>
