@using OrchardCore
@model ContentMenuItemPartEditViewModel

<div class="@Orchard.GetWrapperCssClasses()">
    <label asp-for="Name" class="@Orchard.GetLabelCssClasses()">@T["Name"]</label>
    <div class="@Orchard.GetEndCssClasses()">
        <input asp-for="Name" class="form-control" autofocus />
    </div>
</div>
