@model ContentMenuItemPartEditViewModel

<h5>@T["Content Menu Item"]</h5>

<div class="mb-3">
    <label asp-for="Name">@T["Name"]</label>
    <input asp-for="Name" class="form-control" autofocus />
</div>
