@inject IOptions<AutorouteOptions> AutorouteOptions

@using OrchardCore.ContentManagement
@using OrchardCore.Menu

@{
    ContentItem contentItem = Model.ContentItem;
    var menuItemPart = contentItem.As<ContentPickerMenuItemPart>();
    var linkUrl = Url.RouteUrl(menuItemPart.GetContentPickerItemRouteValue(AutorouteOptions.Value));
}
<a href="@linkUrl">@menuItemPart.Name</a>
