@using OrchardCore.ContentManagement

@{
    ContentItem contentItem = Model.ContentItem;
    var linkMenuItemPart = contentItem.As<LinkMenuItemPart>();
}
<a href="@Url.Content(linkMenuItemPart.Url)">@linkMenuItemPart.Name</a>
