@inject ContentPickerItemRoute ContentPickerItemRoute

@using OrchardCore.ContentManagement

@{
    ContentItem contentItem = Model.ContentItem;
    var menuItemPart = contentItem.As<ContentPickerMenuItemPart>();
    var linkUrl = Url.RouteUrl(ContentPickerItemRoute.GetContentPickerItemRouteValue(menuItemPart.ContentItemId));
}

<a href="@linkUrl">@menuItemPart.Name</a>
