@inject IOptions<AutorouteOptions> AutorouteOptions

@using OrchardCore.ContentManagement
@using OrchardCore.Menu

@{
    ContentItem contentItem = Model.ContentItem;
    var linkMenuItemPart = contentItem.As<ContentPickerMenuItemPart>();
    Url.RouteUrl(AutorouteOptions.Value.GlobalRouteValues.TryGetValue(linkMenuItemPart.ContentItemIds, out var linkUrl));
}
<a href="@linkUrl">@linkMenuItemPart.Name</a>
