@{
    ViewLayout = "Layout__Login";
}

<h2>@T["Email confirmation"]</h2>
<div>
    <p>
        @T["Thank you for confirming your email."]
    </p>
    <p>
        <a href="@Url.Content("~/")">@T["Home"]</a>
    </p>
</div>
