@model dynamic

<h5>@T["All Features"]</h5>

<span class="hint">@T["Adds all features and their state to the plan. Features should be placed before other steps that depend on the state of the sites features."]</span>
