@model AllFeaturesDeploymentStepViewModel

<h5>@T["All Features"]</h5>

<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="IgnoreDisabledFeature" />
        <label class="custom-control-label" asp-for="IgnoreDisabledFeature">@T["Ignore disable features"]</label>
        <span class="hint">@T["Check if the disable features have to be ignored."]</span>
    </div>
</div>
