@model ListNotificationOptions

@inject IDisplayManager<ListNotificationOptions> OptionsDisplayManager

<div class="dropdown" style="display: none" id="actions">
    <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="bulk-action-menu-button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @T["Actions"]
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bulk-action-menu-button">
        @{
            var bulkActions = await OptionsDisplayManager.BuildDisplayAsync(Model, null, "BulkActions");
            if (bulkActions.TryGetProperty<IShape>("Content", out var content))
            {
                @await DisplayAsync(content)
            }
        }
    </ul>
</div>
