@model ListNotificationsViewModel

<div data-list-management data-selected-label="@T["selected"]">
<!-- Hidden submit button do not remove -->
<input type="submit" name="submit.Filter" id="submitFilter" class="visually-hidden" />
<input type="submit" name="submit.BulkAction" class="visually-hidden" />
@Html.HiddenFor(o => o.Options.BulkAction)

@if (Model.Header?.Search != null || Model.Header?.ActionBarButtons)
{
    <div class="card text-bg-theme mb-3 position-sticky action-bar">
        <div class="card-body">
            <div class="row gx-3">
                @if (Model.Header.Search != null)
                {
                    <div class="col">
                        @await DisplayAsync(Model.Header.Search)
                    </div>
                }

                @if (Model.Header.ActionBarButtons != null)
                {
                    <div class="col-auto">
                        @await DisplayAsync(Model.Header.ActionBarButtons)
                    </div>
                }
            </div>
        </div>
    </div>
}

<div class="list-group with-checkbox notification-container">
    @if (Model.Header?.Summary != null || Model.Header?.Actions != null)
    {
        <div class="list-group-item text-bg-theme">
            <div class="row gx-3">
                @if (Model.Header.Summary != null)
                {
                    <div class="col">
                        @await DisplayAsync(Model.Header.Summary)
                    </div>
                }
                @if (Model.Header.Actions != null)
                {
                    <div class="col col-md-auto text-end">
                        @await DisplayAsync(Model.Header.Actions)
                    </div>
                }
            </div>
        </div>
    }
    @if (Model.Notifications.Any())
    {
        @foreach (var notification in Model.Notifications)
        {
            @await DisplayAsync(notification)
        }
    }
    else
    {
        <div class="list-group-item">
            <div class="alert alert-info mb-0">
                @T["No notifications found."]
            </div>
        </div>
    }
</div>

@await DisplayAsync(Model.Pager)

</div>

<script asp-name="bootstrap-select" at="Foot"></script>
<script asp-name="list-management" at="Foot"></script>
