@using Orchard.ContentManagement.Metadata.Models
@using Orchard.ContentManagement.Metadata.Settings
@using Orchard.ContentManagement

@{
    ContentPart contentPart = Model.ContentPart;
    ContentTypePartDefinition typePartDefinition = Model.ContentTypePartDefinition;
    var description = typePartDefinition.Description();
    var namedPart = typePartDefinition.PartDefinition.IsReusable();
}

@if (namedPart)
{
    <h5>
        @typePartDefinition.DisplayName()

        @if (!String.IsNullOrEmpty(description))
        {
            <span class="hint">@T["— {0}", description]</span>
        }
    </h5>
}
@foreach (var shape in Model)
{
    @await DisplayAsync(shape)
}