@using OrchardCore.Mvc.Utilities;

@{
    Model.Classes.Add("content-item");

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);

    var tag = Tag(Model, "article");
}

<script asp-name="codemirror" at="Foot"></script>
<script asp-name="codemirror-mode-javascript" at="Foot"></script>
<style asp-name="codemirror" at="Head"></style>
<style asp-src="https://codemirror.net/addon/fold/foldgutter.css" at="Head"></style>
<script asp-src="https://codemirror.net/addon/fold/foldcode.js" at="Foot"></script>
<script asp-src="https://codemirror.net/addon/fold/foldgutter.js" at="Foot"></script>
<script asp-src="https://codemirror.net/addon/fold/brace-fold.js" at="Foot"></script>

<div class="row">
    <article>
        @if (Model.Header != null || Model.Meta != null)
        {
            <header>
                @await DisplayAsync(Model.Header)
                @if (Model.Meta != null)
                {
                    <div class="metadata">
                        @await DisplayAsync(Model.Meta)
                    </div>
                }
            </header>
        }

        @await Orchard.ShapeDump(Model.Content as object)
        @*<textarea class="oc-dump-block">@Orchard.ShapeDump(Model.Content as object)</textarea>*@
        @*<textarea id="code" name="code"> </textarea>*@
        @await DisplayAsync(Model.Content)
        @if (Model.Footer != null)
        {
            <footer>
                @await DisplayAsync(Model.Footer)
            </footer>
        }
    </article>
</div>

<script at="Foot" depends-on="jquery">
    //<![CDATA[
    $(function () {
        //editor = CodeMirror.fromTextArea(document.getElementById('sd-1'), {
        //    mode: { name: "javascript", json: true },
        //    lineNumbers: true,
        //    lineWrapping: true,
        //    readOnly: true,
        //    styleActiveLine: true,
        //    matchBrackets: true,
        //    extraKeys: { "Ctrl-Q": function (cm) { cm.foldCode(cm.getCursor()); } },
        //    foldGutter: true,
        //    gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
        //});

        $('.oc-json-code').each(function() {
            CodeMirror.fromTextArea(this, {
                mode: { name: "javascript", json: true },
                lineNumbers: true,
                lineWrapping: true,
                readOnly: true,
                styleActiveLine: true,
                matchBrackets: true,
                extraKeys: { "Ctrl-Q": function (cm) { cm.foldCode(cm.getCursor()); } },
                foldGutter: true,
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
            });
        });


    });

    //]]>
</script>