@using OrchardCore.ContentManagement
@using OrchardCore.Menu

@{
    ContentItem contentItem = Model.ContentItem;
    var linkMenuItemPart = contentItem.Content["LinkMenuItemPart"];
}

@if ((bool)(Model.HasItems))
{
    <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Content((string)linkMenuItemPart.Url)">@linkMenuItemPart.Name<b class="caret"></b></a>
}
else
{
    <a href="@Url.Content((string)linkMenuItemPart.Url)">@linkMenuItemPart.Name</a>
}
