@using OrchardCore.DisplayManagement.Shapes;
<h1>Shape tracing wrapper</h1>
@{ 
    var t = Context.Items;
    if (t != null)
    {

    }
    var q = Model as Shape;
    var y = q as dynamic;
    if (y != null && y._Dump != null)
    {
        <textarea class="oc-json-code">@y._Dump</textarea>
    }

}