@model OrchardCore.Markdown.ViewModels.EditMarkdownFieldViewModel
@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.Markdown.Settings;

@{
    var settings = Model.PartFieldDefinition.Settings.ToObject<MarkdownFieldSettings>();
}

<fieldset class="form-group">
    <label asp-for="Markdown">@Model.PartFieldDefinition.DisplayName()</label>
    <input asp-for="Markdown" class="form-control content-preview-text" />
    @if (!String.IsNullOrEmpty(settings.Hint))
    {
        <span class="hint">@settings.Hint</span>
    }
</fieldset>
