@model OrchardCore.Markdown.ViewModels.MarkdownFieldWysiwygEditorSettingsViewModel
@{
    var fullOptions = @"{
    toolbar: [
        ""guide"", ""|"",
        ""undo"", ""redo"", ""|"",
        ""bold"", ""italic"", ""strikethrough"", ""|"",
        ""heading"", ""|"",
        ""code"", ""quote"", ""|"",
        ""link"", ""|"",
        ""shortcode"", ""|"",
        ""image"", ""|"",
        ""unordered-list"", ""ordered-list"", ""table"", ""|"",
        ""horizontal-rule"", ""|"",
        ""preview"", ""side-by-side"", ""fullscreen""
    ],
    spellChecker: false
}";
}

<div id="@Html.IdFor(m => m)" class="type-part-editor type-part-editor-wysiwyg codemirror-js-options-editor" data-default-options="@fullOptions">
    <div class="ocat-limited-wrapper">
        <label asp-for="Options" class="ocat-label">@T["Enter the editor options"]</label>
        <div class="ocat-limited">
            <span class="hint"><a href="https://github.com/Ionaru/easy-markdown-editor#configuration" target="_blank">@T["Documentation for options"]</a></span>
            <textarea asp-for="Options" class="form-control" autofocus="autofocus"></textarea>
        </div>
    </div>
</div>

<style asp-name="codemirror"></style>
<script asp-name="codemirror" at="Foot"></script>
<script asp-name="codemirror-addon-display-autorefresh" at="Foot"></script>
<script asp-name="codemirror-mode-javascript" at="Foot"></script>
<script asp-src="~/OrchardCore.Markdown/Scripts/markdown-editors/markdown-body-part-wysiwyg-settings.min.js" debug-src="~/OrchardCore.Markdown/Scripts/markdown-editors/markdown-body-part-wysiwyg-settings.js" at="Foot" type="module"></script>
