@model OrchardCore.Markdown.ViewModels.EditMarkdownFieldViewModel
@using OrchardCore.ContentManagement
@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.Markdown.Settings;
@using OrchardCore.Localization
@inject IContentManager ContentManager

@{
    var settings = Model.PartFieldDefinition.Settings.ToObject<MarkdownFieldSettings>();
    var cultureAspect = await ContentManager.PopulateAspectAsync<CultureAspect>(Model.Field.ContentItem);
}

<fieldset class="form-group">
    <label asp-for="Markdown">@Model.PartFieldDefinition.DisplayName()</label>
    <input asp-for="Markdown" class="form-control content-preview-text" dir="@cultureAspect.LanguageDirection" />
    @if (!String.IsNullOrEmpty(settings.Hint))
    {
        <span class="hint">@settings.Hint</span>
    }
</fieldset>
