@model MarkdownBodyPartViewModel

@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.Markdown.ViewModels
@using OrchardCore.Markdown.Settings
@{
    var settings = Model.TypePartDefinition.GetSettings<MarkdownBodyPartSettings>();
    var culture = await Orchard.GetContentCultureAsync(Model.MarkdownBodyPart.ContentItem);
}

<div class="ocat-wrapper">
    <label asp-for="Markdown" class="ocat-label">@Model.TypePartDefinition.DisplayName()</label>
    <div class="ocat-end">
        @await DisplayAsync(await New.ShortcodeModal())
        <textarea asp-for="Markdown" rows="5" class="form-control content-preview-text shortcode-modal-input" dir="@culture.GetLanguageDirection()"></textarea>
        <span class="hint">@T["The body of the content item, in Markdown format."]</span>
    </div>
</div>
