@using OrchardCore.Markdown.ViewModels;
@model MarkdownPartViewModel

<script name="simplemde" depends-on="admin" asp-src="/OrchardCore.Markdown/Scripts/simplemde.min.js" at="Foot"></script>
<style name="simplemde" asp-src="/OrchardCore.Markdown/Styles/simplemde.min.css"></style>

<fieldset class="form-group">
    <label asp-for="Markdown">@T["Body"]</label>
    <span class="hint">@T["The markdown text of the content item."]</span>
    <textarea asp-for="Markdown" rows="5" class="form-control content-preview-text"></textarea>
</fieldset>

<script at="Foot">
    $(function () {
        var simplemde = new SimpleMDE({
            element: document.getElementById("@Html.IdFor(m => m.Markdown)"),
            forceSync: true
        });

        $(document).trigger('simplemde:initialize', [simplemde]);

        simplemde.codemirror.on('change', function () {
            $(document).trigger('contentpreview:render');
        });
    });
</script>