@model MarkdownBodyPartViewModel
@using OrchardCore.ContentLocalization
@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.Markdown.ViewModels;
@using OrchardCore.Markdown.Settings;

@{
    var settings = Model.TypePartDefinition.GetSettings<MarkdownBodyPartSettings>();
    var culture = await Orchard.GetContentCultureAsync(Model.MarkdownBodyPart.ContentItem);
}

@await DisplayAsync(await New.ShortcodeModal())

<div class="mb-3">
    <label asp-for="Markdown">@Model.TypePartDefinition.DisplayName()</label>
    <textarea asp-for="Markdown" rows="5" class="form-control content-preview-text shortcode-modal-input" dir="@culture.GetLanguageDirection()"></textarea>
    <span class="hint">@T["The body of the content item, in Markdown format."]</span>
</div>
