@{
    ThemeLayout.Metadata.Alternates.Add("Layout__SPA");
}

<div style="display: flex; flex-direction:column; align-items:center">
    <h1>OrchardCore SPA Services</h1>
    <p>You must define a Layout__SPA template to load your application</p>
</div>