@model OrchardCore.Search.Lucene.Settings.ContentPickerFieldLuceneEditorSettings

<div class="field-editor field-editor-lucene">
    <div class="mb-3">
        <div class="w-sm-50">
            <label asp-for="Index">@T["Index"]</label>
            <select asp-for="Index" class="form-select">
                @foreach (var index in Model.Indices)
                {
                    <option value="@index">@index</option>
                }
            </select>
        </div>
        <span class="hint">@T["The Lucene index to query for content items"]</span>
    </div>
</div>
