@using OrchardCore.Search.Lucene.ViewModels

@model LuceneContentIndexEntityViewModel

<div class="mb-3" asp-validation-class-for="StoreSourceData">
    <label asp-for="StoreSourceData" class="form-label">@T["Index options"]</label>
    <div class="form-check">
        <input type="checkbox" asp-for="StoreSourceData" class="form-check-input">
        <label class="form-check-label" asp-for="StoreSourceData">@T["Store source data"]</label>
        <span class="hint dashed">@T["Check to store source data in the index."]</span>
    </div>
    <span asp-validation-for="StoreSourceData" class="text-danger"></span>
</div>
