@model ShapeViewModel<SitemapIndexNode>
<div class="@(Model.Value.Enabled ? "" : "disabled")">
    <span>@Model.Value.Description <code>@Model.Value.Path</code> <span class="text-muted">- @T["Sitemap Index"]</span></span>
</div>