@using Microsoft.AspNetCore.Http
@using OrchardCore.Admin
@inject IAuthorizationService AuthorizationService
@inject IHttpContextAccessor HttpContextAccessor
@{
    if (await AuthorizationService.AuthorizeAsync(User, AdminPermissions.AccessAdminPanel))
    {
        AdminAttribute.Apply(HttpContextAccessor.HttpContext);
    }
    else
    {
        ViewLayout = "Layout__Login";
    }
}

<h1>@T["Change Password"]</h1>
<p>@T["Your password has been changed successfully."]</p>
