@model OrchardCore.Users.ViewModels.ForgotPasswordViewModel

<div class="row">
    <div class="col-md-8">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <h4>@T["Forgot password"]</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserIdentifier" class="col-md-3 control-label">@T["Email or username"]</label>
                <div class="col-md-9">
                    <input asp-for="UserIdentifier" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-default">@T["Forgot password"]</button>
                </div>
            </div>
        </form>
    </div>
</div> 