@model ShortcodeTemplateIndexViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Shortcodes"])</h1></zone>

@* the form is necessary to generate and antiforgery token for the delete action *@
<form asp-action="Index">
    @Html.ValidationSummary()
    @await DisplayAsync(Model)
</form>
