.dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(6, 240px);
    grid-auto-flow: dense;
    grid-gap: 1rem;

    .dashboard-wrapper {
        grid-column: span var(--dashboard-width);
        overflow-x: hidden;
        grid-row: span var(--dashboard-height);
        overflow-y: hidden;

        & .card {
            & .card-header {
                border-bottom: none !important;
            }
            & .card-footer {
                border-top: none !important;
            }
        }
    }
}

.dashboard-meta {
    padding-left: 20px;
    padding-right: 20px;

    &:first-child {
        padding-top: 12px;
    }
}

:root[data-theme='default'] {
    & .dashboard-wrapper {
        & .card {
            & .card-header {
                background-color: #fff !important;
            }
            & .card-footer {
                background-color: #fff !important;
            }
        }
    }
}

:root[data-theme='darkmode'] {
    & .dashboard-wrapper {
        & .card {
            & .card-header {
                background-color: rgb(24, 26, 27) !important;
            }
            & .card-footer {
                background-color: rgb(24, 26, 27) !important;
            }
        }
    }
}

.dashboard-handle {
    display: inline-block;
    margin-right: 0.5rem;

    &:hover {
        cursor: move;
    }
}

.dashboard-dragdrop-placeholder {
    margin-top: 6px;
    margin-bottom: 6px;
    min-height: 6px;
    display: inline-block;

    &:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-left-color: orange;
        border-right: none;
    }
}

.ui-resizable-helper {
    border: 1px dashed orange;
}
