#iconPickerModal {

    .iconpicker-popover.popover {
        width: 100%;
        border: none;
    }

    .iconpicker-items {
        min-height: 258px;
    }
}

.remove-icon, .sample-icon {
    width: 40px;
}
