// You can override any bootstrap or module variables here.

$top-nav-height: 52px;
$footer-height: 40px;
$left-navigation-width: 260px;
$left-navigation-width-when-compact: 48px;
$border-content: 1px solid #dedede;
$link-padding-left: 16px !default;
$zindex-sticky: 1000;
$admin-menu-bg-color: #eaeaea;
$admin-menu-font-color: $gray-800;
$admin-menu-font-color-hover: $gray-100;
$admin-menu-item-bg-color: $gray-100;
$admin-menu-item-font-color: $gray-700;
$admin-menu-item-font-color-active: black;
$li-hover-bg-color: $gray-100;
$scrollbar-color: #495057;
