@model HtmlBodyPartViewModel
@using OrchardCore.Html.ViewModels;
@using OrchardCore.Html.Settings;
@using OrchardCore.ContentLocalization
@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.Localization

@{
    var settings = Model.TypePartDefinition.GetSettings<HtmlBodyPartSettings>();
    var culture = await Orchard.GetContentCultureAsync(Model.ContentItem);
}

<script asp-name="conflictresizable" depends-on="admin, jQuery-ui" asp-src="~/OrchardCore.Html/Scripts/resolveconflict-resizable.min.js" debug-src="~/OrchardCore.Html/Scripts/resolveconflict-resizable.js" at="Foot"></script>
<script asp-name="jqueryresizable" depends-on="admin, jQuery-ui, conflictresizable" asp-src="~/OrchardCore.Html/Scripts/jquery-resizable.min.js" debug-src="~/OrchardCore.Html/Scripts/jquery-resizable.js" at="Foot"></script>
<script name="trumbowyg" depends-on="admin, jqueryresizable" asp-src="~/OrchardCore.Resources/Scripts/trumbowyg.min.js" debug-src="~/OrchardCore.Resources/Scripts/trumbowyg.js" at="Foot"></script>
<script asp-name="trumbowygresizewithcanvas" depends-on="trumbowyg" asp-src="~/OrchardCore.Html/Scripts/resize.with.canvas.min.js" debug-src="~/OrchardCore.Html/Scripts/resize.with.canvas.js" at="Foot"></script>
<style name="trumbowyg" asp-src="~/OrchardCore.Resources/Styles/trumbowyg.min.css" debug-src="~/OrchardCore.Resources/Styles/trumbowyg.css"></style>

<fieldset class="form-group">
    <label asp-for="Source">@Model.TypePartDefinition.DisplayName()</label>
    @if (culture.IsRightToLeft())
    {
        <div style="text-align:right">
            <textarea asp-for="Source" rows="5" class="form-control"></textarea>
        </div>
    }
    else
    {
        <textarea asp-for="Source" rows="5" class="form-control"></textarea>
    }
    <span class="hint">@T["The body of the content item."]</span>
</fieldset>

<script at="Foot">
    $(function () {
        $('#@Html.IdFor(m => m.Source)').trumbowyg({
            btns: [
            ['viewHTML'],
            ['undo', 'redo'], // Only supported in Blink browsers
            ['formatting'],
            ['strong', 'em', 'del'],
            ['superscript', 'subscript'],
            ['link'],
            ['image'],
            ['align'],
            ['unorderedList', 'orderedList'],
            ['horizontalRule'],
            ['removeformat'],
            ['table'],
            ['fullscreen']
        ],
        btnsDef: {
            align: {
                dropdown: ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                ico: 'justifyLeft'
            },
            image: {
                dropdown: ['insertImage', 'base64', 'noembed'],
                ico: 'insertImage'
            }
        },
        langs: {
            en: {
                insertImage: 'Insert Media'
            },
            it: {
                insertImage: 'Aggiungi Immagine'
            }
        }
        }).on('tbwchange', function () {
            $(document).trigger('contentpreview:render');
        });
    });
</script>