@using System.Text.Json

@Model.Metadata.ChildContent

@if (!Context.Items.ContainsKey("Media_Assets__HtmlBodyPart"))
{
    Context.Items["Media_Assets__HtmlBodyPart"] = new object();

    var jsLocalizations = Orchard.GetJSLocalizations("media-app");

    <style asp-name="media" at="Head"></style>
    <script asp-name="media-picker" at="Foot"></script>
    <div hidden
         data-media-picker-config
         data-translations="@JsonSerializer.Serialize(jsLocalizations)"
         data-base-path="@Url.Content("~/")"
         data-upload-files-url="@Url.Content("~/api/media/Upload")"></div>
}