@model EtlActivityViewModel<ContentItemLoad>

<header>
    <h5 class="card-title"><i class="fa-solid fa-file-import"></i> @T["Content Item"]</h5>
</header>
<p class="card-text text-muted">@T["Create or update content items from records."]</p>
