@model EtlActivityViewModel<ContentItemSource>

<header>
    <h5 class="card-title"><i class="fa-solid fa-database"></i> @T["Content Items"]</h5>
</header>
<p class="card-text text-muted">@T["Extract content items by type."]</p>
