@model EtlActivityViewModel<ExcelExportLoad>

<header>
    <h5 class="card-title"><i class="fa-solid fa-file-export"></i> @T["Excel Workbook Export"]</h5>
</header>
<p class="card-text text-muted">@T["Write the current data set to an Excel workbook."]</p>
