@model EtlActivityViewModel<FieldMappingTransform>

<header>
    <h5 class="card-title"><i class="fa-solid fa-shuffle"></i> @T["Field Mapping"]</h5>
</header>
<p class="card-text text-muted">@T["Map and rename fields in the data stream."]</p>
