@model EtlActivityViewModel<FilterTransform>

<header>
    <h5 class="card-title"><i class="fa-solid fa-filter"></i> @T["Filter"]</h5>
</header>
<p class="card-text text-muted">@T["Filter records by a field condition."]</p>
