@model EtlActivityViewModel<FormatValueTransform>

<header>
    <h5 class="card-title"><i class="fa-solid fa-wand-magic-sparkles"></i> @T["Format Value"]</h5>
</header>
<p class="card-text text-muted">@T["Format currency, numbers, casing, dates, and time zones."]</p>
