@model EtlActivityViewModel<FtpExportLoad>

<header>
    <h5 class="card-title"><i class="fa-solid fa-server"></i> @T["FTP / FTPS Export"]</h5>
</header>
<p class="card-text text-muted">@T["Upload the exported file to an FTP or FTPS server."]</p>
