@model EtlActivityViewModel<JoinDataSetsTransform>

<header>
    <h5 class="card-title"><i class="fa-solid fa-code-merge"></i> @T["Join Data Sets"]</h5>
</header>
<p class="card-text text-muted">@T["Join the current stream with another source activity by matching keys."]</p>
