@model EtlActivityViewModel<JsonSource>

<header>
    <h5 class="card-title"><i class="fa-solid fa-code"></i> @T["JSON Data"]</h5>
</header>
<p class="card-text text-muted">@T["Extract records from inline JSON."]</p>
