@model EtlActivityViewModel<JsonExportLoad>

<header>
    <h5 class="card-title"><i class="fa-solid fa-file-export"></i> @T["JSON Export"]</h5>
</header>
<p class="card-text text-muted">@T["Export records as a JSON file."]</p>
