@model EtlActivityViewModel<MediaFolderExportLoad>

<header>
    <h5 class="card-title"><i class="fa-solid fa-folder-open"></i> @T["Media Folder Export"]</h5>
</header>
<p class="card-text text-muted">@T["Write the data to a file in the media library."]</p>
