@model EtlActivityViewModel<QuerySource>

<header>
    <h5 class="card-title"><i class="fa-solid fa-magnifying-glass"></i> @T["Query"]</h5>
</header>
<p class="card-text text-muted">@T["Extract records by running a named query (SQL, Lucene, Elasticsearch)."]</p>
