@model dynamic
    
<fieldset class="form-group">
    <label id="name">@T["Title"]</label>
    <input type="text" value="@Model.Title" name="Title" class="form-control" />
    <span class="hint">@T["The title of the content item"]</span>
</fieldset> 