@model ShapeViewModel<ListsAdminNode>
@inject OrchardCore.ContentManagement.Metadata.IContentDefinitionManager ContentDefinitionManager

@{
    var displayName = Model.Value.ContentType;

    if (!string.IsNullOrEmpty(Model.Value.ContentType))
    {
        var definition = await ContentDefinitionManager.GetTypeDefinitionAsync(Model.Value.ContentType);

        if (definition != null)
        {
            displayName = definition.DisplayName;
        }
    }
}

<div class="@(Model.Value.Enabled ? "" : "disabled")">
    <span>@displayName</span>
    <span class="text-muted dashed">@T["Lists"]</span>
</div>
