@model ShapeViewModel<ListsAdminNode>
@inject OrchardCore.ContentManagement.Metadata.IContentDefinitionManager ContentDefinitionManager

@{

    var displayName = ContentDefinitionManager.GetTypeDefinition(Model.Value.ContentType);
}

<div class="@(Model.Value.Enabled ? "" : "disabled")">
    <span>@displayName</span>
    <span class="text-muted dashed">@T["Lists"]</span>
</div>
