@{
    const string documentationUrl = "https://docs.orchardcore.net/en/latest/reference/modules/OpenSearch/#opensearch-configuration";
}

<h1>@T["OpenSearch is not configured"]</h1>

<p>@T["Your configuration is invalid or not found. Please consult with <a href=\"{0}\">the documentation</a> to learn more.", documentationUrl ]</p>
