@model QueriesEditViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Edit '{0}' query", Model.Name])</h1></zone>

<form asp-action="Edit" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post" enctype="multipart/form-data" class="no-multisubmit">
    @Html.ValidationSummary()

    @if (Model.Editor.Content != null)
    {
        @await DisplayAsync(Model.Editor.Content)
    }

    @if (Model.Editor.Content != null)
    {
        <div class="mb-3">
            @await DisplayAsync(Model.Editor.Actions)
        </div>
    }

    <input type="hidden" asp-for="Name" />
</form>
