@model OrchardCore.Seo.RobotsSettings

<div class="form-check mb-3" asp-validation-class-for="AllowAll">
    <input type="checkbox" class="form-check-input" asp-for="AllowAll">
    <span asp-validation-for="AllowAll"></span>
    <label class="form-check-label" asp-for="AllowAll">@T["Add allow all rule."]</label>
</div>

<div class="form-check mb-3" asp-validation-class-for="DiallowAdmin">
    <input type="checkbox" class="form-check-input" asp-for="DiallowAdmin">
    <span asp-validation-for="DiallowAdmin"></span>
    <label class="form-check-label" asp-for="DiallowAdmin">@T["Add disallow rule to the admin routes."]</label>
</div>

<div class="mb-3" asp-validation-class-for="AdditionalRules">
    <label asp-for="AdditionalRules">@T["Additional rules"]</label>
    <textarea asp-for="AdditionalRules" rows="10" class="form-control"></textarea>
    <div class="hint">@T["Optionally, you can include any addition rules."]</div>
</div>
