@model OrchardCore.Seo.ViewModels.SeoMetaPartGoogleSchemaViewModel

<div class="ocat-wrapper" asp-validation-class-for="GoogleSchema">
    <label asp-for="GoogleSchema" class="ocat-label">@T["Google Schema"]</label>
    <div class="ocat-end">
        <textarea asp-for="GoogleSchema" class="form-control content-preview-text seo-google-schema-editor" rows="5"></textarea>
        <span class="hint">@T["The Social Meta Settings Google Schema is used by default, or can be overridden here."]</span>
    </div>
</div>

<style asp-name="codemirror"></style>
<script asp-name="codemirror" at="Foot"></script>
<script asp-name="codemirror-addon-display-autorefresh" at="Foot"></script>
<script asp-name="codemirror-addon-selection-active-line" at="Foot"></script>
<script asp-name="codemirror-mode-javascript" at="Foot"></script>
<script asp-src="~/OrchardCore.Seo/Scripts/seo-meta-part-google-schema/seo-meta-part-google-schema.min.js" debug-src="~/OrchardCore.Seo/Scripts/seo-meta-part-google-schema/seo-meta-part-google-schema.js" at="Foot" type="module"></script>
