<h1>OpenApi</h1>

<p><a href="~/openapi/v1.json" target="_blank">OpenApi document</a></p>
<p><a href="~/scalar/v1" target="_blank">Scalar UI</a></p>
<p><a href="~/swagger" target="_blank">Swagger UI</a></p>
<p><a href="~/api-docs" target="_blank">Redoc UI</a></p>
