.widget-editor {
    .card-body, .card-footer {
        display: inherit;
    }

    &.collapsed {
        .card-body, .card-footer {
            display: none;
        }

        > .widget-editor-header {
            .widget-editor-btn-collapse {
                display: none;
            }
        }
    }

    &:not(.collapsed) {
        > .widget-editor-header {
            .widget-editor-btn-expand {
                display: none;
            }
        }
    }

    .widget-editor-handle {
        display: inline-block;
        margin-right: 0.5rem;

        &:hover {
            cursor: move;
        }
    }
}

.widget-editor-btn-collapse, .collapsed .widget-editor-btn-expand {
    display: inline-block;
}

.widget-dropzone-hint {
    border: 3px dashed orange;
}

.widget-dragdrop-placeholder {
    div {
        margin-top: 6px;
        margin-bottom: 6px;
        min-height: 6px;
        display: inline-block;

        &:before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-left-color: orange;
            border-right: none;
            top: 5px;
            margin-left: -10px;
        }
    }
}
