
View: @DateTime.Now.ToString("hh:MM:ss")
<br/>

<outerdoll cache="outerdoll" duration="00:00:5" />
<outerdoll cache="outerdoll" />

<div class="row">

    <div class="col-md-3">
        <widget Title="Widget1" cache="widget1" context="user" tag="widget" />
    </div>

    <div class="col-md-3 pull-md-right">
        <widget Title="Widget2" cache="widget2" context="query:foo" tag="widget widget2" />
    </div>
</div>