@model ContentItem
@using Orchard.ContentManagement;
@using Orchard.Demo.Models;

<html>
    <head>
        <title>Display</title>
    </head>
    <body>
        @(Model.As<TestContentPartA>().Line)
</body>
</html>