@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<div class="jumbotron">
    <p>This page lets you create a new content item. Type any text, you will be redirected to a view displaying the newly created content item.</p>
</div>

<form asp-action="Index">
    <input name="text"/>
    <button type="submit">GO!!!</button>
</form>