@using Microsoft.Extensions.DependencyInjection;

@{

    @* Adding meta tags *@
    <meta asp-name="foo" content="bar" />

    @* Inline definition of resources and dependencies *@
    <script asp-name="baz" asp-src="baz.min.js" debug-src="baz.js"></script>
    <script asp-name="foo" asp-src="foo.min.js" debug-src="foo.js" depends-on="baz"></script>

    @* Injecting named resources *@
    <script asp-name="foo" at="Head"></script>

    @* Injecting custom scripts *@
    <script asp-src="bar.min.js" debug-src="bar.js" at="Head"></script>
    <script asp-src="bottom.min.js" debug-src="bottom.js" debug="false" at="Foot" condition="!IE"></script>

    @* Injecting custom stylesheets *@
    <style asp-src="bar.min.css" debug-src="bar.css"></style>
}

<div class="jumbotron">
    <p>This page lets you create a new content item. Type any text, you will be redirected to a view displaying the newly created content item.</p>
</div>

<form asp-action="Index">
    <input name="text"/>
    <button type="submit">GO!!!</button>
</form>

<zone name="Footer">A</zone>
<zone name="Footer" position=""><b>B</b></zone>
<zone name="Footer" position="before">C</zone>

<div>
    Logged user: @User?.Identity?.Name
</div>
<div>
    Tenant: @(Context.RequestServices.GetService<Orchard.Environment.Shell.ShellSettings>().Name)
</div>