<html>
    <head>
        <title>Heck Yeah!</title>
    </head>
    <body>
        @using (Html.BeginForm())
        {
            @Html.TextBox("text")

            <button type="submit">GO!!!</button>
        }
    </body>
</html>