@model RedisSettingsViewModel

<p class="alert alert-warning">@T["The current tenant will be reloaded when the settings are saved."]</p>

<fieldset class="form-group" asp-validation-class-for="Configuration">
    <label asp-for="Configuration">@T["Redis configuration string"] <span asp-validation-for="Configuration"></span></label>
    <input asp-for="Configuration" class="form-control" />
    <span class="hint">@T["Set a valid StackExchange.Redis configuration string, documentation can be found here"] <a href="https://stackexchange.github.io/StackExchange.Redis/Configuration.html#configuration-options">https://stackexchange.github.io/StackExchange.Redis/Configuration.html#configuration-options</a></span>
</fieldset>

