@import '../../../Orchard.Resources/Assets/Bootstrap/scss/bootstrap.scss';

.media-container {

    .media-container-navigation {
        @extend .col-md-3
    }

    .media-container-main {
        @extend .col-md-9
    }

    @extend .row
}

/* navbar */

.upload-button {
    label {
        margin-bottom: 0; // there is a margin below the label that makes the navbar fattier
    }
}

/* Navigation */
#media-container-navigation-menu {
    list-style: none;
    padding-left: 0;

    li.selected > div {
        font-weight: bold;
    }

    li.selected > div > a > i.folder:before {
        content: "\f07c";
        color: $gray;
    }

    div {
        padding: 0.2rem 0.2rem;

        a {
            color: $gray-dark;
            text-decoration: none;
        }
    }

    ol {
        padding-left: 1rem;
        margin-left: 0px;
    }

    .folder {
        color: lightgray;
    }

    li {
        list-style: none;
    }

    .expand {
        /* make both icons be in the center as their widths are different */
        text-align: center;
        width: 10px;
        cursor: pointer;
    }

    .open {
        &:before {
            content: '\f0d7';
        }
    }

    .empty {
        transform: none;
        visibility: hidden;
    }

    .closed {
    }
}

[v-cloak] {
    display: none
}

/* Upload button */
.fileinput-button {
    cursor: pointer;
}

.fileinput-button input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* File view */
.media-container-main {

    ol {
        li {
            .media-container-main-item {
                @extend .card;
                margin-bottom: 16px;
            }

            .selected {
                @extend .card-outline-primary;
            }
        }

        img {
            @extend .card-img-top;
            max-height: 250px;
            width: 100%;
        }

        list-style: none;
        padding-left: 0;
    }
}

.media-container-main-item-title {
    @extend .card-block;

    .media-filename {
        @extend .card-text;
        @extend .small;
    }

    .media-contentItemId {
        @extend .card-text;
        @extend .text-muted;
        @extend .small;
    }
}

/* Toolbar */
.breadcrumb {
    button {
        cursor: pointer;
    }
}

.breadcrumb-item.active {
    margin-right: 1rem;
}