@model OrchardCore.Email.Smtp.Secrets.ViewModels.SmtpSecretSettingsViewModel

<div class="mb-3">
    <label asp-for="PasswordSecretName" class="form-label">@T["Password Secret"]</label>
    @await Component.InvokeAsync("SelectSecret", new { 
        secretType = "TextSecret",
        selectedSecret = Model.PasswordSecretName,
        htmlId = "PasswordSecretName",
        htmlName = "SmtpSecretSettings.PasswordSecretName",
        required = false
    })
    <span class="hint">@T["Select a secret to use for the SMTP password. When set, this overrides the password stored in SMTP settings."]</span>
</div>
