@using Orchard.Body.ViewModels;
@model BodyPartViewModel

<script asp-name="trumbowyg" depends-on="admin" asp-src="/Orchard.Resources/Scripts/trumbowyg.min.js" debug-src="/Orchard.Resources/Scripts/trumbowyg.js" at="Foot"></script>
<style asp-name="trumbowyg" asp-src="/Orchard.Resources/Styles/trumbowyg.min.css" debug-src="/Orchard.Resources/Styles/trumbowyg.css"></style>

<fieldset class="form-group">
    <label asp-for="Body">@T["Body"]</label>
    <textarea asp-for="Body" rows="5" class="form-control"></textarea>
    <span class="hint">@T["The body of the content item."]</span>
</fieldset>

<script at="Foot">
    $(function () {
        $('#@Html.IdFor(m => m.Body)').trumbowyg();
    });
</script>