@model CreateSourceViewModel

<h1>@RenderTitleSegments(T["Create Sitemap Source"])</h1>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Create" method="post">
    @await DisplayAsync(Model.Editor.Content)

    <input type="hidden" asp-for="SitemapId" />
    <input type="hidden" asp-for="SitemapSourceId" />
    <input type="hidden" asp-for="SitemapSourceType" />

    <fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">@T["Create"]</button>
            <a class="btn btn-secondary" asp-route-action="Display" asp-route-controller="Admin" asp-route-sitemapId="@Model.SitemapId">@T["Cancel"]</a>
        </div>
    </fieldset>
</form>
