@font-face {
	font-family: 'icomoon';
	src:url('../Fonts/icomoon.eot?-3p8lp4');
	src:url('../Fonts/icomoon.eot?#iefix-3p8lp4') format('embedded-opentype'),
		url('../Fonts/icomoon.woff?-3p8lp4') format('woff'),
		url('../Fonts/icomoon.ttf?-3p8lp4') format('truetype'),
		url('../Fonts/icomoon.svg?-3p8lp4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"],
[data-icomoon] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[data-icomoon]:before {
	content: attr(data-icomoon);
}

.icomoon-home:before {
	content: "\e000";
}
.icomoon-home2:before {
	content: "\e001";
}
.icomoon-home3:before {
	content: "\e002";
}
.icomoon-office:before {
	content: "\e003";
}
.icomoon-newspaper:before {
	content: "\e004";
}
.icomoon-pencil:before {
	content: "\e005";
}
.icomoon-pencil2:before {
	content: "\e006";
}
.icomoon-quill:before {
	content: "\e007";
}
.icomoon-pen:before {
	content: "\e008";
}
.icomoon-blog:before {
	content: "\e009";
}
.icomoon-droplet:before {
	content: "\e00a";
}
.icomoon-paint-format:before {
	content: "\e00b";
}
.icomoon-image:before {
	content: "\e00c";
}
.icomoon-image2:before {
	content: "\e00d";
}
.icomoon-images:before {
	content: "\e00e";
}
.icomoon-camera:before {
	content: "\e00f";
}
.icomoon-music:before {
	content: "\e010";
}
.icomoon-headphones:before {
	content: "\e011";
}
.icomoon-play:before {
	content: "\e012";
}
.icomoon-film:before {
	content: "\e013";
}
.icomoon-camera2:before {
	content: "\e014";
}
.icomoon-dice:before {
	content: "\e015";
}
.icomoon-pacman:before {
	content: "\e016";
}
.icomoon-spades:before {
	content: "\e017";
}
.icomoon-clubs:before {
	content: "\e018";
}
.icomoon-diamonds:before {
	content: "\e019";
}
.icomoon-pawn:before {
	content: "\e01a";
}
.icomoon-bullhorn:before {
	content: "\e01b";
}
.icomoon-connection:before {
	content: "\e01c";
}
.icomoon-podcast:before {
	content: "\e01d";
}
.icomoon-feed:before {
	content: "\e01e";
}
.icomoon-book:before {
	content: "\e01f";
}
.icomoon-books:before {
	content: "\e020";
}
.icomoon-library:before {
	content: "\e021";
}
.icomoon-file:before {
	content: "\e022";
}
.icomoon-profile:before {
	content: "\e023";
}
.icomoon-file2:before {
	content: "\e024";
}
.icomoon-file3:before {
	content: "\e025";
}
.icomoon-file4:before {
	content: "\e026";
}
.icomoon-copy:before {
	content: "\e027";
}
.icomoon-copy2:before {
	content: "\e028";
}
.icomoon-copy3:before {
	content: "\e029";
}
.icomoon-paste:before {
	content: "\e02a";
}
.icomoon-paste2:before {
	content: "\e02b";
}
.icomoon-paste3:before {
	content: "\e02c";
}
.icomoon-stack:before {
	content: "\e02d";
}
.icomoon-folder:before {
	content: "\e02e";
}
.icomoon-folder-open:before {
	content: "\e02f";
}
.icomoon-tag:before {
	content: "\e030";
}
.icomoon-tags:before {
	content: "\e031";
}
.icomoon-barcode:before {
	content: "\e032";
}
.icomoon-qrcode:before {
	content: "\e033";
}
.icomoon-ticket:before {
	content: "\e034";
}
.icomoon-cart:before {
	content: "\e035";
}
.icomoon-cart2:before {
	content: "\e036";
}
.icomoon-cart3:before {
	content: "\e037";
}
.icomoon-coin:before {
	content: "\e038";
}
.icomoon-credit:before {
	content: "\e039";
}
.icomoon-calculate:before {
	content: "\e03a";
}
.icomoon-support:before {
	content: "\e03b";
}
.icomoon-phone:before {
	content: "\e03c";
}
.icomoon-phone-hang-up:before {
	content: "\e03d";
}
.icomoon-address-book:before {
	content: "\e03e";
}
.icomoon-notebook:before {
	content: "\e03f";
}
.icomoon-envelope:before {
	content: "\e040";
}
.icomoon-pushpin:before {
	content: "\e041";
}
.icomoon-location:before {
	content: "\e042";
}
.icomoon-location2:before {
	content: "\e043";
}
.icomoon-compass:before {
	content: "\e044";
}
.icomoon-map:before {
	content: "\e045";
}
.icomoon-map2:before {
	content: "\e046";
}
.icomoon-history:before {
	content: "\e047";
}
.icomoon-clock:before {
	content: "\e048";
}
.icomoon-clock2:before {
	content: "\e049";
}
.icomoon-alarm:before {
	content: "\e04a";
}
.icomoon-alarm2:before {
	content: "\e04b";
}
.icomoon-bell:before {
	content: "\e04c";
}
.icomoon-stopwatch:before {
	content: "\e04d";
}
.icomoon-calendar:before {
	content: "\e04e";
}
.icomoon-calendar2:before {
	content: "\e04f";
}
.icomoon-print:before {
	content: "\e050";
}
.icomoon-keyboard:before {
	content: "\e051";
}
.icomoon-screen:before {
	content: "\e052";
}
.icomoon-laptop:before {
	content: "\e053";
}
.icomoon-mobile:before {
	content: "\e054";
}
.icomoon-mobile2:before {
	content: "\e055";
}
.icomoon-tablet:before {
	content: "\e056";
}
.icomoon-tv:before {
	content: "\e057";
}
.icomoon-cabinet:before {
	content: "\e058";
}
.icomoon-drawer:before {
	content: "\e059";
}
.icomoon-drawer2:before {
	content: "\e05a";
}
.icomoon-drawer3:before {
	content: "\e05b";
}
.icomoon-box-add:before {
	content: "\e05c";
}
.icomoon-box-remove:before {
	content: "\e05d";
}
.icomoon-download:before {
	content: "\e05e";
}
.icomoon-upload:before {
	content: "\e05f";
}
.icomoon-disk:before {
	content: "\e060";
}
.icomoon-storage:before {
	content: "\e061";
}
.icomoon-undo:before {
	content: "\e062";
}
.icomoon-redo:before {
	content: "\e063";
}
.icomoon-flip:before {
	content: "\e064";
}
.icomoon-flip2:before {
	content: "\e065";
}
.icomoon-undo2:before {
	content: "\e066";
}
.icomoon-redo2:before {
	content: "\e067";
}
.icomoon-forward:before {
	content: "\e068";
}
.icomoon-reply:before {
	content: "\e069";
}
.icomoon-bubble:before {
	content: "\e06a";
}
.icomoon-bubbles:before {
	content: "\e06b";
}
.icomoon-bubbles2:before {
	content: "\e06c";
}
.icomoon-bubble2:before {
	content: "\e06d";
}
.icomoon-bubbles3:before {
	content: "\e06e";
}
.icomoon-bubbles4:before {
	content: "\e06f";
}
.icomoon-user:before {
	content: "\e070";
}
.icomoon-users:before {
	content: "\e071";
}
.icomoon-user2:before {
	content: "\e072";
}
.icomoon-users2:before {
	content: "\e073";
}
.icomoon-user3:before {
	content: "\e074";
}
.icomoon-user4:before {
	content: "\e075";
}
.icomoon-quotes-left:before {
	content: "\e076";
}
.icomoon-busy:before {
	content: "\e077";
}
.icomoon-spinner:before {
	content: "\e078";
}
.icomoon-spinner2:before {
	content: "\e079";
}
.icomoon-spinner3:before {
	content: "\e07a";
}
.icomoon-spinner4:before {
	content: "\e07b";
}
.icomoon-spinner5:before {
	content: "\e07c";
}
.icomoon-spinner6:before {
	content: "\e07d";
}
.icomoon-binoculars:before {
	content: "\e07e";
}
.icomoon-search:before {
	content: "\e07f";
}
.icomoon-zoomin:before {
	content: "\e080";
}
.icomoon-zoomout:before {
	content: "\e081";
}
.icomoon-expand:before {
	content: "\e082";
}
.icomoon-contract:before {
	content: "\e083";
}
.icomoon-expand2:before {
	content: "\e084";
}
.icomoon-contract2:before {
	content: "\e085";
}
.icomoon-key:before {
	content: "\e086";
}
.icomoon-key2:before {
	content: "\e087";
}
.icomoon-lock:before {
	content: "\e088";
}
.icomoon-lock2:before {
	content: "\e089";
}
.icomoon-unlocked:before {
	content: "\e08a";
}
.icomoon-wrench:before {
	content: "\e08b";
}
.icomoon-settings:before {
	content: "\e08c";
}
.icomoon-equalizer:before {
	content: "\e08d";
}
.icomoon-cog:before {
	content: "\e08e";
}
.icomoon-cogs:before {
	content: "\e08f";
}
.icomoon-cog2:before {
	content: "\e090";
}
.icomoon-hammer:before {
	content: "\e091";
}
.icomoon-wand:before {
	content: "\e092";
}
.icomoon-aid:before {
	content: "\e093";
}
.icomoon-bug:before {
	content: "\e094";
}
.icomoon-pie:before {
	content: "\e095";
}
.icomoon-stats:before {
	content: "\e096";
}
.icomoon-bars:before {
	content: "\e097";
}
.icomoon-bars2:before {
	content: "\e098";
}
.icomoon-gift:before {
	content: "\e099";
}
.icomoon-trophy:before {
	content: "\e09a";
}
.icomoon-glass:before {
	content: "\e09b";
}
.icomoon-mug:before {
	content: "\e09c";
}
.icomoon-food:before {
	content: "\e09d";
}
.icomoon-leaf:before {
	content: "\e09e";
}
.icomoon-rocket:before {
	content: "\e09f";
}
.icomoon-meter:before {
	content: "\e0a0";
}
.icomoon-meter2:before {
	content: "\e0a1";
}
.icomoon-dashboard:before {
	content: "\e0a2";
}
.icomoon-hammer2:before {
	content: "\e0a3";
}
.icomoon-fire:before {
	content: "\e0a4";
}
.icomoon-lab:before {
	content: "\e0a5";
}
.icomoon-magnet:before {
	content: "\e0a6";
}
.icomoon-remove:before {
	content: "\e0a7";
}
.icomoon-remove2:before {
	content: "\e0a8";
}
.icomoon-briefcase:before {
	content: "\e0a9";
}
.icomoon-airplane:before {
	content: "\e0aa";
}
.icomoon-truck:before {
	content: "\e0ab";
}
.icomoon-road:before {
	content: "\e0ac";
}
.icomoon-accessibility:before {
	content: "\e0ad";
}
.icomoon-target:before {
	content: "\e0ae";
}
.icomoon-shield:before {
	content: "\e0af";
}
.icomoon-lightning:before {
	content: "\e0b0";
}
.icomoon-switch:before {
	content: "\e0b1";
}
.icomoon-powercord:before {
	content: "\e0b2";
}
.icomoon-signup:before {
	content: "\e0b3";
}
.icomoon-list:before {
	content: "\e0b4";
}
.icomoon-list2:before {
	content: "\e0b5";
}
.icomoon-numbered-list:before {
	content: "\e0b6";
}
.icomoon-menu:before {
	content: "\e0b7";
}
.icomoon-menu2:before {
	content: "\e0b8";
}
.icomoon-tree:before {
	content: "\e0b9";
}
.icomoon-cloud:before {
	content: "\e0ba";
}
.icomoon-cloud-download:before {
	content: "\e0bb";
}
.icomoon-cloud-upload:before {
	content: "\e0bc";
}
.icomoon-download2:before {
	content: "\e0bd";
}
.icomoon-upload2:before {
	content: "\e0be";
}
.icomoon-download3:before {
	content: "\e0bf";
}
.icomoon-upload3:before {
	content: "\e0c0";
}
.icomoon-globe:before {
	content: "\e0c1";
}
.icomoon-earth:before {
	content: "\e0c2";
}
.icomoon-link:before {
	content: "\e0c3";
}
.icomoon-flag:before {
	content: "\e0c4";
}
.icomoon-attachment:before {
	content: "\e0c5";
}
.icomoon-eye:before {
	content: "\e0c6";
}
.icomoon-eye-blocked:before {
	content: "\e0c7";
}
.icomoon-eye2:before {
	content: "\e0c8";
}
.icomoon-bookmark:before {
	content: "\e0c9";
}
.icomoon-bookmarks:before {
	content: "\e0ca";
}
.icomoon-brightness-medium:before {
	content: "\e0cb";
}
.icomoon-brightness-contrast:before {
	content: "\e0cc";
}
.icomoon-contrast:before {
	content: "\e0cd";
}
.icomoon-star:before {
	content: "\e0ce";
}
.icomoon-star2:before {
	content: "\e0cf";
}
.icomoon-star3:before {
	content: "\e0d0";
}
.icomoon-heart:before {
	content: "\e0d1";
}
.icomoon-heart2:before {
	content: "\e0d2";
}
.icomoon-heart-broken:before {
	content: "\e0d3";
}
.icomoon-thumbs-up:before {
	content: "\e0d4";
}
.icomoon-thumbs-up2:before {
	content: "\e0d5";
}
.icomoon-happy:before {
	content: "\e0d6";
}
.icomoon-happy2:before {
	content: "\e0d7";
}
.icomoon-smiley:before {
	content: "\e0d8";
}
.icomoon-smiley2:before {
	content: "\e0d9";
}
.icomoon-tongue:before {
	content: "\e0da";
}
.icomoon-tongue2:before {
	content: "\e0db";
}
.icomoon-sad:before {
	content: "\e0dc";
}
.icomoon-sad2:before {
	content: "\e0dd";
}
.icomoon-wink:before {
	content: "\e0de";
}
.icomoon-wink2:before {
	content: "\e0df";
}
.icomoon-grin:before {
	content: "\e0e0";
}
.icomoon-grin2:before {
	content: "\e0e1";
}
.icomoon-cool:before {
	content: "\e0e2";
}
.icomoon-cool2:before {
	content: "\e0e3";
}
.icomoon-angry:before {
	content: "\e0e4";
}
.icomoon-angry2:before {
	content: "\e0e5";
}
.icomoon-evil:before {
	content: "\e0e6";
}
.icomoon-evil2:before {
	content: "\e0e7";
}
.icomoon-shocked:before {
	content: "\e0e8";
}
.icomoon-shocked2:before {
	content: "\e0e9";
}
.icomoon-confused:before {
	content: "\e0ea";
}
.icomoon-confused2:before {
	content: "\e0eb";
}
.icomoon-neutral:before {
	content: "\e0ec";
}
.icomoon-neutral2:before {
	content: "\e0ed";
}
.icomoon-wondering:before {
	content: "\e0ee";
}
.icomoon-wondering2:before {
	content: "\e0ef";
}
.icomoon-point-up:before {
	content: "\e0f0";
}
.icomoon-point-right:before {
	content: "\e0f1";
}
.icomoon-point-down:before {
	content: "\e0f2";
}
.icomoon-point-left:before {
	content: "\e0f3";
}
.icomoon-warning:before {
	content: "\e0f4";
}
.icomoon-notification:before {
	content: "\e0f5";
}
.icomoon-question:before {
	content: "\e0f6";
}
.icomoon-info:before {
	content: "\e0f7";
}
.icomoon-info2:before {
	content: "\e0f8";
}
.icomoon-blocked:before {
	content: "\e0f9";
}
.icomoon-cancel-circle:before {
	content: "\e0fa";
}
.icomoon-checkmark-circle:before {
	content: "\e0fb";
}
.icomoon-spam:before {
	content: "\e0fc";
}
.icomoon-close:before {
	content: "\e0fd";
}
.icomoon-checkmark:before {
	content: "\e0fe";
}
.icomoon-checkmark2:before {
	content: "\e0ff";
}
.icomoon-spell-check:before {
	content: "\e100";
}
.icomoon-minus:before {
	content: "\e101";
}
.icomoon-plus:before {
	content: "\e102";
}
.icomoon-enter:before {
	content: "\e103";
}
.icomoon-exit:before {
	content: "\e104";
}
.icomoon-play2:before {
	content: "\e105";
}
.icomoon-pause:before {
	content: "\e106";
}
.icomoon-stop:before {
	content: "\e107";
}
.icomoon-backward:before {
	content: "\e108";
}
.icomoon-forward2:before {
	content: "\e109";
}
.icomoon-play3:before {
	content: "\e10a";
}
.icomoon-pause2:before {
	content: "\e10b";
}
.icomoon-stop2:before {
	content: "\e10c";
}
.icomoon-backward2:before {
	content: "\e10d";
}
.icomoon-forward3:before {
	content: "\e10e";
}
.icomoon-first:before {
	content: "\e10f";
}
.icomoon-last:before {
	content: "\e110";
}
.icomoon-previous:before {
	content: "\e111";
}
.icomoon-next:before {
	content: "\e112";
}
.icomoon-eject:before {
	content: "\e113";
}
.icomoon-volume-high:before {
	content: "\e114";
}
.icomoon-volume-medium:before {
	content: "\e115";
}
.icomoon-volume-low:before {
	content: "\e116";
}
.icomoon-volume-mute:before {
	content: "\e117";
}
.icomoon-volume-mute2:before {
	content: "\e118";
}
.icomoon-volume-increase:before {
	content: "\e119";
}
.icomoon-volume-decrease:before {
	content: "\e11a";
}
.icomoon-loop:before {
	content: "\e11b";
}
.icomoon-loop2:before {
	content: "\e11c";
}
.icomoon-loop3:before {
	content: "\e11d";
}
.icomoon-shuffle:before {
	content: "\e11e";
}
.icomoon-arrow-up-left:before {
	content: "\e11f";
}
.icomoon-arrow-up:before {
	content: "\e120";
}
.icomoon-arrow-up-right:before {
	content: "\e121";
}
.icomoon-arrow-right:before {
	content: "\e122";
}
.icomoon-arrow-down-right:before {
	content: "\e123";
}
.icomoon-arrow-down:before {
	content: "\e124";
}
.icomoon-arrow-down-left:before {
	content: "\e125";
}
.icomoon-arrow-left:before {
	content: "\e126";
}
.icomoon-arrow-up-left2:before {
	content: "\e127";
}
.icomoon-arrow-up2:before {
	content: "\e128";
}
.icomoon-arrow-up-right2:before {
	content: "\e129";
}
.icomoon-arrow-right2:before {
	content: "\e12a";
}
.icomoon-arrow-down-right2:before {
	content: "\e12b";
}
.icomoon-arrow-down2:before {
	content: "\e12c";
}
.icomoon-arrow-down-left2:before {
	content: "\e12d";
}
.icomoon-arrow-left2:before {
	content: "\e12e";
}
.icomoon-arrow-up-left3:before {
	content: "\e12f";
}
.icomoon-arrow-up3:before {
	content: "\e130";
}
.icomoon-arrow-up-right3:before {
	content: "\e131";
}
.icomoon-arrow-right3:before {
	content: "\e132";
}
.icomoon-arrow-down-right3:before {
	content: "\e133";
}
.icomoon-arrow-down3:before {
	content: "\e134";
}
.icomoon-arrow-down-left3:before {
	content: "\e135";
}
.icomoon-arrow-left3:before {
	content: "\e136";
}
.icomoon-tab:before {
	content: "\e137";
}
.icomoon-checkbox-checked:before {
	content: "\e138";
}
.icomoon-checkbox-unchecked:before {
	content: "\e139";
}
.icomoon-checkbox-partial:before {
	content: "\e13a";
}
.icomoon-radio-checked:before {
	content: "\e13b";
}
.icomoon-radio-unchecked:before {
	content: "\e13c";
}
.icomoon-crop:before {
	content: "\e13d";
}
.icomoon-scissors:before {
	content: "\e13e";
}
.icomoon-filter:before {
	content: "\e13f";
}
.icomoon-filter2:before {
	content: "\e140";
}
.icomoon-font:before {
	content: "\e141";
}
.icomoon-text-height:before {
	content: "\e142";
}
.icomoon-text-width:before {
	content: "\e143";
}
.icomoon-bold:before {
	content: "\e144";
}
.icomoon-underline:before {
	content: "\e145";
}
.icomoon-italic:before {
	content: "\e146";
}
.icomoon-strikethrough:before {
	content: "\e147";
}
.icomoon-omega:before {
	content: "\e148";
}
.icomoon-sigma:before {
	content: "\e149";
}
.icomoon-table:before {
	content: "\e14a";
}
.icomoon-table2:before {
	content: "\e14b";
}
.icomoon-insert-template:before {
	content: "\e14c";
}
.icomoon-pilcrow:before {
	content: "\e14d";
}
.icomoon-lefttoright:before {
	content: "\e14e";
}
.icomoon-righttoleft:before {
	content: "\e14f";
}
.icomoon-paragraph-left:before {
	content: "\e150";
}
.icomoon-paragraph-center:before {
	content: "\e151";
}
.icomoon-paragraph-right:before {
	content: "\e152";
}
.icomoon-paragraph-justify:before {
	content: "\e153";
}
.icomoon-paragraph-left2:before {
	content: "\e154";
}
.icomoon-paragraph-center2:before {
	content: "\e155";
}
.icomoon-paragraph-right2:before {
	content: "\e156";
}
.icomoon-paragraph-justify2:before {
	content: "\e157";
}
.icomoon-indent-increase:before {
	content: "\e158";
}
.icomoon-indent-decrease:before {
	content: "\e159";
}
.icomoon-newtab:before {
	content: "\e15a";
}
.icomoon-embed:before {
	content: "\e15b";
}
.icomoon-code:before {
	content: "\e15c";
}
.icomoon-console:before {
	content: "\e15d";
}
.icomoon-share:before {
	content: "\e15e";
}
.icomoon-mail:before {
	content: "\e15f";
}
.icomoon-mail2:before {
	content: "\e160";
}
.icomoon-mail3:before {
	content: "\e161";
}
.icomoon-mail4:before {
	content: "\e162";
}
.icomoon-google:before {
	content: "\e163";
}
.icomoon-googleplus:before {
	content: "\e164";
}
.icomoon-googleplus2:before {
	content: "\e165";
}
.icomoon-googleplus3:before {
	content: "\e166";
}
.icomoon-googleplus4:before {
	content: "\e167";
}
.icomoon-google-drive:before {
	content: "\e168";
}
.icomoon-facebook:before {
	content: "\e169";
}
.icomoon-facebook2:before {
	content: "\e16a";
}
.icomoon-facebook3:before {
	content: "\e16b";
}
.icomoon-instagram:before {
	content: "\e16c";
}
.icomoon-twitter:before {
	content: "\e16d";
}
.icomoon-twitter2:before {
	content: "\e16e";
}
.icomoon-twitter3:before {
	content: "\e16f";
}
.icomoon-feed2:before {
	content: "\e170";
}
.icomoon-feed3:before {
	content: "\e171";
}
.icomoon-feed4:before {
	content: "\e172";
}
.icomoon-youtube:before {
	content: "\e173";
}
.icomoon-youtube2:before {
	content: "\e174";
}
.icomoon-vimeo:before {
	content: "\e175";
}
.icomoon-vimeo2:before {
	content: "\e176";
}
.icomoon-vimeo3:before {
	content: "\e177";
}
.icomoon-lanyrd:before {
	content: "\e178";
}
.icomoon-flickr:before {
	content: "\e179";
}
.icomoon-flickr2:before {
	content: "\e17a";
}
.icomoon-flickr3:before {
	content: "\e17b";
}
.icomoon-flickr4:before {
	content: "\e17c";
}
.icomoon-picassa:before {
	content: "\e17d";
}
.icomoon-picassa2:before {
	content: "\e17e";
}
.icomoon-dribbble:before {
	content: "\e17f";
}
.icomoon-dribbble2:before {
	content: "\e180";
}
.icomoon-dribbble3:before {
	content: "\e181";
}
.icomoon-forrst:before {
	content: "\e182";
}
.icomoon-forrst2:before {
	content: "\e183";
}
.icomoon-deviantart:before {
	content: "\e184";
}
.icomoon-deviantart2:before {
	content: "\e185";
}
.icomoon-steam:before {
	content: "\e186";
}
.icomoon-steam2:before {
	content: "\e187";
}
.icomoon-github:before {
	content: "\e188";
}
.icomoon-github2:before {
	content: "\e189";
}
.icomoon-github3:before {
	content: "\e18a";
}
.icomoon-github4:before {
	content: "\e18b";
}
.icomoon-github5:before {
	content: "\e18c";
}
.icomoon-wordpress:before {
	content: "\e18d";
}
.icomoon-wordpress2:before {
	content: "\e18e";
}
.icomoon-joomla:before {
	content: "\e18f";
}
.icomoon-blogger:before {
	content: "\e190";
}
.icomoon-blogger2:before {
	content: "\e191";
}
.icomoon-tumblr:before {
	content: "\e192";
}
.icomoon-tumblr2:before {
	content: "\e193";
}
.icomoon-yahoo:before {
	content: "\e194";
}
.icomoon-tux:before {
	content: "\e195";
}
.icomoon-apple:before {
	content: "\e196";
}
.icomoon-finder:before {
	content: "\e197";
}
.icomoon-android:before {
	content: "\e198";
}
.icomoon-windows:before {
	content: "\e199";
}
.icomoon-windows8:before {
	content: "\e19a";
}
.icomoon-soundcloud:before {
	content: "\e19b";
}
.icomoon-soundcloud2:before {
	content: "\e19c";
}
.icomoon-skype:before {
	content: "\e19d";
}
.icomoon-reddit:before {
	content: "\e19e";
}
.icomoon-linkedin:before {
	content: "\e19f";
}
.icomoon-lastfm:before {
	content: "\e1a0";
}
.icomoon-lastfm2:before {
	content: "\e1a1";
}
.icomoon-delicious:before {
	content: "\e1a2";
}
.icomoon-stumbleupon:before {
	content: "\e1a3";
}
.icomoon-stumbleupon2:before {
	content: "\e1a4";
}
.icomoon-stackoverflow:before {
	content: "\e1a5";
}
.icomoon-pinterest:before {
	content: "\e1a6";
}
.icomoon-pinterest2:before {
	content: "\e1a7";
}
.icomoon-xing:before {
	content: "\e1a8";
}
.icomoon-xing2:before {
	content: "\e1a9";
}
.icomoon-flattr:before {
	content: "\e1aa";
}
.icomoon-foursquare:before {
	content: "\e1ab";
}
.icomoon-foursquare2:before {
	content: "\e1ac";
}
.icomoon-paypal:before {
	content: "\e1ad";
}
.icomoon-paypal2:before {
	content: "\e1ae";
}
.icomoon-paypal3:before {
	content: "\e1af";
}
.icomoon-yelp:before {
	content: "\e1b0";
}
.icomoon-libreoffice:before {
	content: "\e1b1";
}
.icomoon-file-pdf:before {
	content: "\e1b2";
}
.icomoon-file-openoffice:before {
	content: "\e1b3";
}
.icomoon-file-word:before {
	content: "\e1b4";
}
.icomoon-file-excel:before {
	content: "\e1b5";
}
.icomoon-file-zip:before {
	content: "\e1b6";
}
.icomoon-file-powerpoint:before {
	content: "\e1b7";
}
.icomoon-file-xml:before {
	content: "\e1b8";
}
.icomoon-file-css:before {
	content: "\e1b9";
}
.icomoon-html5:before {
	content: "\e1ba";
}
.icomoon-html52:before {
	content: "\e1bb";
}
.icomoon-css3:before {
	content: "\e1bc";
}
.icomoon-chrome:before {
	content: "\e1bd";
}
.icomoon-firefox:before {
	content: "\e1be";
}
.icomoon-IE:before {
	content: "\e1bf";
}
.icomoon-opera:before {
	content: "\e1c0";
}
.icomoon-safari:before {
	content: "\e1c1";
}
.icomoon-IcoMoon:before {
	content: "\e1c2";
}
