@model ShapeViewModel<ShortcodeDescriptor>

<h4 class="card-title shortcode-name">@Model.Value.Name</h4>
<p class="shortcode-hint">@Model.Value.Hint</p>

<pre class="shortcode-usage">@Html.Raw(@Model.Value.Usage)</pre>
