@inject OrchardCore.Environment.Shell.ShellSettings Tenant

<div class="alert alert-success">
    <h4>Test: Welcome to the Application Index View executing in the context of the @Tenant.Name tenant</h4>
</div