@model FeatureProfileViewModel

<zone Name="Title"><h1>@RenderTitleSegments(T["Create Feature Profile"])</h1></zone>

<div asp-validation-summary="All"></div>

<form asp-action="Create" method="post" class="no-multisubmit">
    @Html.EditorForModel()
</form>

<style asp-name="monaco"></style>
<script asp-name="monaco" at="Foot"></script>
<script asp-src="~/OrchardCore.Tenants/Scripts/feature-profile-editor/feature-profile-editor.min.js" debug-src="~/OrchardCore.Tenants/Scripts/feature-profile-editor/feature-profile-editor.js" depends-on="monaco, admin" at="Foot" type="module"></script>
