.term-badge {
    > a {
        text-decoration: none;
    }

    .bg-secondary {
        &:hover {
            background-color: var(--bs-primary);
        }
    }
}

.taxonomy-tag {
    ul {
        padding-left: 0;
        list-style: none;
    }
}
