@model AuditTrailEventViewModel
@using OrchardCore.AuditTrail.ViewModels
@using OrchardCore.ContentManagement
@using OrchardCore.Entities
@using OrchardCore.Users.AuditTrail.Models

@{
    var userEvent = Model.AuditTrailEvent.As<AuditTrailUserEvent>();
}

<div class="form-group">
    <div class="list-group list-group-horizontal">
        <div class="list-group-item border-0 font-weight-bold col-4 col-lg-3 col-xl-2 pt-0 pr-0 pb-0">@T["User ID"]</div>
        <div class="list-group-item border-0 pt-0 pb-0">@userEvent.UserId</div>
    </div>
    <div class="list-group list-group-horizontal">
        <div class="list-group-item border-0 font-weight-bold col-4 col-lg-3 col-xl-2 pt-0 pr-0">@T["User name"]</div>
        <div class="list-group-item border-0 pt-0">@userEvent.UserName</div>
    </div>
</div>
