@model OrchardCore.Users.Models.ChangeEmailSettings

<div class="mb-3" asp-validation-class-for="AllowChangeEmail">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="AllowChangeEmail" />
        <span asp-validation-for="AllowChangeEmail"></span>
        <label class="form-check-label" asp-for="AllowChangeEmail">@T["Allow the users to change their email"]</label>
    </div>
</div>
