@model OrchardCore.Users.Models.ChangeEmailSettings

<div class="form-group" asp-validation-class-for="AllowChangeEmail">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="AllowChangeEmail" />
        <span asp-validation-for="AllowChangeEmail"></span>
        <label class="custom-control-label" asp-for="AllowChangeEmail">@T["Allow the users to change their email"]</label>
    </div>
</div>
