@using Microsoft.AspNetCore.Antiforgery
@using OrchardCore.Users.Endpoints.EmailAuthenticator

<h5 class="text-center mb-3">@T["Please <a href=\"#\" id=\"RequestCode\">click here</a> to receive a one-time verification code via email."]</h5>

<div class="text-center alert d-none" id="RequestCodeFeedback"></div>

<form id="RequestCodeForm" method="post" asp-area="@UserConstants.Features.Users" asp-route="@SendCode.RouteName" class="d-none">
</form>

<script asp-src="~/OrchardCore.Users/Scripts/user-editors/request-verification-code.min.js" debug-src="~/OrchardCore.Users/Scripts/user-editors/request-verification-code.js" at="Head" type="module"></script>
