@model ForgotPasswordViewModel

<div class="mb-3">
    <label asp-for="Identifier" class="form-label">@T["Username or email address"]</label>
    <input asp-for="Identifier" class="form-control" />
</div>
