@using OrchardCore.Users.Models
@model LoginViewModel
@{
    var allowRememberMe = Site.GetOrCreate<LoginSettings>().AllowRememberMe;
}
<div class="mb-3" asp-validation-class-for="UserName">
    <label asp-for="UserName" class="form-label">@T["Username or email address"]</label>
    <input asp-for="UserName" class="form-control" autofocus tabindex="1" />
    <span asp-validation-for="UserName" class="text-danger"></span>
</div>

<div class="mb-3" asp-validation-class-for="Password">
    <label asp-for="Password" class="form-label">@T["Password"]</label>
    <div class="input-group">
        <input asp-for="Password" class="form-control" tabindex="2" />
        <button tabindex="-1" class="btn btn-secondary" type="button" id="togglePassword"><i class="icon fa fa-eye"></i></button>
    </div>
    <span asp-validation-for="Password" class="text-danger"></span>
</div>

@if (allowRememberMe)
{
    <div class="mb-3">
        <div class="form-check">
            <input asp-for="RememberMe" class="form-check-input" tabindex="3">
            <label asp-for="RememberMe" class="form-check-label">@T["Remember me"]</label>
        </div>
    </div>
}

<script asp-src="~/OrchardCore.Users/Scripts/login-form-credentials/login-form-credentials.min.js" debug-src="~/OrchardCore.Users/Scripts/login-form-credentials/login-form-credentials.js" at="Foot" type="module"></script>
