@using OrchardCore.DisplayManagement.ModelBinding
@using OrchardCore.Users.Models

@inject IDisplayManager<UserMenu> DisplayManager
@inject IUpdateModelAccessor UpdateModelAccessor

<li class="nav-item">
    @await DisplayAsync(await DisplayManager.BuildDisplayAsync(new UserMenu(), UpdateModelAccessor.ModelUpdater, Model.Metadata.DisplayType))
</li>
