@model OrchardCore.Users.Models.PasswordSettings

<fieldset class="form-check" asp-validation-class-for="EnableLostPassword">
    <input asp-for="EnableLostPassword" type="checkbox" class="form-check-input" />
    <label asp-for="EnableLostPassword" class="form-check-label">@T["Display a link to enable users to reset their password"] <span asp-validation-for="EnableLostPassword"></span></label>
</fieldset>
