@model ResetPasswordViewModel

<input asp-for="ResetToken" type="hidden" />

<div class="mb-3">
    <label asp-for="UsernameOrEmail" class="form-label">@T["Username or email address"]</label>
    <input asp-for="UsernameOrEmail" class="form-control" />
    <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="NewPassword" class="form-label">@T["New password"]</label>
    <input asp-for="NewPassword" class="form-control" autocomplete="new-password" />
    <div id="passwordStrength"></div>
    <span asp-validation-for="NewPassword" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="PasswordConfirmation" class="form-label">@T["New password confirmation"]</label>
    <input asp-for="PasswordConfirmation" class="form-control" autocomplete="new-password" />
    <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
</div>
