<div class="row">
    <div class="col-md-offset-4 col-md-8">
        <h2>@T["Reset password"]</h2>
        <hr />

        <form asp-controller="ResetPassword" asp-action="ResetPassword" method="post" class="form-horizontal no-multisubmit">

            <div asp-validation-summary="All"></div>

            @if (Model.Content != null)
            {
                @await DisplayAsync(Model.Content)
            }

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">@T["Reset password"]</button>
            </div>
        </form>
    </div>
</div>
