@model OrchardCore.Users.Models.ResetPasswordSettings

<div class="form-group" asp-validation-class-for="AllowResetPassword">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="AllowResetPassword" />
        <span asp-validation-for="AllowResetPassword"></span>
        <label class="custom-control-label" asp-for="AllowResetPassword">@T["Allow the users to reset their password"]</label>
        <span class="hint">— @T["An email will be sent to the user's email address with a reset link."]</span>
    </div>
</div>
<div class="form-group" asp-validation-class-for="UseSiteTheme">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="UseSiteTheme" />
        <span asp-validation-for="UseSiteTheme"></span>
        <label class="custom-control-label" asp-for="UseSiteTheme">@T["Use site theme for password reset page"]</label>
        <span class="hint">— @T["Requires an active site theme."]</span>
    </div>
</div>
