@model OrchardCore.Users.Models.ResetPasswordSettings

<div class="mb-3" asp-validation-class-for="AllowResetPassword">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="AllowResetPassword" />
        <span asp-validation-for="AllowResetPassword"></span>
        <label class="form-check-label" asp-for="AllowResetPassword">@T["Allow the users to reset their password"]</label>
        <span class="hint dashed">@T["An email will be sent to the user's email address with a reset link."]</span>
    </div>
</div>
<div class="mb-3" asp-validation-class-for="UseSiteTheme">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="UseSiteTheme" />
        <span asp-validation-for="UseSiteTheme"></span>
        <label class="form-check-label" asp-for="UseSiteTheme">@T["Use site theme for password reset page"]</label>
        <span class="hint dashed">@T["Requires an active site theme."]</span>
    </div>
</div>
