@model OrchardCore.Users.Models.ResetPasswordSettings

<fieldset class="form-check" asp-validation-class-for="AllowResetPassword">
    <input asp-for="AllowResetPassword" type="checkbox" class="form-check-input" />
    <label asp-for="AllowResetPassword" class="form-check-label">@T["Allow the users to reset their password"] <span asp-validation-for="AllowResetPassword"></span></label>
    <span class="form-text text-muted">@T["An email will be sent to the user's email address with a reset link."]</span>
</fieldset>
