@model LostPasswordViewModel

@{
    Layout = "";
}

<p>@T["Someone recently requested that the password be reset for <b>{0}</b>.", Model.User.UserName]</p>

<p>@T["To reset your password please click this link: <a href=\"{0}\">Reset Password</a>", Model.LostPasswordUrl]</p>

<p>@T["If you did not request a password reset please ignore this email - your password will not be changed."]</p>
