@model ConfirmEmailViewModel

@{
    Layout = "";
}

<p>
@T["Dear {0},", Model.User.UserName]
</p>

<p>@T["Please <a href=\"{0}\">click here</a> to confirm your account.", Model.ConfirmEmailUrl]</p>

<p>@T["Thank you"]</p>
