@model LostPasswordViewModel

@{
    Layout = "";
}

<p>
@T["Dear {0},", Model.User.UserName]
</p>

<p>@T["Please <a href=\"{0}\">click here</a> to change your password.", Model.LostPasswordUrl]</p>

<p>@T["Thank you"]</p>
