<div class="w-100">
    @if (Model.Actions != null)
    {
        <div class="float-end">
            @await DisplayAsync(Model.Actions)
        </div>
    }

    @if (Model.Header != null)
    {
        <div class="header">@await DisplayAsync(Model.Header)</div>
    }

    @if (Model.Meta != null)
    {
        <div class="metadata">
            @await DisplayAsync(Model.Meta)
        </div>
    }
</div>

@if (Model.Content != null)
{
    <div class="primary">@await DisplayAsync(Model.Content)</div>
}
