<div class="form-group">
    <button class="btn btn-primary save" type="submit">@T["Save"]</button>
    <a class="btn btn-secondary cancel" role="button" href="@ViewData["returnUrl"]">@T["Cancel"]</a>
</div>
