@using OrchardCore.Users.Localization.ViewModels
@model UserLocalizationViewModel

<div class="ocat-wrapper" asp-validation-class-for="SelectedCulture">
    <label asp-for="SelectedCulture" class="ocat-label">@T["Default User Culture"]</label>
    <div class="ocat-end">
        <select asp-for="SelectedCulture" asp-items="Model.CultureList" class="form-select">
        </select>
        <span asp-validation-for="SelectedCulture"></span>
        <span class="hint">@T["Determines the default culture used by this user."]</span>
    </div>
</div>
