@using Microsoft.AspNetCore.Identity
@using OrchardCore.Users.Models
@using System.Security.Claims
@inject UserManager<IUser> UserManager

@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<li>
    <a class="dropdown-item" asp-area="@UserConstants.Features.Users" asp-controller="Admin" asp-action="EditPassword" asp-route-id="@userId" asp-route-returnUrl="@FullRequestPath">
        <i class="fa-solid fa-key fa-width-auto" aria-hidden="true"></i> @T["Change password"]
    </a>
</li>
