<span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@Model.Title">
    @{
        var originalType = Model.Metadata.Type;

        Model.Metadata.Alternates.Clear();
        Model.Metadata.Type = "UserDisplayNameIcon";
    }

    @await DisplayAsync(Model)

    @{
        Model.Metadata.Type = "UserDisplayNameText";
        Model.Metadata.ChildContent = null;
    }

    @await DisplayAsync(Model)

</span>
