@inject IShapeFactory ShapeFactory
<span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@Model.Title">
    @{
        Model.Metadata.Alternates.Clear();
        Model.Metadata.Type = "UserDisplayNameIcon";
    }

    @await DisplayAsync(Model)

    @{
        var textShape = await ShapeFactory.CreateAsync("UserDisplayNameText", new { Model.UserName, Model.Title });
    }

    @await DisplayAsync(textShape)
</span>
