<div class="dropdown">
    <a class="dropdown-toggle nav-link" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
        @if (Model.Header != null)
        {
            @await DisplayAsync(Model.Header)
        }
    </a>

    @if (Model.Content != null)
    {
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            @await DisplayAsync(Model.Content)
        </ul>
    }
</div>
