@model EditUserRoleViewModel

@if (Model.Roles.Length > 0)
{
    <div class="ocat-wrapper">
        <label class="ocat-label">@T["Roles"]</label>
        <div class="ocat-end">
            @for (var i = 0; i < Model.Roles.Length; i++)
            {
                <div class="form-check">
                    <input asp-for="Roles[i].IsSelected" type="checkbox" class="form-check-input">
                    <input type="hidden" asp-for="Roles[i].Role" />
                    <label class="form-check-label cursor-pointer" asp-for="Roles[i].IsSelected">@Model.Roles[i].Role</label>
                </div>
            }
        </div>
    </div>
}
