<li>
    <a class="dropdown-item" asp-route-area="OrchardCore.Users" asp-controller="TwoFactorAuthentication" asp-action="Index">
        <i class="fa-solid fa-shield-halved fa-fw" aria-hidden="true"></i> @T["Security"]
    </a>
</li>
