<div class="d-flex justify-content-between align-items-center">
    <div>
        @if (Model.Header != null)
        {
            <div class="header">@await DisplayAsync(Model.Header)</div>
        }

        @if (Model.Meta != null)
        {
            <div class="metadata">
                @await DisplayAsync(Model.Meta)
            </div>
        }

        @if (Model.Content != null)
        {
            <div class="primary">@await DisplayAsync(Model.Content)</div>
        }
    </div>

    @if (Model.Actions != null)
    {
        <div>
            @await DisplayAsync(Model.Actions)
        </div>
    }
</div>
