<li>
    <a class="dropdown-item" asp-route-area="@UserConstants.Features.Users" asp-controller="ExternalAuthentications" asp-action="ExternalLogins">
        <i class="fa-solid fa-user-lock fa-width-auto" aria-hidden="true"></i> @T["External Logins"]
    </a>
</li>
