@using Microsoft.AspNetCore.Identity
@using OrchardCore.Users.Models

@model SummaryAdminUserViewModel

@inject UserManager<IUser> UserManager
@inject IAuthorizationService AuthorizationService

@if (await AuthorizationService.AuthorizeAsync(User, CommonPermissions.DisableTwoFactorAuthenticationForUsers, Model.User) &&
await UserManager.GetTwoFactorEnabledAsync(Model.User))
{
    <li>
        <form method="post" class="d-inline-block" class="no-multisubmit">
            <input name="id" type="hidden" value="@Model.User.UserId" />
            <button asp-action="Disable" asp-controller="AdminTwoFactorAuthentication" class="dropdown-item">@T["Disable two-factor authentication"]</button>
        </form>
    </li>
}
