@model UserTimeZoneViewModel
@inject OrchardCore.Modules.ITimeZoneSelectListProvider TimeZoneSelectListProvider

<div class="ocat-wrapper" asp-validation-class-for="TimeZoneId">
    <label asp-for="TimeZoneId" class="ocat-label">@T["Default Time Zone"]</label>
    <div class="ocat-end">
        <select asp-for="TimeZoneId" class="form-select" asp-items="TimeZoneSelectListProvider.GetTimeZoneSelectListItems()">
            <option value="">@T["Use site's time zone"]</option>
        </select>
        <span asp-validation-for="TimeZoneId"></span>
        <span class="hint">@T["Determines the time zone used when displaying and editing dates and times."]</span>
    </div>
</div>
