@using OrchardCore.Admin
@using OrchardCore.Users.Models

@if (!Site.As<LoginSettings>().DisableLocalLogin)
{
    <li>
        <a class="dropdown-item" asp-area="@UserConstants.Features.Users" asp-controller="Account" asp-action="ChangePassword" asp-route-returnUrl="@FullRequestPath">
            <i class="fa-solid fa-key fa-fw" aria-hidden="true"></i> @T["Change password"]
        </a>
    </li>
}