@model OrchardCore.Users.ViewModels.UserProfileSettingsViewModel

<div class="mb-3">
    <div class="form-check">
        <input asp-for="AllowChangingUsername" type="checkbox" class="form-check-input">
        <label class="form-check-label" asp-for="AllowChangingUsername">@T["Allow user to change their username"]</label>
    </div>
</div>

<div class="mb-3">
    <div class="form-check">
        <input asp-for="AllowChangingEmail" type="checkbox" class="form-check-input">
        <label class="form-check-label" asp-for="AllowChangingEmail">@T["Allow user to change their email address"]</label>
    </div>
</div>
