<span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@Model.Title">
    @await DisplayMorphedAsync(Model, "UserDisplayNameIcon", true)
    @await DisplayMorphedAsync(Model, "UserDisplayNameText")
</span>
