@model UserTimeZoneViewModel

<div class="mb-3" asp-validation-class-for="TimeZoneId">
    <label asp-for="TimeZoneId" class="form-label">@T["Default Time Zone"]</label>
    <select asp-for="TimeZoneId" asp-items="Model.TimeZones" class="form-select"></select>
    <span asp-validation-for="TimeZoneId"></span>
    <span class="hint">@T["Determines the time zone used when displaying and editing dates and times."]</span>
</div>
