<li>
    <a class="dropdown-item" asp-route-area="OrchardCore.Admin" asp-controller="Admin" asp-action="Index">
        <i class="fa fa-desktop fa-fw" aria-hidden="true"></i> @T["Dashboard"]
    </a>
</li>
