@model UserIndexOptions
<div class="input-group input-group-sm w-sm-50 w-25 d-inline-flex has-search">
    <i class="fa fa-search form-control-feedback"></i>
    <input asp-for="Search" class="form-control" placeholder="@T["Search"]" type="search" autofocus />
</div>
