@model EditUserRoleViewModel

@if (Model.Roles.Length > 0)
{
    <h6>@T["Roles"]</h6>
    <div class="mb-3">
        @for (var i = 0; i < Model.Roles.Length; i++)
        {
            <div class="form-check">
                <input asp-for="Roles[i].IsSelected" type="checkbox" class="form-check-input">
                <input type="hidden" asp-for="Roles[i].Role" />
                <label class="form-check-label cursor-pointer" asp-for="Roles[i].IsSelected">@Model.Roles[i].Role</label>
            </div>
        }
    </div>
}
