<li>
    <a class="dropdown-item" asp-route-area="OrchardCore.Users" asp-controller="ChangeEmail" asp-action="Index">
        <i class="fa-solid fa-envelope fa-fw" aria-hidden="true"></i> @T["Change Email"]
    </a>
</li>
