@model OrchardCore.Users.ViewModels.EditUserPhoneNumberViewModel

<div class="mb-3" asp-validation-class-for="PhoneNumber">
    <label asp-for="PhoneNumber" class="form-label">@T["Phone Number"]</label>
    @await DisplayAsync(await New.PhoneInput(Value: Model.PhoneNumber, InputName: Html.NameFor(m => m.PhoneNumber), Disabled: !Model.AllowEditing, Confirmed: Model.PhoneNumberConfirmed, Required: Model.Required))
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>
