@model UserIndexOptions
@inject OrchardCore.DisplayManagement.IDisplayManager<UserIndexOptions> UserOptionsDisplayManager

<div class="mb-0" style="display:none" id="actions">
    <div class="dropdown mt-1">
        <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="bulk-action-menu-button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @T["Actions"]
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bulk-action-menu-button">
            @{
                dynamic bulkActions = await UserOptionsDisplayManager.BuildDisplayAsync(Model, null, "BulkActions");
                @await DisplayAsync(bulkActions.Content)
            }
        </ul>
    </div>
</div>
