@using Microsoft.AspNetCore.Identity
@using OrchardCore.Users.Models
@inject UserManager<IUser> UserManager

@{
    var user = await UserManager.FindByNameAsync(User.Identity.Name) as User;
}
<li>
    <a class="dropdown-item" asp-area="@UserConstants.Features.Users" asp-controller="Admin" asp-action="EditPassword" asp-route-id="@user.UserId" asp-route-returnUrl="@FullRequestPath">
        <i class="fa-solid fa-key fa-fw" aria-hidden="true"></i> @T["Change password"]
    </a>
</li>