@model SummaryAdminUserViewModel

<h5 class="float-left">@Model.User.UserName</h5>
@if (Model.User.IsDisabled)
{
    <span class="badge badge-danger ml-2" title="@T["Disabled"]">
        <i class="fas fa-user-alt-slash"></i> @T["Disabled"]
    </span>
}
