@using OrchardCore.Security.Services
@model SummaryAdminUserViewModel

@inject IRoleService RoleService

@{
    var roleNames = await RoleService.GetRoleNamesAsync();
}

<div data-bs-toggle="tooltip" title="@T["The roles this user has"]">
    @foreach (var normalizedRoleName in Model.User.RoleNames)
    {
        var roleName = roleNames.FirstOrDefault(roleName => roleName.Equals(normalizedRoleName, StringComparison.OrdinalIgnoreCase));
        if (roleName == null)
        {
            continue;
        }

        <span class="badge ta-badge">@roleName</span>
    }
</div>
