{% zone "Header" %}
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading text-uppercase">{{ "Search" | t}}</div>
          </div>
        </div>
    </header>
{% endzone %}

{{ "SearchForm" | shape_new: terms: Model.Terms | shape_render }}

{{ "SearchResults" | shape_new: content_items: Model.ContentItems, terms: Model.Terms | shape_render }}

{{ Model.Pager | shape_render }}
