@using OrchardCore.Localization

@{
    var selectedCultureName = Model.CurrentCulture.Name;
}
<select id="culture-picker" class="form-select me-3" data-selected-culture="@selectedCultureName">
  @foreach (var culture in Model.SupportedCultures)
  {
    <option selected="@(culture.Name == selectedCultureName ? "selected" : null)" value="@culture.Name">@culture.DisplayName</option>
  }
</select>

<script at="Foot" depends-on="jquery">
    $(function (){
        $('#culture-picker').change(function(){
            var culture = $(this).val();
            var selectedCulture = $(this).data('selected-culture');
            if (culture != selectedCulture) {
                var cookieValue = `@LocalizationCookieName.AdminSite=c=${culture}|uic=${culture}`;
                document.cookie = cookieValue;
                window.location = window.location.href.split('?')[0];
            }
        });
    });
</script>
