.content-localization {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.content-localization .card,
.content-localization .card:last-child .card-header {
  border: none;
}
.content-localization .btn {
  width: 100%;
  font-weight: bold;
  color: #38503c;
  padding: 0;
}
.content-localization .btn-link:hover,
.content-localization .btn-link:focus {
  text-decoration: none;
}
