@model ContentTypeViewModel

<div class="ocat-limited-wrapper">
    <label asp-for="Name" class="ocat-label">@T["Technical Name"]</label>
    <div class="ocat-limited">
        <input asp-for="Name" class="form-control" readonly />
        <span class="hint">@T["Technical name of the type."]</span>
    </div>
</div>
<div class="ocat-limited-wrapper">
    <label asp-for="DisplayName" class="ocat-label">@T["Display Name"]</label>
    <div class="ocat-limited">
        <input asp-for="DisplayName" class="form-control" />
        <span class="hint">@T["Name of the type as it will be displayed on screens."]</span>
    </div>
</div>
