@model ContentTypeViewModel

<div class="mb-3">
    <div class="w-sm-75 w-md-50 w-lg-25">
        <label asp-for="Name">@T["Technical Name"]</label>
        <input asp-for="Name" class="form-control" readonly />
    </div>
    <span class="hint">@T["Technical name of the type."]</span>
</div>
<div class="mb-3">
    <label asp-for="DisplayName">@T["Display Name"]</label>
    <input asp-for="DisplayName" class="form-control w-md-25" />
    <span class="hint w-100">@T["Name of the type as it will be displayed on screens."]</span>
</div>
