@model Orchard.Media.ViewModels.DisplayMediaFieldViewModel
@using Orchard.ContentManagement.Metadata.Models

<div>
    @Model.PartFieldDefinition.DisplayName(): @String.Join(", ", Model.Field.Paths)
</div>