@model OrchardCore.Media.ViewModels.DisplayMediaFieldViewModel
@using OrchardCore.ContentManagement.Metadata.Models

<div>
    @Model.PartFieldDefinition.DisplayName(): @String.Join(", ", Model.Field.Paths)
</div>