name: Copilot Setup Steps

on: workflow_dispatch

permissions:
  contents: read

jobs:
  copilot-setup-steps:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: "15"
        package-manager-cache: false
    - uses: ./.github/actions/setup-dotnet
