@model dynamic

<div class="col">
    <div class="card h-100">
        <div class="card-body">
            @await DisplayAsync(Model.Content)
        </div>
        <div class="card-footer text-muted text-sm-end">
            <a class="btn btn-primary btn-sm" asp-route-action="Create" asp-route-controller="Admin" asp-route-type="@Model.Type" asp-area="OrchardCore.Secrets">@T["Add"]</a>
        </div>
    </div>
</div>
