@model AllConditionViewModel

<h5>@T["All"]</h5>

<div class="mb-3" asp-validation-class-for="DisplayText">
    <label asp-for="DisplayText">@T["Name"]</label>
    <input asp-for="DisplayText" class="form-control" type="text" />
    <span asp-validation-for="DisplayText"></span>
</div>
