@model AllConditionViewModel

<h5>@T["All"]</h5>

<div class="form-group" asp-validation-class-for="Name">
    <label asp-for="Name">@T["Name"]</label>
    <input asp-for="Name" class="form-control" type="text" />
    <span asp-validation-for="Name"></span>
</div>
