@model dynamic

<h4 class="card-title">@T["All condition group"]</h4>
<p>@T["Adds an all condition group."]<span class="hint d-block">@T["An all condition group requires all conditions to be true."]</span></p>
