@model AnyConditionViewModel

<h5>@T["Any"]</h5>

<div class="ocat-wrapper" asp-validation-class-for="DisplayText">
    <label asp-for="DisplayText" class="ocat-label">@T["Name"]</label>
    <div class="ocat-end">
        <input asp-for="DisplayText" class="form-control" type="text" />
        <span asp-validation-for="DisplayText"></span>
    </div>
</div>
