@model dynamic

<h4 class="card-title">@T["Any condition"]</h4>
<p>@T["Adds an any condition group."]<span class="hint d-block">@T["An any condition group requires one condition to be true."]</span></p>
