@model ConditionGroupViewModel
@inject IDisplayManager<Condition> DisplayManager

@if (Model.Entries.Any())
{
    <ol class="condition-group pt-3" data-conditiongroupid="@Model.Condition.ConditionId">
        @foreach (var entry in Model.Entries)
        {
            dynamic summary = await DisplayManager.BuildDisplayAsync(entry.Condition, null, "Summary");
            summary.Condition = entry.Condition;
            <li class="list-group-item pr-0" data-conditionid="@entry.Condition.ConditionId">
                @await DisplayAsync(summary)
            </li>
        }
    </ol>
}
else
{
    <p class="alert message-warning mb-0 ms-0 mt-3 me-3">@T["No conditions found. Please add at least one condition."]</p>
}
