@model ConditionGroupViewModel
@inject IDisplayManager<Condition> DisplayManager

@if (Model.Entries.Any())
{
    <ol class="condition-group pt-3">
        @foreach (var entry in Model.Entries)
        {
            dynamic summary = await DisplayManager.BuildDisplayAsync(entry.Condition, null, "Summary");
            summary.Condition = entry.Condition;
            <li class="list-group-item pr-0">
                @await DisplayAsync(summary)
            </li>
        }
    </ol>
}