@model ShapeViewModel<ContentTypeCondition>

<h4 class="card-title">@T["Content type condition"]</h4>
<p class="hint">@T["A content type condition evaluates the currently displayed content types against a value."]</p>
