@model ShapeViewModel<ContentTypeCondition>

<h4 class="card-title">@T["Content type condition"]</h4>
<p>@T["Adds a content type condition."]<span class="hint d-block">@T["A content type condition evaluates the currently displayed content type names against a value."]</span></p>
