@model ShapeViewModel<IsAnonymousCondition>
    
<h4 class="card-title">@T["Is anonymous condition"]</h4>
<p>@T["Adds an is anonymous condition."]<span class="hint d-block">@T["Whether the current user is anonymous, i.e. not authenticated."]</span></p>
