@model ShapeViewModel<IsAuthenticatedCondition>

<h4 class="card-title">@T["Is authenticated condition"]</h4>
<p>@T["Adds an is authenticated condition."]<span class="hint d-block">@T["Whether the current user is authenticated."]</span></p>
