@model JavascriptConditionViewModel

<div class="ocat-wrapper">
    <div class="ocat-end-offset">
        <h5>@T["Javascript"]</h5>
    </div>
</div>

<style asp-name="codemirror"></style>
<script asp-name="codemirror" at="Foot"></script>
<script asp-name="codemirror-mode-javascript" at="Foot"></script>
<script asp-name="codemirror-addon-display-autorefresh" at="Foot"></script>
<script asp-name="codemirror-addon-mode-simple" at="Foot"></script>
<script asp-name="codemirror-addon-mode-multiplex" at="Foot"></script>

<div class="ocat-wrapper">
    <label asp-for="Script" class="ocat-label">@T["Script"]</label>
    <div class="ocat-end">
        <textarea asp-for="Script" rows="5" class="form-control"></textarea>
        <span class="hint">@T["The script must return true or false."]</span>
    </div>
</div>

<script at="Foot">
    //<![CDATA[
    function onDocumentReady(callback) {
        if (document.readyState !== 'loading') {
            callback();
        } else {
            document.addEventListener('DOMContentLoaded', callback);
        }
    }

    onDocumentReady(function () {
        editor = CodeMirror.fromTextArea(document.getElementById('@Html.IdFor(x => x.Script)'), {
            autoRefresh: true,
            lineNumbers: true,
            styleActiveLine: true,
            matchBrackets: true,
            mode: { name: "javascript" },
        });
    });
    //]]>
</script>
