@model ShapeViewModel<RoleCondition>

<h4 class="card-title">@T["Role condition"]</h4>
<p>@T["Adds a role condition."]<span class="hint d-block">@T["A role condition evaluates the current users roles against a value."]</span></p>
