@model AzureAISettingsIndexProfileViewModel

<div class="@Orchard.GetWrapperClasses()" asp-validation-class-for="AnalyzerName">
    <label asp-for="AnalyzerName" class="@Orchard.GetLabelClasses()">@T["Analyzer"]</label>
    <div class="@Orchard.GetEndClasses()">
    <select asp-for="AnalyzerName" asp-items="Model.Analyzers" class="form-select"></select>
    <span asp-validation-for="AnalyzerName" class="text-danger"></span>
    </div>
</div>

