<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coypu" version="2.9.1" targetFramework="net46" />
  <package id="Coypu.NUnit" version="1.1.0" targetFramework="net46" />
  <package id="NUnit" version="2.6.3" targetFramework="net46" />
  <package id="Selenium.Support" version="2.47.0" targetFramework="net46" />
  <package id="Selenium.WebDriver" version="2.47.0" targetFramework="net46" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.18.0.0" targetFramework="net46" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net46" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net46" />
</packages>