@using OrchardCore.DisplayManagement.Views
@using OrchardCore.Indexing.Models

@model ShapeViewModel<IndexEntity>

<a asp-controller="Admin"
   asp-action="QueryIndex"
   asp-route-indexName="@Model.Value.Name"
   asp-area="OrchardCore.Search.Elasticsearch"
   class="dropdown-item btn-sm">@T["Query Index"]</a>

<a asp-controller="Admin"
   asp-action="IndexInfo"
   asp-route-id="@Model.Value.Id"
   asp-controller="Admin"
   asp-area="OrchardCore.Search.Elasticsearch"
   class="dropdown-item btn-sm">@T["Index Info"]</a>
