@using OrchardCore.DisplayManagement.Views
@using OrchardCore.Search.Elasticsearch.Core.Models

@model ShapeViewModel<ElasticIndexSettings>

<a asp-action="Edit"
   asp-route-id="@Model.Value.Id"
   class="btn btn-primary btn-sm">@T["Edit"]</a>

<a asp-action="Delete"
   asp-route-id="@Model.Value.Id"
   class="btn btn-danger btn-sm"
   data-url-af="RemoveUrl UnsafeUrl">@T["Delete"]</a>
