@using OrchardCore.Search.Elasticsearch.ViewModels

@model ElasticsearchIndexEntityViewModel

<div class="mb-3" asp-validation-class-for="AnalyzerName">
    <label asp-for="AnalyzerName" class="form-label">@T["Analyzer"]</label>
    <select asp-for="AnalyzerName" asp-items="Model.Analyzers" class="form-select"></select>
    <span asp-validation-for="AnalyzerName" class="text-danger"></span>
</div>

<div class="mb-3">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="StoreSourceData" checked="@Model.StoreSourceData" />
        <label class="form-check-label" asp-for="StoreSourceData">@T["Store Source Data"]</label>
        <span class="hint dashed">@T["Check to store the fields in the index for future retrieval."]</span>
    </div>
</div>
