
#customdropzone {
    align-items: center;
    background: rgba(95, 175, 139, 0.8);
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 0px;
    justify-content: center;
    left: 0;
    top: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 50;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

#customdropzone.in {
    opacity: 1;
    height: 100%;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
