.upload-list {
    margin-bottom: 8px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 10px;
        background-color: var(--media-upload-list-header-bg);
        border: solid 1px var(--media-card-border);
        cursor: pointer;
        font-size: 0.875rem;
        color: var(--media-upload-list-header-color);
    }

    .toggle-button {
        padding: 5px;
    }

    .card-body {
        border: solid 1px var(--media-card-border);
        border-top: none;
        padding: 0;

        .d-grid {
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: 10px;
        }
    }
}
