.delete {
    width: 36px;
    height: 36px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAYCAYAAAD+vg1LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAQ1JREFUSEvdlsERRTAQhuOkDEU4ujjlrg4lqEANKtCBalxV4MKYfbvei9mwEhlc3uEbdv/ktxGZpQBAZFkWVVUVpGkqUpYlTNMkziXEJNE0jWjIqesah8rzxeQ8z1AUBWRZBn3fY8rWh2EArTXkeQ7jOB504pAguq7jFSVcM5gVtW2L4VFXVBlf3hPQSt4zprLxna4P+L0zykUMa4mM2Nzv5mMKYkkwE12mFoLxd/NQSARjqojM+ZU2kq7mft1Yl7ElYBzt4iD9jrFzvMv4VuwyDq34snH8ljH/Sh41fq3iW/H/GFPOHFt+fNexEiHGQXiNz1qRD6FVRZt4pXn64M11M8Z2D65278P+HQD1AV43SzROuYXRAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center;
}

.toolbox-delete {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAYCAYAAAD+vg1LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAQ1JREFUSEvdlsERRTAQhuOkDEU4ujjlrg4lqEANKtCBalxV4MKYfbvei9mwEhlc3uEbdv/ktxGZpQBAZFkWVVUVpGkqUpYlTNMkziXEJNE0jWjIqesah8rzxeQ8z1AUBWRZBn3fY8rWh2EArTXkeQ7jOB504pAguq7jFSVcM5gVtW2L4VFXVBlf3hPQSt4zprLxna4P+L0zykUMa4mM2Nzv5mMKYkkwE12mFoLxd/NQSARjqojM+ZU2kq7mft1Yl7ElYBzt4iD9jrFzvMv4VuwyDq34snH8ljH/Sh41fq3iW/H/GFPOHFt+fNexEiHGQXiNz1qRD6FVRZt4pXn64M11M8Z2D65278P+HQD1AV43SzROuYXRAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.toolbox-delete div {
    margin-left: 36px;
}

.publish {
    width: 36px;
    height: 36px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAWCAYAAADeiIy1AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAX9JREFUSEutlb3NhDAMQIMoKL8RGIKS4qhoEXMwAqMwARswDS0T0ICQPzuKkfNDLqe74umOYPvFIRAFAEQ+TRNUVfUV8zxjKV1PktGvuq7rNY5jMPET6rqGdV2xJqjzPKHve2iaBvZ912NqWRYdKAYLpKSbCM2Grt1ZPoISRRKeANdV1I2YjW4T4eJ/CEtd5IQ0KMmkhBmGAbRdtoiwTBIas3A7SRExcsmiopjkXrqIKIkUCcUFRZz8bgKJEr0yXkE3WdxzH3yK5F5yS4TvlN6FkcRPJPIVSRPJAigJbmEZYwSML6IBLFQ8FYphakiBhSciYksTwuS/KHfbNui6zussKEKKVJmUcI5TL0eyJxFRvpOZvDsnIKKtHX5GAgp67MyVEA8dEWVMRARlJp6WxIqPiKIdWWARvRtNrPwOyphQPf0+uccEJ1Ghp+OBYdktpR3Xtq3+Wh/HIWO9g48To19rxLsvl1cc6Xfcz45yJtSNFpk/OXf2DaYTOpUtCQCof3oShZANW+T+AAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center;
}

.toolbox-publish {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAWCAYAAADeiIy1AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAX9JREFUSEutlb3NhDAMQIMoKL8RGIKS4qhoEXMwAqMwARswDS0T0ICQPzuKkfNDLqe74umOYPvFIRAFAEQ+TRNUVfUV8zxjKV1PktGvuq7rNY5jMPET6rqGdV2xJqjzPKHve2iaBvZ912NqWRYdKAYLpKSbCM2Grt1ZPoISRRKeANdV1I2YjW4T4eJ/CEtd5IQ0KMmkhBmGAbRdtoiwTBIas3A7SRExcsmiopjkXrqIKIkUCcUFRZz8bgKJEr0yXkE3WdxzH3yK5F5yS4TvlN6FkcRPJPIVSRPJAigJbmEZYwSML6IBLFQ8FYphakiBhSciYksTwuS/KHfbNui6zussKEKKVJmUcI5TL0eyJxFRvpOZvDsnIKKtHX5GAgp67MyVEA8dEWVMRARlJp6WxIqPiKIdWWARvRtNrPwOyphQPf0+uccEJ1Ghp+OBYdktpR3Xtq3+Wh/HIWO9g48To19rxLsvl1cc6Xfcz45yJtSNFpk/OXf2DaYTOpUtCQCof3oShZANW+T+AAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.toolbox-publish div {
    margin-left: 36px;
}