@using Microsoft.AspNetCore.Mvc.Modules.Utilities
<button class="primaryAction btn btn-primary" type="submit">@T["Save"]</button>

@{
    var returnUrl = Context.Request.Query["returnUrl"];
}

@if (!String.IsNullOrWhiteSpace(returnUrl) && Url.IsLocalUrl(returnUrl)) {
    <a id="button-cancel" href="@returnUrl" class="button">@T["Cancel"]</a>
}
